[2017-08-14 08:00] gabrielschulhof commented on #262
For convenience: `napi_is_date()` - on V8 it would be `->IsDate()`, and on ChakraCore it would be `napi_instanceof()` after retrieving the "Date" property of the global object to obtain the constructor.

[2017-08-15 14:01] mhdawson commented on #267
My preference is that we add functionality where we have at least one consumer that needs it.  The larger the API surface the greater the more to support and the more risk that we run into a "breaking" problem in the future.

So my suggestion would be that we defer this for now and stick with providing napi_remove_wrap() which I see is already in progress.

[2017-08-17 18:04] digitalinfinity commented on #256
@kkoopa @Fishrock123 @bmeck do you guys have any thoughts on this discussion? The concern from the n-api team is to make sure we're aligned with whatever Node's plans for ES6 modules are

[2017-08-17 19:18] bmeck commented on #256
I'd like to setup a call on this if possible because this is a lot of nuanced discussion. I don't think we have live binding hooks / circular reference hooks for ESM etc. There was a minor spec change in particular that expects non-JavaScript Source Text Module Records to stay as leaves of the graph.

Perhaps the [WASM discussions](https://github.com/WebAssembly/meetings/blob/master/2017/CG-08-22.

[2017-08-17 20:19] digitalinfinity commented on #256
@bmeck we have a regular hangout for the n-api team on Thursdays at 10:30 AM PST. Would that work as a forum for this discussion? @sampsongao can provide details

[2017-08-17 20:28] bmeck commented on #256
@digitalinfinity sure

[2017-08-17 23:54] RReverser commented on #256
@bmeck I don't think live bindings matter for native modules, at least at this point. I've raised this mostly to discuss a single way to export something from native modules so that they don't run into similar incompatibility issues and questions to CommonJS. Anyway, I'll try to join the call too, let's discuss there.

[2017-08-22 09:34] #266 closed, assigned to nobody

[2017-08-22 19:31] #268 closed, assigned to nobody

[2017-08-22 19:32] #8 closed

[2017-08-24 17:42] aruneshchandra commented on #256
@bmeck  we are having a N-API meeting right now to discuss this if you want to join https://plus.google.com/u/0/events/c0eevtrlajniu7h8cjrdk0f56c8?authkey=COH04YCalJS8Ug

[2017-08-25 09:06] #242 closed, assigned to nobody

[2017-08-26 15:35] RReverser commented on #256
In the meeting, we discussed various options and came to the conclusion that native modules are rarely exposed to the end user directly, so it doesn't make much sense to complicate the design and attempt to provide a first-class support for any specific module loader.

Instead, we are going to go with option (2) with slight modifications as it doesn't require the module to know anything about the

[2017-08-26 22:10] jasongin commented on #256
I missed the meeting, but that plan and reasoning makes sense to me.

We should try to get this breaking change over with soon.

[2017-08-29 16:47] renambot-uic opened #273 "Model for long running module producing data at interval"
(posting here since I went through the nice example repo and didnt find an answer)

I have a long running task that produces data buffers at regular interval (like a stream) and I would like to receive the data in javascript (with a handler or something like ".on('data', func)".

I made it work easily with napi in sequential and of course it blocks the evaluation loop. I converted it to async with

[2017-08-30 10:00] boingoing commented on #256
PR opened for this refactor:
https://github.com/nodejs/node/pull/15088

[2017-08-30 11:50] RReverser commented on #256
A generic question after looking at the PR: do consumers need to do anything special regarding scopes to escape that value or it's safe to assume that they can just return any `napi_value` from the callback?

[2017-08-30 11:56] gabrielschulhof commented on #256
@RReverser a module is loaded synchronously as part of a native [binding](https://github.com/nodejs/node/blob/master/src/node.cc#L2507). Thus, V8 provides a scope for the binding, so we can safely return values from N-API.

[2017-08-30 22:47] mhdawson commented on #273
Can you share the code or pointer to a repo with the code ?

Are you porting an existing module or starting from scratch ?

[2017-08-30 23:59] digitalinfinity commented on #67
I think this has been addressed by PR https://github.com/nodejs/node/pull/14063. Feel free to reopen  nodejs/node#13925 if that's not the case.

[2017-08-30 23:59] #67 closed, assigned to nobody

[2017-08-31 00:02] digitalinfinity commented on #52
I think this has been addressed in https://github.com/nodejs/node/pull/14310. Feel free to reopen nodejs/node#13928 if you disagree.

[2017-08-31 00:02] #52 closed, assigned to nobody

[2017-08-31 00:14] digitalinfinity commented on #25
A quick skim through node_api_types.h and node_api.h indicate that most of these have been addressed with the exception of the first item. @mhdawson @jasongin can one of you sanity check for me please? I assume we'll want to do the first item soon?

[2017-08-31 00:18] digitalinfinity commented on #202
Landed in https://github.com/nodejs/node/pull/14382

[2017-08-31 00:18] #202 closed, assigned to nobody

[2017-08-31 00:35] digitalinfinity commented on #94
Addressed in https://github.com/nodejs/node/pull/13934

[2017-08-31 00:35] #94 closed, assigned to nobody

[2017-08-31 00:40] digitalinfinity commented on #241
I believe this is addressed with https://github.com/nodejs/node/pull/13988

[2017-08-31 00:40] #241 closed, assigned to nobody

[2017-08-31 01:42] digitalinfinity commented on #232
Addressed by https://github.com/nodejs/node/pull/13971

[2017-08-31 01:42] #232 closed, assigned to nobody

[2017-08-31 01:49] digitalinfinity commented on #254
Thanks @RReverser - moved discussion to https://github.com/nodejs/node/issues/15108 since this is a nice to have and we'll get more help and visibility on the main repo. Closing this one

[2017-08-31 01:49] #254 closed, assigned to nobody

[2017-08-31 01:53] digitalinfinity commented on #259
I think this is now superseded by https://github.com/nodejs/node/issues/14532

[2017-08-31 01:53] #259 closed, assigned to mhdawson, aruneshchandra

[2017-08-31 02:05] digitalinfinity commented on #261
Hi @magiclen did you get a chance to compare against nan and v8? Please let us know if you need anything else from us!

[2017-08-31 17:35] renambot-uic commented on #273
Sure, here's a template for the type of module I want to create from scratch:
      https://github.com/renambot-uic/testnapi

I put a couple of alternative in the code (async/sync, buffer creation), but it doesn't work for me (segmentation fault in the buffer creation). I must be missing something in the life cycle of objects and memory management.

Thanks for looking into it.

[2017-08-31 18:07] digitalinfinity commented on #71
We have a job- we can have separate issues for specific changes we want to make to it

[2017-08-31 18:07] #71 closed, assigned to sampsongao

[2017-08-31 18:13] digitalinfinity commented on #35
This was discussed at several VM summits and we decided to stick to our current approach

[2017-08-31 18:13] #35 closed, assigned to nobody

[2017-08-31 18:14] digitalinfinity commented on #177
Decided to leave as is

[2017-08-31 18:14] #177 closed, assigned to nobody

[2017-08-31 18:18] digitalinfinity commented on #262
We're going to implement APIs on an as-needed basis, informed by the migration effort

[2017-08-31 18:18] #262 closed, assigned to nobody

[2017-08-31 18:19] digitalinfinity commented on #267
@gabrielschulhof are you ok to close this until we find a module that shows the need for this feature?

[2017-09-03 13:26] gabrielschulhof commented on #267
Absolutely.

[2017-09-03 13:26] #267 closed, assigned to nobody

[2017-09-04 21:39] jasongin commented on #271
The changes for async hooks are in 2 PRs: https://github.com/nodejs/node/pull/14697, https://github.com/nodejs/node/pull/15189

[2017-09-05 16:28] jasongin commented on #25
The first suggestion does not break the ABI, though it _could_ break source code, if someone is implicitly converting one of those typedefs to `void`. So if we're going to do it, we should do it soon. It's just a minor thing though, so not critical in my opinion.

[2017-09-05 16:28] jasongin commented on #25
And yes, items 2, 3, and 4 were resolved long ago.

[2017-09-06 09:09] levimm opened #274 "New APIs to compile and run the script"
This issue is copied from nodejs/node-addon-api (https://github.com/nodejs/node-addon-api/issues/130). I think it's better to raise it here.

Summarize: Is it possible to support Nan like CompileScript and RunScript APIs?

[2017-09-06 09:13] gabrielschulhof commented on #274
@levimm we actually already have an issue for this here: https://github.com/nodejs/abi-stable-node/issues/51

[2017-09-06 09:13] #274 closed, assigned to nobody

[2017-09-06 09:14] gabrielschulhof commented on #51
@levimm has use for such an API.

[2017-09-09 23:16] #51 closed, assigned to boingoing

[2017-09-13 17:36] renambot-uic commented on #273
I also tried with node 8.5, same result.

[2017-09-13 17:41] addaleax commented on #273
@renambot-uic You can’t call any of the N-API methods that interact with JS values in another thread, that’s always going to give you trouble. That’s what the `complete` callback is there for – the `execute` one needs to store its output (and receive its input) in a non-JS format, so there needs to be a way to do pre-/post-execution processing.

[2017-09-14 00:52] renambot-uic commented on #273
Thanks, I think I made it work now.

[2017-09-14 00:52] #273 closed, assigned to nobody

[2017-09-14 20:33] mhdawson commented on #271
Now just waiting on https://github.com/nodejs/node/issues/15108
@sampsongao will add the tests tonight and hopefully we can land Friday Sep 15

[2017-09-19 10:00] shivanth opened #275 "More N-API utility functions to create different Errors( for example Reference Error)"
I see that we have the following utility functions to create

`
NAPI_EXTERN napi_status napi_create_error(napi_env env,
                                          napi_value msg,
                                          napi_value* result);
NAPI_EXTERN napi_status napi_create_type_error(napi_env env,
                                               napi_value msg,

[2017-10-12 08:34] rolftimmermans opened #279 "Problems with N-API that prevent us from using N-API exclusively, instead of V8 and Node internal APIs"
First of all thanks for taking the direction of having a binary stable API. I'm really excited for the future of native add-ons.

I have just rewritten the [zeromq.js](https://github.com/zeromq/zeromq.js) bindings to use N-API (published at https://github.com/rolftimmermans/zeromq-ng).

There are two issues that I have found that are currently not possible to solve without relying on the internal

[2017-10-12 08:41] mika-fischer commented on #279
To add to the wishlist: For https://github.com/mika-fischer/win32-service I need to call back into JS from a thread that's created by windows. Last I checked that was impossible to do with n-api. Thus I created a wrapper around uv_async_t for that: https://github.com/mika-fischer/napi-thread-safe-callback

But it would be nice of course if n-api supported this use-case as well without resorting to

[2017-10-12 17:40] mhdawson opened #280 "Documentation push on node-add-api"

[2017-10-12 17:42] mhdawson opened #281 "Burn down list of issues raised by module owners"
Community reported issues:
- [ ] Microtask queue interaction with N-API (https://github.com/nodejs/abi-stable-node/issues/279)
- [ ] Callback to js from native threads (https://github.com/nodejs/abi-stable-node/issues/279#issuecomment-336061708)
- [x] 3x perf overhead in napi version of native-hdr-histogram (https://github.com/nodejs/node-addon-api/issues/102) (@digitalinfinity)
- [x] Convert.js n

[2017-10-12 17:46] mhdawson opened #282 "Get node-addon-api working with version 4.x and 6.x, and older 8.x versions"

[2017-10-12 17:47] mhdawson commented on #282
https://github.com/nodejs/node-addon-api/issues/142

[2017-10-12 17:48] mhdawson commented on #244
We have enough progress on this, going to add going forward based on need.

[2017-10-12 17:48] #244 closed, assigned to boingoing

[2017-10-12 17:50] mhdawson opened #283 "Burn down list of issues in node repo"
https://github.com/nodejs/node/labels/node-api

[2017-10-12 17:51] mhdawson opened #284 "Complete steps needed to get out of experimental"
https://github.com/nodejs/node/issues/14532

[2017-10-12 18:08] mhdawson commented on #280
@jschlight, @NickNaso, @corymickelson, @jschlight

[2017-10-12 18:09] mhdawson commented on #280
Cory is going to take a first cut at the outline of the doc, then we'll figure out how to split up the work of moving it forward.

[2017-10-12 18:17] digitalinfinity commented on #281
I'll edit the issue to include the links to the issues that are being tracked by this meta-issue

[2017-10-13 19:32] mhdawson commented on #279
Thanks for the input will add to the list here: https://github.com/nodejs/abi-stable-node/issues/281 which we have in the current milestone.

[2017-10-13 19:32] mhdawson commented on #281
https://github.com/nodejs/abi-stable-node/issues/279

[2017-10-13 21:39] digitalinfinity commented on #281
@mhdawson I've added a few issues here- feel free to update the issue to add any I might have missed (and I'll add more to this list as they come in)

[2017-10-16 15:06] mhdawson commented on #281
@digitalinfinity thanks !

[2017-10-17 05:10] NickNaso commented on #280
# Here I report some points that in my opinion we have to insert and disccuss about documentation

* What is Node Addon API (litle overview)
* Reasons and motivations behind the Node Addon API
* Quick start (Very small instructions that allow to start in a fast way)
* Links - reference to more specific parts of the documentation that will be in separate files and treat the following arguments:

[2017-10-17 13:02] NickNaso commented on #282
On my recent porting of bcrypt all compile well on version previous of 8 but when i requere the module i get an error reported here:
https://github.com/kelektiv/node.bcrypt.js/issues/513#issuecomment-337121161

[2017-10-17 14:45] corymickelson commented on #280
Nicola, sorry I've been chatting directly with Michael but we've come up
with a similar outline.
Setup
    - node-gyp
    - cmake-js
    - ide setup ??
    - building for older version <8.6 ??
    - Conversion tool

Class outline:
    - Basic Types
        - Array
        - Symbol
        - String
        - Name
        - Number
        - Boolean
        - Env
        - Value
        - CallbackInf

[2017-10-17 16:18] NickNaso commented on #280
@corymickelson don't worry for me it's good to know that we are aligned on what we have to do.
I think that based on this proposal we can discuss on how to split our work.
The first step could be define some guidelines that we have to follow on writing documentation so at the end even if we split the tasks all will be similar and coherent.

[2017-10-17 17:35] corymickelson commented on #280
I personally prefer the MDN docs outline:

Class Name
    - Intro / Description
    - Syntax
        - parameters, return value(s), and exception(s)
    - Examples
    - Links

Does anyone have any issue with using markdown? Docsify looks good, there's
also mkdocs <http://www.mkdocs.org/>, both look to be very similar.

On Tue, Oct 17, 2017 at 9:58 AM, Nicola Del Gobbo <notifications@github.com>
w

[2017-10-17 18:00] jschlight commented on #280
Markdown works for me. I do not have a preference between Docsify and MkDocs.

[2017-10-17 18:04] #282 closed, assigned to gabrielschulhof

[2017-10-17 18:39] NickNaso commented on #280
Yes for me markdown is the right solution and then after this first step we can use one of the available tools out there to make the documentation more usable.
If you want in this week I can start to write something for the **Setup** part

[2017-10-17 18:51] digitalinfinity commented on #280
+1 for Markdown. One thing that @jasongin and I talked about a while back was whether we should have some documentation in the header file itself that we could extract out at package creation or build time to produce the API documentation automatically- it has some nice benefits in that if someone is using an IDE for developing their addon, the documentation for the API they're using can be made a

[2017-10-17 19:11] corymickelson commented on #280
Here
<https://docs.google.com/spreadsheets/d/1YbEQNTIv88MQoINdtPQyYIjCBS7kfCnZUrFJWSTYjPs/edit?usp=sharing>
is
a spread sheet, maybe we can put our names next to the documents we are
going to work on

On Tue, Oct 17, 2017 at 11:39 AM, Nicola Del Gobbo <notifications@github.com

[2017-10-18 21:42] mhdawson commented on #280
Markdown makes sense to me a well as that is what the standard Node.js API doc is in.

[2017-10-23 15:58] mhdawson commented on #280
Probably good to review this Issue to make sure we cover the issues mentioned there:

https://github.com/nodejs/node-addon-api/issues/91

[2017-10-25 04:57] YafimK commented on #281
- [ ] create custom env - when creating an async worker, you may want to manipulate env to be with another isolate. A bit closer to Node ENV.

[2017-10-25 20:25] jschlight commented on #280
I am close to being ready to upload the first draft of the documentation I've been working on for review and criticism. What's the best way to go about that?

[2017-10-25 20:37] corymickelson commented on #280
Can you upload to a new repo, or a fork of node-addon-api?

On Wed, Oct 25, 2017 at 1:25 PM, Jim Schlight <notifications@github.com>
wrote:

[2017-10-25 21:07] mhdawson commented on #280
Also of note https://github.com/nodejs/node-addon-api/issues/162

[2017-10-25 21:08] mhdawson commented on #280
A fork of the node-addon-api would be best in my opinion.  You can then submit a PR against the main repo which is often the easiest way for people to review/comment as they can add comments on specific lines.

[2017-10-25 21:14] digitalinfinity commented on #281
Thanks @YafimK - can you create a separate issue in nodejs/node with more details on what change you'd like to see, perhaps with the use case- I can then update the above list and link to that issue.

[2017-10-26 01:12] jschlight commented on #280
I've just added a pull request https://github.com/nodejs/node-addon-api/pull/165

[2017-10-26 14:06] NickNaso commented on #280
Hi guys I started yesterday to work on documentation beginning from the readme file this evening I will pass to setup part all is present here [https://github.com/NickNaso/node-addon-api](https://github.com/NickNaso/node-addon-api) but at moment is all a working progress work if you want I can make a PR

[2017-10-26 20:23] corymickelson commented on #280
@jschlight Can you meet @NickNaso and myself tomorrow around noon (pacific time) on google hangout to go over documentation work.

[2017-10-26 20:42] jschlight commented on #280
Yes. I'm available and have got it on my calendar.

[2017-10-27 15:07] mhdawson commented on #271
We've done what we were going to do on this front, closing.

[2017-10-27 15:07] #271 closed, assigned to nobody

[2017-10-27 15:13] mhdawson commented on #280
@NickNaso took a quick look at  https://github.com/NickNaso/node-addon-api and looks like you have a good start on a number of areas.  A PR would make it easier to comment/discuss and also lets us land it in the repo after discussion (even if its not fully complete yet).

[2017-11-02 18:02] mhdawson commented on #283
https://github.com/nodejs/node/issues/13512

[2017-11-02 18:17] mhdawson opened #285 "Push on wrapper testing"
https://github.com/nodejs/node-addon-api/issues/163

[2017-11-12 12:14] RReverser commented on #256
I believe this was addressed now, thanks to everyone!

[2017-11-12 12:14] #256 closed, assigned to boingoing

[2017-11-12 16:02] RReverser commented on #255
Given that API is more or less final now, is the conclusion here that this won't be done on API level in addition to docs change? If so, I guess I can close this issue.

[2017-11-12 16:02] RReverser commented on #252
@sampsongao Are you still planning to do this?

[2017-11-12 18:47] sampsongao commented on #252
I am busy with my assignment for school now. I will continue on this maybe next week or so.

[2017-11-16 18:23] NickNaso commented on #280
Just ended documentation for **setup**, added sections tests - examples  on **readme**
See: https://github.com/nodejs/node-addon-api/pull/182

[2017-11-16 21:38] mhdawson commented on #255
@RReverser at this point I think it will stay as is so you can close the issue.

[2017-11-17 00:47] #255 closed, assigned to nobody

[2017-11-23 19:46] mhdawson commented on #279
@digitalinfinity  can you look at the windows use case ?

[2017-11-23 21:01] andreek commented on #245
Hello,

I started to investigate porting theturtle32/WebSocket-Node#284 to N-API. After some research I found out the original code for the native modules were extracted of [ws](https://www.npmjs.com/ws). Today this code is in the packages [bufferutil](https://www.npmjs.com/bufferutil) and [utf-8-validate](https://www.npmjs.com/utf-8-validate) as opt-in dependencies for [ws](https://www.npmjs.com/

[2017-11-24 08:37] mika-fischer commented on #279
@mhdawson I assume you refer to my comment above. Just to be clear, there's nothing Windows-specific about this. The issue is just: how do I call back into JavaScript from a thread other than the main thread (and also assuming I can't use the worker pool)? And currently this is impossible with n-api (although I have not yet checked what changed in 1.1).

I mentioned the win32-service package just

[2017-11-24 14:31] mhdawson commented on #279
@mika-fischer is the some code in an existing module (obviously written without N-API) that does what you suggest that we can look at to see the pattern in more detail ?

[2017-11-24 14:32] mhdawson commented on #279
@mika-fischer or would that just be the module you referenced already.

[2017-11-24 14:35] mika-fischer commented on #279
@mhdawson I wrote the module I cited and I wanted to use n-api, but for this functionality I had to resort to using libuv. So yes, this module is an example, even though it already uses n-api. I also wrote a helper class for this pattern, which can be found here: https://github.com/mika-fischer/napi-thread-safe-callback

[2017-11-24 14:37] mhdawson commented on #245
@andreek thanks for your work.  What we have done in the past is created a PR explaining the context of why they want to move to N-API, the branch were the port has been done. Our guidance on how to have an N-API for now is in https://nodejs.org/en/docs/guides/publishing-napi-modules/

Would like like to come to our next N-API interlock (Thursdays at 1:30 EST) so we can discuss how to help reachin

[2017-11-24 14:40] mhdawson commented on #279
@mika-fischer thanks, will try to take a look over the next week or so.

[2017-11-24 14:48] mhdawson commented on #279
FYI possibly related and also has suggest API addition Possibly related, also with suggested API addition https://github.com/nodejs/node/issues/13512.

[2017-11-27 14:20] andreek commented on #245
@mhdawson yeah, I would like to. The hangout link in the readme is still used?

[2017-11-28 16:00] mhdawson commented on #245
@andreek yes the same link as in the readme.  It is also in the foundation calendar entry.

[2017-12-01 22:18] jschlight commented on #263
The module in question is [mapbox/node-pre-gyp](https://github.com/mapbox/node-pre-gyp). There is a nice background piece, [Cross-platform addons with node-pre-gyp](https://nodeaddons.com/cross-platform-addons-with-node-pre-gyp/).

`node-pre-gyp` essentially enhances [nodejs/node-gyp](https://github.com/nodejs/node-gyp) with the ability to automatically upload binaries as part of the build process

[2017-12-04 00:27] andreek commented on #245
websockets/bufferutil#81 / websockets/utf-8-validate#54 merged into n-api branch. For theturtle32/WebSocket-Node#284 PR theturtle32/WebSocket-Node#302 is open to depend on n-api modules.

[2017-12-05 21:28] aruneshchandra commented on #284
The group agreed on the following criteria to exit experimental status:

|Criteria|Status|
|------|---------|
Multiple implementations of n-api on at least 2 VMs| Done
Define N-API / async_hooks dependency|Done [#14697](https://github.com/nodejs/node/pull/14697)
At least two modules used in real world use cases on at least one VM|In progress. [bcrypt](https://github.com/kelektiv/node.bcrypt.js/iss

[2017-12-06 23:54] jschlight commented on #263
I've updated my N-API-based module to use `node-pre-gyp` instead of `node-gyp`. I'm able to build and upload binaries to S3 and have these binaries detected and automatically downloaded at deployment.

There may be a straightforward solution to using `node-pre-gyp` with N-API that I'd like to discuss tomorrow during the call.

[2017-12-07 19:11] addaleax commented on #263
Okay, so what I’m thinking based off the discussion we’re having right now:

- We should add `process.versions.napi` that exports `NAPI_MODULE_VERSION`  (Michael)
- We should consider adding `{node_abi_napi}` field to `node-pre-gyp` that yields:
  - If N-API is available, `node_abi_napi` resolves to `napi`
  - If N-API is not available, `node_abi_napi` resolves to the same as `node_abi` (e.g. `49`

[2017-12-07 19:15] digitalinfinity commented on #281
For node-native-histogram, I've determined that the benchmark is not doing a significant amount of work, so its effectively just measuring the difference between napi_call_function and nan's function call API. Given that, I don't think we have to necessarily address this immediately since in most benchmarks where the benchmark does non-trivial work, the overhead difference would be less significan

[2017-12-07 23:10] kfarnung opened #286 "Enforce NAPI version in module headers"
As discussed today it seems like rather than having developers declare their version specifically it would make sense to enforce it in the header file.

By default only the first version would be exposed and the developer can explicitly opt in using a preprocessor directive:
[code]

I've made the required changes in a [private branch](https://github.com/kfarnung/node/tree/napiver) to start the dis

[2017-12-13 22:50] mhdawson commented on #286
Looks reasonable.  I think we'll need a doc that captures the approach and update the doc on creating a release so that we include the required steps.

I also think we should discuss if we start enforcing this before/after we exit experimental.

[2017-12-14 18:37] aruneshchandra commented on #284
Pre-gyp conversations is on issue #263

[2018-01-03 03:47] NickNaso opened #287 "Considerations about bcrypt porting to N-API"
Hi, everyone!

as you know recently I worked at porting of bcrypt to new N-API. The module isn't published on npm yet, so I created a repo based on my work here: https://github.com/NickNaso/bcrypt-napi and used it in web application in production here: [https://www.lexgenda.com](https://www.lexgenda.com)
I wrote an article about the described activity here: **[How I ported bcrypt to new N-API](htt

[2018-01-03 14:32] mhdawson commented on #287
Thanks for writing up that article, tweeted out here https://twitter.com/mhdawson1/status/948562156127055872.  Can the rest of the team do the same or retweet if you have notalready.

Looks like you already have a good number of people who have read and 'clapped', good job :)

I'll be interested to hear a bit more about your perf experiments in the next N-API meeting.

[2018-01-04 19:01] mhdawson opened #288 "sqlite N-API port - resolve mac issue"
https://github.com/mapbox/node-sqlite3/issues/830

[2018-01-04 19:17] mhdawson opened #289 "Get node-test-node-addon-api green on windows"
Works ok except on 10 nightly

Info to reproduce steps in the build job
[code]

[2018-01-04 19:44] digitalinfinity commented on #289
This is because node on windows uses version strings with the style "v10.0.0-pre" instead of "v10.0.0-nightly20171202c589561aaf" (which is what other platforms use). This first showed up on nightly/10.0.0-nightly20171203fff4272fa7 (it was fine as of nightly/10.0.0-nightly20171202c589561aaf). Looking at the commits between those two builds, nodejs/node@9fb390a1c6 seems to be the likely change (alth

[2018-01-05 20:01] Globik commented on #41
Are the async functions in use? No crashes?

[2018-01-08 04:56] rvagg commented on #289
[code]

(in @digitalinfinity's commit link)

`./configure --tag foo` -> `'defines': [ 'NODE_TAG="<(node_tag)"' ]` in node.gypi -> src/node_version.h:

[code]

[2018-01-08 05:47] rvagg commented on #289
https://github.com/nodejs/node/pull/18031

[2018-01-11 18:40] aruneshchandra commented on #289
@mhdawson will start CI on this

[2018-01-11 18:44] aruneshchandra commented on #288
@anisha-rohra  investigated and fixed the original problem reported, now working on additional reported problems and also to investigate if we can remove the C++ 11 requirement.

[2018-01-11 23:14] kfarnung commented on #286
@mhdawson I can update the documentation for N-API to describe the approach for module authors, is that sufficient?

It would probably make sense to have an answer for this before we exit experimental, but there are more pieces to put into place.  I'm not sure how this would fit into the end-to-end pipeline, for instance how do modules surface this value to npm/node-gyp?

[2018-01-12 21:50] mhdawson commented on #286
Updating the N-API documentation works for me.

[2018-01-12 22:28] jschlight commented on #263
Considering that the `process.versions.napi` value is just now being introduced, what is the best way to reliably determine, from JavaScript, if the currently running Node instance supports N-API?

`node-pre-gyp` maintains an `abi_crosswalk.json` file that maps Node versions to versions for the Node ABI and V8. They look like this:

[code]

We could piggyback on this file to include N-API version

[2018-01-12 22:50] mhdawson commented on #263
Right now there are only 2 N-API versions so it should be easy to figure that out, more complicated is that we were only planning to update once we exited experimental which may complicate things.

[2018-01-12 22:51] mhdawson commented on #263
Once option may be to consider that only the first version of 8.X, 6.X etc where N-API is non-experimental is supported but I'm not sure how practical that might be.

[2018-01-15 03:24] how759 opened #290 "Get string pointer from napi_value"
I notice that **napi_get_value_string_utf8** can write a string from napi_value to a buffer, but this requires copying of the data. How can I derive the row pointer of the string?

[2018-01-15 11:19] addaleax commented on #290
@how759 You can’t, because the JS engine might not store the string as UTF-8 (and at least V8 specifically never does that).

[2018-01-16 05:05] jschlight commented on #263
The value of `{node_abi_napi}` described above, can be determined directly from the value of `{napi_version}`. I'm thinking we have a couple of options for the task of determining `{napi_version}`:

**OPTION 1**

If the `process.versions.napi` value is present, then the N-API version is directly determined.

If the `process.versions.napi` value is not present, N-API is not supported.

This approac

[2018-01-16 21:05] jschlight commented on #263
Note: This proposal was last updated **2018-01-18**. It's been superseded by the actual Implementation description found as a comment farther down.

I'm posting this proposed implementation for everyone's review. I'm anxious to receive any feedback you may have.

## Proposed implementation

**New path substitution variables**

Add two new substitution variables for the `binary` properties `module_

[2018-01-17 20:57] mhdawson commented on #263
The case that I think the array could handle (not with the current description though since it only uses the lowest)  is:

* Module maintainer publishes 2 versions of their module.  Version 1 (supports N-API A) and Version 2 (supports N-API B, where B >A).  Version 2 is much faster because it uses some new functions only available in the later version of N-API
* Module is used with Node.js version

[2018-01-18 04:45] jschlight commented on #263
I think I'm getting greater clarity here.

If a module specifies `"napi-versions":[3,4,5]` it is declaring that the code will work under any of those three versions. How does it achieve this? Is the C/C++ code using conditional compilation?

If so, the node-pre-gyp publisher will need to fire off three builds and uploads, one targeting each of the three supported versions. Then the correct binary

[2018-01-18 16:00] mhdawson commented on #263
If a module specifies "napi-versions":[3,4,5] it is declaring that the code will work under any of those three versions. How does it achieve this? Is the C/C++ code using conditional compilation?

In the example shown here, the node-pre-gyp publishing system will need to be running a version of Node supporting N-API version 5 or later. I'm assuming that a system running a version of Node supportin

[2018-01-18 17:21] jschlight commented on #263
I've updated the proposed implementation shown above. The changes are:

1. When publishing, one binary is compiled and uploaded for each version found in the `napi-versions` array.
2. When installing, the best matching version from the `napi-versions` array is downloaded.
3. The concern about the `napi-versions` array was removed.

[2018-01-18 18:23] mhdawson commented on #263
Overall looks reasonable to me.

In terms of

This issue could be resolved if we require the napi-versions property to be present if the {napi_version} substitution string is used. It would also greatly simplify the node-pre-gyp installation code by eliminating the need for sequential download requests at installation time.

[2018-01-18 18:35] mhdawson commented on #289
CI is now green, looks good.

[2018-01-18 18:35] #289 closed, assigned to digitalinfinity

[2018-01-18 18:40] mhdawson opened #291 "Investigate use of prebuild with N-API"
We've been looking at node pre-gyp here https://github.com/nodejs/abi-stable-node/issues/263 should also check out prebuild which is a similar but different tool.

[2018-01-19 00:21] Globik commented on #245
Also libqrencode partialy translated to the n-api approach.
https://github.com/Globik/qrencode_mini

[2018-01-24 22:33] NickNaso commented on #287
Hi everyone,
today I want announce that I just finished my work on bcrypt module. In this thread I want recap all that I did to  arrive at use the **N-API** version of the addon in production on my web application.

* Fork the original project https://github.com/kelektiv/node.bcrypt.js and refactor all the functions and methods with the API provided by the C++ Wrapper of **N-API**

* Execute all t

[2018-01-26 00:28] digitalinfinity commented on #246
Filed an issue for node-zopfli here: https://github.com/pierreinglebert/node-zopfli/issues/92

[2018-01-30 19:43] jschlight commented on #263
This is an update on the PR I've been working for `node-pre-gyp`. At this point I have all the basic functionality working including `configure`, `build`, `package`, `publish`, `install`, and `clean`. I'm now working on the ancillary commands like `rebuild`, `reinstall`, and a handful of others. I'll then test everything on Mac, Windows, and ARM. I'm hoping to have the PR completed by tomorrow eve

[2018-01-30 20:27] mhdawson commented on #263
@jschlight sounds like you are making good progress :)

[2018-01-30 20:48] mhdawson commented on #287
@NickNaso thanks for the good summary.  Great work!

[2018-02-01 02:53] jschlight commented on #263
Note: This implementation note was last updated **2018-01-31**. It represents the current implementation of the impending `node-pre-gyp` pull request.

## Implementation

### New variables available to `binding.gyp` and `package.json`

Three new substitution variables are available to the `binding.gyp` file, and by extension, to the `binary` properties `module_path`, `remote_path`, and `package_na

[2018-02-01 02:54] jschlight commented on #263
I've completed all the coding for the `node-pre-gyp` PR and the code works for my test module. I've committed the code here in case working group members are interested in taking look.

https://github.com/inspiredware/node-pre-gyp/tree/napi-support

Although I could submit a PR now, there are still a handful of things I'd like to cleanup before I make a formal PR to the `node-pre-gyp` maintainers.

[2018-02-03 01:11] jschlight commented on #263
I've completed all of the objectives in the previous comment. However, 3 of the 28 automated tests are failing. The failing tests are related to looking out on the file system for specific files in specific locations. For N-API builds, these files are in different locations.

I'd like to see if I can address these three failures before I put in the pull request in on Monday.

[2018-02-05 18:49] jschlight commented on #263
I've just made the PR to `node-pre-gyp` https://github.com/mapbox/node-pre-gyp/pull/345

Fingers crossed.

[2018-02-22 01:01] jschlight opened #292 "Potential conference talks and workshops"
This is a location to post potential talks and workshops for upcoming conferences.

Two conferences have been identified:

- [Node Summit](http://www.nodesummit.com) San Francisco, US - July 23-25, 2018
- [JS Interactive](https://events.linuxfoundation.org/events/js-interactive-2018/) - Vancouver, Canada - October 10-12, 2018 (CFP Close: Friday, April 20, 2018, 11:59 PST)

Potential talks that hav

[2018-02-28 19:57] NickNaso commented on #292
I think that could be interesting to be at this conference:

[NodeConf EU](http://www.nodeconf.eu/) - 4 - 7* November 2018 | Lyrath Estate, Kilkenny, Ireland (CFP Close: Friday 1st June 2018)

[2018-03-01 14:32] NickNaso commented on #280
Hi everyone,
about documentation I did some research and tested some tools that we could use after we will finish to write the markdown.
I report two of them:
- [Docusaurus](https://docusaurus.io/) - created and used by Facebook - It allow to addcustom page,  handle the versioning and the research inside the doc.
- [Metalsmith](http://www.metalsmith.io/) - usually is used to build static website a

[2018-03-01 18:09] mhdawson commented on #280
These tools are used to manage md files?  At some point we may want to integrate the docs here into the Node.js docs and think we want to avoid using a tool that might prevent that.  Lets discuss in one of our upcoming meetings.

[2018-03-01 18:09] mhdawson commented on #292
Agreed, NodeConfEU is also a good one to target.

[2018-03-01 18:37] aruneshchandra commented on #284
[node-zopfli](https://www.npmjs.com/package/node-zopfli) is now being used in production with Edge Dev portal on Node-ChakraCore

[2018-03-01 18:40] gabrielschulhof opened #293 "Production usage of N-API"
Let's list production usage of N-API in this issue.

[2018-03-01 18:44] gabrielschulhof commented on #293
Project ["CAMPIE"](http://www.campie.cu.edu.eg/) out of the University of Cairo uses iotivity-node@1.3.1-0, which is built on top of N-API. I'm working with one of the project's participants, [professor Khaled Elsayed](http://www.campie.cu.edu.eg/?q=node/142).

[2018-03-01 18:58] mhdawson commented on #292
Actions:

* Michael/Arunesh put together outline/submission for N-API update.
  * include -  N-API in the wild, looking at production usage to date
* Jim - N-API porting workshop,bring your module, lets port !
  * N-API no longer experimental, porting your module step by step. - cover in workshop
* Nicola to submit talk on porting Bcrypt to Node interactive
* Jim to do outline for Using N-API with

[2018-03-02 14:34] NickNaso commented on #293
Project ["Lexgenda"](https://www.lexgenda.com/) Search engine for judgments issued by Italian courts . it use **bcrypt@n-api** which is built on top of N-API. I'm working on this project. I'm the main mantainer.

For more details see at issue [#287](https://github.com/nodejs/abi-stable-node/issues/287)

[2018-03-02 17:46] jackhorton commented on #293
[Microsoft Edge Developer Portal](https://developer.microsoft.com/en-us/microsoft-edge) uses [node-zopfli](https://github.com/pierreinglebert/node-zopfli) to compress static assets for browsers that don't support Brotli. This package was converted to N-API using the conversion tool and is being used in production with Node-ChakraCore version 8.9.4. The N-API fork for node-zopfli is available [here

[2018-03-05 22:45] mhdawson commented on #284
Issue with request to move out of experimental: https://github.com/nodejs/TSC/issues/501

[2018-03-07 17:09] #257 closed, assigned to nobody

[2018-03-08 04:55] jschlight commented on #292
# An N-API Workshop

## Abstract

Ready to get your hands dirty with N-API, Node's new ABI-stable native add-on API? Don't miss this workshop. Whether you're maintaining a NAN module, looking to start a new add-on using N-API, or are interested in porting existing native add-ons to N-API, we're here to get you started right. After a brief introduction you'll have the chance to work through a tutor

[2018-03-08 04:55] jschlight commented on #292
# Enhancing an N-API Module with node-pre-gyp

## Abstract

Add significant value to your Node native add-on by offering your users pre-built binaries they can download in a flash. This talk will walk you though the necessary steps to add `node-pre-gyp` support to your N-API native module. This talk will be of particular interest to native add-on developers who are adopting N-API as it will descri

[2018-03-08 04:56] jschlight commented on #292
# Migration of a Native Module to N-API

## Abstract

Retool your NAN module for N-API, Node's new JavaScript engine agnostic, ABI-stable native add-on API. The N-API add-on you build today will run without modification on future versions of Node. This talk walks you through the migration process, step-by-step, so you can successfully convert your NAN module to N-API. We'll cover the conceptual an

[2018-03-08 10:08] Flarna opened #295 "N-APIs to get information for JS function objects"
In our module we use following v8 Apis to get more details of function objects:
[code]
Not 100% sure but maybe `v8::Function::GetName()` is available via `Function#name` in JS but the others are not available to my knowledge.

We use/need this info as this is actually what v8 uses internally during creation of callstacks and we need a mechanism to actually map callstacks created at one place to re

[2018-03-08 10:18] Flarna opened #296 "N-API extensions for debugging/monitoring"
Is it planned/possible to extend N-API with debugging/monitoring APIs of the underlying VM?

I have following APIs in mind:
* `v8::CpuProfiler` for in process CPU profiling
* `v8::Isolate::NumberOfHeapSpaces()`, `v8::Isolate::GetHeapSpaceStatistics`, `v8::Isolate::AddGCPrologueCallback()` and `v8::Isolate::AddGCEpilogueCallback()` for in process GC/Heap statistics collection
* `v8::HeapProfiler` f

[2018-03-08 18:13] aruneshchandra commented on #292
# N-API:The Next Generation Node API is ready!

## Abstract
Native module ecosystem in Node.js is quite fragile and presents several challenges in the rapid growth of Node.js. Due to lack of ABI stability in Node.js these modules are tied to a specific version of V8/Node.js and creates friction in upgrading to newer Node.js versions in production deployments. And also Native module maintainers hav

[2018-03-08 18:44] mhdawson opened #297 "Validate backports for 8.X"
Once out of experimental go back and validate all required commits are backported to 8.X

[2018-03-08 18:48] mhdawson opened #298 "Investigate backport to 6.X"

[2018-03-08 20:02] Qard commented on #296
All those things are very specific to the internals of V8, so they probably shouldn't be part of n-api. It's best to just use platform-specific code if you want to use platform-specific features.

[2018-03-08 20:25] Flarna commented on #296
As far as I know one target of N-API is to get rid of the requirement to have a stable V8 ABI within a major Node.JS version. This would allow updating V8 more frequently for easier bug fixing and to get new features/improvements.

Assuming that such V8 updates will be done at some time in the future. This would require to re-compile all addons where you can't be sure they use only N-API - even fo

[2018-03-08 22:28] mhdawson commented on #296
We discussed briefly in the N-API call today and the consensus is that we should ask the Diagnostics WG to comment on what's appropriate/needed on this front.  @nodejs/diagnostics

[2018-03-09 21:20] mhdawson commented on #292
How about tweaking to be:

N-API: The Next Generation Node API is ready!

Abstract
The Native module ecosystem for Node.js is an important factor in the rapid growth of Node.js. The N-API  is now a **supported feature** and is designed to provide ABI stability across Node.js releases.  This will reduce friction in upgrading to newer Node.js versions in production deployments. In addition, it will

[2018-03-09 21:36] mhdawson commented on #292
And the abstract I had the action to create.

Building Next Generation Add-on modules for Node.js

You may have heard that the N-API is now a **supported** Node.js feature.  N-API provides an ABI stable C based api that you can use directly, however, many developers will want to use the C++ wrapper module - node-addon-api.  As a replacement for the NAN module, node-addon-api provides the easiest w

[2018-03-14 23:04] NickNaso commented on #246
Issue for **microtime** here: [https://github.com/wadey/node-microtime/issues/56](https://github.com/wadey/node-microtime/issues/56)

[2018-03-15 15:55] NickNaso commented on #246
Issue for **farmhash** here: [https://github.com/lovell/farmhash/issues/19](https://github.com/lovell/farmhash/issues/19)

[2018-03-15 17:39] mhdawson commented on #293
Done for now

[2018-03-15 17:39] #293 closed, assigned to nobody

[2018-03-15 17:41] mhdawson commented on #263
Closing as PR has landed.

[2018-03-15 17:41] #263 closed, assigned to nobody

[2018-03-15 17:41] mhdawson commented on #270
This was covered by https://github.com/nodejs/abi-stable-node/issues/263

[2018-03-15 17:41] #270 closed, assigned to nobody

[2018-03-15 17:53] mhdawson commented on #292
Node Summit

- [x] N-API: The Next Generation Node API is ready!   (Arunesh)
- [X] Implementing N-API on JerryScript (Gabriel)
- [x] Building Next Generation Add-on modules for Node.js Michael

- [x] An N-API Workshop (all)

[2018-03-15 18:06] mhdawson commented on #292
JS Interative

- [x] N-API: The Next Generation Node API is ready! (Michael)
- [x] Enhancing an N-API Module with node-pre-gyp (Jim)
- [x] Experience porting Bcrypt to N-API (Nikola)
- [x] Implementing N-API on JerryScript (Gabriel)
- [x] Migration of a Native Module to N-API (Jim)

- [x] An N-API Workshop (All)

[2018-03-15 18:06] mhdawson commented on #292
NodeConfEU

- [x] N-API: The Next Generation Node API is ready! (Michael)
- [x] Enhancing an N-API Module with node-pre-gyp (Jim)
- [x] Experience porting Bcrypt to N-API (Nikola)
- [x] Implementing N-API on JerryScript (Gabriel)
- [x] Migration of a Native Module to N-API (Nikola)

- [x] An N-API Workshop (Gabriel) (to be there, Michael, Gabriel, Nikola, Jim)

[2018-03-15 18:14] mhdawson commented on #292
@nodejs/abi-stable-api, please send bio/email/twitter/linkedin to @jschlight

[2018-03-19 11:28] NickNaso commented on #246
Issue for **ghostscript4js** here: [https://github.com/NickNaso/ghostscript4js/issues/29](https://github.com/NickNaso/ghostscript4js/issues/29)

[2018-03-21 18:21] Flarna commented on #295
No opinion from anyone?
Does it make sense to simply create a PR for NodeJS in this?
I'm not sure about how NAPI is extended usually.

[2018-03-21 18:37] MSLaguana commented on #295
It sounds like this is inherently v8 functionality (as opposed to general JS functionality) that you want here, which I don't think is a good fit for N-API. What is it that you want to do with this information? It sounds like you are trying to map from text obtained from a stack trace back to the actual function object?

[2018-03-21 19:24] Flarna commented on #295
Agree that this is not general JS but the functionality itself is most likely in any JS-VM. I did a fast check with Node Chakra and found that call stacks there use also inferred names for anonymous functions - but different ones.

I try to provide some more info on what we do now via V8 APIs; hope it becomes more clear.
We use this in an APM tool. One part of the functionality is to record transa

[2018-03-29 20:13] mhdawson commented on #295
I believe the VM ABI should be stable within a major release (ie there are no changes planned on this front due to N-API).

I do think that we want commonly used functions to be part of N-API, but those need to be generic enough so that they can be implemented across platforms.

@aruneshchandra, @hashseed do you have input on what a generic api might be to match functions to entries in a stack tra

[2018-03-30 12:53] NickNaso commented on #246
Issue for **magick-cli** here: [https://github.com/NickNaso/magick-cli/issues/11](https://github.com/NickNaso/magick-cli/issues/11)

[2018-03-31 22:02] NickNaso commented on #246
Issue for **64** here: [https://github.com/lovell/64/issues/4](https://github.com/lovell/64/issues/4)

[2018-03-31 23:31] NickNaso commented on #246
Issue for **highwayhash** here: [https://github.com/lovell/highwayhash/issues/6](https://github.com/lovell/highwayhash/issues/6)

[2018-04-05 00:07] NickNaso commented on #245
Hi everyone, I just ended the porting of **hiredis** and I provided to update the issue on the repo if **hiredis** https://github.com/redis/hiredis-node/issues/134#issuecomment-378781006

[2018-04-05 17:38] kfarnung commented on #286
Based on discussion in the meeting today we'll set the starting version at 2 (the current shipping N-API version) so we don't break any developers.

[2018-04-05 17:49] mhdawson commented on #291
From @nicknasso sounds like this is a blocker for some add-ons to port so moving to higher priority.

[2018-04-07 20:38] NickNaso commented on #292
Hi everyone today I wrote the abstract for my talk. What do you think?

## My journey into  N-API

One of the most important feature announced with Node.js 8 was N-API which is aimed at reducing maintenance cost for native add-ons. N-API guarantees the API and ABI compatibility so this means that you don't need to recompile your native add-on if you switch between different versions of Node.js eve

[2018-04-07 21:41] NickNaso commented on #280
## Documentation status

Below you can see what part of the docs are completed.

- [x]   **Setup**
  - [x]  [Installation and usage](doc/setup.md)
  - [x]  [node-gyp](doc/node-gyp.md)
  - [x] [cmake-js](doc/cmake-js.md)
  - [x] [Conversion tool](doc/conversion-tool.md)
  - [x] [Generator](doc/generator.md)
- [ ]   **API Documentation**
  - [x] [Basic Types](doc/basic_types.md)
  - [x] [Array](doc/

[2018-04-09 19:49] mhdawson commented on #280
@NickNaso thanks for putting that together.

[2018-04-09 19:57] mhdawson commented on #292
@NickNaso your versions looks good, here is an updated version that I edited a bit. You can either take the suggestions or ignore based on what makes sense to you:

One of the most important features announced with Node.js 8 was N-API which is aimed at reducing the maintenance cost for native add-ons.  N-API guarantees the API and ABI compatibility across versions which means you don't need to rec

[2018-04-09 21:01] NickNaso commented on #292
@mhdawson Thank you I like your suggestions. I will provide to submit it to JSInteractive and NodeConf EU.

[2018-04-12 01:02] kfarnung commented on #286
I'm still working on this PR, but I took a stab at trying to figure out the version mapping:

|       | 1       | 2        | 3       |
|:-----:|:-------:|:--------:|:-------:|
| v4.x	|         |          |         |
| v6.x  |         |          |         |
| v8.x  | v8.0.0* | v8.10.0* |         |
| v9.x  | v9.0.0* | v9.3.0*  |         |
| v10.x |         |          | v10.0.0 |

\* Versions 1 and 2

[2018-04-12 01:11] kfarnung commented on #286
I opened the initial PR: https://github.com/nodejs/node/pull/19962

[2018-04-12 12:20] mmarchini commented on #296
After playing with `v8::CpuProfiler` for a while, I agree we should have an API into core for this, and probably for taking snapshots and GC metrics as well. Not sure about `v8::Isolate::NumberOfHeapSpaces()` and `v8::Isolate::GetHeapSpaceStatistics`, since those are strictly related to how V8 organizes the heap. Maybe we should even have a VM-independent format for each of these functions.

If th

[2018-04-12 13:09] bnoordhuis commented on #296
Keep in mind though that all of the profiling tools changed considerably over V8's lifetime and quite possibly will again.

Papering over that is hard enough (I did that for StrongLoop, huge time sink) but doing it in a VM-neutral way is extra challenging.

[2018-04-12 16:54] Flarna commented on #296
At least for me the main target is not full platform neutrality.
Sure it would be nice to get this but in the end every VM will have different features in detail (e.g. TimeTravel in Chakra,...) which would be most likely not accessible if VM independent API is needed.
Besides that I assume new VM specific debugging/monitoring features would be available with significant delay.

Different VMs will

[2018-04-12 17:33] mhdawson commented on #284
Closing, out of experimental in master.

[2018-04-12 17:33] #284 closed, assigned to aruneshchandra

[2018-04-12 18:15] mhdawson commented on #280
**Hitesh**
Basic Types
 Array
 Symbol
 String
 Name

**Michael**
Object Lifettime Management
 HandleScope
 EscapableHandleScope

**Kyle**
 Buffer
 ArrayBuffer
 TypedArray
 TypedArrayOf

**Anisha**
 Reference
 External
 Object
 ObjectReference
 PropertyDescriptor

**Nick**
Error
AsyncWorker
Function
FunctionReference
 ObjectWrap
 ClassPropertyDescriptor

[2018-04-12 18:53] mmarchini commented on #296
Yes, I'm aware of that. But I believe we can provide a minimal set of metrics which could be VM-independent (with the help of VM vendors). Not sure how we could do that, but it's something that came up during the Diagnostics Summit and I believe is worth discussing. I'll open an issue in the diagnostics repo to keep the conversation going.

From the README: `N-API aims to provide ABI compatibility

[2018-04-12 21:21] mhdawson commented on #296
I agree we need to avoid any V8-specifics to N-API.  I think best to let the discussion take place in the diagnostics repo and then this issue can be updated with any decisions/recommendations from the diagnostics team.  Even in that case it will likely be people from the diagnostics team that would need to implement them.

[2018-04-14 11:03] jimcarst opened #299 "N-api app with C-library not working on Linux"
Hi all!

Currently I am making an application that calls a C++-module from Javascript using N-Api. This module uses a library, which is incorporated into the binding.gyp file. In my app I asynchronously call from a function in the C++-module. There, it creates a pointer to a new object of another class, which is later deleted.

It all works fine on Mac and Windows, but on Linux it does not. I can

[2018-04-15 04:30] NickNaso commented on #299
Hi @jimcarst,
the links you posted are broken. Could you be more specific and say which C / C++ library are you integrating and which function are you calling?

[2018-04-15 15:30] jimcarst commented on #299
Hi Nick,

Thanks for taking a look. I repaired the links in my OP, you can open them now. The C++ library I am integrating is Google's [OR-tools](https://github.com/google/or-tools), and I'm calling a optimisation solver function from it.

[2018-04-15 21:55] NickNaso commented on #299
Hi @jimcarst,
are you using the binary distribution https://developers.google.com/optimization/introduction/installing/binary ?
Can you post the piece of code that creates the problem?

[2018-04-18 08:51] jimcarst commented on #299
Hi @NickNaso, thanks for your reply.

Yes, I am using the binary distribution. However, I can run a standalone instance of an OR-tools program on Linux without any issues. Therefore, the problem seems to lie in the combination of a node N-Api application and this library. Or, in my module, I do something wrong regarding memory management which only comes out as an error in Linux (because it works

[2018-04-18 22:31] NickNaso commented on #299
Hi @jimcarst,
I attached an example that I prepared for you. I used **node-addon-api** a C++ Wrapper of N-API. You can find more info here: https://github.com/nodejs/node-addon-api/
In the example you need to add your specific settings at binding.gyp in addition to those already there.
At the end you have to insert your C++ code in the Execute method of the SolverWorker class that I prepared for y

[2018-04-19 09:51] jimcarst commented on #299
Hi @NickNaso,
Thanks for your reply. I already resolved the issue with my code. I was putting values in a vector that was not correctly initialised/ resized in the Tsp class constructor. Everything works now.

Moreover, your attached code example looks as a very interesting method for using N-Api, so I am going to try to implement it myself.

[EDIT]
It turns out it didn't work after all. The error

[2018-04-19 11:21] NickNaso commented on #299
@jimcarst If you continue to have problem you can push here your project or send it me by mail (nicoladelgobbo@gmail.com) so I can take a more complete view on it.

[2018-04-24 09:14] jimcarst commented on #299
Hi,

I managed to narrow down the problem be related  to

```Error in `node': munmap_chunk(): invalid pointer: 0x00007f9b5240f720```
and
```Invalid free() / delete / delete[] / realloc()```.

It occurs precisely when I call
[code]
, and then seems to go wrong in the following call stack:
[code]

@NickNaso do you have a clue what is going wrong? I find it difficult to figure out where the problem l

[2018-04-24 10:15] NickNaso commented on #299
Hi @jimcarst ,
this weekend I tried to figure out where is the problem. I arrived at yours same conclusion. The error happen when you call:
[code]
After that I thought that the error was originated because you are executing asynchronous code so  I tried to execute your code directly on the **Solve** method
[code]
This code is completely synchronous and all seems to work, but if I pass a 100x100 ma

[2018-04-24 11:41] jimcarst commented on #299
Hi @NickNaso,
Thanks for taking a look over the weekend.
Yes, it is really strange. Especially that only certain combinations of locations trigger the error. I already checked and it does not depend on the amount of locations, the max distance between locations or the min distance between locations. It seems that certain combinations trigger behaviour in the routing.Solve() that make it crash.
Yet

[2018-04-25 09:00] NickNaso commented on #299
@jimcarst  Which version of Node.js are you using?

[2018-04-25 09:13] jimcarst commented on #299
node -v v8.10.0
node-gyp -v v3.6.2

[2018-04-25 14:57] gabrielschulhof commented on #298
This has landed.

[2018-04-25 14:57] #298 closed, assigned to gabrielschulhof

[2018-04-26 17:15] DeusProx opened #300 "Different Behaviour in node v9.2.0 & v10.0.0"
I'm using NAPI to write an object wrapper for C++ code. For learning & prototyping I used `assert(status != napi_ok)` to check if everything works correct but atm I'm switching to `if(status != napi_ok) napi_throw_error(...);` but forgot to return directly after `napi_throw_error`.
Due to this I realised that next function `napi_unwrap` returns differently in node v9.2.0 and node v10.0.0 resulting

[2018-04-26 17:46] mhdawson opened #301 "Document guidance on adding APIs to N-API"
@digitalinfinity has a start, should add here.

[2018-04-26 17:51] mhdawson opened #302 "Create workshop for Node Summit"

[2018-04-26 17:54] mhdawson commented on #302
Target for first outline is May 4

[2018-04-26 18:02] mhdawson opened #303 "Blog to coincide with 6.x and 8.x backport availability"

[2018-04-28 16:13] gabrielschulhof opened #304 "Document string lifetimes"
Add a blurb to the documentation mentioning that strings are always copied into the engine.

Re: https://github.com/nodejs/node/issues/14256

[2018-04-28 16:15] gabrielschulhof opened #305 "Add async example to abi-stable-node-addon-examples"
The example should also illustrate the use of `napi_make_callback`.

Re: https://github.com/nodejs/node/issues/14256

[2018-04-28 16:21] gabrielschulhof opened #306 "Document that externals are frozen objects"
Re: https://github.com/nodejs/node/issues/14256

[2018-04-28 16:22] gabrielschulhof opened #307 "Document napi_get_property_names()"
gets only enumerable properties or all properties, and does not say if it
includes symbols or not.

Re: https://github.com/nodejs/node/issues/14256

[2018-04-28 16:26] gabrielschulhof opened #308 "Clarify C++ wrapping documentation"
reason for the restrictions with napi_wrap()? Also, is it necessary to
call napi_wrap() only during the constructor callback, or is it OK to do
afterward too?

Perhaps our `napi_wrap()/napi_unwrap()/napi_remove_wrap()` documentation is too C++-specific. We should certainly draw the parallel to C++ instances, but we should not phrase the documentation as though that's the only use case.

[2018-04-28 16:26] gabrielschulhof commented on #308
Re: https://github.com/nodejs/node/issues/14256

[2018-04-28 16:28] gabrielschulhof opened #309 "Clarify behaviour of napi_throw()"
necessary for it to be an Error, or can you throw any value? You should be
allowed to throw any value, I should think.

Re: https://github.com/nodejs/node/issues/14256

[2018-04-28 16:33] gabrielschulhof opened #310 "Additional native module arguments"
and "__filename" arguments of a Node.js module. If the native code is a
Node.js module there should probably be some way to retrieve such values
(which may be used with the above "executing JavaScript codes" during the
initialization).

Re: https://github.com/nodejs/node/issues/14256

We discussed that native modules are always fronted by JS modules, so we need not worry about JS-module-specific t

[2018-04-28 16:36] gabrielschulhof opened #311 "Retrieve the finalizer for an object"
the finalizer callback for the value, for example:

finalizer function pointer (which will be a null pointer if there is no
finalizer callback defined) with the address of the native code's own
functions (there is no point calling the returned finalizer callback).

Re: https://github.com/nodejs/node/issues/14256

Such type-checking can also be accomplished by having the wrapped objects be instance

[2018-04-28 21:15] gabrielschulhof opened #312 "WeakMap support"
to create and manipulate a WeakMap, which may sometimes be useful for
internally attaching extra data to arbitrary objects.

WeakMap anyways, by giving a key for the object to check, and the value
being a external value with a finalizer callback defined, so that it will
be called when the key object is finalized; I don't know whether or not it
will work, but it seems like it is allowed to work, at

[2018-04-28 21:22] gabrielschulhof opened #313 "Finalizer for napi_create_function()"
specify a finalizer callback, which probably should be allowed since it
can be useful to have.

The omission of a `napi_finalize` for `napi_create_function()` is of particular concern IMO.

Re: https://github.com/nodejs/node/issues/14256

[2018-04-28 21:23] gabrielschulhof commented on #312
Re: https://github.com/nodejs/node/issues/14256

[2018-04-28 21:24] gabrielschulhof opened #314 "Exotic object support"
Proxy in JavaScript, but without the extra checking).

Re: https://github.com/nodejs/node/issues/14256

[2018-04-28 21:25] gabrielschulhof opened #315 "Generator function APIs"
fake it, but real generator functions may help a bit better, will work if
you use the actual generator methods rather than others with the same
name, and may be more efficient in some cases maybe.)

[2018-04-28 21:25] gabrielschulhof commented on #315
Re: https://github.com/nodejs/node/issues/14256

[2018-04-28 21:26] gabrielschulhof opened #316 "expose garbage collector"
make finalizer callbacks to be called. This will not necessarily be
guaranteed, although attempting it can nevertheless be useful sometimes.
(This should also be provided in the "v8" module so that it can be used
from JavaScript codes directly, too.)

Re: https://github.com/nodejs/node/issues/14256

[2018-04-28 21:28] gabrielschulhof opened #317 "Moving values into scopes"
delete the reference to it at the same time. In order to do this, it may
be useful to add the value to the scope so that it can be returned.

N-API does already do this, it should be explained, and the stuff in this
section need not be implemented.

from a native code rather than returning it directly.

array to prevent it from getting lost, and the array is automatically lost
when the function re

[2018-04-30 07:28] primeare opened #318 "No access to uv_get_osfhandle from N-API"
The problem is that file descriptors returned by Node.js cannot be used to convert them into Windows file handlers (for instance using `_get_osfhandle` from Windows API). That problem was disscussed before in issues: [node#6369](https://github.com/nodejs/node/issues/6369) and [libuv#1323](https://github.com/libuv/libuv/pull/1323). Libuv team has made `uv__get_osfhandle` function public to use insi

[2018-04-30 08:35] NickNaso commented on #299
Hi @jimcarst,
yesterday I had some time to investigate more deeply on your problem.
It's a strange problem and in my linux machine the code work fine against Node.js version 6, 7 and 10, but I get the invalid pointer error on Node.js version 8 and 9.
To test over 6 and 7 I used my version of your code written through **node-addon-api**. After some research about ```Error: munmap_chunk(): invalid p

[2018-04-30 09:34] bnoordhuis commented on #312
There's no support for that in the V8 C++ API either.

[2018-04-30 09:50] bnoordhuis commented on #315
How would that work?  Note that V8 won't let you create generator functions from C++ either.

[2018-04-30 12:34] bnoordhuis commented on #318
It would be better to obviate the need for `uv_get_osfhandle()` because it's really just a hack to get around the fact that add-ons link in their own copy of the CRT (the `/MT` link flag.)

Fix that by linking against node's copy and things like `_get_osfhandle()` and `_open_osfhandle()` magically start working.

[2018-04-30 13:28] jimcarst commented on #299
Hi @NickNaso, thanks for looking at the problem. Strange that also to you it is unclear where the error comes from.
I am looking forward to try out your proposed solution. However, I do not yet fully understand it.

Does it mean I have to replace the files in the or-tools/ubuntu-16.04 folder (include, lib) by files generated when I compile OR-tools from source? Could you then perhaps send the file

[2018-04-30 13:49] gabrielschulhof commented on #312
There is always the roundabout way of obtaining the JS API using `napi_get_global()` and `napi_get_named_property()`.

[2018-04-30 14:02] bnoordhuis commented on #312
Sure, but why would you want to?  At that point you're just adding API sugar.

[2018-04-30 14:26] gabrielschulhof commented on #312
Oh, definitely. There's not even a performance benefit, since you're not saving yourself a trip into JS by using a native API, because, as you pointed out, the native API does not exist. Of course, *other* engines may have such an API, but I guess when we're faced with that, we can reconsider this issue. I guess we can close this issue.

[2018-04-30 14:26] #312 closed, assigned to nobody

[2018-04-30 15:39] gabrielschulhof commented on #311
* `napi_wrap()` – If you wrap an object you receive, then you don't have its class, so you cannot check via `napi_instanceof()` what kind of object it is. Is this a very common usecase vs. the pattern where the class is created via `napi_define_class()` and the instances are derived from the class via `napi_new_instance()`?

* `napi_create_external()` – If an addon receives externals from the JS s

[2018-04-30 15:45] gabrielschulhof commented on #313
... because it prevents one from being able to associate dynamic data with a function.

OTOH, how often to we dynamically associate a native function with a JS function? Most often we do so from `Init()` and then never again.

[2018-04-30 18:01] #307 closed, assigned to gabrielschulhof

[2018-04-30 19:40] primeare commented on #318
Thanks, @bnoordhuis! I was wondering how to make a fix that you said. Can you help me with this? What I need to add to my code or what I need to configure? I saw, that in libuv function `uv_get_osfhandle()` they simply turns off CRT assertion.

[2018-04-30 19:53] bnoordhuis commented on #318
Add-ons use node's `common.gypi` during the build; node-gyp downloads it.  Because node builds with `/MT`, add-ons do too.

I haven't fully thought out how yet but add-ons should stop using `/MT` (could probably suppress it in node-gyp's `addon.gypi`) and start linking against the CRT from node.exe.

I don't know if node.exe currently re-exports symbols from msvcrt.lib.  If the answer is "no, it d

[2018-04-30 20:22] primeare commented on #318
Hmm @bnoordhuis, I discovered something interesting: I have tried to use `uv_get_osfhandle` function in my code and it works! I don't know how, but I think that's because somewhere in dependencies there is an include with that function. Anyway, what can we do to disable `/MT` flag in addons and start linking against the CRT from node?

[2018-04-30 20:27] #304 closed, assigned to gabrielschulhof

[2018-04-30 20:30] #306 closed, assigned to gabrielschulhof

[2018-04-30 20:30] gabrielschulhof commented on #306
Fixed in d3255cad8e2a6ba03629903743e166401fc3597e.

[2018-04-30 23:01] bnoordhuis commented on #318
Experiment! :-)  Clone node and node-gyp and see if you can make it work locally.  Once you have an idea of what's involved, we can discuss next steps.

node-gyp accepts a `--nodedir <path>` argument.  Point it to your node checkout to make it pick up your changes to `common.gypi`.

[2018-04-30 23:16] NickNaso commented on #299
Hi @jimcarst,
you can find the binary that I used here:

### Linux
- https://mason-binaries.s3.amazonaws.com/linux-x86_64/or-tools/6.0.tar.gz
- https://mason-binaries.s3.amazonaws.com/linux-x86_64/gflags/2.1.2.tar.gz

### macOS
- https://mason-binaries.s3.amazonaws.com/osx-x86_64/or-tools/6.0.tar.gz
- https://mason-binaries.s3.amazonaws.com/osx-x86_64/gflags/2.1.2.tar.gz

This is my linux section

[2018-05-01 13:00] jimcarst commented on #299
Hi @NickNaso,
 Thanks for providing me the mason binaries. I can't straight forwardly implement the two libraries you attached because then the compiler complains as follows:

[code]

So I moved around the folders a bit and added the include/google folder as well as other includes and libraries that I included in the original module.

Then running the application results in errors, but different e

[2018-05-01 13:56] jimcarst commented on #299
The error comes from the file constraint_solver.h, at the following part of the code:

[code]

[2018-05-02 13:22] #309 closed, assigned to gabrielschulhof

[2018-05-02 13:31] jimcarst commented on #299
Moreover, I tried running my program in Node.js version 10 and that also does not work.

[2018-05-02 21:50] jschlight commented on #302
# An N-API Workshop

## Abstract

Ready to get your hands dirty with N-API, Node's new ABI-stable native add-on API? Don't miss this workshop. Whether you're maintaining a NAN module, looking to start a new add-on using N-API, or are interested in porting existing native add-ons to N-API, we're here to get you started right. After a brief introduction you'll have the chance to work through a tutor

[2018-05-02 22:00] jschlight commented on #302
I am preparing two online tutorials to accompany this workshop.

- Creating an N-API module using the `generator-napi-module` package
- Migrating an existing native module to N-API

I'll have these tutorials ready for review in time for the May 17 meeting.

[2018-05-02 23:18] kfarnung commented on #280
Opened https://github.com/nodejs/node-addon-api/pull/256 for `ArrayBuffer` and `Buffer`.

[2018-05-03 12:56] NickNaso commented on #280
Opened [nodejs/node-addon-api#259](https://github.com/nodejs/node-addon-api/pull/259) for ```error handling```

[2018-05-03 17:36] mhdawson commented on #288
mapbox, found issue, we fixed in our repo.

Anisha is working on PR.

[2018-05-03 17:53] mhdawson commented on #297
Done, PR landed.

[2018-05-03 17:53] #297 closed, assigned to gabrielschulhof

[2018-05-04 11:41] jimcarst commented on #299
Hi @NickNaso,

I tried running my program with Node.js v10.0.0, and now it does work. It didn't work using your version of importing the library and binding.gyp, but it does work using my original implementation.

It is nice that it is working now, thanks for your help. But it remains a mystery what caused this bug!

[2018-05-04 12:53] NickNaso commented on #299
Hi @jimcarst,
good to hear that all work now. We are working on N-API backport to Node.js 6.x and 8.x and in next update I think that all will work well against these Node.js version. I will provide to update you about this question.

[2018-05-10 13:12] TravisGesslein opened #319 "Using function from external library: Build is fine, but error on require()"
I'm currently trying to write a wrapper to the fmod (www.fmod.com) C-API using NAPI.

For this, I'm including fmod's headers as well as referencing some pre-built external libraries (.lib, I'm on Windows) in the binding.gyp file. This seems to work fine, as there are no errors building the module with node-gyp, and when I remove the library references I get linker errors as expected.

I'm starting

[2018-05-10 13:21] TravisGesslein commented on #319
Small Update:

I should've caught this sooner, but it seems to be related to the corresponding .dlls. Placing them inside the root folder of the project makes the 'module not found' error disappear.  Though now the project crashes somewhere inside the called functions (without error), which may just be because I'm using the API wrong. Investigating....

It would be helpful if nodejs / NAPI detecte

[2018-05-10 13:23] TravisGesslein commented on #319
Yup, error was because of I handed a nullptr to a function where I shouldn't have.

edit: Don't know if I should open a separate issue about this. It seems more like a nodejs error that missing DLLs are not reported.

[2018-05-10 13:23] #319 closed, assigned to nobody

[2018-05-10 13:30] NickNaso commented on #319
Hi @Heishe,
based on my experience on window you need  the dlls and not only the .lib files on your module.  See at examples on how to use and configure your GYP file here: https://github.com/nodejs/node-gyp/wiki/%22binding.gyp%22-files-out-in-the-wild
In the past I had problems like yours on my native module called **ghostsrcipt4js** It is in the list of examples reported on the **node-gyp** wiki

[2018-05-10 18:03] mhdawson commented on #292
Closing submissions done.

[2018-05-10 18:03] #292 closed, assigned to jschlight

[2018-05-11 10:35] bsrdjan opened #320 "node-rfc ported"
Hi N-API team and thank you very much for stabilising native Node API.

I ported the [node-rfc](https://github.com/SAP/node-rfc/tree/napi) module from Nan and experienced no big issues.

What would be the best way to get more feedback from your team and further discuss topics like [type checks](https://github.com/nodejs/node-addon-api/issues/265) or potential  AsyncWorker enhancements?

[2018-05-11 12:04] NickNaso commented on #320
Hi @bsrdjan,
good work. I think that we can discuss through the issues on **[node-addon-api](https://github.com/nodejs/node-addon-api)** and then if you want more explanation I think that it could be possible to partecipate at our weekly meeting and ask us all you need.

[2018-05-11 12:16] bsrdjan commented on #320
Thanks !

[2018-05-11 12:16] #320 closed, assigned to nobody

[2018-05-14 16:23] jschlight commented on #291
Since this is related to node-pre-gyp, I'll take a look at this.

[2018-05-14 16:50] TravisGesslein opened #321 "Object lifetime clarification"
The docs mention that any objects created within a native method call that was triggered in javascript are bound to a scope that is destroyed when the method has finished executing.

What happens when an object created inside that method is returned by the method?

e.g.

[code]

Also, what happens when you bind an object created in that method as a property to some other object via napi? Does that

[2018-05-14 17:11] NickNaso commented on #291
@jschlight It could be interesting if it's possible to follow the similar approach used for **node-pre-gyp**

[2018-05-14 18:13] NickNaso commented on #321
Hi @Heishe,
when you return an object from native method you are returning a copy of that object. In your example you are returning a copy of an object and it will be managed by JS Engine. This means that you do not care if a user of your native function does something like you reported:
[code]
In this case the JS Engine will garbage collect `test` as any other JavaScript object.

In general  you

[2018-05-14 19:16] TravisGesslein commented on #321
Thanks for the answer. Is the same true when you assign an object to another one as a property via napi_define_properties (i.e. a copy is assigned, the original discarded after the method ends)?

[2018-05-14 19:41] gabrielschulhof commented on #321
Technically, the parent object obtains a reference to the child object
after the assignment is made. The reference you used when making the
assignment becomes invalid as soon as the method ends.

On Mon, May 14, 2018 at 3:16 PM, Travis Gesslein <notifications@github.com>
wrote:

[2018-05-14 21:08] TravisGesslein commented on #321
Thanks, that makes sense.

[2018-05-14 21:08] #321 closed, assigned to nobody

[2018-05-15 14:09] TravisGesslein opened #322 "Async callbacks when native code calls code synchronously from different thread"
I'm currently trying to write a native module for a third party library (for https://www.fmod.com).

Its C++ API has some async features that allow user-provided callbacks, but the callbacks themselves are called synchronously, just from a different thread that was spawned by the third party library. I guess a bit of pseudo-code is better to explain:

In C++, I will call the 3rd party library code

[2018-05-15 14:59] TravisGesslein commented on #322
On that note, can I even schedule async work from a different thread? create_async_work expects two napi_values, which I can't create in that kind of thread (I think). Do I need to create the async work when the user initially sets the callback in JS code, and then only use it using the queue function from the different thread?

[2018-05-15 16:56] gabrielschulhof commented on #322
I think you need https://github.com/nodejs/node/pull/17887

On Tue, May 15, 2018 at 10:59 AM, Travis Gesslein <notifications@github.com>
wrote:

[2018-05-15 17:19] TravisGesslein commented on #322
Thanks. Looks like that will help. Is there a work-around until that PR ends up in the main nodej.js distribution?

[2018-05-15 17:45] jschlight commented on #302
@aruneshchandra @NickNaso @gabrielschulhof FYI.

I've uploaded the two tutorials for everyone's review. I'm anxious to receive your comments and suggestions for improvement.

- [Creating an N-API module using the `generator-napi-module` package](https://napi.inspiredware.com/getting-started/first.html)
- [Migrating an existing native module to N-API](https://napi.inspiredware.com/getting-started/m

[2018-05-15 18:08] gabrielschulhof commented on #322
The implementation of that PR doesn't expose any new APIs but rather
bundles them to cover your use case. Therefore you can use existing APIs to
reconstruct the portions of the functionality you need.

On Tue, May 15, 2018 at 1:19 PM, Travis Gesslein <notifications@github.com>
wrote:

[2018-05-16 20:12] gabrielschulhof commented on #313
@nodejs/n-api I think the reason we don't have `napi_finalize` on `napi_create_function()` and `napi_define_class()` is that native-backed JS functions live forever – at least on V8. Similarly, IIRC, the `v8::FunctionTemplate` also lives forever.

IMO this also means we should discourage function factories. Of course, we still may want to add finalizers for the sake of other engines.

[2018-05-16 20:27] gabrielschulhof commented on #313
If we were to implement this, we couldn't really test it on V8.

[2018-05-16 21:03] NickNaso commented on #299
Hi @jimcarst,
yesterday the with the new LTS release Node.js v6.x - v8.x and v10.x are aligned and use the same N-API.

[2018-05-16 21:29] NickNaso commented on #302
Hi @jschlight I looked at your examples and I think that we need to provide an example of how to create an asynchronous function through `AsyncWorker` and maybe how to use `Buffer`.
For me it's important to say that all the functions  are normally executed on the **event loop** and if you want execute a long running task you have to write **asynchronous function**.
When you want pass a great quant

[2018-05-16 22:00] mhdawson commented on #313
Unless the team from ChakraCore thinks this is important, I'd probably focus on other priorities as opposed to adding a new method with the additional signature.

[2018-05-16 22:13] NickNaso commented on #246
Issue for **sse4_crc32** here:  [https://github.com/anandsuresh/sse4_crc32/issues/69](https://github.com/anandsuresh/sse4_crc32/issues/69)

[2018-05-16 22:38] gabrielschulhof commented on #313
@kfarnung @digitalinfinity what do you think?

[2018-05-16 23:49] jschlight commented on #302
Thank you, @NickNaso. Let's discuss this further tomorrow.

[2018-05-17 04:54] digitalinfinity commented on #313
I agree with the sentiment that it could be useful, but I'm also of the view that we should generally wait for module authors to say that something is impossible for them to implement in N-API without a new API. Or in other words, I'm in favor of kicking this can down the road until someone convinces us otherwise.

[2018-05-17 07:50] primeare opened #323 "API for creating SharedArrayBuffer is missing"
There is no API for creating `SharedArrayBuffer`. As [node.green](http://node.green/) says the support of `SharedArrayBuffer` was introduced since Node v9. I think this API was not introduced, because N-API has a backward compatibility with Node v8, where there is no support for `SharedArrayBuffer`. Please, let me know what is the reason and whether this could be implemented.

[2018-05-17 09:38] NickNaso commented on #280
Opened [nodejs/node-addon-api#272](https://github.com/nodejs/node-addon-api/pull/272) for `asynchronous operation` It's a first step I need review and suggestion to improve the doc.

[2018-05-17 12:07] jimcarst commented on #299
Hey @NickNaso,

Thanks for letting me know about the new release. I tested my application using Node.js v8.11.2, and unfortunately it did not work. The program aborted with the same invalid pointer error as in previous versions.

Luckily, it does work with v10.0.0.

[2018-05-19 16:07] TravisGesslein commented on #322
Thanks. The new API looks great though, hopefully it will be merged soon.

[2018-05-19 16:07] #322 closed, assigned to nobody

[2018-05-19 18:02] TravisGesslein opened #324 "napi_call_function calls function twice"
I can't find a minimal example to reproduce this. I use napi_call_function to call a function that was previously set in javascript-code. The native function that calls napi_call_function runs in the usual main thread, and is initiated by a Javascript function call that maps to this native method (so if I understood it correctly, I don't need napi_make_callback). I have confirmed that the code cal

[2018-05-19 20:28] mhdawson commented on #324
I can't think of any reason/way we'd invoke the function twice. I think we'll need an example of code which we can use to reproduce/investigate (even if its more than minimal)

[2018-05-19 20:33] mhdawson commented on #323
The API was built by looking at existing modules and focussing on what they needed.  We want to keep the API as small as feasible while covering the common use cases.    SharedArrayBuffer not being available until more recently would not have been in the set of commonly used functions by modules.

Are you working on a native module where you need to create a SharedArrayBuffer?  Today you could do

[2018-05-19 21:11] TravisGesslein commented on #324
Okay, after debugging it for a while I can't see any obvious reason why this happens. Here's a link to the full project. It's set up for Windows (64 bit), but it's possible there are linux libs in the ./api folder (not sure), but the 'libraries' section in binding.gyp would have to be changed to include those instead. Either way the linux API can be downloaded manually from here: https://www.fmod.

[2018-05-29 21:18] mhdawson commented on #324
@digitalinfinity any chance you can look at this, I'm not setup to build/test etc on windows easily.

[2018-05-31 01:27] jschlight commented on #291
I'm posting these comments here for review and comment by the working group.

**2018-06-06** I've spent time stepping through the `prebuild` code and have updated these recommendations. To simplify things, I've removed the recommendation for the `napi_versions` array property as used in `node-pre-gyp` in favor of using the exisiting `prebuild` command line arguments.

**2018-06-07** I've incorpora

[2018-06-05 14:40] gabrielschulhof commented on #302
@jschlight
"This package makes working with N-API much easier as it implements a very nice object model and abstracts away much of the detailed coding that would otherwise be required."
We should add ", while retaining the N-API promise of ABI stability and forward compatibility."

[2018-06-05 14:46] gabrielschulhof commented on #302
"This is a sample C++ file that shows how to use power..." *the* power

[2018-06-05 22:08] jschlight commented on #302
Here's an initial set of slides for everyone's review.

I'm hoping Thursday we can discuss the idea of uploading theses slides to a collaborative online site where we can work as a group to continue to refine the workshop.

# N-API Workshop Slides

## Welcome and introductions

## Workshop schedule

- Introductory remarks

- Online tutorials

- Work on individual projects

- Wrap-up and assessment

[2018-06-06 20:48] gabrielschulhof commented on #302
"The file defines a FirstProject JavaScript class and the exports it." It should be "then exports it", I think.

[2018-06-06 20:50] gabrielschulhof commented on #302
"This code demonstrates how to use the FirstProject JavaScript class defined in /lib/binding.js." IINM customarily the path is given as "lib/binding.js", so as to avoid using absolute paths.

[2018-06-06 20:51] gabrielschulhof commented on #302
@jschlight the above comments refer to the "A first project" section of your tutorial. Sorry for not mentioning that before!

[2018-06-06 20:54] jschlight commented on #302
Thanks, @gabrielschulhof  I'm integrating your suggestions.

[2018-06-06 20:55] gabrielschulhof commented on #302
@jschlight in your migration tutorial, in the section "Run the conversion tool" the first code snippet contains
[code]
Perhaps that should be `npm install --save node-addon-api` because it will remain part of the project afterwards.

[2018-06-06 20:59] gabrielschulhof commented on #302
Style nit: In "A new way to define exports" and below "Needs to be replaced with:" there should be no space after `exports.Set`.

[2018-06-06 21:10] gabrielschulhof commented on #302
In "What is N-API?" we should maybe add "without the need for running `npm install` again" to the end of "This means that a module you create today will continue to run on all future versions of Node."

[2018-06-07 00:53] jschlight commented on #291
As noted above, I've added an issue to the prebuild project to track this issue. https://github.com/prebuild/prebuild/issues/220

[2018-06-07 00:59] jschlight commented on #292
I have heard from JS Interactive. Regrettably, none of the three talk proposals I submitted were accepted. 😿

[2018-06-07 10:29] NickNaso commented on #292
The same for the my talk proposal.

[2018-06-11 22:01] webern commented on #308
I agree, that the documentation, in general, is somewhat confusing as it appears to address the C API. My impression is that `node_api.h` is the C wrapper for node and `napi.h` is the C++ wrapper for N-API. Is it intended that client programmers can use only the C++ version? Or is the C documentation required for some use-cases even we are otherwise programming in C++? Is there documentation for t

[2018-06-12 01:50] digitalinfinity commented on #301
The following are a set of proposed principles to add an API to the N-API surface. Text in _italics_ are my comments/annotations. Feedback/thoughts welcome- I'm throwing this out there to start the discussion. Thanks to @kfarnung for his early feedback.

## N-API design principles

-	A new API **must** adhere to N-API API shape and spirit _(spirit is kind of what @mhdawson talks about here)_
    -

[2018-06-12 14:12] mhdawson commented on #308
People can choose to use the C or C++ versions based on their preference.  The C version is the abi stable API.  the C++ node-addon-api (with napi.h) is sugar to make consuming the C version easier for those using C++.

We are currently working on the C++ napi.h documentation in the node-addon-api repo, with the README.md currently being the index.  https://github.com/nodejs/node-addon-api.  It is

[2018-06-13 20:53] mhdawson commented on #301
A great start !

I'd propose

`A new API addition must be signed off by at least one member of the N-API WG`

be 2 members.

I think this one

`The API must be used by a published real-world module.`

might set the bar a bit too high.  I think something like

`Use of the API by a published real-world module will contribute significantly to the decision to take an API out of the experimental status

[2018-06-14 17:37] jschlight commented on #302
Here is a comment link to the Google Slides. https://docs.google.com/presentation/d/1nBw8QNWDzMe-8QEYSnvJDNPWYMvmbmUz-mtnGZuiWLE/edit?usp=sharing
Please let me know if you would like edit access.

[2018-06-14 17:54] gabrielschulhof commented on #281
https://github.com/MayhemYDG/iltorb/tree/napi documents a slight memory leak wrt. V8 bindings.

[2018-06-14 23:40] gabrielschulhof commented on #281
https://github.com/MayhemYDG/iltorb/pull/70#issuecomment-397127385

[2018-06-21 08:07] digitalinfinity commented on #301
Great suggestions @mhdawson - updated to incorporate your feedback

[2018-06-21 14:35] gabrielschulhof commented on #313
If we sacrifice the ability to wrap a function, we can already accomplish this:

[code]

[2018-06-21 18:06] mhdawson commented on #280
We need to look at DataView as well.

[2018-06-21 19:55] gabrielschulhof commented on #302
@jschlight I created some slides to explain the concept of ABI stability:

https://gabrielschulhof.github.io/presentations/abi-stable.pdf

Do you think it's worth integrating them into theworkshop's opening remarks?

[2018-06-22 02:35] gabrielschulhof opened #326 "Merge abi-stable-node-addon-examples into node-addon-examples"
@nodejs/addon-api what do you think? Now that N-API is part of Node.js and backported to all supported versions, shall we merge the ABI stable examples into the main repo?

[2018-06-22 14:48] mhdawson commented on #326
I think its a good idea, just have not had time to do it.  We'd need to update some other references in the docs but overall I think its time.  We'd need agreement from the overall set of Node.js collaborators as well.

[2018-06-22 15:05] mhdawson commented on #302
@jschlight requested edit access.

[2018-06-22 15:07] NickNaso commented on #326
I agree on the idea proposed by @gabrielschulhof and I'm available to help.

[2018-06-27 23:23] mhdawson commented on #317
@zzo38 can you clarify this a bit more?

When you return from a native function everything (JavaScript Objects) allocated in the Scope for the native method are no longer held alive unless a reference to them has been passed to JavaScript (for example by calling a JavaScript function and passing as a parametr), stored in a Reference or returned by the native function.

I think that likely covers t

[2018-06-29 00:51] gabrielschulhof commented on #326
@mhdawson it seems the node-addon-examples repo is now read-only, so I cannot make a PR against it.

[2018-06-29 00:59] gabrielschulhof commented on #326
So far, I have https://github.com/nodejs/node-addon-examples/compare/master...gabrielschulhof:n-api-examples

[2018-06-29 16:29] mhdawson commented on #326
We'll have understand if they have been moved somewhere else?

[2018-06-29 16:32] gabrielschulhof commented on #326
@mhdawson the [documentation](https://nodejs.org/api/addons.html) states:

The "download" link points to the read-only repo.

[2018-07-05 18:00] mhdawson commented on #286
PR landed, closing out.

[2018-07-05 18:00] #286 closed, assigned to nobody

[2018-07-05 18:21] mhdawson commented on #280
**Nick**
~~Function~~
~~FunctionReference~~
~~ObjectWrap~~
~~ClassPropertyDescriptor~~

**Anisha**
~~ObjectReference~~
~~PropertyDescriptor~~

**Kyle**
~~Buffer~~
~~ArrayBuffer~~
~~TypedArray~~
~~TypedArrayOf~~

[2018-07-05 18:24] mhdawson commented on #280
@kfarnung are you going to get to those tagged with your name above? We would like to get done by Node Summit.  If necessary we can split them up to get some people to do one or more of them.

[2018-07-05 18:26] mhdawson commented on #280
In addition to completing the remaining sections above we should
- [x] Update documentation so that we include the Napi namespace consitently.  Ie `Napi::Value` instead of  `Value`
- [x] review to see if everything is covered
- [x] remove the remaining comments about things being under development.

[2018-07-05 18:26] kfarnung commented on #280
I'll plan to get the remaining two done next week.

[2018-07-06 08:15] jorangreef commented on #55
I am working on a cuckoo hash table. Just calling into JS to fetch the various arguments is costing half the run time. Being able to fetch all arguments in a single call would be terrific.

[2018-07-06 15:56] gabrielschulhof commented on #55
@jorangreef I do not see a lot of opportunities to improve [`napi_get_cb_info()`](https://github.com/nodejs/node/blob/master/src/node_api.cc#L1926-L1933).

We have already implemented the change you quoted (whereby you retrieve all function arguments in one call).

@kenny-y do you see a way we can further reduce the overhead of that API call?

[2018-07-07 06:25] jorangreef commented on #55
Thanks @gabrielschulhof

Sorry, I was not clear. What I meant was that I have a napi method which just does this:

[code]

This alone takes a total time of 200ms for 1,000,000 calls. Each napi call here is adding overhead, 100ms is in napi_get_cb_info and the rest is split across the others.

Is that right?

[2018-07-08 03:51] gabrielschulhof commented on #55
@jorangreef I experimentally added a benchmark to https://github.com/nodejs/node/tree/master/benchmark/napi/function_args with your combination of parameters in order to examine how much faster V8 is than N-API:

The V8 benchmark:
[code]

The N-API benchmark:
[code]

The result:

[![combo1-perf-diff](https://user-images.githubusercontent.com/976081/42416562-2b3dc5ca-8240-11e8-95e4-2c17326c5ff2.png

[2018-07-08 04:05] gabrielschulhof commented on #55
One potential improvement I've found is to have a version of [`napi_get_value_int64()`](https://github.com/nodejs/node/blob/master/src/node_api.cc#L2166-L2198) which is faster than what we currently have, at the expense of not dealing consistently with `NaN`, and positive and negative infinity:

[code]

This doesn't seem to buy us that much though 😕:
![combo1-perf-diff-fast](https://user-images.gi

[2018-07-09 05:21] kenny-y commented on #55
@gabrielschulhof Not yet, I'm still trying to figure out whether there is anything that I can squeeze out...

[2018-07-09 07:14] jorangreef commented on #55
Thanks for the benchmark @gabrielschulhof, that's awesome! 😃

Just speaking for myself, I personally would not mind if methods like `napi_get_value_int64` had these optimizations by default and we had slower `_validated` alternative methods for those who really need the checks done on the C side. These `_validated` methods could then do more checks and afford to be more paranoid. For example, with

[2018-07-09 15:15] gabrielschulhof commented on #55
We don't really call back into JS when retrieving arguments. That is, no JS code gets executed as part of argument retrieval. We do have to [copy](https://github.com/nodejs/node/blob/master/src/node_api.cc#L593-L608) the arguments out of C++ though, because, although they appear to be an array, with C++' operator overloading we cannot assume that they map to a plain C array – in fact, they most li

[2018-07-09 15:36] gabrielschulhof commented on #55
@jorangreef one possible solution I can think of would be to use an `ArrayBuffer` instance and several `TypedArray` instances to construct a native structure and then pass only a single argument to the binding. The binding can then cast the `ArrayBuffer` data to a native structure.

[2018-07-09 15:54] gabrielschulhof commented on #55
@jorangreef I [tested](https://github.com/nodejs/node/pull/21722) the `uint32_t` truncation, and AFAICT it's working as advertised. Please have a look at the PR and let me know if I've missed any scenarios!

[2018-07-09 15:59] gabrielschulhof commented on #55
@jorangreef OK, the external still has to go in a separate argument.

[2018-07-09 17:14] gabrielschulhof commented on #55
I just realized that using a large `ArrayBuffer` to hold the arguments implies that the memory for the two `Buffer`s is contiguous, otherwise it requires copying. Is this the case for your addon and, if not, can you rearrange the memory to make this the case?

[2018-07-09 18:23] gabrielschulhof commented on #55
Argh ... no Int64 `TypedArray`!

[2018-07-09 19:27] mhdawson commented on #55
Would it make sense to have this in a new open issue?

[2018-07-10 22:41] gabrielschulhof commented on #55
@jorangreef I'm curious - are you using N-API directly, or via the node-addon-api package? If via the package, are you building on a version of Node.js that has an implementation of N-API? We've recently [improved](https://github.com/nodejs/node/commit/e41ccd4e2de6deb03e277fa9d6baff685ab31689) the performance of N-API function invocation.

This improvement has not yet landed in node-addon-api's ve

[2018-07-10 22:49] gabrielschulhof commented on #55
@jorangreef `napi_get_buffer_info()` accepts `nullptr` for the information you're not interested in. So, you could pass `nullptr` for the length to only receive the data.

[2018-07-11 06:55] jorangreef opened #327 "optimize passing arguments from js to c"
See https://github.com/nodejs/abi-stable-node/issues/55#issuecomment-403192587 for context.

[2018-07-11 07:06] jorangreef commented on #327
Thanks @gabrielschulhof, I see that you asserted that overflow happens when calling `napi_get_value_uint32()` on a JS value that is more than 32 bits: `testUint32(4294967297, 1);`

What I meant was that if the JS value is more than 32 bits, I would have expected an exception to be thrown instead. However, this kind of check should rather be in `napi_get_value_uint32_validated()` (or something like

[2018-07-11 07:07] jorangreef commented on #327
I know we always compare N-API to v8, but is there any chance that some of the v8 methods we're comparing against are slower than they should be?

[2018-07-11 14:05] gabrielschulhof commented on #327
@jorangreef when I build the comparison binding in V8 I try to use the most efficient method for grabbing the arguments from the engine.

[2018-07-11 14:09] gabrielschulhof commented on #327
@jorangreef have you tried switching from `node::Buffer` to `ArrayBuffer`? AFAICT, `node::Buffer` uses an [`ArrayBufferView`](https://github.com/nodejs/node/blob/573744caaedf2f941e152b8e9533cd5629d55c1c/src/node_buffer.cc#L204-L231) which seems to be an additional level of indirection.

[2018-07-11 16:12] gabrielschulhof commented on #327
I tested some more combinations, and it looks like if you switch to `ArrayBuffer` and we provide validation-free versions of `napi_get_arraybuffer_info()` and `napi_get_value_int64()` then we can nearly erase the impact of switching from V8 to N-API.

![More Buffer/ArrayBuffer/Int64 Combinations](https://user-images.githubusercontent.com/976081/42585326-4b4f5124-8503-11e8-8087-c382ba23f3c9.png)

@

[2018-07-11 16:35] gabrielschulhof commented on #327
The code: https://github.com/nodejs/node/compare/master...gabrielschulhof:55-abi-stable-node

[2018-07-11 21:25] mhdawson commented on #327
Sorry I could look at the code, but for clarity in this issue, what do you mean by "validation-free"

[2018-07-11 21:34] gabrielschulhof commented on #327
@mhdawson by "validation-free" I mean a version of the API where we don't call APIs such as `->IsNumber()` after casting the `napi_value` as a `v8::Local<v8::Value>`. We simply assume that it's a number and retrieve the value.

Similarly, we do not validate that the `napi_value` is a `v8::ArrayBuffer`, but we simply `.As<v8::ArrayBuffer>()` and then proceed to retrieve the pointer to the data and

[2018-07-11 22:11] NickNaso commented on #302
Hi everyone,
in my last talk one of the question that attendees asked me is if it could be possible use programming language different from C or C++.
At that time  my answer was that the only alternative that I know was  [https://github.com/neon-bindings/neon](https://github.com/neon-bindings/neon) a Rust bindings that uses the classical v8 API.
In the last days I started thinking that if N-API gu

[2018-07-11 22:23] mhdawson commented on #302
From my understanding, I think it should be possible to support other languages as C is going to be one of the easier languages to interface to.  I think it would be fairly low in our priority list to support a different language but if somebody wanted to build/figure it out I think we'd be happy to include the documentation/pointers.

[2018-07-12 02:04] jschlight commented on #302
I've posted an [AsyncWorker Tutorial](https://napi.inspiredware.com/special-topics/asyncworker.html) in preparation for the workshop at Node Summit. I am open to any suggestions for improvement. I'll be able to get back to this on Monday.

[2018-07-12 03:01] gabrielschulhof commented on #302
@jschlight

I don't understand. We have `napi_create_async_work()` in all maintained versions of Node.js, and AFAICT we've had `AsyncWorker` in node-addon-api for a while too.

[2018-07-12 03:04] gabrielschulhof commented on #302
typo

[2018-07-12 03:05] gabrielschulhof commented on #302
*calls

[2018-07-12 03:07] gabrielschulhof commented on #302
@jschlight you need to instantiate a handle scope inside `OnOK` because, although you have access to the N-API environment, your code is at the top of the stack. That is, your code was not called from JavaScript, and therefore no handle scope was set up in which to create JavaScript values.

[2018-07-12 03:09] gabrielschulhof commented on #302
There should be a comma before "takes"

[2018-07-12 03:10] gabrielschulhof commented on #302
There should be a comma after `info[0]`

[2018-07-12 03:14] gabrielschulhof commented on #302
@jschlight you can use `AsyncWorker::Cancel` from the main thread to cancel async work.

[2018-07-12 15:42] gabrielschulhof commented on #300
@DeusProx from 9.2.0 to 10.0.0 we changed the implementation of `napi_wrap` in order to make it less invasive on the JavaScript object. Whereas before we were manipulating an object's prototype chain to store the native data, we switched to using private properties for the same purpose.

Setting private properties has the same semantics as setting regular properties, meaning that JavaScript may be

[2018-07-12 15:42] #300 closed, assigned to nobody

[2018-07-12 15:43] gabrielschulhof commented on #300
You're right in that, after throwing or encountering an exception, you should always return to JavaScript immediately.

[2018-07-18 21:26] jasongin commented on #302
Hi all, I will be attending Node Summit again this year! While my primary trip purpose is not about N-API, I do plan to come to this workshop and try to help out if I can.

[2018-07-18 22:30] mhdawson commented on #302
Sounds good :)

[2018-07-18 22:57] mhdawson commented on #303
This is out, https://medium.com/the-node-js-collection/n-api-next-generation-apis-for-node-js-native-addons-available-across-all-lts-release-lines-4f35b781f00e

[2018-07-18 22:57] #303 closed, assigned to mhdawson, aruneshchandra

[2018-07-19 19:22] gabrielschulhof commented on #327
@mhdawson I ran individual benchmarks for each data type to test whether removing the validation would improve the performance to some significance, but the only data type for which this was the case was `Int64`. All the convert-to-native APIs have pretty much the same performance whether or not we validate.

I suspect that's because in `napi_get_value_int64()` we not only validate that the value

[2018-07-19 19:26] jschlight commented on #302
Thank you, @gabrielschulhof. I've published your recommendations.

[2018-07-19 22:45] mhdawson commented on #302
@jschlight a few comments

# Conversion workshop
I'd suggest changing `But` to `However.` in

However, the conversion tool will only get you so far. Further manual cleanup is still required as described below.

# Async Worker

I'm not sure this is true
`Note that unlike Execute, the OnOK and OnError methods do have access to the N-API environment. In order to correctly setup this access in these m

[2018-07-20 19:06] jschlight commented on #302
Thank you @mhdawson. I've incorporated the changes you recommended.

I've removed all references to `HandleScope`. It looks like `AsyncWorker:: OnWorkComplete` is `private` and not `virtual`, so I'm not sure it will be overridden. But if I'm mistaken, I can easily add the warning.

I've uploaded a [node-pre-gyp tutorial](
https://napi.inspiredware.com/special-topics/node-pre-gyp.html) for Node Sum

[2018-07-20 19:19] gabrielschulhof commented on #302
@jschlight the new tutorial is great!

I found a single typo:

-if a sutable binary cannot be located to download
+if a suitable binary cannot be located to download

[2018-07-23 13:39] gamelaster opened #328 "napi_get_value_string_utf8 return wrong characters"
Hello, I have this code:
[code]
And I don't know why, when I pass from javascript this string: `ľšťčšľťľšéčťáéí`, I got this in `transactionId` variable: `ÄľĹˇĹĄÄŤĹˇÄľĹĄÄľĹˇĂ©ÄŤĹĄĂˇĂ©Ă­`. With `napi_get_value_string_utf16`, it's working okay, but library which I use accepts only `const char*` (and I have huge problems with conversion). But, I don't get it why UTF8 doesn't work, since all character

[2018-07-23 14:18] jschlight commented on #302
Thank you, @gabrielschulhof. I've made the fix. Best of luck with the workshop today!

[2018-07-26 10:41] gamelaster commented on #328
Sorry, my bad, the function works correctly, I just needed to convert UTF8 to Windows-1250 (my computer encoding)

[2018-07-26 10:41] #328 closed, assigned to nobody

[2018-07-27 04:45] jorangreef commented on #327
Thanks @gabrielschulhof for the tremendous effort.

[2018-07-30 18:14] mhdawson commented on #327
@gabrielschulhof thanks for all of the analysis. One last question,

Did you check the perf  if this part is left in

[code]

[2018-07-30 18:17] mhdawson commented on #302
I think we can close this as the workshop was help and a success!

We probably want a new issue for the next workshop though.

[2018-07-30 18:17] #302 closed, assigned to jschlight

[2018-08-02 17:38] mhdawson commented on #301
Landed, closing

[2018-08-02 17:38] #301 closed, assigned to digitalinfinity

[2018-08-02 17:58] mhdawson opened #329 "Content for Milestone 11"
* Focus on AsyncWorker, there are a number of issues/problems we should work through
* Continued focus on burning down issues in the 2 repos
* Evangelism
  * Prepare presentation for JS interactive (Michael and Arunesh)
  * Breakout session at collaborator summit - https://github.com/nodejs/summit/issues/100#issuecomment-410011700
    * cover the code layout and how to jump in - node-addon-api and

[2018-08-03 23:07] digitalinfinity commented on #329
One of the things that @seldo had suggested when we met at Node Summit was to introduce a GitHub badge for N-API modules that we could PR on the Readme for N-API modules. Should we consider this for milestone 11 as part of evangelism?

[2018-08-03 23:08] digitalinfinity commented on #329
btw, this is a great set of items to track for milestone 11- thanks @mhdawson for writing it up!

[2018-08-04 17:09] NickNaso commented on #329
Work on examples:
- Merge **abi-stable-node-addon-examples** into **node-addon-examples** see: https://github.com/nodejs/abi-stable-node/issues/326
- Use examples in test suite

[2018-08-07 18:14] mhdawson commented on #329
@digitalinfinity and @NickNaso 2 great suggestions, lets review the overall list in this weeks meeting.

[2018-08-08 18:50] jschlight commented on #291
I've got the basic functionality working for builds, uploads, and downloads. This includes the separate `prebuild-install` project. I just need to cleanup the code a bit, create and verify some tests, and create the documentation.

I have one question for the group including @gabrielschulhof.

As outlined above, the `--runtime` parameter I'm adding is `node-napi`. This results in package names tha

[2018-08-08 20:53] mhdawson commented on #291
@jschlight I think your suggestion to use napi instead of node-api is reasonable.

[2018-08-09 18:25] jschlight commented on #291
I will go ahead and change the `--runtime` parameter from ` node-napi` to `napi`.

[2018-08-09 18:51] jschlight commented on #329
As part of our evangelism work, we might want to propose an N-API "birds of a feather" session for the Node Community Corner at JS Interactive to be scheduled after Michael and Arunesh presentation. It would be a chance for those whose interest is raised by Michael and Arunesh's talk to meet face-to-face with N-API team members to discuss their projects.

[2018-08-10 17:35] gabrielschulhof commented on #313
In the API working group meeting of 2018-08-09 we agreed to add an API for adding finalizers so that data associated with dynamically created functions can itself be freed when the function is finalized while at the same time advising potential bug reporters to rely on `napi_wrap()` until the new API becomes supported on all supported versions of Node.js.

Relying on `napi_wrap()`, although not id

[2018-08-12 02:58] gabrielschulhof commented on #327
@mhdawson we can leave it in. It has no perf impact.

[2018-08-21 10:17] rolftimmermans opened #330 "Serious issue with NAPI_VERSION being set to 3 on 8.x branch while features are missing"
I am writing an N-API integration that uses an `node::AtExit` callback hook, and I intend to use N-API for that.

The documentation of `napi_add_env_cleanup_hook ` https://nodejs.org/api/n-api.html#n_api_napi_add_env_cleanup_hook states this was added in N-API version 3.

However, Node.js 8.11 is missing this function even though it advertises support for N-API version 3.

I do not understand why

[2018-08-21 14:19] gabrielschulhof commented on #330
@rolftimmermans I started a [backport PR](https://github.com/nodejs/node/pull/22435).

[2018-08-22 18:05] kfarnung commented on #330
@rolftimmermans Thanks for the report.  Unfortunately NAPI_VERSION 3 was created without a formal process for accepting new APIs and promoting them.  That process has been [documented](https://github.com/nodejs/abi-stable-node/issues/301) now so this should not be an issue going forward.

Thanks @gabrielschulhof for opening the backport PR!

[2018-08-22 21:10] mhdawson commented on #330
Just to add to the comments from @kfarnung, what I understand happened was that a new API was added to master and then backported to 10.X without bumping the NAPI_VERSION which should have been the case.   This meant that it would be SemVer major to remove it from 10.X.

The new guidance and use of an experimental phase should prevent this from occurring again.

@gabrielschulhof it will need a bac

[2018-08-22 21:13] mhdawson commented on #329
@jschlight great idea, do you want to propose that?  I know its past the deadline but we can still ask if there is room.

[2018-08-22 21:14] mhdawson commented on #329
If its not possible to submit through the original process then ping @ladyleet

[2018-08-22 23:30] gabrielschulhof commented on #330
@mhdawson good point!

On Wed, Aug 22, 2018 at 5:10 PM, Michael Dawson <notifications@github.com>
wrote:

[2018-08-23 16:16] jschlight commented on #291
There are now two PRs. One for [`prebuild`](https://github.com/prebuild/prebuild/pull/228) and another for [`prebuild-install`](https://github.com/prebuild/prebuild-install/pull/87).

[2018-08-23 17:56] mhdawson commented on #329
Initial content agreed, closing

[2018-08-23 17:56] #329 closed, assigned to nobody

[2018-08-23 19:35] jschlight opened #331 "JS Interactive 2018, Node Community Corner Session"
Here's my proposal for the JS Interactive 2018 Node Community Corner. I'm open to comments and suggestions before I submit it to the conference which should happen tomorrow at the latest.

### First Name and Last Name

Jim Schlight

### First Names and Last Names of additional panelists or presenters

Arunesh Chandra, Michael Dawson, Nicola Del Gobbo, Gabriel Schulhof (pending)

### Type of talk

[2018-08-23 20:21] NickNaso commented on #331
It's good to me!

[2018-08-24 17:59] gabrielschulhof opened #332 "Document limitations of the ABI stability offered by N-API"
I opened a [PR](https://github.com/nodejs/node/pull/22508) with some documentation modifications to remind that the ABI stability offered by N-API goes away if add-ons link to other Node.js APIs and/or external non-ABI-stable libraries.

AFAICT the two doc files touched by the PR are the only ones where it makes sense to mention this.

[2018-08-24 18:24] gabrielschulhof opened #333 "Discuss how we should advocate the use of badges in our documentation"
https://github.com/nodejs/admin/issues/221 opens the discussion on whether/how we should document that we recommend that add-on maintainers use badges to indicate that their module in N-API-based.

[2018-08-24 22:30] jschlight commented on #331
Thank you @NickNaso. I've submitted the proposal to Node Community Corner Topics as shown here.

[2018-08-26 12:39] yorkie opened #334 "ShadowNode: another implementation of N-API"
Hey @nodejs/n-api team, I'm previously one of the active collaborators, but this time I just wanna change my role to be the creator of [ShadowNode], another Node.js program runtime which is doing implement and implemented N-API outside of the Node.js project. So I call this to be _N-API enabled runtime_.

### Why this issue?

My purpose to open this issue here has the following reasons:

- make [S

[2018-08-26 14:16] joyeecheung commented on #334
Great work! Looks like this project is based on a fork of JerryScript, I recall that @gabrielschulhof has been doing similar work on JerryScript as well?

Refs: https://github.com/nodejs/node/issues/20118

[2018-08-26 20:19] gabrielschulhof commented on #334
@joyeecheung I have indeed created a partial implementation of N-API on top of JerryScript. Some N-APIs cannot be implemented because, for example, of a lack of support for symbols and some constants like `MAX_SAFE_INTEGER`.

It's good that IoT.js is a more well-rounded runtime, and, in particular, that it has support for NPM, because then factoring out the N-API test suite is indeed viable.

[2018-08-26 20:24] gabrielschulhof commented on #334
@yorkie I have found that a lot of the N-API tests will run fine when be translated with babel. We need to qualify and elaborate on the level of N-API support, given that things like symbols will be missing in JerryScript.

I'm definitely in favour of exposing the N-API test suite as a more generic N-API compliance test suite.

[2018-08-26 20:38] gabrielschulhof commented on #334
@yorkie BTW, I was able to build and run the N-API tests as part of the JerryScript test suite unmodified using some helper scripts:

https://github.com/gabrielschulhof/jerryscript/tree/n-api-take-2/tests/unit-ext/n-api
https://github.com/gabrielschulhof/jerryscript/blob/n-api-take-2/scripts/convert-n-api-tests.js

[2018-08-27 03:10] yorkie commented on #334
Yea, we have integrated in the similar way, and it worked as well at ShadowNode, what I really proposed is like [tc39/test262](https://github.com/tc39/test262), and downgrade to expose test suite as more compliance test suite is important, too.

[2018-08-29 06:45] varun-elear opened #335 "Need clarity on napi_is_exception_pending"
What are the pending exceptions here? Are these raised due to execution of code in JS layer or C layer or napi API calls or because of some failure when the JS engine was trying to perform some tasks? Could you please give an example. Also, how can I create a scenario where there is a pending exception when I return from a napi call? I want to test the code block which will get executed when there

[2018-08-29 20:37] mhdawson commented on #335
pending Exceptions are exceptions that were thrown when running JavaScript code (or thrown in your addon).  For example, if in https://github.com/nodejs/abi-stable-node-addon-examples/blob/master/3_callbacks/napi/addon.cc on line 23, the function called threw an exception, it would be pending after the return from napi_call_function.

The unit tests also provide example of this : https://github.co

[2018-08-29 20:46] mhdawson commented on #334
Great to see N-API being implemented and useful in other runtimes/implementations.

I wonder if a first step would be some scripts which would extract the tests from the Node repo and then package them separately as requested.  We could then look at a nightly CI job that would run that adn then publish the result to into a repo like nodejs/napi-ts

[2018-08-29 20:48] mhdawson commented on #331
@jschlight thanks for putting together and submitting :)

[2018-08-30 05:20] yorkie commented on #334
I think [ShadowNode](https://github.com/Rokid/ShadowNode) is working in this way now :p

@mhdawson What does the napi-ts mean?

[2018-08-30 15:17] mhdawson commented on #334
N-API test suite

[2018-08-30 15:28] yorkie commented on #334
@mhdawson I guess napi-ts might be confusions, I thought it's N-API TypeScript :(

[2018-08-30 18:19] gabrielschulhof commented on #326
@Trott @mhdawson @jasnell @mcollina I'd like to ping some of you regarding a potential TSC discussion on this topic. We'd really like to post some N-API examples, both C and C++ via node-addon-api, and we already have a [repo](https://github.com/nodejs/node-addon-examples/) that has examples in it, but it is substantially out of date. May we have the repo reactivated so that we might add the N-API

[2018-08-30 18:21] gabrielschulhof commented on #326
https://github.com/nodejs/node-addon-api/issues/241#issuecomment-413664162 and https://github.com/nodejs/help/issues/1412#issuecomment-411162564 could both benefit from an example.

[2018-08-31 03:43] Trott commented on #326
@gabrielschulhof Definitely no reason to put this on the TSC agenda, at least not at this time. That should be a last resort.

I don't have an opinion on which of the two ways you outline is the right path, but either way, the document to review for the correct process is https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANGEMENT_POLICY.md#repositories. The process is basically: Figure out w

[2018-08-31 14:19] gabrielschulhof commented on #333
Seems like there are no objections, so we can start opening PRs advocating the use of badges of the form `[N-API|v<n>]` where `n` is the N-API version number. Shall we go with `[N-API|vx]` if the addon needs experimental? That will later be replaced by the addon maintainer with a number once the API goes out of experimental. Maybe whenever choosing experimental, the colour should not be green, bec

[2018-09-02 18:31] varun-elear commented on #335
Thank you @mhdawson . I got some clarity on how this works now. Just to confirm, this means that pending exceptions can be there only when:
1. Any JS function is called from the C code (N-API layer)
2. When error is thrown explicitly from the C code (N-API layer)

Is my understanding correct?

I had a doubt that when we call any of the APIs that are provided by N-API and anything goes wrong in the

[2018-09-04 13:28] gabrielschulhof commented on #332
That PR has now landed. It touches doc/api/addons.md and doc/api/n-api.md. Perhaps we should add a similar blurb to node-addon-api's documentation.

[2018-09-04 13:38] NickNaso commented on #332
@gabrielschulhof I think that we can write a brief recap on `README` and then link to a specific section where we would deeply explain what means ABI stability.

[2018-09-04 14:05] gabrielschulhof commented on #332
@NickNaso I must've read your mind 🙂 https://github.com/nodejs/node-addon-api/pull/326

[2018-09-04 14:06] gabrielschulhof commented on #332
@NickNaso I don't have the link to the deep explanation yet, but maybe that belongs into the main repo and we can link to it there.

[2018-09-04 14:18] NickNaso commented on #332
@gabrielschulhof And if we create a file inside the `doc` folder (e.g abi_stability.md) and write all the necessary things about ABI stability there?

[2018-09-04 14:29] gabrielschulhof commented on #332
@NickNaso I'd rather do it in the main repo, because ABI stability is offered by N-API, not node-addon-api, so I'd like to reuse the explanation for those using N-API directly.

[2018-09-04 14:53] NickNaso commented on #332
@gabrielschulhof Ok so we can just link it from `node-addon-api`.

[2018-09-04 21:18] digitalinfinity commented on #335
@varun-elear that's right. Put it another way, pending exceptions are exceptions in the JS engine that have yet to be handled (either by JS or native C code). If the n-api C code calls a JS function and it throws, then the engine has a pending exception that either n-api C code can clear and handle, or bubble back up the JS VM if the n-api C code was called from JS in the first place. n-api C code

[2018-09-05 20:48] mhdawson commented on #335
In terms of the last question, I think the answer is that both the JavaScript and C code run in the same process using the same instance of v8.  @varun-elear does that answer your question?

[2018-09-05 20:49] mhdawson commented on #333
I'd agree with not being green if it uses experimental.  Otherwise N-API|v<n> sounds good to me.

[2018-09-05 20:52] mhdawson commented on #326
I'd say we should re-use the name of the original repo.  We were hoping to get some context as to why its archived, but if we can't find that then just proposing we re-use makes sense to me.

[2018-09-05 20:52] mhdawson commented on #334
then mabye nodejs/napi-test-suite

It's not all that long even spelled out.

[2018-09-06 02:05] digitalinfinity commented on #333
Yup, seems like a reasonable plan

[2018-09-06 06:26] varun-elear commented on #335
Thanks @digitalinfinity, it clears the concepts of pending exceptions for me. Yes @mhdawson, it does answer my question, thank you!
Also, I needed some clarity regarding some other APIs, where is the right place to discuss that - via issues on this repo, the node mailing thread or somewhere else?

[2018-09-06 13:34] mhdawson commented on #335
@varun-elear I think issues in this repo is ok.  It helps capture what people are asking about and having it documented may help us improve the documentation.

[2018-09-06 16:32] varun-elear opened #336 "Need clarity on parameters to the API napi_create_threadsafe_function"
I have a C library. When `say_hello()` in the library is invoked, it spawns a thread `t1` to compute some task `T` on it and immediately returns from the called function. After the task `T` has been completed, the callback function received as input to `say_hello()` is called.

I am using N-API so that the function `say_hello()` can be used by JS via a napi layer. Since, the thread `t1` will call

[2018-09-06 17:32] gabrielschulhof commented on #336
If the C library you use creates threads on its own, and doesn't expose the entry point function of the thread, then `async_work` cannot be used.

The general concept behind `napi_threadsafe_function` is that it converts a `napi_value` that holds a JavaScript function in such a way that the function can be called from any thread, but only if you use `napi_call_threadsafe_function()`.

The `initial

[2018-09-06 17:53] mhdawson opened #337 "Create matrix of tested methods."
Document node-addon-api methods that don't have tests.

[2018-09-06 17:54] mhdawson opened #338 "Milestone overview"
* Focus on AsyncWorker, there are a number of issues/problems we should work through
* Continued focus on burning down issues in the 2 repos
* Evangelism
  * Prepare presentation for JS interactive (Michael and Arunesh)
  * birds of a feather in community corner at JS interactive
  * Breakout session at collaborator summit - https://github.com/nodejs/summit/issues/100#issuecomment-410011700
    *

[2018-09-06 18:22] varun-elear commented on #336
Does that  also mean that `napi_async_context` can't be used in the above mentioned scenario and `threadsafe_function` is the only option?

Once I call `napi_call_threadsafe_function()` from any thread, the control will pass to the main thread and either the associated JavaScript function or `call_js_cb` will be executed depending upon the parameters passed to `napi_call_threadsafe_function()`.  T

[2018-09-06 19:30] mhdawson commented on #337
Will be done here: https://github.com/nodejs/node-addon-api/issues/332

[2018-09-06 21:32] gabrielschulhof commented on #336
IIUC `napi_async_context` is just a descriptive framework to identify asynchronous operations without actually giving you any primitives with which to implement or control them. So, I think `napi_threadsafe_function` is your only option.

When you call `napi_call_threadsafe_function()` it returns right away (unless you have a finite queue and you choose blocking operation), and `call_js_cb` will e

[2018-09-06 21:34] gabrielschulhof commented on #336
... also, if you allocate the `void* data` on the secondary thread, then `call_js_cb` is a good place to free it, unless you need it later on somewhere.

[2018-09-13 02:39] #313 closed, assigned to gabrielschulhof

[2018-09-13 17:50] mhdawson commented on #332
PR landed on node-addon-api.

[2018-09-13 17:51] mhdawson commented on #332
Need to check if equivalent has landed in core @gabrielschulhof

[2018-09-13 17:55] mhdawson commented on #331
It's on the schedule :)

[2018-09-13 17:57] mhdawson commented on #331
Jim to bring deck for Workshop, we'll start by displaying the resouces page

Michael to bring deck on node-addon-api, Michael+ Arunesh to bring deck from Conference.

[2018-09-13 18:32] mhdawson opened #339 "Topics for N-API collaborator summit session"
# Proposed Agenda

* Intro to N-API (only needed if we have people new to N-API who are participating)
* Agenda validation/building (review agenda with participants and decide if we need to add items)
* Hands on with N-API, code, building, documentation and testing.  What you need to know in order to start contributing (relatively informal, no slides, walkthough by team members)
  * Walk through o

[2018-09-15 07:36] jorangreef opened #340 "napi_is_function"
I have looked through all the documentation, but there doesn't seem to be a way to verify that a `napi_value` is a JS function, e.g. using something like `napi_is_function`?

The reason for asking, is that I need to verify all user-supplied arguments (including a JS callback) and throw an exception before queuing async work.

[2018-09-15 07:48] jorangreef opened #341 "Does `resource_name` require a reference?"
Thanks to the team for creating N-API, I'm really enjoying working with it compared to NAN.

When creating a `resource_name` string to be passed to `napi_create_async_work`, does one also need to call `napi_create_reference` on the `resource_name` string so that it persists during the lifetime of the `async_work`?

Or is the following adequate?

[code]

Also, a followup question, is there any way

[2018-09-15 10:30] jorangreef commented on #340
I just came across `napi_function` which can be used like this:

[code]

[2018-09-15 11:22] jorangreef opened #342 "`napi_create_error()` does not create a stack trace when called from `napi_async_complete_callback`"
If I call `napi_create_error()` from a synchronous native method call, I receive a stack trace as expected:

[code]

But if I call `napi_create_error()` from `napi_async_complete_callback`, the stack trace is empty and very surprising:

[code]

Can this be improved? The `undefined:0` made it seem like N-API had a debug `printf` statement somewhere. It took me awhile to realize this was actually an

[2018-09-15 12:58] gabrielschulhof commented on #341
N-API does not support obtaining a reference to a `napi_value` that is not an object. That's because obtaining a reference to a primitive value is not supported on all engines, and is almost never needed. Thus, passing the `napi_value` created with `napi_create_string_utf8` is sufficient.

Having a name for an async work item allows one to distinguish between different async work items in the debu

[2018-09-15 13:27] gabrielschulhof commented on #340
@jorangreef yep, that's the way to ascertain whether a `napi_value` holds one of the primitive types + `napi_external` 🙂

[2018-09-15 15:10] ralphtheninja commented on #341
That would be handy indeed.

[2018-09-15 15:14] ralphtheninja commented on #340
@jorangreef Check out [`napi-macros`](https://github.com/mafintosh/napi-macros/blob/master/napi-macros.h#L187-L208) module by @mafintosh. There might be some handy stuff for you in there. Also, maybe add a `NAPI_ARGV_FUNCTION()` which does this assertion?

[2018-09-16 17:11] jorangreef commented on #341
Thanks @gabrielschulhof

[2018-09-16 17:11] #341 closed, assigned to nobody

[2018-09-16 17:12] jorangreef commented on #340
Thanks @gabrielschulhof and @ralphtheninja

[2018-09-16 17:12] #340 closed, assigned to nobody

[2018-09-20 17:56] gabrielschulhof commented on #334
@yorkie would you like to join us for our weekly N-API meeting? We meet on [zoom](https://zoom.us/). Our conference number is 363-665-824. We could discuss the logistics of making the N-API test suite available outside the Node.js code base.

[2018-09-20 18:10] mhdawson commented on #333
PR to add some text to node core https://github.com/nodejs/node/pull/22801#pullrequestreview-157171072

[2018-09-20 18:47] jschlight opened #343 "NodeConf EU 2018, N-API Workshop"
[NodeConf EU 2018](https://www.nodeconf.eu) — November 4-7, 2018 in Kilkenny, Ireland.
The workshop is schedule for two 1½ hour sessions on the afternoon of November 7.
**Part 1** 14:00–15:30. **Part 2** 16:00–17:30.

Workshop slides [Getting Started with N-API and node-addon-api](https://docs.google.com/presentation/d/1nBw8QNWDzMe-8QEYSnvJDNPWYMvmbmUz-mtnGZuiWLE/edit#slide=id.p)

### Speakers

-

[2018-09-20 22:41] gabrielschulhof commented on #332
@mhdawson the equivalent has landed in core: https://github.com/nodejs/node/pull/22508

This issue cannot be closed yet because in the above comments starting at [this one](https://github.com/nodejs/abi-stable-node/issues/332#issuecomment-418379903) @NickNaso and I talk about creating a document inside the Node.js main repo's documentation subdirectory that explains the issues of ABI stability in

[2018-09-21 13:34] mhdawson commented on #280
Thanks to everybody for all of the hard work.  Now that https://github.com/nodejs/node-addon-api/pull/335 landed I think we can close this.  We will continually refine/improve the documentation but now it is complete and in reasonable shape to make sure we maintain coverage.

[2018-09-21 13:34] #280 closed, assigned to nobody

[2018-09-22 09:10] yorkie commented on #334
Sorry @gabrielschulhof, missed your last message, when the meeting starts?

[2018-09-22 22:09] gabrielschulhof commented on #334
@yorkie the meeting is every Thursday at 1:30 PM Eastern Time on [zoom](https://zoom.us). The conference number is 363-665-824. You can check the Node.js calendar at https://calendar.google.com/calendar/embed?src=nodejs.org_nr77ama8p7d7f9ajrpnu506c98@group.calendar.google.com&pli=1

[2018-09-23 05:57] yorkie commented on #334
Thanks @gabrielschulhof, May I join the next N-API weekly meeting for this topic?

[2018-09-24 17:10] gabrielschulhof commented on #334
@yorkie absolutely! You're more than welcome!

[2018-09-24 23:19] NickNaso opened #344 "Proposal to add some labels on node-addon-api repo"
Hi everyone,
I realized that in the repo of `node-addon-api` we don't have many labels to tag the issues. I think that could be a good idea add the following labels:
- doc
- test
- do-not-land
- good first issue

If you agree I can do this and if you want we can discuss the idea through this issue or directly at next meeting.

[2018-09-26 18:29] mhdawson commented on #344
+1 from me

[2018-09-27 17:53] mhdawson opened #345 "Next node-addon-api release"
https://github.com/nodejs/node-addon-api/issues/347

[2018-09-27 17:59] mhdawson opened #346 "Investigate N-API helping to avoid future breakage like in https://github.com/nodejs/node/pull/22754#issuecomment-425072975"
https://github.com/nodejs/node/pull/22754#issuecomment-425072975

Hitesh suggested we should look at the modules that were broken and see if they are good candidates for N-API as its could have prevented this kind of breakage.

Next step is for Hitesh to look at the modules to identify if there are any good candidates
After that we may reach out to maintainers and offer mentoring.

[2018-09-27 18:29] mhdawson commented on #343
1) Asking @digitalinfinity to update generator to have 2 options - https://github.com/digitalinfinity/generator-napi-module/issues/5

  - simple
  - object wrap (which is what is there today)

2) Update workshop have the 2 different steps (Jim)

3) Update list of modules people can port (Hitesh)

~4) Update contributors page (Jim~

[2018-09-27 19:42] NickNaso commented on #344
I'm closing the issue because I just added the labels as discussed today in the meeting.

[2018-09-27 19:42] #344 closed, assigned to nobody

[2018-09-27 20:55] jschlight commented on #291
The two PRs have landed and the modules have been published to npm.

- [prebuild 8.1.0](https://github.com/prebuild/prebuild) - Includes N-API documentation.
- [prebuild-install 5.2.0](https://github.com/prebuild/prebuild-install) - The companion install module.

[2018-09-27 21:03] NickNaso commented on #291
It's really a grate news. Good work @jschlight. Last week I opened a PR where I added a section about **pre build tools**. See [https://github.com/nodejs/node-addon-api/blob/7f7e78534e85cae0c4685158b5187383fca1597c/doc/prebuild_tools.md](https://github.com/nodejs/node-addon-api/blob/7f7e78534e85cae0c4685158b5187383fca1597c/doc/prebuild_tools.md).
Now I think that I can add `prebuild` in the list o

[2018-09-28 13:38] mhdawson commented on #291
@jschlight good work and great to hear :)

[2018-10-01 22:17] gabrielschulhof commented on #18
@nodejs/n-api can we close this issue?

[2018-10-01 22:47] mhdawson commented on #18
I think so, closing.

[2018-10-01 22:47] #18 closed

[2018-10-01 23:01] NickNaso opened #348 "Old issues and PRs on the node-addon-examples"
Hi everyone,
we are starting to work on examples to the https://github.com/nodejs/node-addon-examples repo. I noted that there are very old issues and PRs on this repo. How should we proceed?

[2018-10-02 03:19] digitalinfinity commented on #346
@joaocgreis helpful compiled a list of the modules that were impacted by the API change. Here are my notes:

Module | Notes
---------|--------
level | doesn't appear to be a native module, wrapper for leveldown?
serialport | we've started a [port](https://github.com/node-serialport/node-serialport/issues/1186) but it probably needs to be revived - Glenn is engaging here.
ref | Already ported to n-

[2018-10-02 06:32] NickNaso commented on #346
Hi everyone,
I already worked on **microtime** some months ago. See https://github.com/wadey/node-microtime/issues/56

[2018-10-02 19:19] mhdawson commented on #346
@joaocgreis Thanks for the list.

In terms of sqlite3 @anisha-rohra has been working on that and we are down to one problem.  Slowing us down is that Anisha is back at school and so only has a smaller amount of available time as a student on call.

In terms of node-report we have a PR open to meld it into core which would remove it from this kind of problem as the testing would be part of node cor

[2018-10-02 19:22] mhdawson commented on #346
In terms of serialport, it was just the very start of the port and I believe the code base has probably changed a lot since then as well.  All to say its probably a restart from scratch in that case.

[2018-10-02 19:28] mhdawson commented on #348
I think its worth going through them and either accepting or closing them.

I close a couple.

I think in many cases we could say that the focus of the repo is now N-API examples and therefore the issue is stale, along with the request for the originator to let us know if they dis-agree with closing.

[2018-10-03 06:14] NickNaso commented on #345
I'm closing the issue because the new version of `node-addon-api` has been released.

[2018-10-03 06:14] #345 closed, assigned to nobody

[2018-10-03 06:15] NickNaso commented on #348
Ok thanks I will work as you suggested.

[2018-10-03 06:15] #348 closed, assigned to nobody

[2018-10-04 17:57] mhdawson commented on #291
Jim reported it landed in the meeting today. Hooray ! closing.

[2018-10-04 17:57] #291 closed, assigned to jschlight

[2018-10-04 18:00] mhdawson commented on #333
@gabrielschulhof Updated abi-stable-node readme repo, will land once 72 hours is up.

Next gabriel will suggest text on badges go into update readme.

[2018-10-04 18:01] mhdawson commented on #332
Outstanding issue was to created detailed info on, has created PR on core: https://github.com/nodejs/node/pull/23229

[2018-10-04 18:20] mhdawson opened #350 "Add CI job/testing that validates examples in nodejs/addon-examples"
Would be good to have CI job that regularly builds addon-examples across platforms to make sure they are working.

Would also let us tighten up the compiler options to make more warnings as errors.

[2018-10-13 20:37] mhdawson commented on #339
zoom for those who want to watch the session https://zoom.us/j/961649997

[2018-10-18 17:46] #339 closed, assigned to nobody

[2018-10-18 17:49] mhdawson commented on #332
Landed all updates.

[2018-10-18 17:49] #332 closed, assigned to nobody

[2018-10-18 17:50] mhdawson commented on #331
Session held.

[2018-10-18 17:50] #331 closed, assigned to jschlight

[2018-10-18 18:01] mhdawson opened #352 "Reach out to NAN maintainers"
Have links/recommendations to use N-API from NAN repo?

[2018-10-18 18:06] mhdawson opened #353 "Focus on AsyncWorker, there are a number of issues/problems we should work through"

[2018-10-18 18:08] #338 closed, assigned to nobody

[2018-10-19 17:31] digitalinfinity opened #354 "Factor out N-API to expand embeddability use cases"
As @bghgary mentioned on the N-API WG meeting on 10/18, there is a use case where developers who are embedding JS engines directly (and not embedding Node) can need a VM-neutral interface to talk to these engines in an ABI-stable manner. Given that N-API already has this, @bghgary suggested factoring out the ES-specific parts of N-API into its own header. Opening this issue to continue that discus

[2018-10-19 18:39] mhdawson commented on #354
I think its a great suggestion.  Making it easier for other projects/teams to consume N-API should help overall adoption.  In addition it will increase the chances of these projects contributing back enhancements.

[2018-10-21 17:59] bghgary commented on #354
See https://github.com/nodejs/node/pull/23786

[2018-10-25 04:54] jschlight opened #355 "Membership review - still active?"
The N-API team decided to initiate a membership review during its October 4, 2018 meeting using the procedure established by the Node [Security](https://github.com/nodejs/security-wg/issues/302) and [Diagnostics](https://github.com/nodejs/diagnostics/issues/215) Working Groups.

@aruneshchandra - Arunesh Chandra
@boingoing - Taylor Woll
@corymickelson - Cory Mickelson
@digitalinfinity - Hitesh Kan

[2018-10-25 12:45] NickNaso commented on #355
Hi everyone I want continue to contribute to this project.

[2018-10-25 16:23] mhdawson commented on #355
I'm still around and active.

[2018-10-25 18:13] kfarnung commented on #355
I'm still around and active.

[2018-10-25 19:04] anisha-rohra commented on #355
I would still like to contribute and be active!

[2018-10-26 03:34] digitalinfinity commented on #355
Around + still active

[2018-11-09 12:33] vieks commented on #261
napi_value *argv, so it sounds as a raw copy... which is quite slow for buffer.
Which way with N-API to make a node buffer zero-copy ?

[2018-11-15 18:39] mhdawson commented on #343
Done, closing

[2018-11-15 18:39] #343 closed, assigned to jschlight

[2018-11-17 22:46] gabrielschulhof commented on #354
Landed in https://github.com/nodejs/node/commit/596bd5f1bb64cebc8d9b72c114f78ef9f074863b.

[2018-11-17 22:46] #354 closed, assigned to nobody

[2018-11-24 04:44] gabrielschulhof commented on #326
This has landed.

[2018-11-24 04:44] #326 closed, assigned to nobody

[2018-11-27 22:18] mhdawson commented on #355
@boingoing - Taylor Woll
@corymickelson - Cory Mickelson
@ianwjhalliday - Ian Halliday
@jasongin - Jason Ginchereau
@sampsongao - Sampson Gao

Second ping to see if you are still active.  If we don't hear from you, we'll move you to Emeritus.

[2018-11-27 22:30] mhdawson commented on #353
https://github.com/nodejs/node-addon-api/issues/231

[2018-11-27 22:30] boingoing commented on #355
I am still around and relatively active.

[2018-12-06 13:07] GiedriusM opened #356 "napi_create_int32 does not return napi_pending_exception"
I noticed that `napi_create_int32` (and other "Functions to convert from C types to N-API") do not return `napi_pending_exception` when one is actually present, however `napi_create_buffer` (and other "Object Creation Functions") do.

Is this inconsistency intended? According to [this old post](https://github.com/nodejs/abi-stable-node/issues/122#issuecomment-292308966) it should not (napi_create_

[2018-12-06 19:06] gabrielschulhof commented on #333
Since the issue in the core repo was closed, if/when we PR this, we should PR this against the README.md in this repo.

[2018-12-08 00:00] vweevers commented on #346
Regarding `leveldown`, see https://github.com/nodejs/package-maintenance/issues/52#issuecomment-445398261

[2018-12-13 19:09] gabrielschulhof commented on #333
At today's N-API meeting we discussed the possibility of suggesting at our N-API workshop that a badge be included in a PR that ports a module to N-API.

[2018-12-18 21:14] mhdawson commented on #356
I believe it started as an effort to allow you to call functions which would be needed to do minimal cleanup in the face of a pending exception. This may have been extended to cases were the methods cannot throw an exception themselves.

Do you have some sample code that shows where the exception was generated but then only later you have it returned?

[2018-12-19 10:03] GiedriusM commented on #356
Just to be clear, I do not consider this as a bug, but more of inconsistent behavior, which was weird to debug.
I encountered this when doing node.js wrappers for a 3rd party C library. The basic call stack was like this:
[code]

* `node_X` represents node.js code/context.
* `wrap_X` - the code I was writing
* `lib_X` - 3rd party library functions

Technically, wrap_callback_B should check for pen

[2018-12-20 14:52] mhdawson commented on #356
Thanks for the detail.  I do see why the first call passing, but the second one not could be confusing.

I assume napi_call_function would have returned that there was a pending exception?  My guess is that would have been the right place to check and return, but I'm not quite sure from what you've provided above.

[2018-12-21 18:11] GiedriusM commented on #356
Exactly this.

Yes, napi_call_function (A), did return pending exception and `wrap_callback_A()` handled that (early return with error code). However, in my situation the 3rd party library despite/due-to the error, continues it's process loop and calls `wrap_callback_B()`, which could not complete due to the pending exception.
To give another shot at describing, this would more or less be the node

[2018-12-27 18:02] ralphtheninja commented on #346
@digitalinfinity Yes!

[2018-12-28 19:19] gabrielschulhof commented on #336
@varun-elear hopefully my explanation in the previous comments provided sufficient clarification. Please re-open this issue if you need more help with `napi_threadsafe_function`.

[2018-12-28 19:19] #336 closed, assigned to nobody

[2019-01-01 17:59] ghinks commented on #346
I had a stab at npm time and forked it with a conversion from nan to napi [here](https://github.com/ghinks/node-time/tree/feature/napi)

[2019-01-02 17:25] mhdawson commented on #356
It is a "feature" that we have chosen that you can call some API functions even though an exception is pending.  This was to allow for minimal cleanup to be done if possible. I will take a look to see if we properly document that.

[2019-01-04 14:34] mhdawson commented on #356
I'm going to update the docs to reflect the current behavior as they don't explain the case where one is already pending when you call a method.

I won't document the specific methods yet as I'm not sure we want to commit to which ones can/can not be called.

[2019-01-04 15:03] mhdawson commented on #356
Created https://github.com/nodejs/node/pull/25339 to clarify behaviour in the docs

[2019-01-04 15:08] GiedriusM commented on #356
Alright, thanks.

Also do you have any suggestion if there's a way for a C function to force Node.js handle pending exception, without returning? Sort of recursive node.js core loop handing? In my scenario I can't control when `wrap_callback_B` is called (without reworking the 3rd party lib) and if there's a already a pending exception it can't continue and is forced to skip and event. I guess it'

[2019-01-04 20:13] mhdawson commented on #356
One thing I can think of would be to check for a pending exception and then calling
napi_fatal_error which will end up terminating the process.  That is also the likely outcome of the pending exception percolating up as if you cannot resolve the exception on the native side then its unlikely the JavaScript code can either.

[2019-01-05 01:42] ghinks commented on #346
I raised a [PR](https://github.com/TooTallNate/node-time/pull/111)  for the npm time module.
A couple of things I have learned from this first PR.
- contact the package owner first and make sure they are ok with this
- check that all the unit tests work on the master branch first
- understand that napi works from node 8 onwards and that existing automated tests that use early versions of node may

[2019-01-07 15:48] mhdawson commented on #346
@ghinks it should for 6.X as well, although in the case of both 6.x and 8.x its only after a particular semver minor version.

[2019-01-08 09:08] GiedriusM commented on #356
Alright, thank you for the help. As far as I'm concerned, this issue can be closed.

[2019-01-08 18:52] mhdawson commented on #356
@GiedriusM thanks for your help/discussion.  Closing for now.

[2019-01-08 18:52] #356 closed, assigned to nobody

[2019-01-10 18:48] mhdawson commented on #333
@gabrielschulhof  submitted this pull request: https://github.com/nodejs/abi-stable-node/pull/357

[2019-01-10 18:48] #333 closed, assigned to nobody

[2019-01-17 18:40] mhdawson opened #358 "Backports for tsfn"
Need to backport to 8.x and 10.x and make non experimental to help adoption.

[2019-01-17 18:48] mhdawson commented on #358
Gabriel - already in as experimental in 10.X

Steps:

1) Make non-experimental in master
2) roll back to 10.x and 8.x

Gabriel will get the ball rolling.

[2019-01-21 23:06] simonbuchan commented on #318
As mentioned by @primeare it works fine to `#include <uv.h>`, but AFAIK that's not really considered part of N-API, and thus doesn't have ABI guarantees. But the existence of `napi_get_uv_event_loop()` is then a bit confusing - I'm guessing it's there as an escape hatch. Does that all sound right?

Personally I'm not sure if I'd like to see N-API be a general ECMAScript engine native API with node

[2019-01-22 14:46] mhdawson commented on #318
napi_get_uv_event_loop is odd, we might have made a mistake on that one but I can't remember the history on that one.

[2019-01-28 18:08] gabrielschulhof commented on #358
v10.x backport: https://github.com/nodejs/node/pull/25633
v8.x backport: https://github.com/nodejs/node/pull/25648

[2019-01-28 18:09] mhdawson commented on #358
From the meeting today sounds like there is a problem with FreeBSD 10 in the 10.x staging and release branches.  Believe its the same problem that I refereed to in https://github.com/nodejs/node/pull/25574.

[2019-01-28 18:10] gabrielschulhof commented on #358
The commit on v10.x-staging that seems to have introduced the failure to compile on FreeBSD 10 is this: https://github.com/nodejs/node/commit/acf7e7d282e87b4c0b5a5ab672e21c3c67311cf2

[2019-01-28 18:32] mhdawson opened #359 "Using N-API but with Fixed Node module version"
In some cases module owners would like to us N-API even if they are using other internal APIs like libuv, openssl.

Today that would be unsafe because N-API bypasses the Node module version check and therefore you should only use N-API for "pure" modules.

We should an an option through Macros or some other solution so people can use N-API but also use those other modules safely.

[2019-02-04 18:13] #355 closed, assigned to nobody

[2019-02-05 17:46] gabrielschulhof commented on #346
There's another module we should consider helping to get ported:

https://github.com/nospaceships/node-raw-socket/

https://www.npmjs.com/package/raw-socket (445145 weekly downloads)

The module net-ping depends on it, which itself has just as many downloads.

Filed an issue: https://github.com/nospaceships/node-raw-socket/issues/54

[2019-02-05 20:36] ghinks commented on #346
yes, let me take a look. I am hopefully going to meet the other maintainers for the serialport module. That module uses lots of libuv and is looking more like a re-write.

[2019-02-07 13:04] ghinks commented on #346
@mhdawson @gabrielschulhof I would like some advice although not sure if this is the correct forum. The node-serial-port module that I am looking at converting from nan makes a lot of use libuv for polling file descriptors.

[node serial port libuv example](https://github.com/node-serialport/node-serialport/blob/master/packages/bindings/src/poller.cpp)

Keeping this breaks the ideals of N-API use.

[2019-02-07 21:47] mhdawson commented on #346
@ghinks I think opening a new issue in abi-stable-node would be a better place to have the discussion.  If it has a heavy dependency on libuv it may not be a good N-API candidate (my impression from the maintainers was that it was not the case, h/w interaction was done at the OS specific level. I might not have understood or maybe that changed).  The goal was to hit the 80 of the 80/20 rule.  Havi

[2019-02-07 23:54] ghinks opened #361 "Possible chances to take advantage of libuv stability"
# Possible chances to take advantage of libuv stability

Use of [libuv polling](http://docs.libuv.org/en/v1.x/poll.html) for the more **hardware orientated** modules is being seen.

Use is being made of **libuv** to **detect events** on a file descriptor in existing stable modules. Some of the features that **libuv** provide could be exposed via **NAPI** or use of libuv could be allowed in order t

[2019-02-12 00:48] nkreeger opened #362 "Add support for napi_create_boolean()"
I noticed that the N-API does not have support to create boolean types from C-code. There are methods for various integer types, floating points, and strings - but nothing for booleans. In order to surface a return value that is a true boolean it looks like I need to include something like:

[code]

I'm happy to contribute a PR - I just want to make sure there are no concerns about x-platform supp

[2019-02-16 23:50] mhdawson commented on #362
I see this in: https://github.com/nodejs/node/blob/master/src/js_native_api.h

[code]

which is what you'd use to create a boolean with the C API.

There is also support in node-addon-api: https://github.com/nodejs/node-addon-api/blob/master/doc/boolean.md.

So I `think` its already there unless I misunderstood.

[2019-02-17 11:16] DaAitch commented on #362
Yeah I also think it's already there. Maybe it's a bit confusing, because it's not "create boolean" but "get boolean", like with undefined, simply because in JS they are constants.

[2019-03-04 19:30] mhdawson opened #363 "Separate additional package on top of node-addon-api?"
Do we need an additional module for extentions to node-addon-api?

For example: https://github.com/nodejs/node-addon-api/pull/377

[2019-03-04 21:36] mhdawson commented on #363
Also https://github.com/nodejs/node-addon-api/issues/439 with part of the context.

Created this issue and added to Milestone 11 so that we review/discuss in the next N-API team meeting.

[2019-03-04 21:48] mhdawson opened #364 "Time for a new release?"
It might be time for a new release.  The last one was just over 3 months ago.

Some PRs/issues we might want to address first:
-[ ] https://github.com/nodejs/node-addon-api/pull/407

@nodejs/n-api  Please suggest others if you think we should address them before the next release.

[2019-03-05 14:45] mhdawson commented on #364
Oops put this in  the wrong repo, will close and open one in node-addon-api

[2019-03-05 14:45] mhdawson commented on #363
Another one that might be in helper or N-API itself: https://github.com/nodejs/node-addon-api/issues/265

[2019-03-05 14:46] #364 closed, assigned to nobody

[2019-03-05 14:48] addaleax commented on #364
Maybe this repository should be archived?

[2019-03-05 15:45] mhdawson commented on #364
@addaleax we still use this repository actively.....  Just not the right place for the discussion of a release for node-addon-api.

[2019-03-11 18:03] mhdawson commented on #363
From discussion 2 approaches would be:

* node-addon-api is limited to
  * wrappers of N-API functions
  * utilities for which we can demonstrate strong benefits for being in node-addon-api versus a module
  and we encourage and support ecosystem modules as the starting

* We are relatively liberal in terms of what we take into node-addon-api.

[2019-03-11 18:05] mhdawson commented on #363
Next steps:

- [x] @digitalinfinity will take a first cut at expanding on the 2 approaches
- [ ] document our preferred approach as PR to node-addon-api (@digitalinfinity will do that)
- [ ] get input from those who have submitted the two PRs above
- [ ] get input from other N-API users.

[2019-03-12 13:15] mhdawson opened #365 "Submissions to NodeConfEU"
NodeConfEU is the the first but we should also think about node Summit and Node+JS interactive.

Call for NodeConf EU is open https://sessionize.com/nodeconf-eu-2019 and closes 31 May

@nodejs/n-api

[2019-03-14 01:55] gabrielschulhof opened #366 "Node.js blog post"
Hello @nodejs/n-api!

I would like to eventually publish https://github.com/gabrielschulhof/gabrielschulhof.github.com/pull/1/files on the Node.js blog. Could you please read it over and leave comments/corrections?

Thank you very much for your help!

[2019-03-15 13:46] mhdawson commented on #366
Made a few comments but looks like a great blog post.

[2019-03-18 17:22] digitalinfinity commented on #363
Here's a first cut on a doc that expands on the problem being covered in this issue and possible solutions: https://docs.google.com/document/d/13DqZUeLjwf09EmkRBBIJkLE2bxmqWt2zF5FoNvHbjZc/edit?usp=sharing

[2019-03-24 21:55] NickNaso commented on #281
Hi everyone I want report this issue https://github.com/kelektiv/node.bcrypt.js/issues/709 developers are starting use ative addons in `worker_threads` so they need to refactor to implement a context aware addon.

[2019-03-25 16:54] gabrielschulhof commented on #365
I'm planning on writing a talk entitled "The Life and Times of a Native Addon".

[2019-03-25 16:57] gabrielschulhof commented on #362
@nkreeger hopefully this has addressed your issue. Please feel free to reopen otherwise.

[2019-03-25 16:57] #362 closed, assigned to nobody

[2019-03-25 16:59] gabrielschulhof commented on #358
These backports have now landed.

[2019-03-25 16:59] #358 closed, assigned to nobody

[2019-03-25 16:59] NickNaso commented on #365
I would like talk about the possibility to write a wrapper over N-API with different programming languages, but all depends on how all my work will go forward in the next month.
What do you think about the idea?

[2019-03-25 18:04] NickNaso opened #367 "Workshop"
Hi everyone I'm opening this issue with the intention to collect materials and idea for a N-API workshop that we can propose at **NodeConf EU**, **Node Summit** and **Node+JS Interactive**.

Below I report all materials that we have from the workshop that we did last year:

* **[Slides](https://docs.google.com/presentation/d/1nBw8QNWDzMe-8QEYSnvJDNPWYMvmbmUz-mtnGZuiWLE/edit?usp=sharing)**

* **Tut

[2019-03-27 09:15] sparkpunkd opened #368 "Request for modules adopting N-API - media related modules"
In this [Medium article](https://medium.com/the-node-js-collection/n-api-next-generation-apis-for-node-js-native-addons-available-across-all-lts-release-lines-4f35b781f00e) by Arunesh Chandra and Michael Dawson, a request is made to let _this repo_ know about interesting modules using N-API or that you are proud of.

We have been working with N-API for a year to develop media-processing related ca

[2019-03-28 12:09] necil opened #369 "Threadsafe function call executes after everything finished."
Hello I am currently using N-API on node v11.12.0

I have two threads on addon side. first thread is my main thread and second one contains a loop that calls a function with specific interval.

I create thread safe function as follows (part of register() function):

[code]

Also callback function:

[code]

nodejs code:

[code]

I see the log test. However it happens after other two for loops compl

[2019-04-01 18:24] gabrielschulhof commented on #369
@necil You didn't post what the secondary thread actually does, but I assume it calls the thread-safe function several times, or even in a loop.

The fact that you see "test" after both loops are done is the expected behaviour for the code you show, because `sleep()` does not mean "suspend execution of JavaScript thereby giving Node.js a chance to check the event loop". It means "prevent the main

[2019-04-01 20:30] gabrielschulhof commented on #369
You can get interleaving if you replace the busy loops with idle loops:

[code]

I added some escape sequences to the output formatting because if you have the secondary thread run in a busy loop the words "test <n>" totally flood the screen.

[2019-04-02 06:36] necil commented on #369
Thank you i will try it

[2019-04-02 07:22] necil commented on #369
Tried and it works as it should. Thanks a lot. By the way I know my code was lacking some details, its because some parts of the code contains business logic and not possible for me to post that part online. Sorry for inconvenience.

[2019-04-02 07:22] #369 closed, assigned to nobody

[2019-04-02 13:56] mhdawson commented on #368
Thanks for posting.  It's great to have this info and please add the other modules once you complete them.

[2019-04-02 18:22] gabrielschulhof commented on #369
@necil no problem. Glad you got it sorted out 🙂

[2019-04-03 10:01] sparkpunkd commented on #368
We will keep you up to date! Thanks.

[2019-04-03 10:01] #368 closed, assigned to nobody

[2019-04-08 04:01] jschlight commented on #367
## Title

Next Generation N-API: A hands-on workshop

## Description

The world of Node native add-on development continues to rapidly evolve. After widespread adoption of N-API starting last year, the Node native add-on ecosystem is gaining momentum as the underlying technology and tools continue to advance.

This workshop, offered by experts from the N-API team, describes important new features

[2019-04-08 13:46] NickNaso commented on #367
Maybe I prefer talking of asynchronous operations instead of AsyncWorker, because the AsyncWorker is not the only way to do this kind of task.

[2019-04-08 18:03] jschlight commented on #367
Good point, @NickNaso. I've updated the Proposed Abstract comment.

[2019-04-09 17:24] mhdawson commented on #367
So that we don't scare off people just starting out maybe add something like

Otherwise looks great to me.

[2019-04-15 17:13] mhdawson commented on #335
I think this has been answered, closing.  Please re-open if that's not the case.

[2019-04-15 17:13] #335 closed, assigned to nobody

[2019-04-15 17:19] mhdawson commented on #366
Blog published.

[2019-04-15 17:19] #366 closed, assigned to nobody

[2019-04-29 18:03] NickNaso commented on #346
Hi everyone I want report a tweet that I found today
![Screenshot 2019-04-29 at 20 00 59](https://user-images.githubusercontent.com/387506/56916658-b46c4800-6ab9-11e9-9e36-652a85c110e5.png)

https://twitter.com/emilbayes/status/1122787284372340737

The maintainer of **[sodium-native](https://github.com/sodium-friends/sodium-native)** announce that the next version will be implemented by N-API.

[2019-05-06 17:34] gabrielschulhof commented on #361
@cjihrig in the event of a libuv-2.0 release, is there danger of the polling API suffering an ABI break?

[2019-05-06 18:34] cjihrig commented on #361
Not that I'm aware of, but I'm going to ping @bnoordhuis just in case.

[2019-05-09 16:31] mhdawson opened #371 "Napi version in node-gyp"
For discussion in next meeting:

https://github.com/nodejs/node-gyp/issues/1745

[2019-05-12 23:48] jschlight commented on #367
## 2019 Conferences

- **[NodeConf 2019](https://www.nodeconf.eu/)** – Kilkenny, Ireland – November 10-13, 2019 ☹️
This workshop proposal has been **declined** by the conference organizers.
    - Workshop proposal submitted.
    - Includes Michael, Gabriel, Nicola, and Jim.
- **[Node+JS Interactive 2019](https://events.linuxfoundation.org/events/nodejs-interactive-2019/)** – Montreal, Canada – Dec

[2019-05-13 17:18] mhdawson opened #372 "Submissions to Node+JS Interactive - June 21st."
Deadline ~June 14~ extended to June 21.

@jschlight volunteered to summit the workshop and put together a abstract for the birds of a feather.

[2019-05-13 17:20] mhdawson commented on #365
@jschlight submitted the workshop as outlined: https://github.com/nodejs/abi-stable-node/issues/367.

[2019-05-13 17:21] #363 closed, assigned to digitalinfinity

[2019-05-13 17:21] mhdawson commented on #363
PR landed here: https://github.com/nodejs/node-addon-api/pull/477

[2019-05-14 19:34] jschlight commented on #371
With `node-pre-gyp` and `prebuild`, the N-API version is essentially specified by the user and then the actual N-API version being built against is communicated into the `binding.gyp` file using a new `napi-build-version` variable we created for the purpose.

In the linked issue, the user is requesting that `node-gyp` inform the `binding.gyp` file which N-API version is supported by the version of

[2019-05-17 19:27] mhdawson opened #373 "Do we need some additional AsyncWorker variants"
See https://github.com/nodejs/node-addon-api/issues/473

[2019-05-20 17:31] gabrielschulhof commented on #373
During today's meeting @NickNaso and @gabrielschulhof agreed that it is reasonable to add node-addon-api equivalents to the `Nan::AsyncWorker` variants. We could implement them using `napi_threadsafe_function`.

[2019-05-20 21:44] NickNaso commented on #346
Hi everyone I want report that the next version of `rocksdb` will be based on N-API see:

Issue that track the N-API refactor: https://github.com/Level/rocksdb/issues/100

PR of the rewrite using N-API: https://github.com/Level/rocksdb/pull/111

In the same PR you can see the first performance result and it seems that N-API version is faster than other on writing operation.
https://github.com/Leve

[2019-05-23 00:20] richardlau commented on #371
A PR was opened against core: https://github.com/nodejs/node/pull/27800

[2019-05-23 10:06] NickNaso commented on #371
Hi everyone,
I closed my previous PR and reopened new one  https://github.com/nodejs/node/pull/27835. Please if you have time take a look.

[2019-05-27 13:01] NickNaso commented on #365
Hi everyone I submitted my talk entitled **Let's Go N-API** at NodeConf EU.
Thanks all for helping me to write the proposal.

[2019-05-27 13:03] NickNaso commented on #372
Hi everyone I submitted my talk entitled **Let's Go N-API** at Node+JS Interactive.
Thanks all for helping me to write the proposal

[2019-05-31 20:57] jschlight commented on #372
## Birds of a Feather Proposed Abstract

The world of Node native add-ons is rapidly evolving with the widespread adoption of N-API. Improvements implemented over the past year now make native add-ons nearly on par with those written in JavaScript. At this birds of a feather, you’ll meet members of the Node team advancing this important technology along with other native add-on developers. You’re

[2019-06-01 05:58] NickNaso commented on #365
Hi everyone I'm closing this issue because now the CFP is closed.

[2019-06-01 05:58] #365 closed, assigned to nobody

[2019-06-03 17:20] gabrielschulhof commented on #373
A proposal for an `AsyncWorker` that uses the `Promise` interface is made here: https://github.com/nodejs/node-addon-api/issues/231#issuecomment-496529366

[2019-06-03 17:48] gabrielschulhof opened #374 "What should go into N-API 5?"
@jarrodconnolly we are considering making the JS `Date`-related N-APIs part of the N-API 5 stable release. That is, we are considering moving them out of experimental. Can you please share with us examples of their real-world usage? We do not necessarily need pointers to actual code if it's not open source, but please list any real-world use cases you are aware of!

[2019-06-03 17:51] gabrielschulhof commented on #374
@devsnek we would like to remove the experimental flag from around all the bigint N-APIs. Can you please give us some real-world usage examples?

[2019-06-03 17:55] gabrielschulhof commented on #374
@josephg can you please share with us real-world examples of where it is useful to have the JS function for thread-safe function be optional? We need such use cases to support the argument that this modification be considered stable and released with N-API 5.

[2019-06-03 18:42] KevinEady commented on #374
Hey @gabrielschulhof ,

My real-world example of TSFN with no function callback may be kind of specific, but hopefully generalizable. I'm working on embedding node into a native C++ application. I'm compiled nodejs statically, and linking it to my own executable. I call `node::Start` in a separate thread to run a script that executes a linked-module (via `process._linkedBinding`), creating a TSFN.

[2019-06-03 19:22] devsnek commented on #374
@gabrielschulhof I am not sure what uses it out in the wild but yesterday I wrote this and it worked like a charm https://github.com/devsnek/node/blob/f0e4e469e45bfa5398a881ecb2671529e1a2036b/src/node_wasi.cc

I'll try to find more usage around the interweb but it might take a day or two.

[2019-06-03 21:47] josephg commented on #374
@gabrielschulhof I'm using napi threadsafe function in the foundationdb bindings. Foundationdb queries resolve by calling a registered callback function on a thread owned by FDB. When this happens I need to:

- Extract the value from foundationdb's future object (if any)
- Pass the value back into javascript via an associated callback or future
- Cleanup foundationdb's future object
- ref / unref

[2019-06-04 03:12] jarrodconnolly commented on #374
@gabrielschulhof

I added the JS Date-related N-APIs for a couple of reasons.

There were a number of threads on the port of node-sqlite to napi talking about Date and Regex functions being missing and workarounds for them being missing.

https://github.com/mapbox/node-sqlite3/issues/830#issuecomment-389616856
https://github.com/mhdawson/node-sqlite3/pull/3

I still intend to add support for Rexex

[2019-06-04 03:12] devsnek commented on #374
It appears there is a good amount of ecosystem usage for bigint using this search: https://github.com/search?p=2&q=napi+bigint+-filename%3Atest_bigint.c+-filename%3Abigint.md&type=Code

[2019-06-04 21:58] mhdawson commented on #374
Unrelated but @devsnek would you have some time to talk about WASI/N-API?  From your example looks like you might have thought about this and I'm looking for some pointer for better understanding the potential longer term overlap or synergy.

[2019-06-04 22:21] devsnek commented on #374
they don't have any specific overlap, I just needed to expose `lseek` and I thought it would be nice to use napi for it.

[2019-06-04 23:32] cjihrig commented on #374
@mhdawson if you haven't seen it yet, https://github.com/nodejs/node/pull/27850 has @devsnek's WASI implementation. WASI defines a bunch of system calls that platforms provide to WebAssembly modules. Most of the system calls were able to be implemented using JavaScript and Node's public APIs. `lseek()` is missing from `fs`/libuv, so it was implemented in terms of N-API. Other than that, I don't th

[2019-06-05 01:12] josephg commented on #374
It’s a bit of an aside but, I’ve long wanted this. If we could combine n-api and wasi, native modules could be put in NPM with prebuilt binaries for all platforms. There’s some solutions at the moment with prebuildify and various CI systems but (hopefully) with wasi + napi we shouldn’t need any extra infrastructure to allow me to build a native module from my Mac laptop and have it work everywhere

[2019-06-05 04:18] devsnek commented on #374
consider me nerd-sniped :P

![](https://gc.gy/27413177.png)

[2019-06-06 03:21] devsnek opened #375 "napi wasm bindings"
@josephg brought up a cool idea in #374 to expose napi to wasm. This would allow shipping abi stable binaries that are also platform independent(!!)

my initial exploration shows that at most our in-core changes are basically adding `__attribute__((__import_module__("napi")))` to `NAPI_EXTERN` if `__wasm32` is defined.

We could ship the bindings themselves as a separate module or include them in

[2019-06-06 18:58] mhdawson commented on #375
@devsnek I was just talking to Lin Clark to set up a meeting between the N-API and WASM/WASI team to better understand.  I was thinking that interacting between a WASM module and JavasScript Objects etc. was something where N-API might fit in and it looks like that you are thinking along the same lines.

What I want to figure out if this fits/makes sense with what the WASM team is planning.

Right

[2019-06-06 19:02] devsnek commented on #375
i haven't uploaded napi anywhere yet but you can play with wasi by cloning this: https://github.com/nodejs/node/pull/27850

[2019-06-07 12:06] NickNaso commented on #371
Hi everyone,
if someone has time could take a look at this PR https://github.com/nodejs/node/pull/27835 in particular the last two comments? I need a feedback.

[2019-06-11 01:54] jschlight commented on #372
I've submitted both the workshop and the birds of a feather. Reviews will begin shortly and final notifications will be sent on Wednesday, July 31.

[2019-06-11 13:42] mhdawson commented on #372
I think we can close this now. Please re-open if you think that's incorrect.

[2019-06-11 13:42] #372 closed, assigned to jschlight

[2019-06-11 21:44] gabrielschulhof commented on #375
@devsnek I looked at the code in your PR and one thing I can't wrap my head around is how we would write a function that returns a JS value? All the examples AFAICT are self-contained programs that basically execute `int main(void) {}` from top to bottom.

N-API addons aren't really structured to be called from a `main()`.

I guess I'd love to see an example of a simple library written as a WASM m

[2019-06-12 00:40] devsnek commented on #375
@gabrielschulhof

if you have this:

[code]

it gets compiled to something like this in wasm:
[code]

then from js you can simulate a handle scope with an array
[code]

something like `napi_create_object` pushes a new value into the `scope` and returns the index.

you can see a mostly complete application of this concept here: https://gist.github.com/devsnek/db5499bf774f078e9ebb679680bd2cd1

So wh

[2019-06-13 18:44] mhdawson opened #376 "Interlock with WASM/WASI team"
I've been talking with the WASM team to set up an interlock so we can discuss the overlap or synergy between WASM/WASI and N-API.

Current target is to have some of the WASM team come to the meeting the ~~first week of July~~ second week of July as their team is very busy between now and then.

I've send out an invite and will update when its confirmed.

[2019-06-13 18:53] mhdawson commented on #376
Changed to second week of July as Monday of the first week is a Holiday in Canada.

[2019-06-13 21:37] mhdawson opened #377 "N-API feature suggestion to consider"
https://github.com/nodejs/node/issues/28196

[2019-06-14 22:24] gabrielschulhof commented on #374
@nodejs/n-api I think we should also mark `napi_add_finalizer()` as stable, because there is a clear need for it in `node-addon-api`. The wrapper works without it, but it pollutes the objects it creates.

[2019-06-14 23:55] OhadRau commented on #375
Hey just wanted to pipe in here since this is something I've been working on as well for the past few days. I'm approaching this a little differently, exposing N-API directly into WebAssembly using the Wasm C API (which just landed in V8's LKGR branch a few weeks ago). It's not immediately clear to me how all of N-API's functionality can be implemented in JS code alone, so I believe exposing N-API

[2019-06-15 00:11] devsnek commented on #375
(fwiw i also feel that the capi implementation is the ideal way to go, i just was going for a quick mvp as we don't have a version of v8 with the wasm capi in node yet.)

[2019-06-20 17:11] gabrielschulhof commented on #375
There may be another good reason to maintain a JS implementation of N-API, namely if we want to be able to run N-API addons in the browser. Unless V8 incorporates the N-API implementation we have in Node.js and makes it available as a WASM C API in the browser, we shall have to supply the JS implementation as a module that can be used to resolve a WASM-compiled N-API addon's `napi_*` symbols.

[2019-06-20 17:27] OhadRau commented on #375
Yep @gabrielschulhof I definitely think it's worth pursuing both options here and evaluating them against each other. There's a very good chance that the JS version ends up working better for us here. For example, the overhead of doing everything in JS might be lower than the overhead of using the "actual" N-API to interface with JS (working on benchmarking this still).

Since some N-API functiona

[2019-06-20 17:29] gabrielschulhof commented on #375
@OhadRau done ✓🙂 https://github.com/nodejs/node/blob/d0e2650/src/js_native_api.h

[2019-06-21 20:07] mhdawson commented on #375
As @gabrielschulhof mentioned about we've already separated out the Node and JS parts for this exact reason.

[2019-06-24 17:20] mhdawson commented on #373
So we have an issue for ProgressWorker but not PromiseWorker.  We need to open an issue in node-addon-api for creating a PromiseWorker equivalent.

[2019-06-24 17:24] mhdawson commented on #373
Seems like the only variant we need to prioritize ProgressWorker as Nan does not have PromiseWorker. Since we have nodejs/node-addon-api#473 I think we are good in terms of issues in the node-addon-api.  We have tagged it as help needed for now.

[2019-07-01 08:20] NickNaso commented on #346
Hi everyone,
 I want report that `farmhash` v3.0.0 is implemented by N-API.

[2019-07-03 16:46] NickNaso commented on #371
I’m closing this because the PR has been landed yesterday and the work now is on Node.js 12.6.0

[2019-07-03 16:46] #371 closed, assigned to nobody

[2019-07-03 18:01] mhdawson commented on #376
Should have posted here that it's happening today 3 EST

The regular N-API team zoom

https://zoom.us/j/363665824

Sorry, should have updated earlier but forgot to do that when it got moved up.

[2019-07-03 19:08] cjihrig commented on #376
I think the N-API meeting conflicted with the Modules team meeting and Zoom kicked us out.

[2019-07-03 20:49] mhdawson commented on #376
Yup we had to use alternate zoom links and unfortunately, I did not get a recording.  It was a good meeting thought.

Next step is to review the impl that Ohad is work on with @ofrobots once its available.

[2019-07-03 20:49] #376 closed, assigned to nobody

[2019-07-05 06:40] gabrielschulhof commented on #346
https://github.com/LinusU/fs-xattr/ is N-API as of version 0.3.0. (~8000 dl/week on npm).

[2019-07-05 07:11] gabrielschulhof commented on #346
https://github.com/websockets/bufferutil/ is N-API at least as of version 4.0.1 (~76900 dl/week on npm).

[2019-07-05 07:16] gabrielschulhof commented on #346
https://github.com/abbr/deasync/ is N-API at least as of version 0.1.25 (~206822 dl/week on npm).

[2019-07-05 07:20] gabrielschulhof commented on #346
Wading my way through this query:

~~https://github.com/search?p=3&q=napi_create_function+language%3AC+-filename%3Atest_function.c+-filename%3Abinding.c+-path%3Atest%2Faddons-napi+-path%3Atest%2Fjs-native-api+-path%3Atest%2Fnode-api&type=Code~~

https://github.com/search?p=11&q=napi_create_function+language%3AC+-filename%3Atest_function.c+-filename%3Abinding.c+-path%3Atest%2Faddons-napi+-path%3Ate

[2019-07-05 07:37] gabrielschulhof commented on #346
https://github.com/websockets/utf-8-validate is N-API at least as of version 5.0.2 (~72420 dl/week on npm).

[2019-07-06 06:29] gabrielschulhof opened #378 "New API to store per-addon-instance data"
Picking up from https://github.com/nodejs/node/pull/28464#issuecomment-508226398:

@addaleax:

You're right. It's not ergonomical. WDYT about the API below?

[code]

We are already using `can_call_into_js()` to determine whether it's safe to call into JS, so I think we can offer `napi_env` in the cleanup hook, and thus we can render it as a `napi_finalize`.

This API would have the added advantage

[2019-07-06 06:43] gabrielschulhof commented on #378
Also, @nodejs/n-api 🙂

[2019-07-06 06:47] gabrielschulhof commented on #378
Actually, we could store that shared data on the global like we're storing the `napi_env` now, and give `napi_env` a field like `shared` which would be initialized from `GetEnv()` or `NewEnv()` as it will likely be called.

[2019-07-06 18:12] addaleax commented on #378
@gabrielschulhof That sounds good to me :+1:

I’m not sure what your plans are for implementing per-module `napi_env`, but I’d assume that it would still point to a struct that works like the current (per-Context) `napi_env` object and represents that shared state.

[2019-07-06 18:38] gabrielschulhof commented on #378
@addaleax my idea is to have both a local component and a shared component such that they point to one another. Right now it looks like the shared component will still be called `napi_env` and get passed around, but it is the local component (`napi_local_env`?) that will be stored in `CallbackBundle`s and will have a pointer to `napi_env` to then pass around to the addon. I'm also thinking about a

[2019-07-07 19:57] addaleax commented on #378
:+1:

Can you explain why? On first thought it sounds like passing a pointer to the local environment (and letting that fill the role of the `napi_env` opaque pointer in the API) would be easier, and obviate the need for a pointer from the shared structure to the local one?

Yes, I would say so.

I could see an implementation deciding to unload addons e.g. when all of its exposed functions are gar

[2019-07-08 14:34] mhdawson commented on #378
My first thought was also that the `napi-env` pointing to the local environment was what would make sense.

[2019-07-08 17:49] mhdawson commented on #374
Initial PR's landed, backports in progress.

One backports land, will be one final round of PRs/backports to add add version 5 making the functions stable.

[2019-07-08 18:02] gabrielschulhof commented on #374
| feature | v12.x ✓ | v10.x✓ | ~~v8.x~~ |
|--- |--- |--- |--- |
| update matrix | `[x]`[29600][] | `[x]`[29643][]
| mark stable | `[x]` clean backport | `[x]`[29458][] |  |
| `napi_add_finalizer` | `[x]`[cf0e881][] | `[x]`[bb2bbc8][] | ~~`[ ]`[28296][]~~ |
| date object | `[x]`[13b1aaf][] | `[x]`[28298][] | ~~`[ ]`[28301][]~~ |
| optional TSFN callback | `[x]`[53297e6][] | `[x]`[28399][] | ~~`[ ]`

[2019-07-15 12:56] bpasero commented on #362
**jm2c**: took me almost half day to figure this out. How is this not documented on https://nodejs.org/api/n-api.html, at least as a hint?

In general I have to say, https://nodejs.org/api/n-api.html lacks some serious examples of the most basic things like having a method with some values passed in and a result value returned back. I have a frustrating experience migrating to N-API :-|

[2019-07-16 13:37] mhdawson commented on #362
@bpasero have you seen the examples in nodejs/node-addon-examples?

[2019-07-16 20:33] mhdawson opened #379 "hermes/jsi/N-API"
Wondering if there is any scope for interop for native modules.  Maybe that does not make sense in the context of hermes but worth thinking about.

[2019-07-16 20:36] mhdawson commented on #379
@willholen I seen you committed the first version of jsi.

 I was wondering if you'd looked at N-API (and more specifically the JavaScript generic part (https://github.com/nodejs/node/blob/master/src/js_native_api.h) and the corresponding C++ wrapper  https://github.com/nodejs/node-addon-api

Just wondering in the context of a path to re-use of existing native modules, but have not read enough abo

[2019-07-17 00:46] mhorowitz commented on #379
Hi.  @willholen asked me to comment on this issue.

We began work on the precursor to JSI in 2017.  I vaguely recall N-API coming up, but at the time it was either not yet announced, or still very new.  We also didn't expect at the time that JSI would become a public API like it is today.

For context, Hermes is designed for mobile use cases, such as React Native.  This involves a different set of

[2019-07-17 13:18] mhdawson commented on #379
Thanks for the context, if native modules are not going to be re-used in Hermes then seems less important.  Will close this issue for now and we can see if it would make sense at some point in the future.

[2019-07-17 13:18] #379 closed, assigned to nobody

[2019-07-17 20:30] NickNaso commented on #374
PR on `node-addon-api` repo that depends on this backport activity:

- [x] Support for date object https://github.com/nodejs/node-addon-api/pull/497

We have to land this PR only after we end the backport.

[2019-07-25 23:55] #378 closed, assigned to nobody

[2019-08-12 04:49] jschlight commented on #367
I've updated the comment above to reflect the responses we've received from the conference organizers.

[2019-08-12 17:13] mhdawson commented on #367
Node+JS Interactive - Workshop was accepted !
NodeConfEU - Declined.

Jim will start working on the new ones this week.

[2019-08-13 08:32] legendecas commented on #377
Just noticed that there is one message in [Contributing a new API to N-API](https://github.com/nodejs/node/blob/master/doc/guides/adding-new-napi-api.md):

On this consideration, how do we define an API is necessary or just one convenient API?

As for https://github.com/nodejs/node/issues/28196, setting `length` property to the created function object with existing APIs is possible. V8 has an API

[2019-08-13 21:41] mhdawson commented on #377
We should probably change that wording as we have decided that node-addon-api should mostly be a wrapper for N-API.

In any case I don't think it's easy to define a set of rules that will answer if an API is necessary or just one convenient API.

I'm on the edge with respect to #28196.  I don't think we absolutely need to add it, but I also think that we might have started with a version that incl

[2019-08-14 03:02] legendecas commented on #377
I have no strong opinions to #28196. I was just curious about if API evlution of minor additions to existing API like #28196 complying with current design pattern, and their impact on future N-API shapes.

[2019-08-14 17:48] mhdawson commented on #377
@legendecas thanks, hopefully I've answered your question.

[2019-08-14 20:32] NickNaso commented on #367
Hi @jschlight,
I post a little example that could be a base for a tutorial of how to use reference to Function or Object
[ref.zip](https://github.com/nodejs/abi-stable-node/files/3503242/ref.zip)

[2019-08-19 02:07] jschlight commented on #367
## Workshop Promotion

### Proposed OpenJS Foundation Release

Are you working on a Node native add-on? Or are you planning to? You should be aware of significant improvements to the N-API infrastructure including asynchronous operations, thread-safe functions, and context awareness. Gabriel Schulhof has a good overview of these improvements [here](https://medium.com/the-node-js-collection/new-fea

[2019-08-20 20:33] mhdawson commented on #367
@jschlight sounds good.  If you want to tweet that out I can then ask the Node.js account to retweet

[2019-08-20 20:35] mhdawson commented on #367
@jschlight, @gabrielschulhof I notice that the workshop only lists Nicola and myself  in the title/speakers.  Is that because you've not accepted the speaker role yet?  I have other talks so we should make sure you are listed as speakers (even if that means removing me) so that you get the free ticket...

[2019-08-25 17:13] legendecas commented on #373
Just found https://github.com/nodejs/node-addon-api/pull/477 noted that node-addon-api would prefer additional packages on topics not just a wrapper of n-api. Would AsyncWorker variants be considered merely additions to node-addon-api usage patterns but not wrappers of n-api?

[2019-08-26 13:35] mhdawson commented on #373
@legendecas the exception for "additions" that we've made while developing node-addon-api is that in order to facilitate transition from nan to node-addon-api, if there is functionality in nan then we've tried to have corresponding functionality in node-addon-api where it makes sense.

[2019-08-26 17:51] mhdawson commented on #353
Closed via nodejs/node-addon-api#231

[2019-08-26 17:51] #353 closed, assigned to nobody

[2019-08-26 18:34] NickNaso commented on #367
I sent the email to the organiser and I left them the email of @jschlight in case they need to ask you your bio and other things.

[2019-08-28 06:21] NickNaso commented on #367
@mhdawson @jschlight  Now the workshop lists me and @jschlight .

[2019-08-28 20:18] mhdawson commented on #367
:) @jschlight hope that helps you being able to make it.

[2019-08-29 20:54] mhdawson opened #381 "Building addons with cmake"
See: https://github.com/nodejs/node-addon-api/issues/445

Creating issue so we make sure to discuss, ideally when we have @jschlight in the meeting.

[2019-09-09 17:06] mhdawson commented on #377
Closing since I believe this is addressed

[2019-09-09 17:06] #377 closed, assigned to nobody

[2019-09-13 17:21] NickNaso commented on #346
I want report that the team of **[neon](https://github.com/neon-bindings/neon)** started working on N-API support. This is the PR to follow: https://github.com/neon-bindings/neon/pull/440 This will offer the possibility to implement native addon with Rust through N-API.

In the PR I found a discussion about module registration:

I proposed they to join to our weekly meeting if want to know some de

[2019-09-16 17:09] mhdawson commented on #381
Nicola, we should look at existing solutions like `cmake-js` and see if they need any updates to support node-addon-api.

Jim, the work he did for pre-build was for cmake-js.

Nicola, maybe we can move some of what Jim did for pre-build to cmake-js so that all dependencies can leverage that.

Jim, cmake-js is pretty generic, did not have to do much, only document what you needed there.

Nicola the

[2019-09-16 17:11] mhdawson commented on #375
@OhadRau, @ofrobots  any update on this?

[2019-09-16 17:15] mhdawson commented on #373
PR to add AsyncProgressWorker: https://github.com/nodejs/node-addon-api/pull/529

[2019-09-16 17:37] mhdawson commented on #346
We discussed this in the N-API team meeting today.  We agreed that the structure/napi_module_register is ABI stable. Michael will take action to create PR to document napi_module_register better.

However, @gabrielschulhof suggest that if they are going to use 10.x and later only, its better to use the newer option which uses an exported symbol as it does not need features like library constructor

[2019-09-19 14:17] gengjiawen commented on #381
`node-gyp` already support generate cmake config. I have used it in Clion, works pretty well (code autocomplete and debug).

[2019-09-20 03:35] gabrielschulhof commented on #346
We oughta maybe look into https://www.npmjs.com/package/zeromq

[2019-09-20 18:01] gabrielschulhof commented on #346
Another addon that could use a N-API port: https://github.com/libxmljs/libxmljs/

[2019-09-21 19:27] dherman commented on #346
I just want to thank you all for the generous help! The well-defined symbol approach is indeed much cleaner, simpler, and more future-proof for supporting multiple workers. Thank you all!

[2019-09-23 16:46] gabrielschulhof commented on #346
@dherman happy to hear it 👍

[2019-09-23 16:48] gabrielschulhof commented on #346
I compiled a list of N-API modules and their npm dls/week here: https://github.com/nodejs/node/pull/28428#issuecomment-533748682 I doubt any of the modules are ones we are unaware of, but at least they're all in one place there.

[2019-09-26 08:40] NickNaso commented on #346
I want report that from version 6 `sse4_crc32` https://www.npmjs.com/package/sse4_crc32 use N-API through `node-addon-api`.

[2019-09-26 13:42] mhdawson commented on #346
@NickNaso great to hear :)

[2019-09-27 18:52] jschlight commented on #381
I've added a comment here about building N-API addons using CMake.js: https://github.com/nodejs/node-addon-api/issues/445#issuecomment-536057129

[2019-09-30 17:29] mhdawson opened #384 "Consider adding to core documentation node-gyp, cmake, prebuild etc."
There have been some question about cmake, we've done work around prebuild Should there be a section in the core documentation?

[2019-09-30 17:31] mhdawson commented on #384
Jim will take a first cut.

[2019-09-30 17:32] mhdawson commented on #384
Possible location: https://nodejs.org/dist/latest-v12.x/docs/api/addons.html#addons_building

[2019-09-30 17:37] mhdawson commented on #367
@NickNaso will create slides for the workshop, starting with those we used the last time.

[2019-09-30 17:42] mhdawson commented on #367
Stuff to cover in intro deck:
* Thread safe functions
* Worker progress
* Context awareness
* AsyncWorker improvements
* Function and Object references
* Building (pre-build, cmake etc.)

Call to join/get involved.

[2019-09-30 17:52] mhdawson opened #385 "Propose code and learn session for node-addon-api testing"
Could use https://github.com/nodejs/node-addon-api/issues/332 as the starting point.

In advance @NickNaso also suggested we write a doc on "adding a test"

Intro
* What needs to be installed (share this in advance)
  (does the list already exist? same as for PR to node core)
* Short intro to the tests, how to run

Would want to
* Prioritize which ones to start with

[2019-09-30 18:11] mhdawson commented on #385
PR for proposal: https://github.com/openjs-foundation/code-and-learn/issues/5

[2019-09-30 22:03] jschlight commented on #381
During today's call we discussed the behavior of CMake.js when the underlying CMake executable is not installed. Here's what I found:

[code]

CMake.js displays a message instructing the user to install the CMake executable if it is not found.

[2019-10-01 13:01] mhdawson commented on #375
From @ofrobots, unfortunately, they did not get as far along as they would have liked but these are the patches: https://github.com/OhadRau/node-v8/pulls

[2019-10-01 17:50] mhdawson commented on #381
@jschlight thanks for checking that out. Great to see that it shows a good message.

[2019-10-07 17:16] mhdawson opened #386 "Add to Node Core documention"
Add to core documentation which covers 2 options for building your packages
  - gyp
  - cmake

Add to https://nodejs.org/dist/latest-v12.x/docs/api/addons.html#addons_building

Also talk about prebuild etc.?

[2019-10-07 17:20] mhdawson commented on #374
Everything is landed, just waiting on at SemVer minor release of 10.x to go out.

[2019-10-07 17:25] mhdawson commented on #367
@NickNaso will paste in link for new deck, Gabriel to add slide for Context awareness.

[2019-10-07 17:32] mhdawson commented on #288
Jim has been working on this for a while, see mapbox/node-sqlite3#830 for current state.

[2019-10-07 17:50] mhdawson commented on #386
Duplicate of https://github.com/nodejs/abi-stable-node/issues/384

[2019-10-07 17:50] mhdawson commented on #384
Some additional info in https://github.com/nodejs/abi-stable-node/issues/386

[2019-10-07 17:51] #386 closed, assigned to jschlight

[2019-10-08 22:07] jschlight commented on #386
It looks like the `Building` section on the proposed [C++ Addons documentation page](https://nodejs.org/dist/latest-v12.x/docs/api/addons.html) is part of a "Hello world" tutorial.

- Would it be better to create a new `Building` section on this page?

   https://nodejs.org/dist/latest-v12.x/docs/api/n-api.html

   It could go after `Usage`.

- Are there documentation guidelines for these pages? F

[2019-10-10 20:28] jschlight commented on #384
It appears that the `Building` section on the proposed page is part of a "Hello world" tutorial.

https://nodejs.org/dist/latest-v12.x/docs/api/addons.html#addons_building

- Does it make sense to add a new `Building` section on this page instead?

   https://nodejs.org/api/n-api.html

   It could go after the `Usage` section.

My plan is to create documentation at a fairly high-level, pretty much

[2019-10-11 19:18] mhdawson commented on #384
I'm not sure on the policy for linking out to other sites.  I think adding to https://nodejs.org/api/n-api.html to start does make sense.

[2019-10-14 17:02] gabrielschulhof commented on #359
https://github.com/nodejs/node/pull/25539 proposes an ABI checking scheme.

[2019-10-14 17:05] juanarbol commented on #367
I have two suggestions while the workshop is happening:

1. Explain that boilerplate required for running C/C++ code -it's more like and setup, no just boilerplate- (like binding.gyp, bindings package, etc) before jumping into Yeoman, It's good to have a context.

2. Instead of recommending attatch debugger to see what is happening inside, you could do it and explain a little bit what is going on.

[2019-10-21 16:02] NickNaso commented on #367
Hi everyone,
I started working on the slides  the work is not complete, but I provide to post the link here:
https://docs.google.com/presentation/d/1NNKhULBFOqJspy_VMZKP2W-kJTpw4DGsoOTKOEkKQts
I have question that I want to discuss today:
- Is it a good idea add section to explain how to organise a project for native add-on?
![Screenshot 2019-10-21 at 17 56 19](https://user-images.githubuserconten

[2019-10-21 16:39] juanarbol commented on #367
@NickNaso I think both are very nice ideas, I think also would be nice to explain `binding.gyp` file, explain all of that before jumping to Yeoman generator.

[2019-10-21 17:38] mhdawson opened #387 "Tracking issue for modules we've noticed are ported to Oct 2019 - Oct 2020"
Issue for 2018-2019 - (https://github.com/nodejs/abi-stable-node/issues/346)

[2019-10-21 17:38] mhdawson commented on #346
Closing as we have new issue for this year.

[2019-10-21 17:38] #346 closed, assigned to digitalinfinity

[2019-10-21 21:24] jschlight commented on #367
@NickNaso We should keep the information you include for https://github.com/nodejs/abi-stable-node/issues/367#issuecomment-544584301 in sync with https://napi.inspiredware.com/getting-started/first.html#Project-structure which is how the Yeoman generator creates a project.

I can add an introductory part explaining what is a native add-on to this page: https://napi.inspiredware.com/about/what.html

[2019-10-21 22:31] NickNaso commented on #367
I added slide n. 9 where I reported what native add-on is and in slide n. 10 I want explain how the all the things work in high level way. It's a good idea to write something about native add-on on the tutorial.

I will adapt slides n. 29 and 30 to be consistent with the output produced by the generator.

[2019-10-22 13:05] NickNaso commented on #367
Hi everyone,
I provided to update the information about the list of native add-ons to use in the workshop. I underlined in red the add-ons that already have a porting to N-API.
Here the link: https://docs.google.com/spreadsheets/d/1HopFSLMs5gj3G6_eBEZM2ET7oXKdokAF7VU2XZnzYGk
Feel free to add other add-ons to the list.

[2019-10-22 13:09] rolftimmermans commented on #367
FYI regarding https://github.com/zeromq/zeromq.js, there is a pull request (by me) that implements the library in N-API. https://github.com/zeromq/zeromq.js/pull/343

[2019-10-22 13:17] NickNaso commented on #367
Thanks to report I missed it, sorry. I updated now.

[2019-10-22 18:35] jschlight commented on #367
@NickNaso and others. Could I please get clarification on what topics should be included in the new `Asynchronous Operations` section that differ from those in the existing [`AsyncWorker`](https://napi.inspiredware.com/special-topics/asyncworker.html) section?

[2019-10-22 18:52] NickNaso commented on #367
My idea was to create an example for the [AsyncContext](https://github.com/nodejs/node-addon-api/blob/master/doc/async_context.md) .

[2019-10-23 09:04] NickNaso commented on #374
I want report that the new the version  10.17.0 is out see: https://nodejs.org/en/blog/release/v10.17.0/

[2019-10-24 19:51] jschlight commented on #381
The PR merge should have closed this issue? But maybe the automatic close does not work between repos?

[2019-10-24 19:51] #381 closed, assigned to nobody

[2019-10-24 21:43] mhdawson commented on #374
@gabrielschulhof given the 10.17.0 release can this be closed?