[2019-10-25 20:57] gabrielschulhof commented on #374
N-API 5 has landed in all versions in which it will be supported. Closing.

[2019-10-25 20:57] #374 closed, assigned to nobody

[2019-10-25 21:07] #384 closed, assigned to jschlight

[2019-10-27 17:11] gabrielschulhof commented on #387
@vweevers has created a list of native addons that are (not yet) ported to N-API. The list exists for a different reason, but I believe it is relevant to us because it gives us targets for which to evangelize and/or PR the move to N-API.

https://github.com/vweevers/about-native-modules

[2019-10-27 18:41] vweevers commented on #387
@gabrielschulhof I can extend the list if there's interest.

[2019-10-27 18:58] NickNaso commented on #387
@vweevers Yes please because we can use in our evangelism activities. We already have a list of native add-on here https://docs.google.com/spreadsheets/d/1HopFSLMs5gj3G6_eBEZM2ET7oXKdokAF7VU2XZnzYGk

[2019-10-27 19:08] gabrielschulhof commented on #387
@NickNaso I added sodium-native to the top of that list.

[2019-10-28 04:21] jschlight commented on #367
### New Workshop Sections

| Section | Status |
| ------------------------------------------------------------ | --------------------------------------------------- |
| [node-gyp](https://preview.napi.inspiredware.com/build-tools/node-gyp.html) | Ready for review. |
| [CMake.js](https://preview.napi.inspiredware.com/build-tools/cmake-js.html) | Ready for review. |
| [prebuild](https://preview.napi

[2019-10-28 10:23] NickNaso commented on #367
@jschlight I try to give you some opinions:
### node-gyp

It's not only Python 2.7 or 3.5+ that is requested to work with  **node-gyp**,  all depends on which operating system you are so I want be more generic and say that to use **node-gyp** developer needs to satisfy some requirements and link to the official documentation.
### CMake.js

Typo  **natove** should be **native**.

Typo **modeule** s

[2019-11-01 17:27] vweevers commented on #387
WIP: https://github.com/vweevers/about-native-modules#data

[2019-11-11 14:04] NickNaso commented on #367
Hi @jschlight,
I read the new section about the **object reference** and maybe it seems good.
I want change the **Weak** section https://preview.napi.inspiredware.com/special-topics/object-function-refs.html#Weak-Reference in something like this:

- Weak reference is a particular reference on which the internal reference count is initialised to 0. Weak reference are used to minimise the number of

[2019-11-15 05:24] KevinEady commented on #367
Hi @jschlight ,

I started working on the tsfn page. It is still in draft state... https://gist.github.com/KevinEady/112edab9a57e82bead0412a65a6c74ac   Is there some way I can move this to some shared Markdown site we have / maybe edit that TSFN page directly?

Todo:
- [ ] Example: I don't know what best example to give, as there are _so_ many different use cases and scenarios. For example, see ar

[2019-11-16 19:45] asfernandes commented on #336
What I don't understand: an initial thread count is passed, acquire increments and release decrements. How a correct number of aquire/release will make the thread count 0?

[2019-11-18 05:14] jschlight commented on #367
Thank you @KevinEady.

I've posted the contents of your gist to the preview tutorial site which you can see here: https://preview.napi.inspiredware.com/special-topics/thread-safe-functions.html

If it works for you, you can continue your work inside your gist and I can transfer it to the tutorial site when it's ready.

Up to this point, I've been maintaining the tutorial site myself. It's based on

[2019-11-18 16:13] mhdawson commented on #373
There is also AsyncProgressQueueWorker which should be addressed before we close this issue.  It is part of nan so we should consider adding it to N-API as well.

This is a PR doing that: https://github.com/nodejs/node-addon-api/pull/585

[2019-11-18 16:23] mhdawson commented on #367
@KevinEady from the discussion in the N-API team meeting today, we figured the best example we already have: https://github.com/nodejs/node/tree/master/test/node-api/test_threadsafe_function
and the equivalent in node-addon-api (https://github.com/nodejs/node-addon-api/blob/master/test/threadsafe_function/threadsafe_function.cc).

We discussed that we should probably copy that test to create an ex

[2019-11-18 20:14] KevinEady commented on #367
Hi @mhdawson ,

Sounds good! I'll work on that this week.

Kevin

[2019-11-19 15:40] mhdawson commented on #367
@KevinEady thanks!

[2019-11-21 03:04] KevinEady commented on #367
@mhdawson / @gabrielschulhof  The provided examples use static data eg. https://github.com/nodejs/node-addon-api/blob/master/test/threadsafe_function/threadsafe_function.cc#L12-L13  ... Is this okay for the example? Otherwise I want to use `ObjectWrap` to encapsulate this data so it's no longer static.

[2019-11-21 19:42] mhdawson commented on #367
It would probably be better to avoid static data unless it makes the result too complicated.

[2019-11-26 09:39] NickNaso commented on #367
I ended to update the list of native modules to use for porting activities at workshop.  Here the link: https://docs.google.com/spreadsheets/d/1HopFSLMs5gj3G6_eBEZM2ET7oXKdokAF7VU2XZnzYGk we have 45 add-ons.

[2019-11-26 17:17] vweevers commented on #387
In case y'all missed it: I also committed the data as JSON, to easily filter it. For example, to get the top 100 non-napi addons:

[code]

[2019-11-27 23:21] KevinEady commented on #367
Hi @jschlight I updated my [gist](https://gist.github.com/KevinEady/112edab9a57e82bead0412a65a6c74ac) with the example. Haven't touched the text yet though... Can the team review the example?

[2019-12-02 03:55] jschlight commented on #367
Thank you @KevinEady.

I've posted your gist to the preview tutorial site.

Let's plan to ask for reviews during tomorrow's weekly call.

[2019-12-02 17:17] NickNaso commented on #367
Preview of new design for the slides:
[presentazione-opt.pdf](https://github.com/nodejs/abi-stable-node/files/3912399/presentazione-opt.pdf)

[2019-12-03 16:00] mhdawson commented on #367
I like the new design.  I think we should add another page at the end which has the links for the workshop tutorials so that we can put that up to get people started.

Then maybe another page which has the link to the page where you have the modules that need to be ported so that we can put that up later on in the workshop?

[2019-12-03 16:39] NickNaso commented on #367
@mhdawson Ok i will provide to do that.
@jschlight will the final link for the workshop be https://napi.inspiredware.com/?

[2019-12-03 20:25] NickNaso commented on #367
Hi everyone,
I just shared the new format for the slides.
@mhdawson I added the slides that you asked (slide number 50).
@gabrielschulhof May I ask you to take a look at image on slide number 26, it could be good have the text in white.
Let me know if you want change something or you can do by yourself.

[2019-12-06 06:52] jschlight commented on #367
@mhdawson @gabrielschulhof @NickNaso @KevinEady

Hi all --

The last two remaining tutorials are now complete and ready for your review. Please post any suggestions here and we can discuss any remaining issues on Monday.

Here's a tweet that could go out Friday to get participants ready for the workshop:

Heads up: The link points to the preview tutorials which I'll make live for the workshop afte

[2019-12-06 21:06] NickNaso commented on #367
Hi @jschlight,
I set the links and QR code on the slides number 50.
- This is the link for the tutorials http://bit.ly/2P7HfdK that points to https://napi.inspiredware.com/
- This is the link for the list of modules to port http://bit.ly/2P80VxT that points to https://docs.google.com/spreadsheets/d/1HopFSLMs5gj3G6_eBEZM2ET7oXKdokAF7VU2XZnzYGk
We need to change the link on the slides or in the twit

[2019-12-09 16:14] mhdawson commented on #367
Latest version of the presentation for the workshop: https://docs.google.com/presentation/d/1kGzkj_4RqoE4YJ4I4XPdMLPcaiCHiJqLVL0nRBSUPhQ/edit

[2019-12-10 04:35] jschlight commented on #367
The update tutorial pages are now live at https://napi.inspiredware.com/

[2019-12-18 16:32] andreek commented on #387
Module websocket is considering to use napi versions of bufferutil and utf-8-validate: https://github.com/theturtle32/WebSocket-Node/pull/302#issuecomment-562740142

[2019-12-27 08:58] NickNaso commented on #334
Hi everyone,
recently I found this project: https://github.com/Tencent/Hippy. It contains a reduced and different implementation of N-API see: https://github.com/Tencent/Hippy/tree/master/core/napi.

[2020-01-13 16:08] mhdawson commented on #367
Workshop delivered we can probably close the issue now.

[2020-01-13 16:08] #367 closed, assigned to jschlight

[2020-01-13 16:19] mhdawson opened #390 "Evaluate if feature should be in node-add-api or not"
https://github.com/nodejs/node-addon-api/issues/639

[2020-01-13 21:01] jschlight opened #391 "Transfer the N-API tutorials into the OpenJS Foundation"
## Background

Since February 2018 I've maintained a website called [The N-API Resource](https://napi.inspiredware.com). The objective has been to have a central resource that contains guides that go beyond the basic core documentation. We've used this website to support the three N-API workshops we've presented so far.

When preparing the N-API workshop for the 2019 Node+JS Interactive conference

[2020-01-13 21:03] jschlight commented on #391
Hi everyone. I'm posting this here for comments and discussion during our weekly team meeting.

[2020-01-13 21:35] vweevers commented on #391
How about moving it to https://nodejs.org/en/docs/guides/?

[2020-01-13 23:00] mhdawson commented on #391
@vweevers another option might be a new tutorials section in the website?

[2020-01-14 08:26] vweevers commented on #391
Guide, tutorial, potato, potahto, I think? The reason I suggested it is because there's no setup involved. It's a matter of copying markdown files. If certain aspects like navigation need to be spruced up then existing guides will benefit from that as well.

[2020-01-17 20:13] jschlight commented on #391
I'd like whatever we do here to be of benefit to the larger Node.js community.

[2020-01-27 17:56] jschlight commented on #391
During our weekly call today, @gabrielschulhof mentioned that Node Core has discussed [RunKit](https://runkit.com/home) for documentation. There is an issue here: https://github.com/nodejs/node/issues/21723

[2020-02-07 21:50] jschlight commented on #391
As a first step, while we're deciding on a specific publishing strategy, I'd like to migrate all the example code used in the tutorials to the [nodejs/node-addon-examples](https://github.com/nodejs/node-addon-examples) repo.

Here's the table of existing examples:

| Section | Example | Location |
| ------- | ------- | -------- |
| A first project | `a-first-project` | Jim's hexo project. |
| Obje

[2020-02-10 16:34] gabrielschulhof opened #392 "Advocate the use of tags in addition to badges"
Our README.md already advocates the use of badges. Let's encourage the use of npm/github tags for packages using N-API/node-addon-api. That way, the addons using the tags would be more discoverable, and we would have a better overview of the state of the N-API ecosystem.

[2020-02-14 22:15] mhdawson commented on #392
Do you have a proposal for what the npm/github tags would be?

[2020-02-24 18:23] mhdawson commented on #391
Options for where to publish the workshop elements

* Nodejs.org
* Node.js core documentation
* node-addon-api repo
* node-examples repo - https://github.com/nodejs/node-addon-examples

Based on the discussion we think the best fit is the node-addon-examples repo.

[2020-02-24 18:28] mhdawson commented on #391
The idea is a new sub-directory called "tutorials" which would then have a directory for each tutorial.

[2020-02-25 19:49] KevinEady commented on #391
Hi @jschlight , I have migrated the example to a working package in node-addon-examples, pr https://github.com/nodejs/node-addon-examples/pull/127

I stuck with the same structure (addon.js, .cc, ...) so the file names do not match exactly from the tutorial but I think that is okay 😄

[2020-03-02 09:03] gabrielschulhof opened #393 "N-API 6"
The only outstanding backport for new N-APIs is https://github.com/nodejs/node/pull/31384 which brings `napi_get_all_property_names` to v10.x. Shall we wait until it lands to make off N-API 6 as including `napi_get_all_property_names`, or shall we leave `napi_get_all_property_names` experimental and roll N-API 6 without it?

Once we have arrived at a decision, we need to file a PR in core that bum

[2020-03-02 13:02] legendecas commented on #393
Since https://github.com/nodejs/node/pull/31384 has landed on v10.x-staging as https://github.com/nodejs/node/pull/31384#issuecomment-593361988, I'd believe we're going to roll N-API 6 with `napi_get_all_property_names` if there are no other issues arisen.

[2020-03-02 16:23] mhdawson commented on #393
@gabrielschulhof looks like we are ready to go

[2020-03-02 18:46] gabrielschulhof commented on #393
Excellent!

[2020-03-08 14:56] lovell commented on #387
Hi everyone, thanks for the effort you've made to get N-API stable and provide `node-addon-api` to ease working with it. You'll be pleased to learn that the latest version of [sharp](https://www.npmjs.com/package/sharp) has now migrated to it from `nan`.

According to the data in the linked https://github.com/vweevers/about-native-modules repo, it looks like `sharp` is now the most-downloaded nati

[2020-03-09 18:59] #393 closed, assigned to nobody

[2020-03-23 16:07] mhdawson commented on #373
PR landed, closing

[2020-03-23 16:07] #373 closed, assigned to nobody

[2020-03-23 16:28] mhdawson opened #395 "Next node-addon-api release"
https://github.com/nodejs/node-addon-api/issues/689

[2020-03-23 16:29] mhdawson commented on #385
Code-and-learn did not happen so closing.

[2020-03-23 16:29] #385 closed, assigned to nobody

[2020-03-28 06:53] legendecas opened #396 "Undefined behavior track list"
Strategies on undefined behaviors of N-API should be defined to reduce unexpected behaviors on different VM implementations and versions of Node.js.

- data pointer of a zero-length typed array can be null, https://github.com/nodejs/node/issues/32089

[2020-03-30 15:15] mhdawson commented on #391
Jim landed PR to get examples into node-addon-examples last week.

As next step he's going to document proposal for getting the labs into one of the repos/website etc.

[2020-03-30 15:17] mhdawson commented on #390
Child issue closed so closing.

[2020-03-30 15:17] #390 closed, assigned to nobody

[2020-03-30 15:20] gabrielschulhof opened #397 "Let's check on the status of the node-sass N-API port"
Re https://github.com/nodejs/abi-stable-node/issues/387

[2020-04-18 18:05] jschlight commented on #288
There is now a PR under active work. https://github.com/mapbox/node-sqlite3/pull/1304#

[2020-04-20 20:42] jschlight commented on #288
@NickNaso requested some benchmarks. Here are some rough numbers from the Mocha tests.

| Mocha Test                                                   | NAN  | N-API |
| ------------------------------------------------------------ | ---- | ----- |
| should return the correct lastID (insert 5000 rows)          | 102  | 111   |
| fuss-free incremental backups work                           | 193  |

[2020-04-26 23:32] jschlight commented on #391
The first example of the content migrated to a static website using Gatsby is available for review at:

https://xenodochial-meitner-2e429e.netlify.app/content/about/what

It still needs a lot of work, but I wanted to get this preview up for comments and suggestions.

[2020-04-27 15:29] gabrielschulhof commented on #387
I also noticed that simdjson was using node-addon-api.

[2020-04-27 20:39] jschlight commented on #288
The PR has landed.

[2020-04-30 01:11] jschlight commented on #288
Below is the results of the benchmarks I've run as we discussed at the most recent weekly meeting.

Two tests were run, one for **NAN** and one for **N-API**, both using Node.js v12.16.2. The **NAN** test was run using a pre-built, downloadable binary for the currently shipping `node-sqlite3` v4.2.0. The **N-API** test was run using a binary locally built from the current  `node-sqlite3` `master`

[2020-04-30 01:15] jschlight commented on #288
This is the raw data, in `JSON` format, used to create the table above .

[rawdata.txt](https://github.com/nodejs/abi-stable-node/files/4555630/rawdata.txt)

[2020-05-01 17:18] NickNaso commented on #395
We need to make one more 2.x release as requested here https://github.com/nodejs/node-addon-api/issues/646.

[2020-05-04 15:19] mhdawson commented on #288
PR has landed in sqlite repo so closing this.

[2020-05-04 15:19] #288 closed, assigned to nobody

[2020-05-05 12:26] gengjiawen commented on #391
We probably need a search function.

[2020-05-05 12:31] gengjiawen commented on #391
Also we can use github action to auto-deploy it https://github.com/nodejs/node-addon-api/pull/691/files#diff-2bf3c905e9c6203095ea31e889d43bfbR22.

[2020-05-05 21:17] gabrielschulhof commented on #391
@jschlight I found a nit:

https://xenodochial-meitner-2e429e.netlify.app/content/build-tools/cmake-js
-# define NPI_VERSION
+# define NAPI_VERSION

[2020-05-06 02:18] gengjiawen commented on #391
https://xenodochial-meitner-2e429e.netlify.app/content/build-tools/node-gyp

Python 2 part can be removed.

Not sure Gatsby is final choice. Any thought on https://docusaurus.io/en/ ?

[2020-05-07 00:36] jschlight commented on #391
We're looking at Gatsby because it's used by https://nodejs.dev.

I will look at Docusaurus, too.

[2020-05-08 18:19] mhdawson commented on #391
We had considered Gatsby first as it is being used by the Node.js redesign team and some consistency is good but will be interested to hear what @jschlight reports/thinks.

[2020-05-14 20:18] mhdawson opened #398 "Enabled debug testing for addons"
We should look at enabled testing of addons under debug in core.

[2020-05-22 14:23] NickNaso commented on #387
I want report this new **Rust** binding to **N-API**: https://github.com/napi-rs/napi-rs

[2020-05-22 22:59] jschlight commented on #391
I've deployed a new preview:

https://admiring-dubinsky-535d79.netlify.app/

This preview is generated from Gatsby using a different template from the one before. The big difference here is that the code samples are now embedded directly from examples repo.

We can discuss this site during the next N-API team meeting.

[2020-06-08 15:53] mhdawson opened #399 "NodeConf.EU workshop proposal"
NodeConf.EU is online-only this year.

NodeConf Remote will take place from 2nd – 6th November 2020. (Monday-Friday)

CFP closes July 27th.

[Main conference page](https://www.nodeconf.eu)

### Workshop details

We can request either a 1½ or 3 hour session.

The workshop can have one main speaker and up to three co-speakers.

The workshop will be offered during daytime hours in Dublin which is Iri

[2020-06-11 22:32] jschlight commented on #399
### Proposed Workshop Description

Harness the power of Node.js native addons by utilizing technology built into Node.js to combine the performance of C and C++ with the agility of JavaScript. In this workshop you’ll learn how to create a native addon that gives you access to existing C/C++ libraries or previously unavailable operating system capabilities.

This workshop, offered by experts from t

[2020-06-15 16:33] NickNaso commented on #399
I'm posting the link for the slides used in the last workshop:
https://docs.google.com/presentation/d/1kGzkj_4RqoE4YJ4I4XPdMLPcaiCHiJqLVL0nRBSUPhQ/edit?usp=sharing

[2020-06-22 14:06] NickNaso commented on #387
Implementation of webassembly code interfaces based on N-API https://github.com/yjjnls/napi-emscripten

[2020-06-29 15:48] gabrielschulhof commented on #398
@mhdawson can we add a field to our top-level CI job that would cause it to append `--debug` to the npm test command line that runs our tests?

[2020-07-01 15:54] jschlight commented on #288
`node-sqlite3` v5.0.0 with N-API support has been published to npm.

https://github.com/mapbox/node-sqlite3/releases/tag/v5.0.0

[2020-07-02 19:28] mhdawson commented on #398
@gabrielschulhof do you mean an option when you run the job which can add the --debug or not?  That might work, although I think in many cases we'd want Node.js to be compiled in debug which will be a challenge since right now we use the existing nightly builds instead of building Node.js

[2020-07-03 23:05] jschlight commented on #391
The site is now published from my fork to GitHub Pages:

https://jschlight.github.io/node-addon-examples/

The site is published to the `gh-pages` branch on the fork.

The next step is to create the GitHub Action necessary to automate the build and deployment of the site. This will be a challenge since the GitHub Action will need to commit and push to the `gh-pages` branch.

[2020-07-03 23:18] jschlight commented on #391
@gengjiawen I looked at Docusarus and it is a very nice piece of work. I particularly like that it is focussed on documentation. I'm continuing to proceed with Gatbsy for a couple of reasons:

- One of our prime requirements is being able to automatically include current source code from the repository into the documentation pages. Since the examples code is now regularly tested, this gives us con

[2020-07-04 09:15] gengjiawen commented on #391
@jschlight Thanks for the info.

[2020-07-06 15:04] mhdawson commented on #395
Release went out for 2.x so we can close out.

[2020-07-06 15:04] #395 closed, assigned to nobody

[2020-07-06 15:07] mhdawson opened #400 "Agree on time for next 3.x release"
See https://github.com/nodejs/node-addon-api/issues/759

[2020-07-06 15:21] mhdawson commented on #398
I think there is also this issue for adding debug testing in core. https://github.com/nodejs/build/issues/1854

[2020-07-06 15:24] mhdawson commented on #398
Next steps

- [x] Enable addon testing in existing debug CI runs -  nodejs/build#1854
- [ ] Create debug test for node-addon-api in node-addon-testing for single platform (linux) and master of Node.js.
- [ ] Consider if we should run on all LTS versions

[2020-07-06 15:35] gabrielschulhof commented on #387
@jschlight mentioned that sqlite3 v5.0.0 is running on N-API: https://github.com/mapbox/node-sqlite3/releases/tag/v5.0.0

[2020-07-08 16:34] NickNaso commented on #387
I contributed to port this module https://github.com/lovell/highwayhash the next release will be a N-API add-on.

[2020-07-10 15:41] jschlight commented on #391
The licenses for the website, based on Gatsby, are as follows:

[code]

The `Unlicense` is actually public domain.

[2020-07-13 15:42] mhdawson commented on #400
Should be a release today.

[2020-07-13 16:19] NickNaso commented on #400
I'm closing throw https://github.com/nodejs/node-addon-api/issues/759.

[2020-07-13 16:19] #400 closed, assigned to nobody

[2020-07-13 17:52] jschlight commented on #391
### Background notes on licensing

The contents of the `website` directory were created using the GitHub "Use this template" feature on the  [kata-ai/grundgesetz-skeleton](https://github.com/kata-ai/grundgesetz-skeleton) repository which is MIT licensed by [Kata.ai](https://kata.ai/).

Under the terms of the MIT license, I then modified the files in the `website` directory to create the tutorial s

[2020-07-13 19:30] mhdawson opened #401 "Review external examples"
I meant to try to review while the PR but just did not find time.
Doing what I probably should have done from the start, opening an issue here so if anybody else has time, they take a look: workshopper/goingnative#90

[2020-07-20 01:15] jschlight commented on #391
The PR with the website contents is very close to landing. The steps shown here will make it possible to rebuild and publish the website on every merge to the `master` branch. I'm able to accomplish this on my fork, but have been unsuccessful in creating a new orphan branch in the examples repo using the traditional pull request mechanism.

---

### 1. Create an orphan `gh-pages` branch

Here are

[2020-07-20 01:20] gengjiawen commented on #391
Actually, no token is needed. We can use github action for this.

See https://github.com/nodejs/node-addon-api/pull/691/files.

[2020-07-20 01:38] jschlight commented on #391
@gengjiawen The link to your GitHub Action is very helpful. It appears a value is passed in as `secrets.GITHUB_TOKEN` on line 24. Is that correct? It would be helpful to know 1. what the value is and, 2. how it's created. The steps I listed above worked in my fork, but may not be appropriate for https://github.com/nodejs/node-addon-examples.

[2020-07-20 01:42] gengjiawen commented on #391
It's auto injected by github action, so nothing is need to config :)

With this github action, it can also auto publish github pages when merged doc to master branch.

[2020-07-20 17:15] mhdawson commented on #391
@jschlight I've completed the steps in : https://github.com/nodejs/abi-stable-node/issues/391#issuecomment-660746044

and it looks like https://nodejs.github.io/node-addon-examples/ shows the right content.

[2020-07-20 19:13] jschlight commented on #391
@mhdawson Looks good! Thank you! The PR above adds the GitHun Action to rebuild and publish the site whenever there's a merge to `master.

[2020-08-03 15:54] gabrielschulhof opened #402 "N-API 7"
Might it be time for a new version of N-API?

We have the buffer detaching stuff marked as experimental in all three LTS releases, so we could just define these APIs as N-API 7.

We also have type-tagging and asynchronous env cleanup coming on master, but those still need to be backported. As v10.x approaches EOL it is increasingly unlikely that they will be backported all the way there. Thus, it

[2020-08-10 15:09] mhdawson commented on #399
Proposal submitted, just waiting to hear from the organizers one way or the other.

[2020-08-10 15:29] jasnell commented on #399
We will be making final selections on workshops soon

[2020-08-17 15:16] mhdawson commented on #402
We agreed:
*  that we should make buffer detaching stable in N-API 7
* that type-tagging and async env cleanp should wait until N-API 8, possibly around the Node.js 16.x release timeline.

[2020-08-17 15:23] mhdawson commented on #391
Done, its in place and gets automatically rebuilt when it a PR is made to the examples.

[2020-08-17 15:23] #391 closed, assigned to nobody

[2020-08-17 15:35] mhdawson opened #403 "Look at new time for team meeting"
Current poll: https://doodle.com/poll/iabxqqi2ymcni64c

[2020-08-24 15:16] mhdawson commented on #403
Review the doodle in the meeting agreed on Friday at 11 EST, 8 PST

[2020-08-24 15:16] #403 closed, assigned to nobody

[2020-08-28 21:21] andreek commented on #387
v1.0.32 has been released and is using N-API modules from ws project.

[2020-09-14 22:28] mhdawson opened #404 "New version of V8 causing failures in test_object"
https://github.com/nodejs/node-v8/issues/173

testing with V8 canary

[2020-09-14 22:31] mhdawson commented on #404
related tests https://github.com/nodejs/node-v8/issues/173

[2020-09-16 06:25] gabrielschulhof commented on #402
@Flarna asked that https://github.com/nodejs/node/pull/35214 be folded into N-API 7 because it's such a small change. Let's discuss at our next meeting.

[2020-09-18 15:22] mhdawson opened #405 "Blog post to discuss last few years of N-API"
We've made

Mention, weekly downloads, summary of current status

- Quote from each team members

[2020-09-18 15:23] mhdawson commented on #405
@NickNaso will add a google doc that we can write the post in.

[2020-09-25 12:52] NickNaso commented on #405
Here the link for the doc https://docs.google.com/document/d/1zZsbzeiHt7wG5FAjKOmrfp859EzWFuQCNXT_IhWMvBE

[2020-09-25 15:13] mhdawson opened #406 "Tracking for N-API PRs needing backport"
| status | PR | description/branch | backports |
|---|---|---|:---:|
| **complete** |  |  |  |
|  | https://github.com/nodejs/node/pull/37652 | **Node-API 8** |  |
|  |  | master | https://github.com/nodejs/node/commit/d15475578abfcc7e0a420719b8d55a6b3ab4f198 |
|  |  | v14.x |  |
|  |  | v12.x | https://github.com/nodejs/node/commit/93dd799a864c420c1ce1f9d1bac2ccde7c5ede1d |
|  |  | v10.x | not pl

[2020-09-25 20:53] mhdawson commented on #405
Thanks we missed talking about it in the meeting today, we can brainstorm next week or review content if people have already added.

[2020-09-28 17:17] jschlight commented on #399
I've received this note from NodeConf Remote letting us know our workshop proposal was not accepted.

[2020-09-29 19:52] helio-frota commented on #299
hi ,
I have this same issue https://github.com/helio-frota/sandwich/issues/8
I'm not sure if it helps, but I'm not using any 3rd library, my example is JS calling --> C++ --- that calls --> C

I was using nan, then I migrated to n-api

Sorry in case that is not same issue :+1:
thanks

[code]

[2020-09-30 23:02] mhdawson opened #407 "freeze/seal apis"
https://github.com/nodejs/node/pull/35359

[2020-10-02 04:35] jschlight commented on #387
I've updated Matteo's [`native-hdr-histogram`](https://github.com/mcollina/native-hdr-histogram) binding to N-API 3 using my automated binding tool. Now published at v1.0.0, the project is completely modernized using [`prebuildify `](https://github.com/prebuild/prebuildify) and GitHub Actions for testing, prebuild, and publishing.

[2020-10-02 13:23] mhdawson commented on #299
@helio-frota, This issue is quite old and sounds like it only affected versions before 10.x. I think opening a new issue would probably be best.

[2020-10-02 13:44] helio-frota commented on #299
@mhdawson makes sense, thanks.

[2020-10-02 13:51] helio-frota opened #408 "error munmap_chunk(): invalid pointer"
Hi,

I have an [example](https://github.com/helio-frota/sandwich) which I migrated from `nan` to `n-api`, and after the migration I'm seeing this error:

[code]

While I have no idea yet what `munmap_chunk(): invalid pointer` means, I'm still learning c/c++ so probably I can be
the cause of this issue :smiley: .  In other hand, the example is simple and don't uses any 3rd native dependencies, so m

[2020-10-02 14:09] NickNaso commented on #408
Hi @helio-frota,
which is your environment?
Es.
Node.js v 14.x
OS: Linux
arch: x64

Could I use the code that you linked to try to solve your problem?

[2020-10-02 14:23] helio-frota commented on #408
Hi @NickNaso

I'm using node v14.12.0 and ubuntu 20.04 x64, feel free to use the code :+1:

[2020-10-02 15:30] #399 closed, assigned to jschlight

[2020-10-02 18:56] NickNaso commented on #408
Hi @helio-frota,
I made a PR on the repo you linked in the issue after some changes all seems to work well.
I hope that this could be helpful to you.

[2020-10-02 19:05] helio-frota commented on #408
Thank you @NickNaso !
It is working fine, I'll learn with the changes you made. Also that approach with npx + cmake-js is much better :+1:

[2020-10-02 19:05] #408 closed, assigned to nobody

[2020-10-09 15:04] mhdawson commented on #407
PR has landed closing.

[2020-10-09 15:04] #407 closed, assigned to nobody

[2020-10-09 15:09] mhdawson commented on #404
Seems to be resolved, 173 is closed.

[2020-10-09 15:09] #404 closed, assigned to nobody

[2020-10-16 23:47] gabrielschulhof commented on #343
@jschlight do you think you could open up the Google slides doc for reading to anyone with the link?

[2020-10-17 02:21] jschlight commented on #343
Anyone with this link should now be able to view the slides:

https://docs.google.com/presentation/d/1nBw8QNWDzMe-8QEYSnvJDNPWYMvmbmUz-mtnGZuiWLE/

[2020-10-18 19:22] gabrielschulhof commented on #343
@jschlight thanks!

[2020-10-21 22:18] mhdawson opened #411 "Crash reported due to Node.js #34839"
https://github.com/nodejs/node/issues/35620
Reported as being due to: https://github.com/nodejs/node/commit/a6b655614f03e073b9c60f3d71ed884c5af32ffc

[2020-10-21 22:18] mhdawson commented on #411
@gabrielschulhof in case you have a chance to take a look before the meeting on Friday.

[2020-10-21 22:24] mhdawson commented on #411
@gabrielschulhof my first thought is that even if there is no user provided finalizer, we've still set it up for the gc to call a Finalize() in js_native_api_v8.cc and therefore there is a race condition if we delete when  reference->_finalize_callback is nullptr.

[2020-10-23 15:10] mhdawson commented on #402
All ready to go, just waiting next 10.x release and then we can close this.

[2020-10-30 15:10] mhdawson commented on #411
Closing since we discussed, and the revert is in place.

[2020-10-30 15:54] mhdawson commented on #402
Landed in 10.x, done !

[2020-10-30 15:54] #402 closed, assigned to nobody

[2020-10-30 15:54] #411 closed, assigned to nobody

[2020-11-19 03:41] gabrielschulhof commented on #405
Landed in https://nodejs.medium.com/building-modern-native-add-ons-for-node-js-in-2020-cd3992c68e0 😉

[2020-11-19 03:41] #405 closed, assigned to nobody

[2020-11-30 22:48] oshunter opened #412 "why the src/node_api.h and node_api_types.h head files were moved to the node repository"
The N-API is a good common abstract for native addons and it's common used on some other projects.
Such as the:
https://github.com/jerryscript-project/iotjs/tree/master/include
https://github.com/yodaos-project/ShadowNode/tree/master/include

And the latest Release 3.x.x，the N-API head files are removed to node repository src folder.
Is it possible to keep the head files on the node-addon-api repo

[2020-11-30 22:49] mhdawson commented on #412
@oshunter as an FYI transferred to the abi-stable-node repo so that I could put on our agenda to discuss in the meeting this Friday. I can transfer back after that.

[2020-12-07 18:47] mhdawson opened #413 "Use stale-bot for node-addon-api"
Adding so that we discuss in the next meeting (or in the issue in advance as well)

[2020-12-11 16:22] mhdawson commented on #412
We discussed this in the N-API team meeting today is this what you need:

1) Be able to install the headers from npm

2) Have the npm package contain the following files:
  js_native_api.h
  js_native_api_types.h
 node_api_types.h
 node_api.h

Which define the functions/types available through N-API

3) Experimental functions may be documented in the files, but the #define should not be used to ex

[2020-12-11 16:27] #397 closed, assigned to nobody

[2020-12-11 16:30] #387 closed, assigned to nobody

[2020-12-11 16:30] mhdawson opened #414 "Tracking issue for modules we've noticed are ported to Oct 2020 - Oct 2021"

[2020-12-17 17:34] mhdawson opened #415 "Stale issues in node-addon-api to discuss"
~~https://github.com/nodejs/node-addon-api/issues/449~~

[2020-12-17 17:38] mhdawson commented on #415
~~https://github.com/nodejs/node-addon-api/issues/541~~

EDIT: Closed as the requested methods are in N-API and latest release of node-addon-api

[2020-12-17 17:53] mhdawson commented on #415
~~https://github.com/nodejs/node-addon-api/issues/439~~

EDIT: Commented with our current thought

[2020-12-18 16:02] mhdawson commented on #413
Enabled stale bot, closing

[2020-12-18 16:02] #413 closed, assigned to nobody

[2020-12-18 19:06] mhdawson commented on #415
~~https://github.com/nodejs/node-addon-api/issues/413~~

[2020-12-18 19:11] mhdawson commented on #415
~~https://github.com/nodejs/node-addon-api/issues/301~~

[2020-12-18 19:12] mhdawson commented on #415
~~https://github.com/nodejs/node-addon-api/issues/258~~

[2020-12-31 18:51] jasnell opened #420 "renaming n-api to something more appropriate and descriptive"
`N-API` is a poorly selected name for the ABI-stable API for native addons. While the intent is for the name to be pronounced "En-Ay-Pee-Eye", it is most often colloquially reduced to "nappy", which -- if you're unfamiliar -- is term often used in English as a derogatory way describing the hair of black people. Aside from that, it's just not actually descriptive of what the API is for.

I'd like t

[2020-12-31 19:19] jasnell commented on #420
Let's make it a vote with emoji. 🎉 = S-ABI   🚀 = C-API   👎🏻  = status quo

[2020-12-31 19:24] Trott commented on #420
@nodejs/n-api

[2021-01-04 22:33] mhdawson opened #416 "Discuss https://github.com/nodejs/node/pull/36510"

[2021-01-04 22:41] mhdawson commented on #420
Will put on agenda of the N-API team for this Friday.

[2021-01-04 22:41] mhdawson opened #417 "Discuss https://github.com/nodejs/node/issues/36709"

[2021-01-04 22:48] mhdawson commented on #420
@jasnell, the files in src are `node_api.h`, `node_api_types.h` and despite being a bit longer it would likely be less confusing/more consistent to rename doc references to `node_api` or `node-api` than using C-API or S-API.

[2021-01-05 21:41] gabrielschulhof commented on #420
@mhdawson we have js_native_api.h for non-Node.js-specific APIs, so we could diverge this further into `node_api_*` and `js_api_*`.

[2021-01-05 23:22] mhdawson opened #418 "Discuss https://github.com/nodejs/node-addon-api/issues/870"

[2021-01-05 23:28] mhdawson commented on #420
@gabrielschulhof I'm not quite sure I follow.  The discussion is around replacing N-API in all of the docs with something else. I'm suggesting we use NODE-API to replace N-API versus the other suggestions based on the names of the include files.

[2021-01-06 07:39] gengjiawen commented on #420
n-api has been Node.js brand for a long time. Search engine, books, library author used it everywhere. It can have two names, but rename it will cost too much for community.
![image](https://user-images.githubusercontent.com/3759816/103741963-00b0af00-5035-11eb-8b53-b46eeee3f06f.png)

[2021-01-07 17:13] mhdawson opened #419 "Discuss mentoring"
Added so we cover in agenda. Go over recent email discuss if there are any concerns/suggestions/etc

[2021-01-08 16:34] mhdawson commented on #419
Discussed in todays meeting, no concerns people positive, closing

[2021-01-08 16:34] #419 closed, assigned to nobody

[2021-01-08 17:05] mhdawson commented on #420
From the discussion in the team meeting,

1) @jasnell were you suggesting that it would change all of the API call names (for example napi_create_buffer) as due to the ABI stability promises we cannot remove the existing symbols, they would have to be duplicated. Adding duplicate symbols could double the code space (if we inline common implementation) or slow things down requiring and additional c

[2021-01-08 17:07] jasnell commented on #420
No, not suggesting we rename or duplicate symbols, just do better as we go for ward from here. node_api works good as a name.

[2021-01-08 17:15] mhdawson commented on #420
@jasnell it sounds like what we might be able to do is:

* Make sure that when we talk about the API going forward we use NODE-API instead of N-API, do a careful pass through docs and use that where it won't cause broken links for existing references etc.
* Leave all methods, symbols etc as they are, while the goal of the steps from more consistently referring to the API as NODE-API leading to peo

[2021-01-08 17:35] addaleax commented on #420
Fwiw, these are all problems that can be easily solved by using `#define`.

[2021-01-08 18:12] mhdawson commented on #420
@addaleax using define was something that we discussed, from our understanding it can solve the names in the include files etc. but still leaves the symbols with the original names as what is exported by node. It would be another possibility for "partial" replacement but we wanted to understand what/how far @jasnell was suggesting we go before considering the different partial/full steps.

[2021-01-11 22:37] jasnell commented on #420
@mhdawson ... Yes, that sounds good. Using the `#define` approach for aliases would be ideal, I think.

[2021-01-15 16:31] mhdawson commented on #418
Discussion taking place in PR, going to close this.

[2021-01-15 16:31] #418 closed, assigned to nobody

[2021-01-15 17:24] jschlight commented on #420
@mhdawson Since the N-API team has decided to move forward with this initiative, does it make sense to create a new issue on https://github.com/nodejs/abi-stable-node and organize our work there instead of continuing this issue? We could just rename https://github.com/nodejs/abi-stable-node/issues/417 and pickup from there.

[2021-01-15 22:01] mhdawson commented on #420
If @jasnell is ok with it I can just move this issue over to the abi-stable-node repo ?

[2021-01-15 22:19] jasnell commented on #420
Go for it

[2021-01-19 12:24] NickNaso commented on #414
I want to report this project **[napi-nim](https://github.com/andi23rosca/napi-nim)** that allows to write NodeJS native extensions in Nim.

[2021-01-19 23:05] jschlight commented on #420
As we are moving forward with this initiative, I thought I'd collect some ideas for further discussion and planning by the N-API team and others. Here are some aspects we need to consider:

- Have we decided on `NODE-API` as the new name? - YES
- What is our pattern for naming new symbols? - use node_api_ instead of napi_ to prefix new symbols
- What is our approach for existing symbols? - leave a

[2021-01-21 17:30] mhdawson opened #421 "Rename primary branch to main"
Github tooling is in place to do this. Unless there are objections I'll go ahead and do it.

Once we do that we should also do for node-addon-api

[2021-01-22 14:09] mhdawson opened #422 "Talk submission for OpenJS World?"
[OpenJS World 2021](https://openjsf.org/openjs-world-2021) takes place virtually starting June 9, 2021 as a combination of live keynotes and prerecorded talks.

The [CFP](https://linuxfoundation.smapply.io/prog/openjs_world_2021_/) closes ~~February 15, 2021~~ extended to February 22, 2021. CFP Notifications March 24, 2021.

[2021-01-22 16:09] mhdawson commented on #422
Maybe something based on

https://nodejs.medium.com/building-modern-native-add-ons-for-node-js-in-2020-cd3992c68e0

Starting ideas:

Title: Building Modern Native Add-ons for Node.js in 2021

Abstract: Jim is going to take a first pass...

[2021-01-22 16:14] mhdawson commented on #416
We've discussed and agreed on the way forward which is documented in https://github.com/nodejs/node/pull/36510, closing.

[2021-01-22 16:14] #416 closed, assigned to nobody

[2021-01-22 16:27] mhdawson commented on #421
Discussed in meeting, turns out we don't even have a master branch in abi-stable-node, so we are good!

In terms of node-addon-api a few things we will also need to change

1) Jenkins job, default branch to test - https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api-new/
2) Github actions for the linter - https://github.com/nodejs/node-addon-api/blob/master/.

[2021-01-22 17:00] mhdawson commented on #417
moved 36709 to this repo so closing.

[2021-01-22 17:00] #417 closed, assigned to nobody

[2021-01-22 23:55] jschlight commented on #421
This is just a note to document a change that should be made at some time in the future. The `node-addon-api` `README.md` file has number of links to the `master` branch on `node-addon-examples`. IIUC, GitHub will "fixup" these links for us. But we may want to go back at some point and update these links after `node-addon-examples` has adopted the default `main` branch.

[2021-01-26 22:46] mhdawson commented on #421
- [X] Jenkins job, default branch to test - https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api-new/
- [x] Github actions for the linter - https://github.com/nodejs/node-addon-api/blob/master/.github/workflows/linter.yml
- [x] Heads up on readme (in process of updating docs)
- [X]  Fix up docs - Jim will do that.

[2021-01-26 22:54] mhdawson commented on #421
Will leave open for a few days to see if we run into any issues.

[2021-01-28 21:37] jschlight commented on #422
## Preliminary Abstract

~~Quickly get up to speed on all the latest improvements to Node-API, the Node.js core technology that enables the creation of Node.js native add-ons based on C and C++ APIs. Since it’s introduction in 2017, Node-API (previously N-API), and the supporting ecosystem, has continued to evolve and improve to meet the needs of the larger Node.js community.~~

~~This fast-paced

[2021-01-28 21:42] gabrielschulhof commented on #422
Sounds great! Nit: There's one superfluous "permit"

[2021-01-29 22:13] mhdawson commented on #422
My suggested edit:

Quickly get up to speed on developing modern Node.js native addons. This fast-paced talk, presented by members of the Node-API team and of interest to both novice and experienced native add-on developers, covers a number of recent improvements to Node-API and supporting tools.

Support for multi-threaded and asynchronous programming in Node-API has been significantly improved.

[2021-02-01 15:51] mhdawson opened #423 "Discuss - https://github.com/nodejs/node-addon-api/pull/889 - slimmed down files"

[2021-02-02 20:42] mhdawson commented on #421
@jschlight in terms of the references to node-addon-examples somebody mentioned today in another call that we can update to refer to HEAD instead of main and that will work both before/after the rename.  If that works we don't have to wait to do the updates in node-addon-api

[2021-02-03 18:27] jschlight commented on #421
Excellent! I've created a PR that implements this. https://github.com/nodejs/node-addon-api/pull/898

[2021-02-04 16:56] gabrielschulhof commented on #420
At today's TSC meeting we concluded that, for the time being, we will replace documentation references to N-API with Node-API, stopping short of providing C preprocessor aliases for our symbols and public macros. We may make deeper changes if, after these changes, we feel that further changes are warranted.

[2021-02-04 23:13] jschlight commented on #422
I'm adding this preliminary outline for discussion by the N-APi Team.

## Preliminary Outline

- **Introduction**
- **Multi-Threaded and Asynchronous Programming** (AsyncWorker, AsyncProgressWorker, Thread-safe functions) – Kevin
- **Context-sensitivity** (NAPI_MODULE_INIT(), napi_get_instance_data(), napi_set_instance_data(), Addon<T>) – Gabriel
- **Additional helper methods** (Date objects, BigI

[2021-02-05 16:08] mhdawson commented on #421
node-addon-api is done.  The remaining repos include:

- [ ] node-addon-examples
  - [ ] github yaml for website - https://github.com/nodejs/node-addon-examples/blob/master/.github/workflows/website.yml
  - [ ] 6 doc links

@jschlight will take a look and update.

[2021-02-05 16:35] mhdawson commented on #423
Discussed, commented in issue, closing.

[2021-02-05 16:35] #423 closed, assigned to nobody

[2021-02-05 16:45] mhdawson opened #424 "Discuss - https://github.com/nodejs/node/issues/32463"
backing store issue.

[2021-02-05 21:26] jschlight commented on #420
These are projects that facilitate the building of Node-API modules. Some of them include documentation that refers to N-API.

### Docs
- [x] N-API resource - http://nodejs.github.io/node-addon-examples/
- [x] node-addon-api - https://github.com/nodejs/node-addon-api

### Related Node-API Build Tools

- [x] [`node-gyp`](https://github.com/nodejs/node-gyp) – Documentation does not refer to `N-API`.

[2021-02-12 16:02] mhdawson commented on #424
Some details of investigation/issue in https://github.com/node-ffi-napi/ref-napi/issues/54 where Gireesh had a smaller recreate.

[2021-02-15 20:15] jschlight commented on #422
The deadline for the submission has been extended to February 22, 2021. I have the submission in process waiting for @KevinEady's info.

As it turns out, the abstract is limited to 900 characters. So I've whittled down Michael's edit even further.

## Abstract as currently submitted

Quickly get up to speed developing modern Node.js native addons. This fast-paced talk, presented by members of the

[2021-02-17 04:39] jschlight commented on #422
I just submitted our proposal complete with Kevin's information. Fingers crossed!

[2021-02-17 22:36] mhdawson commented on #415
~~https://github.com/nodejs/node-addon-api/issues/830#issuecomment-780216120~~

[2021-02-19 16:11] mhdawson commented on #421
We believe this is done, closing.

[2021-02-19 16:11] #421 closed, assigned to nobody

[2021-02-19 21:38] mhdawson commented on #415
~~https://github.com/nodejs/node-addon-api/issues/229#issuecomment-780957257~~

Striking out for now because there does not seem to be a reasonable way forward without engine support.

[2021-02-26 16:09] mhdawson opened #426 "Blog post about transition to Node-API"
Short article on Node.js medium

[2021-03-05 16:07] gabrielschulhof commented on #426
@NickNaso will send out a link to team members for us to brainstorm on the content.

[2021-03-11 00:29] mhdawson opened #427 "Discuss https://github.com/nodejs/node-addon-api/pull/902"

[2021-03-12 16:15] mhdawson commented on #426
Here is the doc from @NickNaso https://docs.google.com/document/d/1leEUX_yasYlGJ8XxClfZqgpLwGUu_9Ortzphr2zn7sY/edit

[2021-03-25 09:20] NickNaso commented on #420
Should we change the blog posts we wrote for the Node.js Collections?

[2021-03-25 13:35] mhdawson commented on #420
@NickNaso I think we are probably ok leaving those as is.

[2021-03-26 15:32] mhdawson commented on #427
closing since we've discussed and agreed on the way forward.

[2021-03-26 15:32] #427 closed, assigned to nobody

[2021-03-26 15:39] mhdawson commented on #424
The issue reference is resolved, closing.

[2021-03-26 15:39] #424 closed, assigned to nobody

[2021-04-16 00:00] jschlight commented on #422
Our session proposal was accepted by OpenJS World! I'm reopening this issue for discussion at the next Node-API Team meeting.

This is the link to the OpenJS World 2021 Virtual Speaker Guide:

https://openjsf.org/openjs-world-2021/openjs-world-2021-virtual-speaker-guide/

[2021-04-16 14:53] jschlight commented on #420
One last thing I see that should be fixed is the GitHub About box for https://github.com/nodejs/node-addon-api

[2021-04-16 15:06] mhdawson commented on #422
Yay!

[2021-04-16 15:22] mhdawson commented on #420
@jschlight - DONE

[2021-04-16 15:23] mhdawson commented on #420
Looks like we are done based on update from @jschlight in last Node-API team meeting, closing.

[2021-04-16 15:23] #420 closed, assigned to nobody

[2021-04-16 15:25] mhdawson commented on #401
We are likely just not going to get to this, already published, so closing.

[2021-04-16 15:25] #401 closed, assigned to nobody

[2021-04-23 15:09] mhdawson commented on #422
Nick will sent out a link so we can start building the slide deck.

[2021-04-26 10:39] NickNaso commented on #422
I share the link for the team:
https://docs.google.com/presentation/d/122ZD8wXo4hTw-S3qVmukLkwkWJdGOEMK2bnOvk9KWVw/

[2021-04-30 15:40] mhdawson commented on #426
@NickNaso sent email to Foundation staff, planned to be published next Monday.

[2021-05-07 00:48] KevinEady commented on #422
Hi team @mhdawson @NickNaso @gabrielschulhof,

I would like some guidance about the focus of examples / code demonstrations in the slideshow. Should they be Node-API focused (eg. `napi_create_async_work` and `napi_create_threadsafe_function`) or node-addon-api focused (eg. `AsyncWorker` / `AsyncProgressWorker` and `ThreadSafeFunction` / `TypedThreadSafeFunction`)

Thanks, Kevin

[2021-05-07 15:22] mhdawson commented on #426
Blog post published here: https://nodejs.medium.com/renaming-n-api-to-node-api-27aa8ca30ed8

closing.

[2021-05-07 15:22] #426 closed, assigned to nobody

[2021-05-21 15:05] mhdawson commented on #422
Recording is submitted, closing

[2021-05-21 15:05] #422 closed, assigned to nobody

[2021-05-21 18:45] StephenLynx commented on #420
This is stupid and unnecessary friction.

[2021-05-27 06:21] FrankFang commented on #420
There is an old Chinese saying "吃饱了撑得没事干".
It means "what you are doing is wasted effort"

[2021-06-03 17:06] legendecas opened #429 "Thread safety of napi_threadsafe_function"
There are raised issues around the thread-safety lifetime management of napi_threadsafe_function: https://github.com/nodejs/node/issues/38775.

This is a tracking issue so that we can prioritize the discussion on this in the node-api team meetings. Please comment on their original issues.

[2021-06-04 15:12] KevinEady commented on #415
~~https://github.com/nodejs/node-addon-api/issues/912~~

[2021-06-26 14:01] #275 closed, assigned to nobody

[2021-07-14 08:10] KevinEady commented on #415
~~https://github.com/nodejs/node-addon-api/issues/965~~

[2021-07-23 07:50] KevinEady commented on #415
~~https://github.com/nodejs/node-addon-api/issues/805~~

[2021-07-30 08:36] NickNaso commented on #415
~~https://github.com/nodejs/node-addon-api/issues/855~~

[2021-08-10 21:48] mhdawson opened #430 "Ask for review of node-serialport Node-API port - https://github.com/serialport/node-serialport/pull/2305/files"
In https://github.com/serialport/node-serialport/issues/1186#issuecomment-894448550 the OP asked if any of the Node-API team would be able to take a look at:

https://github.com/serialport/node-serialport/pull/2305/files

[2021-08-27 15:30] mhdawson commented on #430
@NickNaso and @KevinEady have started to review, Thanks !

[2021-09-09 15:20] mhdawson commented on #415
~~Would like us to review - https://github.com/nodejs/node-addon-api/pull/1026 in the meeting if possible. Not stale but would be good to progres.~~

[2021-09-13 19:20] mhdawson commented on #415
~~https://github.com/nodejs/node-addon-api/pull/930~~

[2021-09-24 14:07] mhdawson commented on #415
https://github.com/nodejs/node-addon-api/issues/1000#issuecomment-926251778

[2021-09-28 09:20] NickNaso commented on #414
I want o report this project **[napi-cs](https://github.com/EYHN/napi-cs)** an experimental tool chain for build NodeJS modules with .NET 6.0 and C#.

[2021-11-02 14:02] mhdawson commented on #415
https://github.com/nodejs/node-addon-api/issues/965#issuecomment-956962060

[2021-11-12 16:18] mhdawson opened #431 "Drive towards full coverage"
Next steps
1- Blog post to point to the issues we have open to encourage external help.

[2021-11-12 16:18] mhdawson commented on #337
We've opened issues for all of the tests we need add, closing. Follow on work will be in: https://github.com/nodejs/abi-stable-node/issues/431

[2021-11-12 16:18] #337 closed, assigned to nobody

[2021-11-13 12:28] KevinEady commented on #415
https://github.com/nodejs/node-addon-api/issues/1027

[2021-11-13 20:19] NickNaso commented on #414
I want o report this project [zig-nodejs-example](https://github.com/staltz/zig-nodejs-example) an example on how to build NodeJS modules with Zig.

[2021-11-15 15:23] mhdawson commented on #415
https://github.com/nodejs/node-addon-api/pull/1026

[2021-11-15 15:28] mhdawson commented on #415
https://github.com/nodejs/node-addon-api/pull/874

[2021-11-15 15:29] mhdawson commented on #375
I think at this point we should close this issue and we can create a new one if there is a future effort.  Please let us know if you think that was not the right thing to do.

[2021-11-15 15:29] #375 closed, assigned to nobody

[2021-11-15 15:31] mhdawson commented on #324
Since there has been no interaction/recreate of this in 3 years I'm going to close this. Please let us know if that was not the right thing to do.

[2021-11-15 15:31] #324 closed, assigned to digitalinfinity

[2021-11-15 15:32] mhdawson commented on #311
@gabrielschulhof do you think we still need to keep this open? It's been a few years and we've not had any external requests for it.

[2021-11-15 15:39] mhdawson commented on #310
@gabrielschulhof I think since we've not revisited this for a number of years we can assume our earlier conclusion covers the comment and close this issue. What do you think?

[2021-11-15 15:40] mhdawson commented on #234
Closing since Chakra is no longer active. Please let us know if you think that was not the right thing to do.

[2021-11-15 15:40] #234 closed, assigned to nobody

[2021-11-15 15:41] mhdawson commented on #236
Closing since Chakra is no longer active, please let us know if you think that was not the right thing to do.

[2021-11-15 15:41] #236 closed, assigned to nobody

[2021-11-15 15:42] mhdawson commented on #235
Closing since Chakra is no longer active, please let us know if you think that was not the right thing to do.

[2021-11-15 15:42] #235 closed, assigned to nobody

[2021-11-15 15:44] mhdawson commented on #246
I think we've closed on what we were going to do on this one. Closing, please let us know if you think that was not the right thing to do.

[2021-11-15 15:44] #246 closed, assigned to nobody

[2021-11-15 15:44] mhdawson commented on #151
Closing out since ChakraCore is no longer active, please let us know if that is not the right thing to do.

[2021-11-15 15:44] #151 closed, assigned to nobody

[2021-11-15 15:45] mhdawson commented on #2
We are long past this stage, closing. Please let us know if you think that was not the right thing to do.

[2021-11-15 15:45] #2 closed

[2021-11-15 15:46] mhdawson commented on #12
This issue is long stale closing. Please let us know if you think this was not the right thing to do.

[2021-11-15 15:46] #12 closed

[2021-11-15 15:47] mhdawson commented on #22
This issue is long stale, closing. Please let us know if you think that was not the right thing to do.

[2021-11-15 15:47] #22 closed, assigned to nobody

[2021-11-15 15:49] mhdawson commented on #317
Since there was no response for  a number of years and the answer was that the case was likely covered closing. Please let us know if you think that was not the right thing to do.

[2021-11-15 15:49] #317 closed, assigned to nobody

[2021-11-15 15:54] mhdawson commented on #25
Looks like these have all been addressed long ago, closing. Please let us know if that was not the right thing to do.

[2021-11-15 15:54] #25 closed, assigned to digitalinfinity

[2021-11-15 15:58] mhdawson commented on #102
The coverage in  https://coverage.nodejs.org shows as

97% for js_native_api_v8.cc and js_native_api_v8.h.

We also have efforts with lots of open test issues in node-addon-api as well as this issue to puruse fuller cover there: https://github.com/nodejs/abi-stable-node/issues/431

I think we can close this. Closing please let us know if you think that was not the right thing to do.

[2021-11-15 15:58] #102 closed, assigned to nobody

[2021-11-15 16:00] mhdawson commented on #24
Unfortunately looks like this stalled out. Closing, please let us know if you think that is not the right thing to do.

[2021-11-15 16:00] #24 closed, assigned to nobody

[2021-11-15 16:02] mhdawson commented on #112
I think that at this point we can close this since it's been a number of years and we have not action-ed (We have made many changes, introduced MACROs etc. though). Closing please let us know if you think that was not the right thing to do.

[2021-11-15 16:02] #112 closed, assigned to nobody

[2021-11-15 16:04] mhdawson commented on #200
Looks like related PR landed, closing.

[2021-11-15 16:04] #200 closed, assigned to sampsongao

[2021-11-15 16:06] mhdawson commented on #308
We've made a long of improvements since this was opened both in the node-addon-api docs as well as the in the core Node.js docs. I think this can now be close. Closing, please let us know if you think that was not the right thing to do.

[2021-11-15 16:06] #308 closed, assigned to nobody

[2021-11-15 16:07] mhdawson commented on #245
I think we are past this effort and we should open a new issue if we decided to do more outreach to larger modules.

[2021-11-15 16:07] #245 closed, assigned to nobody

[2021-11-15 16:33] mhdawson commented on #261
Closing since there has not be a response for quite some time. Please let us know if that was not the right thing to do.

[2021-11-15 16:33] #261 closed, assigned to nobody

[2021-11-15 16:37] mhdawson commented on #279
I think some of the issues have been addressed and it has been quite some time. I'm going to close this, please open a new issue  either in the nodejs/node repo or nodejs/node-addon-api repos if the problems are still present for your use cases.  Please let us know if you think that was not the right thing to do.

[2021-11-15 16:37] #279 closed, assigned to nobody

[2021-11-15 16:38] mhdawson commented on #285
Progress has been made and this is now covered in https://github.com/nodejs/abi-stable-node/issues/431

[2021-11-15 16:38] #285 closed, assigned to nobody

[2021-11-15 16:39] mhdawson commented on #290
Closing since this was answered and there has been no follow up for quite some time. Please let us know if that was not the right thing to do.

[2021-11-15 16:39] #290 closed, assigned to nobody

[2021-11-15 16:40] mhdawson commented on #287
This was a great FYI but I think it can now be closed. Closing, please let us know if you think that was not the right thing to do.

[2021-11-15 16:40] #287 closed, assigned to nobody

[2021-11-15 16:43] mhdawson commented on #295
I'm going to close this as there has been no discussion for quite some time. @Flarna if this is still an issue I'd suggest opening an issue in the nodejs/node repo. Closing. Please let us know if you think that was not the right thing to do.

[2021-11-15 16:43] #295 closed, assigned to nobody

[2021-11-15 16:44] mhdawson commented on #296
There have been no additional comments since the last repose a number of years ago, closing. Please let us know if you think that was not the right thing to do.

[2021-11-15 16:44] #296 closed, assigned to nobody

[2021-11-15 16:45] mhdawson commented on #299
Based on latest discussion closing.

[2021-11-15 16:45] #299 closed, assigned to nobody

[2021-11-15 16:51] mhdawson commented on #318
I'm going to close this as there has been no follow up from the op for quite some time. Closing, please let us know if that is not the right thing to do.

[2021-11-15 16:51] #318 closed, assigned to nobody

[2021-11-15 16:53] mhdawson commented on #323
Closing since there has not been a response for quite some time. Please let us know if you think that was not the right thing to do.

[2021-11-15 16:53] #323 closed, assigned to nobody

[2021-11-15 16:54] mhdawson commented on #327
Looks like the related PR has landed. Closing.

[2021-11-15 16:54] #327 closed, assigned to nobody

[2021-11-15 16:57] mhdawson commented on #334
We created this repo to externalize the tests - https://github.com/nodejs/js-native-api-test. I think this issue can be closed and initiative to get that working can be handled by issues in that repo.

[2021-11-15 16:57] #334 closed, assigned to nobody

[2021-11-15 16:59] mhdawson commented on #392
@gabrielschulhof is this something we should still persue?

[2021-11-15 17:00] mhdawson commented on #352
We've not done this for a number of years, closing.

[2021-11-15 17:00] #352 closed, assigned to nobody

[2021-11-15 17:05] mhdawson commented on #350
We now have actions which run the addon-example testing so I'm going to close this.

[2021-11-15 17:05] #350 closed, assigned to nobody

[2021-11-15 17:12] mhdawson commented on #342
@jorangreef I've not noticed there has been no reply for a very long time. Sorry about that.

If this is still an issue could you create an issue in the nodejs/node repo along with a reference to the source code we can use to recreate?  We now look at issues there and in node-addon-api regularly in the weekly Node-API team meeting.

I'm going to close this one. Please let us know if that was not t

[2021-11-15 17:12] #342 closed, assigned to nobody

[2021-11-15 17:14] mhdawson commented on #330
Looks like backport PR landed and we have improved the handling of how new functions are added since Node-API went stable. Closing, please let us know if you think that was not the right thing to do.

[2021-11-15 17:14] #330 closed, assigned to nobody

[2021-11-15 17:16] mhdawson commented on #315
I think we can close this. We've not actioned it for a number of years. Closing, please let us know if you think that was not the right thing to do.

[2021-11-15 17:16] #315 closed, assigned to nobody

[2021-11-15 19:09] Flarna commented on #295
As of now we stick on these v8 APIs and a few more others. It's not a problem as of now as we still have the ABI guarantee with a major nodejs version.
I haven't spent a lot thought on this since I created the issue. Maybe I will create a PR to add them at some time in future.

[2021-11-15 20:44] mhdawson commented on #252
Submitted - https://github.com/nodejs/node/pull/40821 for reported instance.
Leaving open as we should look for other cases where we can add the optional info.

[2021-11-19 08:46] NickNaso commented on #415
https://github.com/nodejs/node-addon-api/issues/1042

[2021-11-25 09:11] NickNaso commented on #415
https://github.com/nodejs/node-addon-api/issues/979

[2021-11-26 16:44] mhdawson commented on #431
@jckxia has a draft for the blog post, will send to rest of team members through email to discussion/review.

[2021-11-29 20:27] mhdawson commented on #252
Submitted https://github.com/nodejs/node/pull/41021 to close out the remaining places that needed an update.

[2021-12-03 16:59] mhdawson commented on #224
We've not worked on this for 3 and 1/2 years and there has also not been related problems reported so we agreed to close this issue and open a new one if/when we plan to work on it. Please let us know if that was not the right thing to do.

[2021-12-03 16:59] #224 closed, assigned to nobody

[2021-12-03 17:02] mhdawson commented on #311
With type tagging this is less necessary and we've not implemented in a number of years so we agreed to close in the Node-api team meeting today. Please let us know if that was not the right thing to do.

[2021-12-03 17:02] #311 closed, assigned to nobody

[2021-12-03 17:04] mhdawson commented on #310
We've had a few related discussions but there have been alternate solutions in those cases so we agreed to close in today's Node-API meeting.

[2021-12-03 17:04] #310 closed, assigned to nobody

[2021-12-03 21:19] #252 closed, assigned to sampsongao

[2021-12-10 16:15] mhdawson commented on #431
Link with blog post for commenting/editing https://docs.google.com/document/d/1uqy-DGRks6RMO3xPVx1Iyywk7h6rSdGg/edit

[2021-12-17 16:17] gabrielschulhof commented on #430
The PR was merged and released as 10.0.0 under the beta flag.

[2021-12-17 16:17] #430 closed, assigned to nobody

[2022-01-18 21:53] mhdawson opened #432 "Discuss Node-API addition https://github.com/nodejs/node/pull/41329#issuecomment-1015667899"
Discuss Node-API addition https://github.com/nodejs/node/pull/41329#issuecomment-1015667899 as per our contributing guidance.

[2022-01-21 16:33] mhdawson commented on #432
Discussed and comments made on PR.

[2022-01-21 16:33] #432 closed, assigned to nobody

[2022-02-04 16:19] mhdawson commented on #414
1302 dependents 4 Feb 2022

[2022-02-06 12:00] vweevers commented on #414
Updated: https://github.com/vweevers/about-native-addons/blob/main/data.md

[2022-02-07 22:42] mhdawson commented on #414
@vweevers thanks for that data, very interesting.

What does the number under `Preb.` mean. The number of pre-built binaries that are provided?

[2022-02-07 23:31] vweevers commented on #414
Aye

[2022-02-09 13:47] KevinEady commented on #415
Not stale but adding as a reminder to discuss: https://github.com/nodejs/node-addon-api/issues/1127

[2022-02-25 16:59] gabrielschulhof commented on #281
We discussed a possible solution to the accumulation of native finalizers during a tight loop that creates wrapped objects here:

https://github.com/nodejs/node-addon-api/issues/1140

[2022-03-04 16:14] mhdawson commented on #415
https://github.com/nodejs/node-addon-api/issues/1106

[2022-03-04 16:14] mhdawson commented on #415
https://github.com/nodejs/node-addon-api/issues/1104

[2022-03-14 19:03] mhdawson opened #435 "Regular hang in Running test 'typed_threadsafe_function/typed_threadsafe_function_sum'"
For example - https://ci.nodejs.org/job/node-test-node-addon-api-new/5552/nodes=debian8-64/console

[code]

Just hangs until it times out 30 or more minutes later.

Seems to occur regularly on debian, but have also seen on other linuxes.

[2022-03-14 19:03] mhdawson commented on #435
Also seems to occur in older version of Node.js (ex seen in 12.x) so most likely a change in the node-addon-api versus in Node.js

[2022-03-24 15:55] mhdawson commented on #415
https://github.com/nodejs/node-addon-api/issues/1114#issuecomment-1076942174

waiting on addition of sample to examples repo.

[2022-04-27 16:01] NickNaso opened #436 "Node-API v9"
Might it be time for a new version of Node-API?

We added the following new features:

- node_api_symbol_for (https://github.com/nodejs/node/blob/master/src/js_native_api.h#L96)
- node_api_create_syntax_error (https://github.com/nodejs/node/blob/master/src/js_native_api.h#L120)
- node_api_throw_syntax_error (https://github.com/nodejs/node/blob/master/src/js_native_api.h#L377)
- node_api_get_module

[2022-05-02 21:59] mhdawson commented on #436
+1 from me

[2022-05-03 08:05] KevinEady commented on #415
https://github.com/nodejs/node-addon-api/issues/1119

[2022-05-06 15:32] mhdawson commented on #436
Discussed in the node-api team meeting this week. Lets think about it this week and the decide in the next meeting.

[2022-06-03 15:46] mhdawson opened #437 "Better coverage of node-api in Youtube"
It was mentioned that a search on youtube shows videos which are still mostly non node-addon-api. We should work to improve that.

[2022-06-06 12:49] NickNaso opened #438 "Node-API add-on build"
Node-API is an ABI stable API independent from Node.js version. The build of a native add-on needs only the headers file for Node-API so it's not necessary download all the headers file for a specific Node.js version. We created the package [node-api-headers](https://www.npmjs.com/package/node-api-headers) to help in the process of building a native add-on.
The first project that I know that adopt

[2022-06-06 18:04] Julusian commented on #438
I'll reply to https://github.com/nodejs/node-api-headers/issues/3#issuecomment-1147396890 over here, as it feels like a better place to continue discussion

At this stage, the experimental apis are not something I have thought about, so I dont have any insight on how I think they should be handled.
My main focus has been on wrapping native libraries as npm packages (https://www.npmjs.com/package/@

[2022-06-10 15:33] KevinEady commented on #438
We discussed in the 10 Jun Node API meeting to include the experimental APIs under a new `EXPERIMENTAL` property like @NickNaso suggested in https://github.com/nodejs/abi-stable-node/issues/438#issuecomment-1147731207 . This property will include all of the previous version's symbols as well, since someone using experimental APIs would only target the most recent Node API version. It doesn't make

[2022-06-14 16:14] mhdawson commented on #438
Since the content of `EXPERIMENTAL` can change there is not guarrantee that any build made with `EXPERIMENTAL` will work with the latest version (the APIs can be removed or modified while experimental).  I think it's safer to not include them in the separate headers but if we do documentation should make it clear that anything that uses that option make break with any future version.

[2022-06-17 15:12] mhdawson opened #439 "Add list of non C language bindings to Node.js doc"
There are a few non-c language bindings. Would be good to add a list to the Node.js core docs so that people know they can use other languages in addition to C/C++

[2022-06-17 15:12] mhdawson commented on #439
@NickNaso can you add the ones that you are aware of to this issue?

[2022-06-17 15:14] mhdawson commented on #439
This is where we think adding would make sense - https://nodejs.org/dist/latest-v18.x/docs/api/n-api.html

[2022-06-17 15:20] mhdawson commented on #437
@nodejs/addon-api if you have thoughts on what videos would make sense to create or existing content that we should promote.

[2022-06-17 15:21] mhdawson commented on #437
1 to promote - https://www.youtube.com/watch?v=4cCSPw-I0GE

[2022-06-17 15:21] mhdawson commented on #437
Suggestion, walk through the existing examples in the examples repo in a video

[2022-06-17 15:22] mhdawson commented on #437
Another suggestion projections into other languages

[2022-06-21 08:24] NickNaso commented on #439
Here some Node-API binding of non C language:
- Rust
  - **[napi](https://github.com/napi-rs/napi)** Deprecated in favor of **napi-rs**
  - **[napi-rs](https://github.com/napi-rs/napi-rs)**
  - **[napi-sys](https://github.com/napi-rs/napi-sys)**
  - **[neon](https://github.com/neon-bindings/neon)**
  - **[nodejs-sys](https://github.com/elmarx/nodejs-sys)**
- Swift
  - **[swift-napi-bindings](https

[2022-06-24 15:58] KevinEady commented on #437
We discussed in the 24 June 2022 Node API meeting, that it would be beneficial to find some vloggers that are interested in developing addons using Node-API in order to promote the API usage. If there are people that have videos / other promotions using NAN or V8 APIs directly, we can contact them to see if they are interested in doing a similar one in Node-API.

[2022-07-01 15:31] KevinEady commented on #415
https://github.com/nodejs/node-addon-api/issues/1109

Waiting on documentation update.

Documentation landed,

@gabrielschulhof is working on test of Threadsafe function in ObjectWrap.

Good next step would be to add to examples in node-addon-examples, which could use that test starting point.

Today waiting on release of node-addon-api.

Release has been made, @gabrielschulhof can look and confir

[2022-07-06 08:23] NickNaso commented on #414
[Bun](https://github.com/Jarred-Sumner/bun)  JavaScript runtime that uses JavaScriptCore as JavaScript engine implements Node-API functions (about 90%).

[2022-07-08 15:18] mhdawson commented on #437
We discussed in the meeting this week and opened, https://github.com/nodejs/social-team/issues/7

@NickNaso has volunteered to start working on some videos so we wanted to agree on where best to post them.

[2022-07-12 06:33] NickNaso commented on #415
https://github.com/nodejs/node-addon-api/issues/1066

[2022-08-06 07:38] NickNaso commented on #414
There is a PR to add Node-API in Deno https://github.com/denoland/deno/pull/13633

[2022-08-18 12:49] NickNaso commented on #414
**[Veil](https://github.com/lightsourceengine/veil)** https://github.com/lightsourceengine/veil is a NodeJS-like runtime for running JS apps on a wide range of hardware. It implements Node-API see: https://github.com/lightsourceengine/veil/tree/main/src/napi

[2022-09-09 15:44] mhdawson opened #440 "Document how to check for memory leaks in addon/default leak."
Add to Node.js api docs

1) info on checking addons for memory leaks
2) that by default you will see one leak as outlined in - https://github.com/nodejs/node/issues/44518

[2022-09-12 17:38] mhdawson commented on #415
https://github.com/nodejs/node-addon-api/issues/1119

~~blocked on feature bits/runtime semantics~~

Plan is to
1) Change default for flag that controls `force_node_api_uncaught_exceptions_policy` to true for future version of Node-api
2) Document that developers can add a listener for unhandled exceptions to suppress the termination of the process if needed.

@legendecas has submitted - https://g

[2022-09-23 15:12] mhdawson commented on #439
Nick will:

1. create new page in abi-stable-node repo which lists the bindings
2. PR in a link to that page in the Node.js core API documentation

[2022-09-23 15:21] mhdawson commented on #437
* Some ideas for video:
  * What is Node-API, what are Node addons?
  * Getting started with Node-API (simple hello world example)
  * Node-API, node-addon-api under the hood
  * Follows ons for any of the example in node-addon-examples repo
  * Contributing/tests effort
* Find some existing videos
 * build page in abi stable node repo.
* put links those on page somewhere?  Add link to Node.js API

[2022-09-24 17:52] Julusian opened #441 "Electron 21 breaks api compatability with some modules"
Blog post about the change: https://www.electronjs.org/blog/v8-memory-cage, coming to v21, not 20 like the post states.

Essentially calls to `napi_create_external_buffer` fail with
[code]

To me this goes directly against the promises of node-api, as 5 of 5 of the native modules I have contributed to will not work in electron 21 without changes.

I don't know if people here have any sway over at

[2022-09-30 15:15] KevinEady commented on #437
- Additional ideas for videos:
    - Explain how to perform debugging of native modules and JavaScript code (simultaneously?)

[2022-09-30 15:31] KevinEady commented on #415
https://github.com/nodejs/node-addon-api/issues/1095

[2022-09-30 15:42] KevinEady commented on #415
https://github.com/nodejs/node-addon-api/issues/1140

~~blocked on feature bits/runtime semantics~~

Plan is to
1) For future Node-API version make creation of finalizers default to `pure` by default
2) Add additional API that developers can use to run JavaScript in `pure` finalizer

This will affect an addon as it opts into the future Node-API version which includes this change.

@vmoroz the impl

[2022-10-07 11:20] NickNaso commented on #414
Deno v1.26.1 added Node-API https://github.com/denoland/deno/releases/tag/v1.26.1

[2022-10-07 15:13] KevinEady commented on #439
We discussed on the 7 Oct Node API meeting, is it possible to document a list of other Node API JavaScript engine bindings as well? Documentation pages for:
- Node API bindings for other languages
- Node API bindings for other engines

[2022-10-07 15:55] KevinEady commented on #415
https://github.com/nodejs/abi-stable-node/issues/441 (maybe related to https://github.com/nodejs/node/issues/44111) ?

[2022-10-14 15:37] mhdawson commented on #441
We had some good discussion and talked about what we might be able to do that would be useful.

The only thing we have in mind so far might be to add a #define that can be used to exclude `napi_create_external_buffer`  so that it is easier for package authors to know if there are going to be problems on runtimes that no longer suppoirt it.

We'll think more about it and discuss again next week.

I

[2022-10-14 18:04] Julusian commented on #441
Yeah, I think that a define would be a good help here. That will at least help those who are aware enough to enable it.
Hopefully a discussion can be had over whether `node-addon-api` should enable that define by default in a future release.

Yeah, now that it is in a stable release I dont expect they would.
But hopefully a discussion can be started with them to coordinate changes in the future. A

[2022-10-14 22:33] mhdawson commented on #441
@Julusian I do agree it would have been nice for some co-ordination with the Node-API team to have been done up front. The more implementers we have the more important that becomes. Where there specific people that you talked to on the electron side who might be good people to reach out to?

[2022-10-15 14:22] Julusian commented on #441
All the discussion I have had with the elcecton team has been in an issue https://github.com/electron/electron/issues/35801

[2022-10-20 22:27] mhdawson commented on #441
@Julusian thanks for the pointer to the issue/discussion.

[2022-10-20 22:30] mhdawson commented on #441
This comment from https://github.com/electron/electron/issues/35801

Is worth discussing in the next Node-api team meeting.

[2022-10-25 22:00] mhdawson commented on #441
Created this PR to do what we discussed in the last node-api team meeting - https://github.com/nodejs/node/pull/45181

[2022-10-28 15:14] mhdawson commented on #437
From discussion in the meeting today, it would be good to add to this issue links to some existing presentations. Some include:

https://www.youtube.com/watch?v=-Oniup60Afs
https://www.youtube.com/watch?v=BrJcsYjp8Nw
https://www.youtube.com/watch?v=-v4Q0y4CeRA
https://www.youtube.com/watch?v=4cCSPw-I0GE
https://www.youtube.com/watch?v=UtWP2iR3_DQ
https://www.youtube.com/watch?v=E848bgHfoxE

[2022-11-04 14:24] NickNaso commented on #438
Proposal to sue `node-api-headers` in `node-gyp` https://github.com/nodejs/node-gyp/issues/2736

[2022-11-11 16:11] KevinEady commented on #437
We discussed in the 11 Nov Node API meeting of "where do we put links to videos".

We believe the best approach would be something similar to what we plan for the Node bindings list, where we:
1. create new page in abi-stable-node repo which lists the videos
2. PR in a link to that page in the Node.js core API documentation

[2022-11-11 16:20] KevinEady commented on #441
We discussed this in the 11 Nov Node API meeting.

Since https://github.com/nodejs/node/pull/45181 has been merged, there is no additional work for the Node API team regarding this issue. We can close this issue @mhdawson .

[2022-11-14 19:14] mhdawson commented on #441
@KevinEady at this point we just need the PRs to be backported to earlier release lines, but I'm ok with closing.

[2022-11-16 00:41] jasongin commented on #439
Here's another project: https://github.com/jasongin/napi-dotnet

It is also experimental and incomplete. Compared to `napi-cs` this allows for much simpler and more natural C# code, with automatic exporting of public properties, methods, and classes. I'm not sure I'll spend a lot more time on it unless others find it useful.