[2016-09-30 20:00] mhdawson opened #1 "ABI stable module ports"
We are working on a number of ports of modules to the ABI Stable PoC.  This issues is to provide links to to those ports:

| Module | Status | Link | Branch |
| --- | --- | --- | --- |
| node-sqlite3 | Work in progress | https://github.com/mhdawson/node-sqlite3/tree/v3.1.4-abi | v3.1.4-abi |
| node-nanomsg | Done | https://github.com/sampsongao/node-nanomsg/tree/api-opaque-prototype | api-opaque-p

[2016-09-30 20:03] mhdawson opened #2 "ABI Stable API - milestones"
We've been making some progress on the ABI stable API (will provide an update in WG  meeting https://github.com/nodejs/api/issues/22)

This is to capture the current view of some of the major milestones for PoC:
- [x] First example running
- [x] All NaN examples running
- [x] Module lifecycle methods
- [ ] Robust Object life-cycle handling
- [x] Create/GetData methods for all primitive javascript

[2016-10-06 22:05] mhdawson opened #3 "Next weekly meeting - Friday Oct 14 @ 2PM EST"
This is the hangout for the next meeting : https://plus.google.com/u/0/events/c0eevtrlajniu7h8cjrdk0f56c8

[2016-10-12 10:07] gabrielschulhof opened #4 "WIP: Common module registration for all versions of node"
Not sure if I'm on the right track, but here's some code that will call a module's init on all versions of node from 0.10 to 4.5.0 (at least). I haven't yet dealt with passing the arguments that Init receives in a node-agnostic fashion, but hence the WIP :)

[code]

[2016-10-12 10:10] gabrielschulhof commented on #4
[gist](https://gist.github.com/gabrielschulhof/e4d2bed23cf035548718fe4b6abbd032)-ed it so I can move it forward.

[2016-10-12 11:07] gabrielschulhof commented on #4
I guess there'll be buy-in from node which takes care of Init ...

[2016-10-12 11:45] gabrielschulhof commented on #4
Observations:

  * In 0.10 we have to add ```node::addon_abi_register_func``` to the end of ```node_module_struct``` to maintain binary compatibility (branch api-prototype-0.10.40)

  * On master, I'm not sure how we can maintain binary compatibility since the ```node_module``` structure ends in a link to another module. I suppose we could just tack the function to the end just like in 0.10, but i

[2016-10-13 20:54] mhdawson commented on #4
@sampsongao I know you were going to look at this as well.

[2016-10-15 01:57] sampsongao commented on #4
Yes, but after some discussion in today meeting, we think node-0.12 might be a easier to achieve the goal. So I plan to port node-0.12 next week and then try again.

[2016-10-17 22:07] mykmelez commented on #3
@mhdawson Is the next meeting happening this Friday, October 21, at 2pm Eastern?

[2016-10-21 20:35] mykmelez commented on #3
I tried going to this URL at 3pm eastern today (October 21), but it returned a 404. I'd love to attend the next meeting, whenever it happens. Please keep me in the loop!

[2016-10-21 20:48] mhdawson commented on #3
I guess you were hit by the ddos issues today.  It seemed ok for the rest of us.  I won't be there next week but hopefully you can catch up with the rest of the team.  @aruneshchandra, @sampsongao could you two send @mykmelez you direct contact info so he can ping you if he has troubles getting in next week ?

[2016-10-21 20:50] sampsongao commented on #3
Contact me at sampsong@ca.ibm.com if you have trouble getting in.

[2016-10-21 21:32] mykmelez commented on #3
Hmm, I did have trouble loading this page from GitHub. But then I remembered that I'd emailed the Google Plus URL to a colleague, so I retrieved it from that message.

And I had no trouble loading the Google Plus page itself. Its domain resolved, and the page loaded quickly, just as it had a few days ago. The server just returned a 404 page, which is also what it did a few days ago, and what it st

[2016-10-22 01:31] sampsongao commented on #3
might be the problem of invitation. Can you send me your google account so that I can send you an invitation.

[2016-10-23 19:55] mykmelez commented on #3
Hmm, after signing into Google+ with my myk@mykzilla.org account (the same one I use for GitHub), I received a different page, which said I needed an invitation. I then pressed the button to request one, so presumably there's an invitation request pending.

[2016-10-25 19:02] sampsongao commented on #3
might be the problem of invitation. Can you send me your google account so that I can send you an invitation.

Sampson

________________________________
From: Myk Melez <notifications@github.com>
Sent: October 21, 2016 5:32:37 PM
To: nodejs/abi-stable-node
Cc: Shuangfan Gao; Mention
Subject: Re: [nodejs/abi-stable-node] Next weekly meeting - Friday Oct 14 @ 2PM EST (#3)

I guess you were hit by th

[2016-10-25 19:45] mykmelez commented on #3
@sampsongao There should be an invitation request pending, per https://github.com/nodejs/abi-stable-node/issues/3#issuecomment-255610265, but in any case the Google account you can use to send me an invitation is myk@mykzilla.org.

[2016-10-26 02:25] sampsongao commented on #3
Can you see the event page now?

[2016-10-27 01:45] agnat opened #7 "Add local PR to improve visibility"
Hi,

could you do me a favor and add a local PR to your development branch (api-prototype ?). I'd like to follow the development and having a PR makes browsing the change set nice and easy.

[2016-10-28 21:46] aruneshchandra opened #8 "Measure NAPI perf for nanomsg perf benchmark"

[2016-10-28 21:49] aruneshchandra opened #9 "Module Registration and Initialization API for Node v0.10"
Node v0.10 differs from rest of the later Node versions in Module registration and initialization functionality.  NAPI module registration needs to account for node v0.10.

[2016-10-28 21:52] aruneshchandra opened #10 "Node-ChakraCore support for NAPI using JSRT APIs"
Current NAPI implementation works with Node-ChakraCore via the ChakraShim. Ideally NAPI support should be implemented using the JSRT APIs for all direct dependencies.

[2016-10-28 21:54] aruneshchandra opened #11 "Convert iotivity module to use NAPI"
/cc: @gabrielschulhof

[2016-10-28 21:55] aruneshchandra opened #12 "Convert sqllite to use NAPI"

[2016-10-28 21:57] aruneshchandra opened #13 "NAPI Demo for NodeInteractive Austin 2016"

[2016-10-29 00:18] mykmelez commented on #3
Yes, thank you, I can see it now! Unfortunately, I missed today's meeting. But I'll attend next week's.

[2016-11-03 02:09] rvagg commented on #13
@aruneshchandra I have a TODO item in my list to get back to you with a list of popular addons prior to Austin to help with demo. I feel that I might be too late and that maybe you've got a good list already. Do you need me to to jot down some notes here or are we past that?

[2016-11-03 15:31] aruneshchandra commented on #13
@rvagg - we are working on a simple proof-of-concept demo for NodeInteractive for now. But feel free to share your notes here and we can see what we can use for the demo.

[2016-11-04 01:36] aruneshchandra opened #14 "Linker Error in LevelDown for AsyncQueueWorker symbol"
After commit 8413f2a5c56e371a1f536dae3ec1d8441e3ebdea we are seeing a Linker error in LevelDown

[2016-11-04 01:37] digitalinfinity commented on #14
@aruneshchandra can you paste the link error here? is this in node-chakracore or node-v8?

[2016-11-04 02:02] aruneshchandra opened #15 "Module version mismatch when using NAPI enabled Node-ChakraCore 7.x"
[code]

[2016-11-04 03:37] sampsongao commented on #15
I think we just need to change the check to allow version -1 in DLOpen in the src/node.cc.

[2016-11-04 03:53] aruneshchandra opened #16 "LevelDown built against NAPI Node 6.x fails with NAPI Node-ChakraCore"
[code]

[2016-11-04 18:30] sampsongao commented on #9
Works with node-nanomsg and leveldown now.

[2016-11-04 18:30] #9 closed

[2016-11-04 18:33] mhdawson opened #17 "Add the v0.12.x port to the repo"
Michael and Sampson to get together to add 0.12.x port into the repo

[2016-11-04 19:11] sampsongao commented on #17
When will be a good time on Monday?

[2016-11-04 23:44] aruneshchandra commented on #14
`C:\git\leveldown>node-gyp rebuild --nodedir=c:\git\src-node-v8 --release --x64
gyp info it worked if it ends with ok
gyp info using node-gyp@3.4.0
gyp info using node@6.6.0 | win32 | x64
gyp info spawn C:\Python27\python.EXE
gyp info spawn args [ 'C:\\Users\\archandr\\AppData\\Roaming\\npm\\node_modules\\node-gyp\\gyp\\gyp_main.py',
gyp info spawn args   'binding.gyp',
gyp info spawn args   '-f',

[2016-11-04 23:46] aruneshchandra commented on #14
<img width="1280" alt="error" src="https://cloud.githubusercontent.com/assets/12057627/20025699/39e339c0-a2ae-11e6-9837-d9bdf7a60c03.png">

[2016-11-05 01:55] digitalinfinity commented on #14
@sampsongao looks like this was caused by 8413f2. If the AsyncWorker methods are part of the NAPI interface, then they should not be in a namespace since NAPI needs to be a flat C API. If they're just C++ sugar, then the implementation needs to be moved back into the header, the way it was before.

The reason it fails on Windows is that VC++ doesn't export all symbols in a shared library by defaul

[2016-11-07 17:47] sampsongao commented on #14
Does the newest commit (d8a0d972e6c6adc218f38ef650fe28eabb7520b4)fix it?

[2016-11-08 02:09] mhdawson commented on #17
Sync with Sampson and added to repo

[2016-11-08 02:09] #17 closed

[2016-11-09 21:13] mhdawson commented on #12
Slowly working on it in this repo: https://github.com/mhdawson/node-sqlite3

[2016-11-10 03:46] boingoing commented on #14
This fix unblocks the leveldown build against node 6 but it seems pretty roundabout. Can we remove these three inlined functions from the Napi namespace?
[code]
And change the module code to call the EXTERN functions directly?
[code]
The functions in the Napi namespace really can't be called from the module code since they are in a namespace which will get name-mangled. I believe this is only work

[2016-11-10 04:07] sampsongao commented on #14
The first two can be removed since I think the developer is not using it. But the AsyncQueueWorker is used in module code, so I think we will keep it for now. By the way, I am working on separating the libuv api and C++ helpers into new sets of files, I will see if I can make it simpler.

[2016-11-11 05:04] boingoing commented on #15
Fixed with e8de3a7b8394e08b2d81d889a10ca0577f469f20

[2016-11-11 05:04] #15 closed

[2016-11-11 05:05] boingoing commented on #16
This is working after 8512d5f4b16911564bf23a46921ca5a57840f35c and be9dfd870c2a617a193090c91dbf212eb0e5570d

[2016-11-11 19:11] boingoing commented on #8
Here is a dump of the perf numbers with a summary at the end:

V8	|	Napi
-----------------------	|	-----------------------
real    0m10.998s	|	real    0m11.212s
user    0m1.968s	|	user    0m1.956s
sys     0m0.588s	|	sys     0m0.624s
-----------------------	|	-----------------------
real    0m10.967s	|	real    0m11.105s
user    0m1.980s	|	user    0m1.992s
sys     0m0.552s	|	sys     0m0.580s
-------

[2016-11-11 22:42] mhdawson opened #18 "Roadmap"
# Roadmap

✅ **Milestone 1** - Initial API Implementation (DONE except landing EP)
  * Initial concept defined in EP
  * Initial API
  * All [NaN examples](https://github.com/nodejs/abi-stable-node-addon-examples) running
  * Implementation of initial modules ([`leveldown`](https://github.com/boingoing/leveldown/) and [`nanomsg`](https://github.com/sampsongao/node-nanomsg))

✅ **Milestone 2** - Po

[2016-11-21 17:29] Fishrock123 commented on #18
@mhdawson could you convert this to a checklist for better visibility of the status?

[2016-12-01 20:34] indexzero opened #22 "[Discussion] List of most popular binary modules"
Updated `npm-pkg-top` to use the modern skimdb URLs. The results are below sorted by npm stars, github stars, and number of dependent public modules:

[code]

You can run this yourself by:

[code]

[2016-12-01 20:47] MylesBorins commented on #22
currently in citgm we are testing

* bcrypt
* serialport
* levedown

We are in the process of adding

* node-sass
  - The test suite + build rely on a git submodule
  - /cc xzyfer

We currently cannot add

* PhantomJS / phantomjs-prebuilt
  -  The npm package is actually a wrapper and not official release
  -  The build system is bespoke
  -  /cc @ariya
* hiredis
  - will need redis on system
* ca

[2016-12-02 17:50] aruneshchandra commented on #22
Thanx for this list @indexzero @TheAlphaNerd

Is there an easy way to get a list of top downloaded native modules ?

[2016-12-03 23:11] jjrv opened #24 "Porting nbind to use NAPI"
I'd be interested in porting [nbind](https://github.com/charto/nbind#readme) to use NAPI. Basically it's a replacement for, among others, NAN (Node.js parts of nbind are built on top of it). The idea is that you write ordinary C++ classes and functions using standard library types, and finally do:

[code]

You don't need to list the method argument or return types, they're all autodetected using t

[2016-12-04 05:53] xzyfer commented on #22
I'd also suggest `fsevents` as a widely popular native extension. It's a transitive dependency for many large projects, including node-sass. As a result it doesn't get many stars directly.

[2016-12-05 17:14] mhdawson opened #25 "Tweaks to API suggested on EPS"
* **Version**: All
* **Platform**: ALL
* **Subsystem**: API

Suggestions from Ben on https://github.com/nodejs/node-eps/pull/20#issuecomment-264451567

1)  00X-ABI-Stable-Module-API.md
[code]
Using typedef'd pointers has the issue that they will silently decay to void* when used in a void* context. Can be avoided by wrapping the pointer in a struct, like so:

typedef struct napi_value { struct nap

[2016-12-05 17:19] mhdawson opened #26 "Will napi_set_function_name work with spidermonkey"
* **Version**: ALL
* **Platform**: ALL
* **Subsystem**: API

Comment from Ben in https://github.com/nodejs/node-eps/pull/20#issuecomment-264451567, we'll need to see if:
[code]
will work with other engines like spidermonkey were the name it declared up front.

[2016-12-05 17:23] mhdawson opened #27 "Correct abstraction for try/catch"
* **Version**: ALL
* **Platform**: ALL
* **Subsystem**: API

Comment from Ben in : https://github.com/nodejs/node-eps/pull/20#issuecomment-264451567

I think most JS engines have an 'is exception pending?' function; V8 is the outlier with its TryCatch construct. API strawman:

// Wrapper around a v8::TryCatch.  Dummy with other engines.
typedef struct napi_trycatch { struct napi_trycatch *v; } nap

[2016-12-06 00:43] jjrv commented on #24
After considering this further, here's the main value proposition:

If you have a set of functions and C++ classes with methods, you declare them like in the code block above, and compile in one of two possible modes:

A: Code is generated to export the API to Node.js using NAPI, much like nbind can already do for NAN.

B: Code is compiled to a library with an entry point callable using C calling

[2016-12-06 21:24] gabrielschulhof opened #28 "Building the api-prototype-chakracore-7.x branch on Linux"
[code]

Is there a way around this?

[2016-12-07 11:36] jjrv opened #29 "Detecting NAPI"
[nbind](https://github.com/charto/nbind#readme) currently detects Node.js using `#ifdef BUILDING_NODE_EXTENSION` and Emscripten using `#ifdef EMSCRIPTEN`. How would I distinguish whether the Node.js version supports NAPI, without using other build tools in the module besides Gyp?

Could there be a macro like `NODE_USE_NAPI` or similar defined in `common.gypi`?

[2016-12-07 13:33] gabrielschulhof commented on #28
Judging by https://github.com/nodejs/node-chakracore#how-to-build it's not possible to build node-chakracore on Linux ...

[2016-12-07 14:28] digitalinfinity commented on #28
Actually, node-chakracore does build on Linux fine but you need to build the xplat branch- see https://github.com/nodejs/node-chakracore/blob/xplat/README.md for full instructions.
In this case, the missing step for you is that you need to do ./configure --engine=chakracore.

@boingoing can you investigate why node-v8 is not building in the chakracore branch- if it's an issue not unique to api-pro

[2016-12-07 15:35] gabrielschulhof commented on #28
@digitalinfinity Thanks for the tip! `--engine=chakracore` works on branch api-prototype-chakracore-7.x as well. It's built now :+1:

[2016-12-07 15:40] #28 closed, assigned to nobody

[2016-12-08 07:08] kunalspathak commented on #22
@TheAlphaNerd , if not already supported, how easy would it be to have a flag in citgm that will run test suites of most popular node modules that `npm-pkg-top` returns?

[2016-12-08 07:53] MylesBorins commented on #22
@kunalspathak

here is the list... fun emoji

✅ Got it
📛 Not compatible (yet)
🆕 TBD

data:    1  155 0   983 node-sass 📛
data:    2  95  0   578 sqlite3 ✅
data:    3  214 0   530 bcrypt ✅
data:    4  52  0   485 serialport ✅
data:    5  132 0   440 phantomjs 📛
data:    6  28  0   436 hiredis 📛
data:    7  75  0   355 canvas 📛
data:    8  51  0   325 websocket 📛
data:    9  41  0   275 phantomjs-pr

[2016-12-08 09:16] jjrv commented on #22
Is there any chance you could check out [nbind](https://github.com/charto/nbind#readme) as an alternative API for communicating between Node.js and C++ addons? It's a replacement for NAN (built on top of it) and I'm porting it to support NAPI.

It doesn't just replace V8 types with more portable ones, but instead simply uses C++ standard library types. Typically porting a NAN project to nbind main

[2016-12-08 17:56] mhdawson commented on #24
I'm thinking it would make sense for you to give the team working on NAPI an quick overview/explanation of nbind so we can ramp up more quickly.  It is possible for you to attend our meeting on Dec 9th at 2 EST ?

Its good to heard that you are going to exercise NAPI and we look forward to your experience in using it.

[2016-12-08 18:21] jjrv commented on #24
@mhdawson yes, I'll attend the meeting.

[2016-12-09 15:30] sampsongao commented on #24
@jjrv  Have you get the invite to the meeting?

[2016-12-09 15:41] jjrv commented on #24
@sampsongao I took the liberty to enroll myself through the weekly standup hangout link in the readme, a few days ago. The Google Plus event page is showing me in the list of participants, and I'm able to join through the "hangouts" link on that page. When testing, currently it of course says I'm the only one present. I guess that means the invitation works.

I've prepared a [presentation](https:/

[2016-12-09 16:44] sampsongao commented on #25
For the third point, I think v8's string API takes int as parameters. So we should keep it consistent to v8 api.

[2016-12-09 19:08] ofrobots commented on #24
I would like to join the meeting too. How do I join?

[2016-12-09 19:39] jjrv commented on #24
@ofrobots https://plus.google.com/u/0/events/c0eevtrlajniu7h8cjrdk0f56c8?authkey=COH04YCalJS8Ug

[2016-12-09 19:52] ofrobots commented on #24
I need permissions to be able to access it.

[2016-12-09 20:50] jjrv opened #30 "Adding a data pointer for calling a C function"
`node_jsvmapi.h` currently says:

[code]

nbind creates one C++ wrapper function for each signature (combination of argument and return types), so it then needs to pass a number telling which C++ function among those with identical signatures is actually referred to by that `napi_value`. NAN allows doing:

[code]

It stores the data pointer in an internal field:

[code]

It will then read that fie

[2016-12-10 00:07] aruneshchandra commented on #18
Updated the roadmap for better progress visibility and current status.

[2016-12-10 03:16] sampsongao commented on #24
@ofrobots Can you send me your email address for hangout so that I can invite you? Not sure if your email in your github profile is the one with google account.

[2016-12-12 15:51] ofrobots commented on #24
@sampsongao my github profile email address is correct. ofrobots at google.com

[2016-12-12 23:22] mhdawson commented on #29
I think we discussed and answered this in the meeting last Friday.  Once Node supports the API it will be supported in all subsequent versions so checking that version is x or greater should be all that is required.

[2016-12-12 23:22] #29 closed, assigned to nobody

[2016-12-13 17:51] jasongin commented on #22
Note `npm-pkg-top` does not do a perfect job of listing only packages with native modules. When querying with type 'binary' (the default) it actually includes any packages that have a preinstall, install, or postinstall script. (It [uses the skimdb needBuild view](https://github.com/nodejitsu/npm-pkg-top/blob/master/index.js#L20), which [filters packages on the existence of those scripts](https://

[2016-12-14 06:09] yuej-jin opened #35 "Making the compiling of native module independent of vm environment"
When we use NAPI to write native module, the API is vm neutral and stable. But the compiling  is still binding to vm implementation, like,  using the vm shared library.

For example, "napi_set_return_value" needs to link with the its implementation in the node_jsvmapi.cc, which is vm related.

I think if it was better to separate the API implementation,  make the compiling of native module totally

[2016-12-14 18:01] MylesBorins commented on #18
Are we on target for this to land in 8 as mentioned in milestone 5?

edit: can we expand on what "experimental" means in the roadmap

[2016-12-15 00:33] digitalinfinity commented on #35
Thanks @xuyv - this is an interesting idea. One downside of doing this is that every NAPI call becomes an indirect call, which has perf implications. Can you describe a concrete scenario where the current NAPI approach does not work for you? Note that at Node-Interactive, @aruneshchandra demoed a single NAPI-enabled module, compiled once, and then executed with node v0.10, v0.12, v6, and node-chak

[2016-12-15 05:53] yuej-jin commented on #35
@digitalinfinity I think it has no problem for NAPI module compiling once and then being executed on different versions of node now. The thing that concerns me is that once the api changes( like, add one more function argument in napi_set_return_value) in new NAPI, the old compiled modules will not work.

If function pointers are stored in env,  we may control api changes more elegantly and easily

[2016-12-15 06:26] digitalinfinity commented on #35
Ah, I understand now- so in this world, the add-on would query node for the environment and ask for a particular version of the API, and then proceed to call it? Interesting. In that case, would node need to preserve all the old versions of the APIs, so that the modules could still call this?

One other way this can be solved is, NAPI APIs can never be removed - it's a purely an additive interface

[2016-12-18 00:39] aruneshchandra commented on #18
@TheAlphaNerd - IIRC from VM Summit 2, experimental means this will be available behind a config flag for version 8 and previous 1 or 2 LTSes.

As per being on target - its unclear at the moment, how much can be achieved by the time we cut a build for version 8. But Milestone 5 is what we are shooting for with the number of people who are working on it today. By VM Summit 3 (March 2017) we will ha

[2016-12-23 22:29] vkurchatkin commented on #22
`deasync` most definitely shouldn't be tested, as it uses libuv in an unsupported way

[2017-01-02 15:48] gabrielschulhof commented on #27
The V8 documentation [claims](https://v8docs.nodesource.com/node-7.2/d4/dc6/classv8_1_1_try_catch.html#af28a8ba7e1cb6e66bc2468faa4c86eec) that the `TryCatch` should be stack-allocated, so I'm not sure if we can go with the new/delete paradigm. If we can't, we may have to provide a way of calling a function that also catches exceptions, like maybe with an out parameter:

[code]

Then, applications

[2017-01-02 20:27] gabrielschulhof commented on #27
The V8 documentation [claims](https://v8docs.nodesource.com/node-7.2/d4/dc6/classv8_1_1_try_catch.html#af28a8ba7e1cb6e66bc2468faa4c86eec) that the `TryCatch` should be stack-allocated, so I'm not sure if we can go with the new/delete paradigm. If we can't, we may have to provide a way of calling a function that also catches exceptions, like maybe with an out parameter:

[code]

Then, applications

[2017-01-03 21:23] mhdawson commented on #35
I have also thought that using a function table could make migration easier and have raised it with the overall team in the past. Other platforms like Java use one and it makes it possible to support multiple versions of the API, and have modules request the version that they were compiled against.

The downside as mentioned is the performance overhead due to indirect calls.  If we had lots of fre

[2017-01-06 19:42] aruneshchandra commented on #26
@mykmelez do you have any idea about this ?

[2017-01-06 19:44] #16 closed

[2017-01-06 19:44] #13 closed

[2017-01-06 20:19] aruneshchandra commented on #27
@fhinkel - can you comment on this ?

[2017-01-06 22:22] aruneshchandra opened #37 "Design for NAPI error handling"
Publish and review design document for NAPI error handling

[2017-01-06 22:26] aruneshchandra opened #38 "Error handling implementation for Node v6.x"

[2017-01-06 22:26] aruneshchandra opened #39 "Error handling implementation for Node v8.x"

[2017-01-06 22:27] aruneshchandra opened #40 "Error handling implementation for Node-ChakraCore"

[2017-01-06 22:29] aruneshchandra commented on #37
The design needs to also address #27 Correct abstraction for try/catch

[2017-01-06 22:45] aruneshchandra opened #41 "Investigate if canvas can be ported over to use NAPI"
At VM Summit 2 - some concern was raised if the current NAPI design can accommodate porting [`canvas`](https://www.npmjs.com/package/canvas).

[2017-01-06 23:27] aruneshchandra commented on #8
We should use this issue for perf measurements after the error handling completed.

[2017-01-06 23:28] #14 closed

[2017-01-06 23:29] #3 closed

[2017-01-06 23:30] aruneshchandra commented on #1
Going forward - we will track this info on the main readme page.

[2017-01-06 23:30] #1 closed

[2017-01-06 23:37] aruneshchandra commented on #12
Conversion should include the error handling as well

[2017-01-06 23:38] aruneshchandra commented on #11
Conversion to include error handling as well

[2017-01-07 00:13] aruneshchandra commented on #10
This is done. Added to api-prototype-chakracore-7.x branch.

[2017-01-07 00:13] #10 closed

[2017-01-08 20:36] gabrielschulhof commented on #27
During our last meeting, I learned that there are other V8 structures that are also documented as having to be stack-allocated yet work fine when heap-allocated. So, I went ahead and created an implementation of @mhdawson's API with a heap-allocated `v8::TryCatch` and the boolean flag as I described in my comment. I also created an implementation for ChakraCore.

[2017-01-09 08:59] hashseed commented on #27
The reason v8::TryCatch ought to be stack-allocated is that nested v8::TryCatch scopes build a chain that reflect this nesting. Heap-allocating would be possible, but must make sure that the allocation/deallocation order is kept. Otherwise things might break in weird ways. Letting it escape via proposed API seems an easy source for bugs.

[2017-01-09 09:03] fhinkel commented on #27
@hashseed do you think the API could abstract it in such a way that it can't be used incorrectly?

[2017-01-09 09:15] hashseed commented on #27
Well you could, maybe in debug mode, track the nesting inside napi_trycatch_* and make sure we can only call napi_trycatch_delete on the last v8::TryCatch in the chain. But if the user would use v8::TryCatch intermixed with napi_trycatch_*, we could still deallocate out of order.

[2017-01-09 09:25] gabrielschulhof commented on #27
What about implementing the ChakraCore abstraction instead? We could surround all calls into JS (`napi_call_function()`) with a v8::TryCatch, and store a possible exception in a Persistent. Then, that would be the "last known exception", and a call to napi_trycatch_exception() would return it and clear the persistent.

Otherwise, if nobody calls napi_trycatch_exception(), napi_trycatch_delete() wo

[2017-01-09 09:29] hashseed commented on #27
I think surrounding all calls into V8 with a v8::TryCatch is a very good idea. TryCatch scopes are not particularly expensive to allocate. If no exception is thrown, it should have almost no performance impact. If the exception is thrown and you need to rethrow, then you add some churn there.

[2017-01-09 15:15] gabrielschulhof commented on #27
https://github.com/nodejs/abi-stable-node/compare/api-prototype-6.2.0...gabrielschulhof:try-catch-6.2.0-global-persistent-exception shows the global persistent exception approach.

[2017-01-11 18:08] jasongin opened #44 "Property accessors"
NAPI is currently missing support for property accessors, to enable C++ callbacks for getters and setters of properties on a wrapped object.

NAN supports this via the [`Nan::SetAccessor()`](https://github.com/nodejs/nan/blob/master/nan.h#L1908) function, which eventually calls `v8::Object::SetAccessor()` or `v8::ObjectTemplate::SetAccessor()`. NAPI currently has functions for getting and setting

[2017-01-11 18:34] jasongin commented on #41
I've looked into this somewhat. The canvas package appears to be a fairly typical use of NAN, and porting to NAPI should be mostly straightforward. I see just two issues to consider:

1. The canvas package requires property accessor support, which is not yet implemented in NAPI. I opened [a new issue about property accessors](https://github.com/nodejs/abi-stable-node/issues/44).
2. The canvas code

[2017-01-13 10:58] boingoing opened #46 "Error handling prototype for Node.js API"

[2017-01-13 11:04] #46 closed, assigned to nobody

[2017-01-13 11:04] boingoing commented on #37
Node.js API doesn't yet handle any of the errors which may be encountered within the API itself. Some of the errors can cause AV while others can silently fail and the consumer of the API would not know if the operation was successful. We need to consider what degree of handling we want to implement. Should the API be paranoid about incoming pointers or skip null checks in favor of informing the c

[2017-01-19 00:00] jasongin commented on #30
I implemented this as part of the refactoring of function callbacks that I did for [property accessors](https://github.com/nodejs/abi-stable-node/issues/44).

[2017-01-19 00:11] jasongin opened #50 "Typed arrays"
NAPI should expose APIs for JS typed arrays.

Of the top native modules that I scanned, `canvas` was the only one that used typed arrays. But there must also be some less popular native modules that need them.

[2017-01-19 00:17] jasongin commented on #41
I completed a first pass of porting the `canvas` module to NAPI. Canvas is a a moderately-complex
native module that ends up covering nearly all of the NAPI API surface, so it makes for a good test
of NAPI. [Check my fork to browse the differences.](https://github.com/jasongin/node-canvas/compare/master...jasongin:napi)

For this purpose I put together a build of NAPI that includes the [property a

[2017-01-19 07:54] gabrielschulhof commented on #41
This could be made a no-op on other implementations, especially since it's not of existential importance.

[2017-01-20 19:31] gabrielschulhof opened #51 "NODE_EXTERN napi_value napi_run_script(napi_env e, const char *script);"
I realized from https://github.com/nodejs/abi-stable-node/pull/33#issuecomment-270559877 that we may want to have such an API because AFAIK all engines provide this functionality.

[2017-01-20 19:37] aruneshchandra commented on #27
Error handling design has covered this issue - but we need to track the performance impact of this. Closing this issue for now - either reopen or file new issue if problem arises.

[2017-01-20 19:37] #27 closed, assigned to gabrielschulhof, boingoing

[2017-01-20 19:50] jasongin opened #52 "AdjustExternalMemory"
While [porting the canvas package to NAPI](https://github.com/nodejs/abi-stable-node/issues/41), I found the canvas code calls `Nan::AdjustExternalMemory()` in a few places, to give some hints to the V8 GC. That NAN API is a wrapper around `v8::Isolate::AdjustAmountOfExternalAllocatedMemory()`. It's not critical for the functionality, but I assume it improves GC behavior significantly when working

[2017-01-20 19:53] jasongin opened #53 "C++ helper classes"
Code that is converted from V8's C++ classes to NAPI's C function  calls is often a little more verbose, e.g. `napi_get_number_from_value(env, v)` vs  `v->NumberValue()`. This could be cleaned up somewhat by adding low/zero-overhead C++ helper classes in NAPI, allowing for more V8 style interaction with objects, and therefore easier porting.

[2017-01-20 19:55] jasongin commented on #41
I opened new issues for [`AdjustExternalMemory`](https://github.com/nodejs/abi-stable-node/issues/52) and [C++ helper classes](https://github.com/nodejs/abi-stable-node/issues/53).

I think I'll just submit some PRs for `napi_throw_range_error`, as it should be trivial.

I'm closing this issue now since we consider the investigation to be completed.

[2017-01-20 19:55] #41 closed, assigned to jasongin

[2017-01-20 20:45] aruneshchandra opened #54 "Update levedown NAPI port to use error handling"

[2017-01-20 20:46] aruneshchandra opened #55 "Measure perf for leveldown after error handling implementation."

[2017-01-20 20:47] aruneshchandra opened #56 "Update nanomsg NAPI port to use error handling"

[2017-01-20 20:48] aruneshchandra opened #57 "Measure nanomsg perf after error handling implementation"

[2017-01-20 20:49] aruneshchandra commented on #8
Closing this issue. Perf measurement after error handling will be covered via issue #57

[2017-01-23 19:47] jasongin commented on #44
Fixed in the 6.2 branch with https://github.com/nodejs/abi-stable-node/commit/67f4581fd711cbb8bec0858f4c653e86792e4aae

To be ported to other branches soon.

[2017-01-23 19:47] jasongin commented on #30
Fixed in the 6.2 branch with https://github.com/nodejs/abi-stable-node/commit/67f4581fd711cbb8bec0858f4c653e86792e4aae

To be ported to other branches soon.

[2017-01-23 22:26] mhdawson commented on #30
@jjrv can you confirm that what was added satisfies your use case ?

[2017-01-23 22:30] jasongin commented on #30
Specifically, this is supported via the new `data` parameter of [`napi_create_function()`](https://github.com/nodejs/abi-stable-node/blob/api-prototype-6.2.0/src/node_jsvmapi.h#L233), and the new [`napi_get_cb_data()` function](https://github.com/nodejs/abi-stable-node/blob/api-prototype-6.2.0/src/node_jsvmapi.h#L233) to retrieve that data pointer from the callback info.

[2017-01-24 23:39] aruneshchandra commented on #37
This was reviewed by the team on Jan 13th meeting - here are some of the notes:

- Do we make a distinction between engine error codes and spec-violations or failures?
_Yes but we need more discussion about how to make the distiction between the different types of failures_

- Related, how close to the Ecmascript spec do we want to make the Node.js API surface?
_Still being discussed_

- Do we val

[2017-01-24 23:39] #37 closed, assigned to boingoing

[2017-01-25 06:43] boingoing commented on #38
PR for this is open https://github.com/nodejs/abi-stable-node/pull/59

[2017-01-26 20:41] jasongin opened #63 "Bugs in napi_get_string_from_value"
I found multiple problems with the current implementations of `napi_get_string_from_value`:
 * The function is currently defined as returning the number of bytes _remaining_ in
the buffer. This is different from both [V8](https://v8docs.nodesource.com/node-0.8/d2/db3/classv8_1_1_string.html#a237a2b794f31d8c60d9561ad3b30248e) and [JSRT](https://github.com/Microsoft/ChakraCore/wiki/JsCopyStringUtf8)

[2017-01-26 21:07] jasongin opened #64 "napi_call_function scope parameter"
NAPI's call-function API is defined like this:

[code]

What is that scope parameter supposed to be? Both the V8 and JSRT implementations treat it as the `this` argument for the function call, which makes sense except for the `scope` parameter name. Is the parameter mis-named?

This name confusion apparently has caused a problem in the function test case, which [passes a `napi_escapable_handle_sco

[2017-01-26 21:12] gabrielschulhof commented on #64
I think that should be `context`, not scope.

[2017-01-26 21:13] gabrielschulhof commented on #64
... or `thisValue`, though that's an awkward name.

[2017-01-26 22:07] jasongin commented on #64
Related to this, I think napi_get_global_scope is also mis-named, it should probably be napi_get_global_object.

[2017-01-27 20:19] aruneshchandra opened #67 "How do we distinguish between own and prototype properties?"
Moving @fhinkel's comment from #33  to an issue:

[2017-01-30 08:37] gabrielschulhof opened #69 "../src/node_jsvmapi.cc:192:3: error: ‘interface’ does not name a type"
The error handling modifications fail to build with GCC.

[2017-01-30 08:38] gabrielschulhof commented on #69
@boingoing ^

[2017-01-30 08:58] boingoing commented on #69
This line is:
[code]
Does the 'interface' keyword not exist in GCC? Is 'interface' an ISO standard keyword? I'm actually not sure. Looks like it might be an MSVC-specific #define. Maybe we should replace this with class or struct for compliance sake?

[2017-01-30 09:01] gabrielschulhof commented on #69
I think so. It certainly doesn't build out of the box.

[2017-01-30 09:06] boingoing commented on #69
@jasongin
Seems like replacing 'interface' with 'struct' should solve the issue. Is there a reason to use 'interface'? I'm actually not super familiar with it.

[2017-01-30 09:24] boingoing commented on #69
There is another build issue on gcc, too, so I started a PR. https://github.com/nodejs/abi-stable-node/pull/70

[2017-01-30 17:06] jasongin commented on #69
Yes, `interface` is just an alias for `struct`, supported by MSVC but not GCC. I had a habit of using `interface` from Windows programming, since it explicitly declares the intent for the struct to only have abstract methods. But it's certainly not required.

[2017-01-30 17:30] jasongin commented on #69
Fixed by https://github.com/nodejs/abi-stable-node/commit/5ae919aa7e040ea1238605778ce8a5f33a91a480

[2017-01-30 17:30] #69 closed, assigned to nobody

[2017-01-30 19:58] mhdawson opened #71 "Add ci jobs for abi-stable-node"
Based on recent discussion its probably time to add CI jobs as a safety net.  We should use the core node.js infrastructure so we can easily integrate the jobs into the regular regression tests once we merge into master.

I'm starting the process following :

https://github.com/nodejs/build/blob/master/doc/process/jenkins_job_configuation_access.md

[2017-01-30 19:58] jasongin commented on #63
The `Utf8String` constructor in `node_api_helpers.h` also mistakenly assumes the return value from `napi_get_string_value` is the number of bytes written, not remaining.

[2017-01-30 20:00] mhdawson commented on #71
@nodejs/abi-stable-node

[2017-01-30 20:09] mhdawson commented on #71
Created https://github.com/nodejs/build/issues/604 in build repo to outline next steps and get agreement.  Will configure initial blank jobs once that is in palce.

In the mean time we should get a list of jobs we should put in place.  My starting lis:

1) Build Node.js from branch, run abi stable add-on tests, validate all ran ok
2) Build Node.js from branch, install nanomsg, run tests, validate

[2017-01-30 21:09] bnoordhuis commented on #63
It's quite complex.  `v8::Utf8Value::Utf8Value(...`):

1. Performs the equivalent of .toString() on primitives (strings, numbers, etc, but not symbols.)
2. Tries `[Symbol.toPrimitive]`, .toString() and .valueOf() in that order on objects.
3. If those methods don't exist, don't complete successfully, or don't produce a string, it raises an exception.
4. Trying to stringify a symbol raises an except

[2017-01-31 21:01] sampsongao opened #74 "Alternative format for api with error handling"
As I start to update nanomsg code to use error handling api, I found that it is quite hard to use.

For example:
[code]
will be converted to the following:
[code]
So I think alternatively we should let developer to pass in napi_status to get the status, e.g.
[code]
This way, the above code can be converted as:
[code]
This allows declaration on same line and nested calls where possible. I think thi

[2017-01-31 22:19] jasongin commented on #74
During the design discussions I had brought up use of out error parameters for consideration also (inspired by Objective-C use of `NSError`). It can have the additional benefit that you don't need to call a separate get-error-info function to get more details, since the out parameter can be a struct pointer instead of just an integer code. I don't think we discussed it much in the online meetings,

[2017-01-31 22:31] mhdawson commented on #74
The thing that jumps out is that its going to be quite a bit more verbose having to declare the return value on a separate line, its also worrying if it is going to make the porting harder.

I do agree that it is more traditional to have the return code be the return value as opposed to the in/out.

@sampsongao from what you looked at so far do you have an guestimate about how many more lines of c

[2017-01-31 22:33] jasongin commented on #74
A C++ wrapper object model could make everything much less verbose, and should make porting much easier since the semantics can be more similar to the V8 C++ object model. Unfortunately we don't have such a thing ready for our initial porting efforts.

[2017-02-01 00:07] boingoing commented on #74
I tend to agree all-around. This flat API is pretty verbose to write but we are expecting to hide most of that behind a C++ wrapper with much more convenient semantics like converting failures into exceptions. That won't be ready for this milestone, though, for sure. After porting leveldown and nanomsg we'll at least have a better handle of the pain points, if that's reassuring.

[2017-02-01 00:19] aruneshchandra commented on #74
We are prepping for a public release of sorts if accepted for Node v8.0. And it appears that we will need the C++ sugar before we go out and ask people to adopt this.  Looks like a Milestone 5 work item to me.

[2017-02-01 18:25] sampsongao commented on #56
Ported here.
https://github.com/sampsongao/node-nanomsg/commit/df36232ecdd7ef8164e9c3c784a90cf8933bd22e

[2017-02-01 18:50] aruneshchandra commented on #74
Added Issue #53 C++ Helper Classes to Milestone 5. Let's talk about this on Friday.

[2017-02-01 18:52] aruneshchandra opened #76 "Convert Canvas to NAPI"

[2017-02-01 18:53] aruneshchandra opened #77 "Measure performance with Canavas"

[2017-02-01 19:17] aruneshchandra commented on #76
Depends on #50 Typed Arrays

[2017-02-01 19:25] #64 closed, assigned to jasongin

[2017-02-01 19:27] jasongin commented on #44
Also done in ChakraCore as 27b3fc708b49f6b755486aa47fab09bc30062aac and merged into the V8 8.x branch as 0bdc1b88eb2e186fc3cd979a910d6d3311022491

[2017-02-01 19:27] #44 closed, assigned to jasongin

[2017-02-01 19:28] jasongin commented on #39
Done in the 6.2 branch and merged into the 8.x branch.

[2017-02-01 19:28] #39 closed, assigned to jasongin

[2017-02-01 19:47] boingoing opened #78 "Revisit need for napi_set_function_name"
ChakraCore (and possibly other engines) do not support changing the function name after creating a function. Let's add an optional name parameter to napi_create_function instead. If it's possible, can we also remove napi_set_function_name?

[2017-02-01 20:03] boingoing commented on #38
Closing out after #59 was merged.

[2017-02-01 20:03] #38 closed, assigned to boingoing

[2017-02-01 21:50] jasongin commented on #76
I've already partially ported the canvas package to NAPI as part of #41; see related information there. The remaining work items are:

 1. Update already-ported canvas code for recent NAPI changes (error-handling)
 2. Add typed-arrays support to NAPI (#50)
 3. Port the small parts of canvas code that use typed-arrays to NAPI.
 4. Validate the port using canvas's tests, and fix any bugs caused by p

[2017-02-01 21:52] aruneshchandra opened #79 "Demo for VM Summit #3"

[2017-02-01 21:54] aruneshchandra opened #80 "Enable build flag for experimental support for NAPI"

[2017-02-01 21:55] aruneshchandra opened #81 "Covert native module 'node-sass' to NAPI"

[2017-02-01 21:56] aruneshchandra opened #82 "Measure perf for node-sass after conversion"

[2017-02-02 17:21] mhdawson commented on #71
@gabrielschulhof is there a time we can meet this week to discuss this ?

[2017-02-02 19:24] boingoing commented on #54
Added error handling instrumentation:
https://github.com/boingoing/leveldown/commit/48c8b83ae11e32c58b16509da8fed20eb973f239

[2017-02-02 19:24] #54 closed, assigned to boingoing

[2017-02-02 20:00] gabrielschulhof commented on #71
@mhdawson How about tomorrow before or after the meeting?

[2017-02-02 22:49] #40 closed, assigned to jasongin

[2017-02-02 23:22] mhdawson commented on #78
@boingoing do we know if any of the existing ports or examples use napi_set_function_name ?
I agree that it should not be part of the API if it is not possible to support across engines.

[2017-02-03 07:55] gabrielschulhof opened #85 "api-prototype-6.2.0 fails to build"
As of ae2413703957ad075110f633255053eff763a856 I get
[code]
when trying to build the branch.

[2017-02-06 07:05] #85 closed, assigned to gabrielschulhof

[2017-02-06 07:26] jasongin commented on #76
I updated the Canvas port to use the new [NAPI C++ wrapper classes](https://github.com/nodejs/abi-stable-node/pull/88). It still needs typed-array support.

[2017-02-06 07:27] #63 closed, assigned to jasongin

[2017-02-06 07:29] jasongin commented on #53
PR at https://github.com/nodejs/abi-stable-node/pull/88

[2017-02-06 15:25] #56 closed, assigned to sampsongao

[2017-02-06 17:50] jasongin commented on #26
ChakraCore also can only set the name when the function is created. For issue https://github.com/nodejs/abi-stable-node/issues/78 we decided to remove `napi_set_function_name` and add an optional name parameter to `napi_create_function` instead.

[2017-02-06 17:50] #26 closed, assigned to nobody

[2017-02-06 18:38] sampsongao commented on #57
# Raw Output

### After Error Handling
nanomsg     https://github.com/sampsongao/node-nanomsg/commit/df36232ecdd7ef8164e9c3c784a90cf8933bd22e
node-napi   ae2413703957ad075110f633255053eff763a856

node-6.2 perf/local_lat.js tcp://127.0.0.1:5555 1 100000& node-6.2 perf/remote_l           at.js tcp://127.0.0.1:5555 1 100000 && wait
message size: 1 [B]
roundtrip count: 100000
average latency: 164.607

[2017-02-06 18:57] sampsongao commented on #57
### After introduction of error handling
nanomsg     https://github.com/sampsongao/node-nanomsg/commit/df36232ecdd7ef8164e9c3c784a90cf8933bd22e
node-api   ae2413703957ad075110f633255053eff763a856

Items | 1 | 2 | 3 | 4 | 5 | Average
------|---|---|---|---|---|--------
average latency [us] | 164.607 | 171.080 | 154.051 | 140.030 | 160.490 | 158.0516
throughput [msg/s] | 3841 | 3913 | 4307 | 4275 |

[2017-02-06 19:06] sampsongao commented on #57
Items | delta before and after error handling % | delta before and after napi % | combined
------|-----------------------------------------|--------------------------------------|------------
average latency [us] | 7.225488385 | 13.12909359 | 24.07862446
throughput [msg/s] | -4.668726399 | -0.576301363 | -5.007919501
throughput [Mb/s] | -5.555555556 | -0.584795322 | -5.813953488
real [s] | -1.6362

[2017-02-07 14:44] mhdawson commented on #57
I'm not sure but does this mean it is for 1 byte messages: message size: 1 [B] ?  If so we probably want data with more realistic message sizes as well (hoping its configurable) as I'd expect in real-life 1 byte messages won't necessarily be the norm.

[2017-02-07 14:48] mhdawson commented on #57
I might also be useful to try to find the section of code that most affects the latency so we can understand where the additional time is being added.

[2017-02-07 22:17] mhdawson opened #92 "Can we move weekly meeting time + or - 1 hour"
Can we move the weekly meeting to 1EST or 3 EST ?

I have a meeting I really need to attend at our current 2 pm EST slot that I don't think I can get moved.

[2017-02-07 22:20] sampsongao commented on #92
I am ok for both 1 and 3.

[2017-02-08 00:45] jasongin commented on #76
With typed arrays in the NAPI C API (#90) and the wrapper (#88), I was able to complete the canvas port. All the canvas tests are now passing on the NAPI port! I will try benchmarking it next.

[2017-02-08 00:50] jasongin commented on #76
Canvas performance testing is tracked as a separate task (#77), so this one can be closed.

The code is at https://github.com/jasongin/node-canvas/tree/napi2

[2017-02-08 00:51] jasongin commented on #50
V8 typed arrays PR: https://github.com/nodejs/abi-stable-node/issues/90
ChakraCore typed arrays PR: https://github.com/nodejs/abi-stable-node/pull/91

[2017-02-08 01:13] aruneshchandra commented on #92
Can we do Thursday 1 pm EST (10 am PST) instead ?

[2017-02-08 05:15] jasongin commented on #76
While trying to benchmark canvas, I found a bug that is related to some `Nan::ObjectWrap::Ref()` / `UnRef()` calls that I'd forgotten I had commented out when porting the code. The lack of references led to the object being deleted only when under memory pressure, causing benchmarks to crash.

Unfortunately as I investigated further into this area of persistent references and weak references, I re

[2017-02-08 06:05] jasongin opened #93 "Weak/strong reference improvements"
The NAPI APIs for referencing values currently consist of the following:
[code]

These APIs are missing two important capabilities:
 1. The ability to *promote* a weak reference to a strong reference, or *demote* a strong reference to a weak reference. (Currently this is possible in a roundabout way by retrieving the value and creating the other kind of reference, but it's very inconvenient.)
 2.

[2017-02-08 06:08] jasongin commented on #76
Created issue: [Weak/strong reference improvements](https://github.com/nodejs/abi-stable-node/issues/93)

[2017-02-08 07:01] jasongin opened #94 "Deleting properties"
There should be NAPI functions for deleting named properties and indexed properties:
[code]

This is not super high-priority, since only one of the top native modules I scanned (couchbase) referenced `v8::Object::Delete()`.

[2017-02-08 13:01] gabrielschulhof commented on #92
I'm also OK for Friday 1 PM and 3 PM Eastern.

[2017-02-08 18:13] aruneshchandra commented on #55
@boingoing - any update on this ?

[2017-02-08 20:27] sampsongao commented on #57
## for message size of 10 bytes

Items | delta before and after error handling % | delta before and after napi % | combined
------|-----------------------------------------|--------------------------------------|------------
average latency [us] | 0.189636483 | 22.50655384 | 29.28834857
throughput [msg/s] | -0.537879479 | 5.889553863 | 5.689646866
throughput [Mb/s] | -0.626780627 | 6.002265006 | 5

[2017-02-08 21:24] mhdawson commented on #57
We should be able to use standard profiling tools, perf even has node.js support so I'd start with that on linux

[2017-02-08 22:32] mhdawson commented on #92
I could do 1:30 EST on Thrusday.

[2017-02-08 23:32] boingoing commented on #55
Leveldown Nan on V8-Node 8.x | Leveldown NAPI on V8-Node-Napi 8.x
--- | ---
Node<br /> https://github.com/nodejs/abi-stable-node<br /> api-prototype-8.x<br /> commit https://github.com/nodejs/abi-stable-node/commit/1b30df10037d24224a555829754f4423d35bbf88 | Node<br /> https://github.com/nodejs/abi-stable-node<br /> api-prototype-8.x<br /> commit https://github.com/nodejs/abi-stable-node/commit/6e7

[2017-02-08 23:33] aruneshchandra commented on #92
I can do 1.30 EST on Thursday. Are we talking about just this week or recurring? I'm ok with both.

[2017-02-08 23:35] jasongin commented on #77
I ran the Canvas benchmarks on my Windows machine, comparing results from before and after the NAPI port (using the same build of NAPI-enabled node). While some benchmarks show no measurable change, others are up to 5x slower on NAPI:

![image](https://cloud.githubusercontent.com/assets/13093042/22761740/ef60b536-ee10-11e6-986f-3209cd51e82a.png)

Note that the benchmarks that show significant slow

[2017-02-09 00:47] jasongin commented on #77
To reduce the number of NAPI calls required for every call, we could define an ugly API that looks something like this, to retrieve all the callback info at once:
[code]

While we could skip the optional `argt` array there, it would make canvas faster because canvas does frequent type-checking on arguments, for both validation and method overloading.

In the case of the `lineTo()` benchmark scenar

[2017-02-09 00:53] mhdawson commented on #92
Recurring.

[2017-02-09 00:54] mhdawson commented on #92
@gabrielschulhof Does 1:30 EST on Thursdays work for you ?

[2017-02-09 12:46] gabrielschulhof commented on #92
Yeah, I can do that.

[2017-02-09 18:21] mhdawson commented on #92
We on for today for this week at 1:30 EST (10 mins from now ?)

[2017-02-09 18:27] gabrielschulhof commented on #92
I'm lurking ...

[2017-02-09 18:28] mhdawson commented on #92
I'm going to be 5 mins late if we are as I really need to eat something before the meeting.

[2017-02-09 18:44] mhdawson commented on #92
Ok looks like we'll do regular time tomorrow and then shift for the upcoming weeks.

[2017-02-09 19:01] aruneshchandra commented on #92
sorry - we missed it! yea let's do it regular time tomorrow and then shift to the new timing from next week onwards.

[2017-02-09 19:21] jasongin opened #96 "Remove napi_get_current_env()"
According to a [comment](https://github.com/nodejs/abi-stable-node/pull/58/commits/40e02b71b1ab22d04f7a8c347714ca75ac898736#r100386021) from @kkoopa, `Isolate::GetCurrent()` might go away. Therefore we should consider removing the corresponding API in NAPI, so that people don't write code that relies on it. It should not strictly be needed anyway.

[2017-02-09 21:39] mhdawson commented on #93
Given the assertion that the newly proposed API can be implemented in both V8 and Chakra and its needed for an existing module it looks good to me.

I think we should leave the finalizer in napi_wrap as I think you'll almost always want to do some cleanup when the object associated with the wrap goes out of scope.

[2017-02-09 21:40] mhdawson commented on #93
My only worry is unrelated to the change itself.  Its that we are still discovering new function that we have not covered yet.  Might mean we need to port more modules before we believe the API is close to complete.

[2017-02-09 21:47] mhdawson commented on #55
Is there a perf test in leveldown or is this just running the unit tests ?

If there is no perf test I think we might want to write at least as simple one that does something typical and measure that as well.

[2017-02-09 21:52] jasongin commented on #93
Actually I think now I'm favoring the 3rd alternative I mentioned above:

@mhdawson What do you think about that design?

[2017-02-09 21:53] jasongin commented on #77
I still want to test canvas perf on a non-Windows system, since we might find different performance characteristics for calling through the NAPI layer.

[2017-02-09 21:53] mhdawson commented on #77
Are you actually doing a malloc as shown in the pseudocode ? thats going to be a killer I think.  We should do a stack allocation (even if we have to overestimate the size we need) up to a certain number of parameters as 99% of the time that will probably be less than ~6

[2017-02-09 21:56] jasongin commented on #77
Currently it's using a `std::vector` which I believe allocates on the heap. But yes, I had thought about allocating space for some small fixed number of args on the stack, then using the heap only for extreme cases. I'll try that and see if it makes a measurable difference in performance.

[2017-02-09 22:07] mhdawson commented on #96
Seems to have been added in https://github.com/nodejs/abi-stable-node/commit/db152ec1f4dca6fc65c718b4b37dfcffe8623609.

I would agree that we want to avoid it if we are not actually using it and force people to pass through the env that they get when the initial c function is called.

[2017-02-09 22:12] mhdawson commented on #93
I'll still thinking we want the equivalent of the wrap functionality.  It should be possible to port a module using the C API so we still want to make that reasonable easy as well.   The existing wrap also uses the internal Node.js implementation for wrap and I think we should avoid having 2 implementations (which of course could end up differing) of that.

[2017-02-09 22:14] jasongin commented on #96
Currently `napi_get_current_env()` is used by the code in `node_api_helpers.h`. But the new C++ wrappers make almost all that code obsolete anyway. (I haven't yet built an updated version of `Napi::AsyncWorker`.)

[2017-02-09 22:19] jasongin commented on #93
NAPI's object wrappers must have ref/unref functionality, which NAPI doesn't currently expose. I don't think it makes sense to create `napi_wrap_ref()` and `napi_wrap_unref()` APIs when really they are duplicative of the more general reference APIs. An "ObjectWrap" is basically just a ref-counted object with an external data pointer.

[2017-02-09 22:26] kkoopa commented on #96
I'll go slightly off-topic again: Regarding `AsyncWorker` I would advise a couple changes compared to the NAN implementation: A factory to create `AsyncWorker`s so the user does not have to do `new AsyncWorker(new Callback())`, as all that is more Java than idiomatic C++, `new` in user code is considered bad nowadays. Maybe ignore `Nan::Callback` altogether, since calling the wrapped function may

[2017-02-10 05:11] boingoing commented on #81
Progressing on this here:
https://github.com/boingoing/node-sass/tree/napi

[2017-02-10 08:28] jasongin commented on #93
I realized JSRT doesn't support weak reference callbacks. So that has to be removed from the proposed API above:
[code]

But that's OK, because to complement the reference APIs, I'd suggest a more general concept of an "external" value with optional finalizer callback:
[code]
Note a NAPI external value is not necessarily an object, so it cannot hold any additional properties. It's purpose is merel

[2017-02-10 19:27] aruneshchandra commented on #57
To understand why Latency is 30% slower with NAPI.
Next steps: Try to stub out NAPI calls on the hot path with static data or V8 calls to find out which NAPI calls are causing the overhead. Also try with larger message size like 1000 bytes.

[2017-02-10 19:28] sampsongao commented on #57
## Weight within napi
  9.55%  node  node               [.] napi_get_value_int32                                ◆
  9.38%  node  node               [.] napi_get_cb_args                                    ▒
  7.09%  node  node               [.] napi_set_return_value                               ▒
  5.53%  node  node               [.] napi_get_current_env                                ▒
  5.30%  n

[2017-02-10 19:34] aruneshchandra commented on #55
Next steps:
Try it with a custom perf test like inserting and reading a large data set into and from the database.
Running it on other platforms like mac / Linux etc.

[2017-02-10 19:36] sampsongao commented on #57
## System Info
Ubuntu 14.04.2 LTS (GNU/Linux 3.13.0-55-generic x86_64)
## CPU Info
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                2
On-line CPU(s) list:   0,1
Thread(s) per core:    1
Core(s) per socket:    1
Socket(s):             2
NUMA node(s):          1
Vendor ID:             GenuineIntel
CPU family:            6

[2017-02-10 19:39] jasongin commented on #50
Done for both V8 and ChakraCore.

[2017-02-10 19:39] #50 closed, assigned to jasongin

[2017-02-10 19:44] aruneshchandra commented on #12
Waiting on #53

[2017-02-10 21:36] aruneshchandra commented on #79
Decided to use the existing demo that was used for Node Interactive. Working on slide decks for VM Summit 3

[2017-02-13 17:48] jasongin opened #102 "Unit test coverage"
We need better unit test coverage of NAPI APIs.

Currently our test coverage consists of the test cases under `test/addons-abi`, which while better than nothing are far from exhaustive. They don't test error conditions at all, and several APIs are completely uncovered. We need to either expand these test cases or build some new test infrastructure. A problem with the way the current tests work is

[2017-02-13 22:02] mhdawson opened #103 "Make sure to run CI for all commit"
Just a reminder that as discussed in the last meeting we should run this job:
[code]
before landing any commits and paste it into the issue for reviewers.

Its just a start as it only cover linux (and by default will only run on ubuntu) but better than nothing.

It should  be configured so that anybody from the team working on the abi stable api can start the job.

[2017-02-13 22:04] mhdawson commented on #102
Unless we can do something easy, I'd be voting that we expand test/addons-abi.  Its already run by https://github.com/nodejs/abi-stable-node/issues/103 which we should be running from now on.

[2017-02-13 22:15] jasongin commented on #103
Can you provide instructions? I went to that site and it's not clear to me how I would queue a CI job for my PR.

Or even better, can we have this run automatically whenever a PR is submitted/updated, and display the status on the PR page?

[2017-02-13 22:38] mhdawson commented on #96
I'm not quite sure we are ready to make all of the helper functionality like "AsyncWorkers" dependent on the full C++ wrapper until we figure out the performance results from Canvas since they are much worse than we've seen from using the C api.

I assume though, we could remove the dependency on napi_get_current_env() without doing that.

[2017-02-13 22:40] mhdawson commented on #93
As mentioned in the PR, I like that they are still called wrap/unwrap and it should be clear how to ref/unref due to the types of the return values.

[2017-02-13 22:52] jasongin commented on #96
I'm confident most of the canvas performance issues are not due to use of the C++ wrapper. Compared to other packages we have benchmarked some of the canvas tests are very fine-grained: the extreme ones do >10 million calls per second across the JS/C++ boundary.

[2017-02-13 23:17] ianwjhalliday commented on #96
Ideally the C++ layer should be a zero-cost abstraction.  I would be surprised if it adds noticeable overhead.

napi_get_current_env() should indeed be removed.  @ofrobots had mentioned this a while back, I think in one of our early meetings, that Isolate::GetCurrent was planned to be deprecated and removed eventually.  No point in having NAPI start with a dependence on it.

[2017-02-13 23:25] jasongin commented on #96
While most of the wrapper will evaporate during compilation, it can't be completely zero-cost in some places because there is an extra level of function calls & indirection for the callbacks where the C callback is adapted to the C++ callback style.

Also, note that you aren't forced to use the C++ wrapper everywhere if you use it at all. For example it should be easy to only an AsyncWorker class,

[2017-02-13 23:34] pmuellr commented on #93
Making weak vs strong a mutable aspect seems a bit confusing - I actually like the fixed aspect of the existing APIs - simpler for me to think about.  In addition, the add/release style API seems a little out-of-place in terms of toggling the state.  I can't quite think of a use case where that would make sense to me, but I'm sure I'm missing something.

I can easily believe that we might learn th

[2017-02-14 00:00] jasongin commented on #93
The `node::ObjectWrap` class is basically just a ref-counting wrapper around a `v8::Persistent`. Its `Ref()` and `Unref()` methods will make a strong reference (`v8::Persistent::ClearWeak()`) when the refcount is >0 and a weak reference (`v8::Persistent::SetWeak()`) when the refcount is 0. So, none of this is introducing any new concepts for native module developers.

I did suggest above that mayb

[2017-02-14 00:17] jasongin commented on #93
As for the use case for refcounting, it is often encountered with native async callbacks. When native code goes off to do some async work, it may need to increment the refcount of the JS object that the work is being done on, to ensure the object is still alive when the async work is complete. If there are multiple async callbacks on the same object, the refcounting ensures the object is released

[2017-02-14 01:37] ianwjhalliday commented on #93
I don't know if the current APIs will port easily or at all to SpiderMonkey or duktape, but we were keeping them in mind when designing APIs, looking for the lowest common denominator possible.  This would be a good time to consider impact on implementation with other VMs of the reference API model, now that you're looking at possibly changing the API.

[2017-02-14 01:53] jasongin commented on #93
I understand, but this redesign isn't adding any new requirements on the VM. It is more of a refactoring of how the existing capabilities are exposed, to consolidate the common functionality into a single reference type. Object wrapping scenarios already required the VM to support weak and strong references. "Mutable" references aren't strictly required, since if necessary they could be simulated

[2017-02-14 01:57] ianwjhalliday commented on #55
leveldown does have its own perf benchmark suite.  @boingoing is that included in your data?

[2017-02-14 02:05] ianwjhalliday commented on #77
I think the `argt` array would be useful.  In the leveldown conversion I found most of the callbacks did overload resolution and/or parameter validation based on the types of the arguments, so most of them requested the types of the arguments.

I also put the idea of one big ugly API as you propose here in the back of my mind to explore later if we ever hit a case where the performance overhead wa

[2017-02-14 02:54] #92 closed, assigned to nobody

[2017-02-14 13:07] gabrielschulhof opened #105 "Does this napi_value have native data associated with it, and if so, what type is it?"
Currently we have no way of distinguishing a `napi_value` that refers to an object that contains native data from a `napi_value` that refers to a plain object.

Furthermore, we have a fundamental distinction in the way V8 works vs. the way JSRT works (AFAICT):
In V8 you can only associate native data with an object if it is instantiated from a constructor for which a native data slot was set aside

[2017-02-14 15:51] jasongin commented on #105
Related to this, @boingoing and I were discussing yesterday how `napi_wrap()` for JSRT currently uses the shim, via `node::ObjectWrap`. We would like all of the JSRT implementation to avoid the shim, but the JSRT APIs are currently inadequate there. We'd talked about the lack of ability to setup a callback for finalizing the external data, but making the constructor produce instances that can hold

[2017-02-14 16:03] gabrielschulhof commented on #105
Yes, `JsCreateExternalObject()` is the right API, but it creates an object based on some internal constructor, not one that can be provided.

I'm not dead set on the name `JsCreateExternalFunction()`. Still, I couldn't come up with a succinct way of saying `JsCreateFunctionWhoseInstancesAreExternalObjects()`. The bottom line is I think we need this before we can truly start wrapping objects. And,

[2017-02-14 16:04] gabrielschulhof commented on #105
Hmmm ... `JsConstructExternalObject()`?

[2017-02-16 18:36] aruneshchandra commented on #105
Needed for #11

[2017-02-16 18:56] aruneshchandra commented on #53
This is landed already
https://github.com/nodejs/abi-stable-node-wrapper/commit/fe1d9fd5a2fa898f09695faeb40f5b251b162517

[2017-02-16 18:56] #53 closed, assigned to jasongin

[2017-02-16 18:59] aruneshchandra commented on #76
Looks like this is done, we should reopen this is there are still issues

[2017-02-16 18:59] #76 closed, assigned to jasongin

[2017-02-16 20:05] jasongin commented on #105
@aruneshchandra, #11 should not be blocked by this, unless you consider use of the shim to be blocking. As I pointed out above, the JSRT implementation for object wrapping currently uses the shim, which works. I think this discussion is more about what we should do in the longer term. Or am I missing something @gabrielschulhof?

[2017-02-17 11:42] gabrielschulhof commented on #105
AFAICT chakrashim does two things:

- In response to `Function::NewInstance` it calls `JsConstructValue()`, and uses `ObjectData` to store external data separately from the resulting object, since the resulting instance is not an external object.
- In response to `ObjectTemplate::NewInstance()` it calls `JsConstructExternalObject()` and sets the prototype using `JsSetPrototype()`.

This implementa

[2017-02-20 13:30] gabrielschulhof opened #108 "We need a version of `napi_buffer_new()` where a deleter is given"
`node::Buffer::New()` has a version where it takes a `char *` along with the size. Node assumes ownership of the memory at the `char *` and frees it using `free()` when the buffer is garbage collected. It also provides a version of `New()` where a deleter may be specified in case `free()` is not the right thing to do upon GC.

To avoid excessive copying, addons should be able to set the deleter to

[2017-02-20 13:37] gabrielschulhof commented on #108
Forgot the context ...
[code]

[2017-02-20 18:24] jasongin commented on #108
I agree, it seems like a good API to add. There are a few details to consider.

* The buffer APIs are currently named inconsistently with everything else, e.g. `napi_buffer_new` instead of `napi_create_buffer`.
* It should probably use `napi_finalize` to be consistent with the deleter callbacks used by `napi_wrap` and `napi_create_external`. `napi_finalize` doesn't currently take a context, aside

[2017-02-20 20:25] gabrielschulhof commented on #108
Well, node::Buffer deleters take a context, but I guess we needn't expose
that.

On Mon, Feb 20, 2017 at 8:24 PM, Jason Ginchereau <notifications@github.com>
wrote:

[2017-02-20 21:31] gabrielschulhof commented on #108
TBH, I'm not sure we need `napi_buffer_new()` at all. In fact, we should have
[code]
and no other variation on `napi_create_buffer()`. We can document that `finalize_cb` may be null, in which case `free()` will be called on the pointer upon gc.

[2017-02-21 14:04] gabrielschulhof commented on #67
Actually this seems to be a major difference between 8.x and 6.2.0. On the latter, `napi_get_property()` will walk up the prototype chain, but in 8.x, the same function will only retrieve own properties. Maybe we have to be explicit about whether to walk up the prototype chain or not.

I think we need
[code]
which never walks up the prototype chain, and ensure that `napi_get_property()` always wal

[2017-02-21 19:44] jasongin commented on #108
I'm concerned that wouldn't be obvious, so I'd prefer 2 separate functions. ([I commented on this in the PR.](https://github.com/nodejs/abi-stable-node/pull/109/files#r102296904)) Also for the case of allocating a new buffer, it would be simpler to let node manage allocating and freeing the memory.

[2017-02-21 20:17] jasongin commented on #105
Nice analysis @gabrielschulhof .

I see [where the shim intercepts the function callback](https://github.com/nodejs/node-chakracore/blob/xplat/deps/chakrashim/src/v8functiontemplate.cc#L109-L119). If it's a constructor call, it *discards* the `this` argument (which was just constructed, and would be a proper instance of the constructor), and replaces it with a new object created by `JsCreateExtern

[2017-02-22 10:23] gabrielschulhof opened #111 "Pass a context to napi_finalize"
Let's modify napi_finalize to take a context as its second parameter as suggested in https://github.com/nodejs/abi-stable-node/pull/109#issuecomment-281511794.

[2017-02-22 13:51] gabrielschulhof opened #112 "tests: do a pass over the C++ portion and make sure the style is the same throughout"
For example, we might follow @jasongin's [suggestion](https://github.com/nodejs/abi-stable-node/pull/109#discussion_r102359052) and use macros to make the code more succinct.

[2017-02-22 21:11] jasongin commented on #105
I looked into a possible `JsCreateFunctionWhoseInstancesAreExternalObjects()` API for ChakraCore, and found it was going to be very complicated to implement. Then I considered the other alternative, `JsConstructExternalObject()`. The only thing different that would need to do is use the correct prototype when creating the external object. Then I realized it's possible to set the prototype afterwar

[2017-02-22 21:51] gabrielschulhof commented on #105
Yeah, it's super-important that the resulting object be indistinguishable from what would've been constructed via `JsConstructObject()`, including the fact that it gets passed to the constructor as its `this` argument.

[2017-02-23 19:14] aruneshchandra opened #115 "Bring all braches in sync"

[2017-02-23 21:51] jasongin commented on #108
The ChakraCore port of updated buffer APIs is ready [in my fork](https://github.com/jasongin/abi-stable-node/commit/d101eb3ff7ee97169d2b04ca532b3b275c3738b1). It depends on the [Reference and external improvements](https://github.com/nodejs/abi-stable-node/pull/113), so I'll wait for that to land before submitting the PR.

The concerns I had about the buffer value type and the null isolate turned

[2017-02-23 22:14] #80 closed, assigned to gabrielschulhof

[2017-02-23 22:40] gabrielschulhof commented on #11
Assertions passing: 110/180

[2017-02-24 00:21] jasongin commented on #77
The above benchmark data was collected on a 5-year-old workstation PC running Windows, with a Xeon W3530 @2.8GHz, 20 GB RAM.

I also ran on a 1.5-year-old Mac Mini and the results were very similar percentage-wise.

[2017-02-25 00:40] jasongin commented on #74
With the C++ wrapper, the example (2nd snippet in first comment in this thread) becomes much simpler:

[code]

It may look like that C++ code has no error-handling, but actually it does: the wrapper may throw C++ exceptions, that are automatically re-thrown as JavaScript exceptions if not handled.

[2017-02-25 00:50] jasongin commented on #115
I backported all our V8 commits from the **api-prototype-8.x** to the **api-prototype-6.2.0** branch. Those two branches are now in sync, and NAPI tests are all passing in both.

The **api-prototype-chakracore-8.x** still needs a couple changes. ETA Monday or Tuesday. 

[2017-02-27 10:10] boingoing commented on #55
Thanks @ianwjhalliday for pointing to the leveldown benchmark. This looks like a pretty representative test of ordinary database operations. It writes about a million entries representing a database of around 110MB. Ran the benchmark on the same machine and binaries listed in the above comment and found NAPI has about a 5% perf impact. Here are the results for a few runs:

Leveldown Nan on V8-Node

[2017-02-28 03:12] sampsongao commented on #55
@boingoing  what is the unit of elapsed time?

[2017-02-28 03:16] boingoing commented on #55
@sampsongao all units are in seconds.

[2017-02-28 22:06] sampsongao commented on #57
## Performance update after fixing the GC from Napi::Callback #120

Items | delta before and after error handling % | delta before and after napi % | combined
------|-----------------------------------------|--------------------------------------|------------
latency [us] | 0.95 | 6.82 | 7.83
throughput [msg/s] | 0.21 | -0.12 | 0.09
throughput [Mb/s] | 0.53 | 0.00 | 0.53

[2017-02-28 22:12] jasongin commented on #57
@sampsongao What was the fix?

[2017-02-28 22:30] digitalinfinity commented on #57
Also, what was the workload here? Same as before, 10 byte messages?

[2017-03-01 04:23] sampsongao commented on #57
This is using 1 byte message.

[2017-03-01 16:07] gabrielschulhof commented on #11
Assertions passing: 353/396
The most difficult portion (representation payload) is implemented. Discovery and REST works. Only observation remains. I'll work on it tomorrow and on the plain. I haven't had a good look at the memory management yet, but I'll do a coverage run eventually.

[2017-03-01 22:15] aruneshchandra commented on #57
Data from @sampsongao using **1 byte** message size

Items | Non N-API | N-API | Delta
------|-----------------------------------------|--------------------------------------|------------
Latency [us] |107.1128|115.5018| 7.83%
Throughput [msg/s] | 4679.6 | 4683.6 | 0.09%
Throughput [Mb/s] | 0.0374 | 0.0376 | 0.53%

[2017-03-01 22:18] gabrielschulhof commented on #11
[code]

[2017-03-01 22:27] aruneshchandra commented on #11
Does this mean that the port is 100% complete ?

[2017-03-01 22:33] gabrielschulhof commented on #11
Against V8, for sure.

[2017-03-02 08:08] jasongin opened #122 "Execution in pending exception state"
NAPI currently has a policy that *any* API call during a pending-exeption state will bail out immediately with a `napi_pending_exception` error. That policy is too restrictive.

It is often necessary for native modules to do some cleanup operations while in a pending-exception state. Most commonly they may need to **close a handle scope**. But also other things like releasing/deleting a reference

[2017-03-02 08:27] jasongin opened #123 "napi_is_error"
The `node_sass` module needs to check if an object returned by a JS callback is an instance of a JS `Error`.

This is easily implementable with `v8::Value::IsNativeError()` and JSRT `JsValueType::JsError`.

[2017-03-02 18:24] jasongin opened #124 "NAPI number coercion behavior"
The `node_sass` package calls `Nan::To<int32_t>(value)`, which calls `value->Int32Value()`, that returns `0` if the value is undefined.

In the NAPI V8 implementation, `napi_coerce_to_number()` calls `value->ToNumber()`, and `napi_get_value_int32()` calls `value->Int32Value()`, which returns `INT_MIN` if the original value before coercion was undefined.

So while it seemed obvious when porting to

[2017-03-02 18:30] jasongin commented on #115
Done: api-prototype-chakracore-8.x branch is up to date also.

[2017-03-02 18:30] #115 closed, assigned to jasongin

[2017-03-02 18:31] jasongin commented on #108
Closing this because the buffer API improvement PRs have been merged.

[2017-03-02 18:31] #108 closed, assigned to gabrielschulhof, jasongin

[2017-03-02 18:32] jasongin commented on #105
This is resolved by the introduction of a `napi_external` type and refactoring of `napi_wrap` implementation, done now in all branches.

[2017-03-02 18:32] #105 closed, assigned to nobody

[2017-03-02 23:19] boingoing commented on #82
Node-sass-napi binary built from https://github.com/boingoing/node-sass/commit/b663dcfea188592c5469c87da6b13f6307bb7264
Node-sass-nan binary built from https://github.com/sass/node-sass/commit/cc7c3b37ba65fe5c7ebd0965c16e086abec57f3b
Node-V8 8.x built from https://github.com/nodejs/abi-stable-node/commit/75e28c5e735af71404578d189ec2533c4b356cc5

Performance is measured via this suite:
https://gith

[2017-03-03 17:22] gabrielschulhof commented on #122
Perhaps we should not take it upon ourselves to decide whether to forward the call to the VM or not. After all, a VM has to be able to deal with the case where there's a pending exception but a call into it has been made.

ChakraCore should simply return something other than `JsNoError` and V8 should have its own mechanisms for indicating an exceptional state, such as an empty maybe.

[2017-03-06 20:01] mhdawson opened #126 "Lint errors"
We have lots of lint errors both in the core files and in the add-on-tests.  We will have to fix these up before creating the PR to core:
[02:47|% 100|+ 1388|-   0]: Done
/Applications/Xcode.app/Contents/Developer/usr/bin/make lint
./node tools/eslint/bin/eslint.js --cache --rulesdir=tools/eslint-rules \
	  benchmark lib test tools
src/node_asyncapi.cc:4:  Using C-style cast.  Use reinterpret_cast

[2017-03-06 21:10] sampsongao commented on #57
Update: investigated further about the reason of this GC difference. The conclusion is that nanomsg code itself is introducing a leak by not freeing Napi::Callback allocated and thus the extra object we allocate in Napi::Callback is taking extra space. By freeing Napi::Callback, Nan implementation and Napi implementation of Callback are both ok. But not sure if we want to be different from nan in

[2017-03-06 21:18] jasongin commented on #57
Different in what way?

In general we should not be too concerned with doing things exactly like nan. First, Nan is very V8-specific. Second, Nan is basically unable to make breaking changes to fix any issues in its API, because its entire purpose is to provide a more stable API. Since we are introducing an entirely new API, now is our chance to make improvements. See [this comment](https://github

[2017-03-06 21:28] sampsongao commented on #57
So in Nan::Callback, it put the callback directly under the persistent value; in Napi::Callback, we have first store callback under object, and then put the object under the persistent value. Not sure if this is necessary or bringing us any improvement.

[2017-03-06 21:34] jasongin commented on #57
That indirection serves no purpose as far as I can see.

Note the `Callback` class along with everything else in `node_api_helpers.h` is obsolete and will not be included in the PR to node that we make soon. We need to update all our ported modules to use the new C++ wrappers instead. There, there is no `Callback` class; you should use `Napi::Reference<Napi::Function>` instead. (Maybe there should

[2017-03-06 22:20] mhdawson commented on #122
I'm leaning towards the suggestion to just allow the vm to handle the problem without us deciding to forward or not.  Would it make sense to try that with node-sass to see if there are any problems that show up since it sounds like it has reasonable coverage of error conditions ?

[2017-03-07 02:20] mhdawson commented on #126
The above is from '''make cpplint'''.  There are also issues in the test files from '''make lint'''

[2017-03-07 05:07] jasongin opened #130 "Project naming terminology"
I'm still not quite sure what this project is supposed to be called officially. We need to decide on terminology and straighten out the names so that they are consistent everywhere before submitting the PR to node. We have a variety of terms that all are referring to basically the same concept, including:

Thing | Current Naming
--- | ---
GitHub repos prefix | `abi_stable_node`
Prefix on all the A

[2017-03-07 06:48] jasongin commented on #93
Closing since this work is done in all branches.

[2017-03-07 06:48] #93 closed, assigned to jasongin

[2017-03-07 21:12] cosinusoidally opened #133 "napi_module_register is not extern "C""
I assume napi_module_register should be extern "C" in order to expose a pure C interface to modules? Looking at https://github.com/nodejs/abi-stable-node/blob/7c049ad24e108eddd7756a8b6cbfe684bfda00d4/src/node_jsvmapi.h#L46 napi_module_register does not currently appear to be extern "C"

I built the following dummy addon:
[code]
I built it with the following command line (on an x86_64 Linux system

[2017-03-07 21:30] sampsongao commented on #57
Port nanomsg on their current master at napi-port-3.2.4.
New measurement on message size of 1 byte.

Items | Non N-API | N-API | Delta
------|-----------------------------------------|--------------------------------------|------------
Latency [us] | 102.6978 | 112.7798 | 9.82%
Throughput [msg/s] | 4730.4 | 4697.6 | -0.69%
Throughput [Mb/s] | 0.038 | 0.0376 | -1.05%

[2017-03-07 21:53] jasongin commented on #133
Correct, `napi_module_register` should be extern "C".

I have [a PR](https://github.com/nodejs/abi-stable-node/pull/129/files) open where I'm refactoring some things related to `napi_module_register`. I'll update it to fix this bug also.

[2017-03-07 22:25] kkoopa commented on #130
May I suggest calling the C++ part NAN 3.0? A familiar name would likely encourage its use, which in turn would lead to greater use of the ABI stable API. The need for evangelization would also be reduced, leaving room to focus on the new improvements, like the stable ABI and new design. People would already know what it is supposed to do.

[2017-03-07 22:37] jasongin commented on #130
@kkoopa I mostly agree; in some ways it would make a lot of sense to be NAN 3.0.

A reason we might not want to do that is that we're not necessarily trying to deprecate or prevent direct usage of the V8 APIs by native modules. Some native modules, hopefully a very small subset, may still need to call V8 APIs directly if they need to do something unusual that is very engine-specific. ([`deasync`](

[2017-03-07 23:42] jasongin commented on #77
The performance improvements [in my PR](https://github.com/nodejs/abi-stable-node/pull/134) reduce the worst case canvas benchmark from 505% to 277%. Other benchmarks that stress the JS-to-C++ NAPI callback layer show similar improvements.

[2017-03-07 23:45] NickNaso commented on #130
Hi everyone,
i agree with @jasongin  what you said is really true. I like your idea to call it NAPI as reported here https://github.com/nodejs/abi-stable-node-wrapper/pull/2
Personally i also change all the names to be consistent to the project's name.

[2017-03-07 23:48] jasongin commented on #133
https://github.com/nodejs/abi-stable-node/pull/129/commits/044ef5c6034350bdf367e564de37cb76d509bdf9

[2017-03-08 15:55] kkoopa opened #135 "Buffer data argument should be void*, not char*"
As I mentioned in [another issue](https://github.com/nodejs/abi-stable-node-wrapper/pull/1#issuecomment-283436327), it is arguably a historical oversight that `node::Buffer` takes a `char*` as the `data` argument and not a `void*`. This leads to mandatory typecasting whenever something else than a `char*` is given to `node::Buffer`. Now is a good chance not to repeat the same mistake.

[code]

Add

[2017-03-09 00:56] digitalinfinity commented on #126
@mhdawson have you already started on this? If not, I'm happy to take a crack at fixing these

[2017-03-09 18:41] jasongin opened #136 "Delete node_api_helpers.h and update code that used it"
Helper classes in `node_api_helpers.h` rely heavily on `napi_get_current_env()`. That is not a pattern we want to promote, and we're probably removing that API anyway.

I already built new equivalents for all the helper classes there, we just need to port the code. That includes a couple of the test cases long with leveldown, nanomsg, and maybe iotivity.

I already started a leveldown port, and I

[2017-03-09 18:42] aruneshchandra commented on #11
Let's open a specific ChakraCore issue and close this after we have verified it with non NAPI version.

[2017-03-09 18:46] aruneshchandra commented on #79
Done!

[2017-03-09 18:46] #79 closed, assigned to aruneshchandra

[2017-03-09 18:46] aruneshchandra commented on #81
Let's open a specific ChakraCore issue for this

[2017-03-09 18:47] #82 closed, assigned to boingoing

[2017-03-09 18:50] #55 closed, assigned to boingoing

[2017-03-09 18:54] #57 closed, assigned to sampsongao

[2017-03-09 19:26] aruneshchandra commented on #122
@fhinkel - question for you ? Should we be preventing calling the APIs when there are exception pending ?

[2017-03-09 19:31] jasongin commented on #74
Closing since this is addressed by the C++ wrapper classes.

[2017-03-09 19:31] #74 closed, assigned to nobody

[2017-03-09 19:42] gabrielschulhof opened #137 "Remove build flag"
... but keep the runtime flag, and maybe rename it to something like `--napi-modules=yes|no` instead of `--with|without-napi-modules` so we don't need to rename the option later.

[2017-03-09 21:51] mhdawson commented on #130
We discussed in last weekly NAPI meeting. @aruneshchandra  should add extra row to table to show our current suggestions.

[2017-03-09 21:52] mhdawson commented on #137
agree we should rename to --napi-modules

[2017-03-09 22:24] mhdawson commented on #130
We should also add these to the list:

node_asyncapi.cc  node_asyncapi.h  node_asyncapi_internal.h  node_asyncapi_types.h

as they will part of the PR.

[2017-03-09 23:47] aruneshchandra commented on #130
Thing | Current Naming | New Naming
--- | --- |---
GitHub repos prefix | `abi_stable_node` |`node_api`
Prefix on all the APIs and types | `napi_`|`napi_`
Main C header file | `node_jsvmapi.h`|`node_api.h`
Tests directory | `addons-abi`|`addons-napi`
C++ wrapper header file | `napi.h`| TBD
C++ namespace | `Napi`|TBD
Module registration callback typedef | `addon_abi_register_func`|`napi_addon_regist

[2017-03-09 23:54] aruneshchandra opened #138 "Final Validation"
Please update this list with the status

- [x] macOS validation
- [x] CI (internal and node) run - @jasongin
- [x] Addon examples - @sampsongao
- [x] Build and Unit Test for LevelDown - @jasongin
- [x] Build and Unit Test for Nanomsg - @sampsongao
- [x] Build and Unit Test for Canvas - @jasongin
- [x] Build and Unit Test for Node-Sass - @boingoing
- [x] Build and Unit Test for IoTivity - @gabriels

[2017-03-10 05:42] jasongin commented on #130
Thanks @aruneshchandra. I'll prepare a PR with these renames soon.

I'm not sure those should be included. Maybe we should leave them out initially, and add them in later if we conclude they are needed.

[2017-03-10 09:02] fhinkel commented on #122
In V8, it's the embedder's responsibility to use a TryCatch or continue appropriately if there was an exception. If they ignore the exception and call V8 again, it'll usually result in buggy code.

[2017-03-10 10:16] gabrielschulhof commented on #122
To me this sounds like it's an application-specific decision and thus
beyond the scope of N-API. All we can do is faithfully convey the state of
the VM.

On Fri, Mar 10, 2017 at 11:02 AM, F. Hinkelmann <notifications@github.com>
wrote:

[2017-03-13 18:44] mhdawson commented on #130
Are there calls for libuv that are used directly in the C++ wrapper other than these ?  I not then I think we should include them.  If there are others we should look at those and have the larger discussion.

[2017-03-14 01:46] digitalinfinity commented on #133
Fixed as of 14318a8 - closing

[2017-03-14 01:46] #133 closed, assigned to jasongin

[2017-03-14 23:28] mhdawson opened #144 "Warning when abi-addon on tests run"
Warning when abi-addon on tests run

Lots of warnings in the CI runs:
https://ci.nodejs.org/job/node-test-commit-linux-abi/nodes=ubuntu1404-64/23/console

As one example:
[code]

[2017-03-15 07:11] gabrielschulhof commented on #144
@jasongin tells me this is gcc being overly paranoid and that the initializer in question fully complies with the standard.

[2017-03-15 16:47] jasongin commented on #144
While that's true (and there are no warnings on Windows builds), we should probably change the code anyway to clean up the gcc warnings.

[2017-03-15 20:03] sampsongao commented on #96
Closed in e057a6f974203ad667b460521ced4b818cec4814

[2017-03-15 20:03] #96 closed, assigned to sampsongao

[2017-03-15 20:04] sampsongao commented on #136
Closed in e057a6f974203ad667b460521ced4b818cec4814

[2017-03-15 20:04] #136 closed, assigned to sampsongao

[2017-03-15 22:03] boingoing commented on #123
Implemented in V8 branch via #147

[2017-03-15 22:42] mhdawson opened #148 "Recently landed changes have broken tests/CI"
https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-commit-linux-abi/30/nodes=ubuntu1404-64/console

[code]

Likely https://github.com/nodejs/abi-stable-node/pull/142. Looks like code was changed after last succefull CI run.

@boingoing

[2017-03-15 22:44] boingoing commented on #148
My mistake. This broke when I changed the parameter order to napi_create_function. I fixed the other uses but missed this one.

[2017-03-15 22:51] boingoing commented on #148
Prepared a fix https://github.com/nodejs/abi-stable-node/pull/149

[2017-03-16 00:17] boingoing commented on #148
Fixed by https://github.com/nodejs/abi-stable-node/pull/149

[2017-03-16 00:17] #148 closed, assigned to nobody

[2017-03-16 00:41] boingoing commented on #144
@sampsongao

Noticed you assigned this to yourself, did you already fix the warnings? I was thinking of taking this up if it's not already in-progress.

[2017-03-16 01:10] boingoing commented on #135
Resolved by #145

[2017-03-16 01:10] #135 closed, assigned to boingoing

[2017-03-16 01:10] #123 closed, assigned to boingoing

[2017-03-16 01:11] boingoing commented on #78
Resolved by #142

[2017-03-16 01:11] #78 closed, assigned to boingoing

[2017-03-16 06:51] digitalinfinity commented on #144
@mhdawson given that the initializer is actually correct, is this a must have for milestone 6?

@sampsongao @jasongin and I were talking about this offline- I think the consensus is to go down the macro route for readability. You might want to consider fixing #112 too while fixing this. We were imagining the macros taking either one of the two following forms:
`#define DEFAULT_ATTR 0, 0, 0, napi_d

[2017-03-16 15:40] sampsongao commented on #144
I don't know why should we introduce new macros while removing NAPI_METHOD and NAPI_MODULE_I. Or are the new macros just for internal, like for our addons-abi tests?

[2017-03-16 16:27] jasongin commented on #144
Yes, Hitesh is only suggesting adding common macros for tests, not in the public header.

[2017-03-16 17:26] #81 closed, assigned to boingoing

[2017-03-16 17:27] #77 closed, assigned to jasongin

[2017-03-16 17:28] boingoing opened #151 "Investigate inconsistencies on ChakraCore"
As pointed out in https://github.com/nodejs/abi-stable-node/issues/81, some native modules have unit test failures running on ChakraCore which we should make an effort to understand more fully. Opening an issue to track such inconsistency more broadly.

[2017-03-16 17:38] aruneshchandra commented on #11
Closing this - tracking ChakraCore issue with #151

[2017-03-16 17:38] #11 closed

[2017-03-16 18:02] aruneshchandra commented on #137
Done.

[2017-03-16 18:02] #137 closed, assigned to gabrielschulhof

[2017-03-16 18:06] aruneshchandra opened #152 "N-API addon examples"

[2017-03-16 18:07] aruneshchandra opened #153 "NAPI Documentation"
- [x] Getting Started - Hitesh/Michael
- [x] Data Types and Values (convert to and from C) - Hitesh
- [x] Abstract Operations (return napi objects or tell you the type) - Hitesh
- [x] Functions to call into JS - Hitesh
- [x] Functions to call back from JS  - Hitesh
- [x] Error Handling - Michael
- [x] Memory Management - Michael
- [x] Async APIs - Michael
- [x] Module Registration  - Michael
- [x]

[2017-03-16 18:15] digitalinfinity commented on #126
Fixed with #139 and #140.

[2017-03-16 18:15] #126 closed, assigned to digitalinfinity

[2017-03-16 18:56] gabrielschulhof opened #154 "napi_pending_exception does not get recorded into napi_get_last_error_info()"
... and as a result one cannot treat a status of `napi_pending_exception` the same way as any other non-`napi_ok` status.

[This](https://github.com/nodejs/abi-stable-node/blob/api-prototype-8.x/src/node_jsvmapi.cc#L1425) should probably pass the return value through `napi_set_last_error()`.

[2017-03-16 21:37] #154 closed, assigned to gabrielschulhof

[2017-03-16 22:03] gabrielschulhof commented on #154
Did a CI run before I merged, too: https://ci.nodejs.org/view/All/job/node-test-commit-linux-abi/40/

[2017-03-16 22:40] digitalinfinity commented on #111
Fixed in 7597d8e

[2017-03-16 22:40] #111 closed, assigned to digitalinfinity, jasongin

[2017-03-16 22:57] mhdawson opened #159 "Still cpplint failures ?"
Still seem to be getting a number of ccplint messages, From my attempt at adding the linting to the job:

https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-commit-linux-abi-mdawson/6/nodes=ubuntu1404-64/console

[code]

[2017-03-16 22:58] mhdawson commented on #159
@digitalinfinity

[2017-03-16 22:59] jasongin commented on #144
Fixed by https://github.com/nodejs/abi-stable-node/pull/156

[2017-03-16 22:59] #144 closed, assigned to sampsongao

[2017-03-16 23:10] jasongin commented on #130
Fixed by #158

[2017-03-16 23:10] #130 closed, assigned to jasongin

[2017-03-16 23:10] digitalinfinity commented on #159
Looking

[2017-03-16 23:14] digitalinfinity commented on #159
Trying to repro locally but from a quick glance at the logs, I suspect a later change might have added the BOM to node_jsvmapi.h and node_jsvmapi.cc - I'll send out a PR to remove but I think that we might want to look at changing the linter to be tolerant of the BOM

[2017-03-16 23:23] digitalinfinity commented on #159
Submitted #160 to fix these errors- can you try your CI against that branch and see if it looks green? We can use both the PR as a test of the CI and the CI as a test of the PR 😄

[2017-03-17 17:48] sampsongao commented on #152
Done https://github.com/nodejs/abi-stable-node-addon-examples/commit/df4f1a14fc809321330f0e7e18f6dca5524cffc8 and https://github.com/nodejs/abi-stable-node-addon-examples/commit/2c90bdab4917691e6b647461ca523cfef528d4b0

[2017-03-17 20:20] digitalinfinity commented on #159
Landed as 93fe9fb

[2017-03-17 20:20] #159 closed, assigned to nobody

[2017-03-17 20:30] aruneshchandra opened #162 "Add warning message for --napi-modules"

[2017-03-17 21:55] digitalinfinity commented on #153
Related C++ issue: https://github.com/nodejs/node-api/issues/6

[2017-03-17 22:44] jasongin opened #164 "--napi-modules flag is not inherited by spawned processes"
I built node with the `--napi-modules` flag switched to *off by default*, as we plan to have it in the PR. (Currently it is on by default to make our N-API development activity more convenient.)

While N-API can be enabled for a node process by passing `--napi-modules` on the command-line, that enablement doesn't get inherited by spawned processes. In particular this is a problem for test runners,

[2017-03-17 22:51] jasongin commented on #153
Maybe there should be another section about **Properties**: getting, setting, and defining them.

[2017-03-17 23:24] gabrielschulhof commented on #164
There is no easy way around this, I'm afraid. You simply have to visit every spot where you spawn node and append that switch. In the `test/addons-abi/testcfg.py` we can specify this with the `additional_flags` parameter, because the test runner has a facility for conveying arguments to node, but mechanisms will have to be provided by all projects wishing to do this.

I mean, we could switch to a

[2017-03-18 04:56] jasongin commented on #138
As preparation for final validation, and to make creation of the PR easier, today I merged the latest from node/master into api-prototype-8.x, as https://github.com/nodejs/abi-stable-node/commit/795ba36d24ee35a6b535f06e143c0486d27c67e2. The CI still passes.

I may have to pick up a few more changes from node/master before I make the PR, but it won't be much if anything.

[2017-03-20 11:07] gabrielschulhof commented on #138
iotivity-node is green against 7e2cbb944c07e25298a30a5372c3d01c79314a43.

[2017-03-20 15:13] mhdawson opened #168 "CI run broken by N-API experimental warning"
Looks like the CI runs are broken: https://ci.nodejs.org/job/node-test-commit-linux-abi/nodes=ubuntu1404-64/55/console

An example failure:

[code]

So I believe it would be related to: https://github.com/nodejs/abi-stable-node/commit/7e2cbb944c07e25298a30a5372c3d01c79314a43

[2017-03-20 15:15] mhdawson commented on #168
Possibly related to the change which was made after the CI run in the PR.

[2017-03-20 15:20] #152 closed, assigned to sampsongao

[2017-03-20 15:37] mhdawson commented on #168
@jasongin

[2017-03-20 16:25] jasongin commented on #168
Sorry about that, I guess I forgot to run CI again after updating the PR.

We actually do want this warning here. I think I'll have to update all the tests to expect that N-API warning.

[2017-03-20 17:22] jasongin commented on #168
The failures were coming from non-NAPI tests that were expecting specific warnings but failed due to this unexpected warning. The best way to fix this is to just switch N-API to be disabled by default (as planned anyway), so that those other tests don't enable N-API and don't see this warning.

Fixed by https://github.com/nodejs/abi-stable-node/pull/169

[2017-03-20 17:47] #168 closed, assigned to nobody

[2017-03-20 19:14] digitalinfinity commented on #153
Added and self-assigned for now 😄

[2017-03-20 22:59] jasongin commented on #162
Done as https://github.com/nodejs/abi-stable-node/commit/7e2cbb944c07e25298a30a5372c3d01c79314a43

[2017-03-20 22:59] #162 closed, assigned to jasongin

[2017-03-21 00:02] jasongin commented on #138
Canvas and leveldown are validated against the staged PR on Windows and Mac.

[2017-03-21 00:21] digitalinfinity commented on #138
@mhdawson can you help with triggering the Node CI run on Jason's branch
@sampsongao do you have any update on whether Addon Examples have been updated to work with the new NAPI APIs

@aruneshchandra @jasongin has done basic validation on macOS. @boingoing is validating node-sass. Do we need to verify anything else beyond what the Node CI will validate?

[2017-03-21 18:54] jasongin opened #177 "Merge napi_handle_scope and napi_escapable_handle_scope into napi_scope"
As @digitalinfinity, @boingoing, and I discussed offline, there is an opportunity to simplify the API somewhat and make it more abstracted from V8 specifics. We could have a single `napi_open_scope` API that takes a boolean (or flags?) parameter indicating whether it should be escapable. The escapable attribute of a scope would be tracked internally, and if you try to call `napi_escape` on a scope

[2017-03-22 04:33] jasongin opened #179 "Latin1 string encoding"
N-API currently supports UTF-8 and UTF-16 string encoding. V8 additionally supports latin1 string encoding, called "OneByte" strings in the V8 APIs, and it is widely used.

Proposed additional APIs:
 - `napi_create_string_latin1`
 - `napi_get_value_string_latin1_length`
 - `napi_get_value_string_latin1`

[2017-03-22 08:26] gabrielschulhof opened #182 "Use Symbol.hasInstance() for napi_instanceof on V8, when available"
This can be accomplished by retaining Symbol.hasInstance() in a static Persistent<Function> at the top of node_api.cc and then calling it. If the persistent is empty, we do what we do now. The persistent is initialized from `napi_module_register_cb()`.

[2017-03-22 08:27] gabrielschulhof opened #183 "Create a test addon in C"
Add an addon to the addons-napi test suite that is written in C.

[2017-03-22 08:30] gabrielschulhof commented on #182
... though perhaps we shouldn't store it but rather retrieve it all the time, because it could be for a different context :/ This reduces the performance of `napi_instanceof()` on V8, but it may still be an improvement compared to the walk up the prototype chain that it does now.

[2017-03-22 10:53] kkoopa commented on #177
What would the actual benefits of that be? Replacing two simple types with one complex is not necessarily a simplification. Now you need to keep track of what arguments were passed to the constructor instead of just looking at the type. It the proposed parameter is a formal parameter it will consume space for no good reason, if it is a template parameter you effectively have two distinct types, so

[2017-03-22 14:45] jasongin commented on #182
Do we actually want that behavior? Does a native addon want its instanceof checks to be overridable? Does `v8::FunctionTemplate::HasInstance()` use `Symbol.hasInstance()`? Or should we rename `napi_instanceof()` to something that doesn't imply exactly the same behavior as the JS `instanceof` operator?

[2017-03-22 14:50] jasongin commented on #177
As stated above, the main benefit is a simpler public API surface (fewer types and fewer APIs). I'm not saying this is definitely something that must be done, but something to investigate and consider further.

[2017-03-22 15:10] gabrielschulhof commented on #182
What do you mean by "its instanceof checks"? An addon may check whether anything is an instance of anything else. It need not necessarily restrict itself to checks of instances against constructors it provides itself. This is to be a generic API, right?

As such, we should absolutely replicate precisely what the `instanceof` operator does, because the operator is fundamentally inaccessible from th

[2017-03-22 16:10] jasongin commented on #182
Does `v8::FunctionTemplate::HasInstance()` use `Symbol.hasInstance()`? Or is it unaffected by that customization?

[2017-03-22 16:14] gabrielschulhof commented on #182
I'm checking that too. Even with plain JS though, only classses can be customized by way of `Symbol.hasInstance`, not plain functions used as constructors.

[2017-03-22 16:15] gabrielschulhof commented on #182
Oh, actually, `v8::FunctionTemplate::HasInstance()` is not affected by `Symbol.hasInstance` AFAICT. Probably because it counts as a plain-old-function, not a class.

[2017-03-22 16:16] jasongin commented on #182
I don't understand -- a class in JS is just syntactic sugar for a constructor function with prototype properties.

[2017-03-22 16:17] gabrielschulhof commented on #182
Here's the JS-only code I'm using for testing:
[code]

[2017-03-22 16:20] gabrielschulhof commented on #182
For the plain-old-function I tried setting all of these as well:
[code]
and `a` and `b` are still considered instances, despite the supposed check. So, that's why I concluded that it only works for classes. Looks like they're more than just sugar.

[2017-03-22 16:21] jasongin commented on #182
It's static, so the equivalent would be:
[code]

[2017-03-22 16:23] gabrielschulhof commented on #182
OK, so that was my original code. So, does the fact that it does not affect instanceof against plain-old-functions mean that there's a bug in V8 in that it does not conform to spec?

[2017-03-22 16:25] gabrielschulhof commented on #182
Note that for our implementation of `napi_instanceof()` I think we still need to go with `hasInstance`, because we cannot distinguish whether the constructor was created with `class {}` and should therefore be influenced by custom `hasInstance()`-ers or whether it was created with `function() {}` - as well we shouldn't, since it *is* supposed to be just sugar ...

[2017-03-22 16:27] jasongin commented on #182
Take a look at this: http://node.green/#ES2015-built-ins-well-known-symbols-Symbol-hasInstance

Here's the code they use for the test:
[code]

V8 passes the test on Node >= 6.10.

[2017-03-22 16:28] gabrielschulhof commented on #182
Oh, `defineProperty`, eh?

[2017-03-22 16:30] gabrielschulhof commented on #182
Wow! OK, so if I use `defineProperty()` then it affects `instanceof`.

[2017-03-22 16:40] gabrielschulhof commented on #182
`v8::FunctionTemplate::HasInstance` does not take into account `hasInstance`:

[code]
and hello.cc:
[code]
results in
[code]

[2017-03-22 16:43] gabrielschulhof commented on #182
So, since `FunctionTemplate` is a V8-specific construct, seeming based on the above to express only relationships between objects as stored in the VM, I still think we should encapsulate the logic of the native `instanceof` operator rather than of the V8-specific `HasInstance()` and call it `napi_instanceof()`.

[2017-03-22 16:51] jasongin commented on #182
Agreed. We could still provide a separate `napi_ordinary_has_instance()` that matches the current implementation as suggested [in this comment](https://github.com/nodejs/node/pull/11975#discussion_r107459548). But I'm not sure any native module would really depend on the distinction.

[2017-03-22 16:55] gabrielschulhof commented on #182
Yeah, let's take the lazy (i.e. let someone file a bug requesting the feature) approach with `napi_ordinary_has_instance()` :)

[2017-03-22 17:09] gabrielschulhof opened #184 "Remove [=yes|no] from runtime flag"

[2017-03-22 17:31] jasongin commented on #184
At the same time, we should also update the error message to mention the runtime flag, as [suggested in this comment](https://github.com/nodejs/node/pull/11975#discussion_r107325207)?

[2017-03-22 17:36] gabrielschulhof commented on #184
Definitely.

*  [ ] Remove yes/no
*  [ ] update docs
*  [ ] mention runtime flag in error

[2017-03-22 18:07] gabrielschulhof commented on #183
Actually, I'm thinking about converting test/addons-napi rather than adding one. Shouldn't be a big deal since they're already written in C.

[2017-03-22 18:19] gabrielschulhof commented on #183
Ugh! There's no `bool` in C by default - at least the way addons are built in test/addons-abi.

[2017-03-22 18:25] jasongin commented on #183
Can we typedef it, like I did for `char16_t`?

[2017-03-22 18:32] gabrielschulhof commented on #183
Yeah.
[code]
We also need a bunch of
[code]

[2017-03-22 18:32] gabrielschulhof commented on #183
My PR will have these changes. The existing addons-napi are trivial to convert so far.

[2017-03-22 18:36] jasongin opened #188 "Use ref/unref terminology instead of addref/release"
Consider renaming:
 - `napi_reference_addref()`
 - `napi_reference_release()`

To:
 - `napi_reference_ref()`
 - `napi_reference_unref()`

To be consistent with the "Ref/Unref" terminology used throughout Node.js.

See https://github.com/nodejs/node/pull/11975#discussion_r107326862

[2017-03-22 18:53] boingoing opened #189 "Use snake_case for all local names and parameters"
We aren't consistent in naming our locals or parameters with respect to their casing. Node.js, apparently, prefers snake_casing for these.

[code]
Should become
[code]

[2017-03-22 20:03] jasongin opened #191 "Type-checking when getting values"
There were a few questions [in the PR](https://github.com/nodejs/node/pull/11975) about whether we need to check the type of a value before getting a casted value. For example, in `napi_get_value_int32` we check `value->IsNumber()`, then call `value.As<v8::Int32>()->Value()`. What if the value is a non-integer number? Does the `As<>` cast work, or crash, or what?

Basically we need to add a bunch

[2017-03-22 20:28] #184 closed, assigned to nobody

[2017-03-22 20:29] aruneshchandra commented on #179
We will take this up after the PR lands.

[2017-03-22 22:34] sampsongao commented on #179
#192

[2017-03-23 17:36] boingoing commented on #189
Fixed by #193

[2017-03-23 17:36] #189 closed, assigned to boingoing

[2017-03-23 17:36] boingoing commented on #188
Fixed by #193

[2017-03-23 17:36] #188 closed, assigned to boingoing

[2017-03-23 18:29] jasongin commented on #191
Fixed by https://github.com/nodejs/abi-stable-node/pull/194

[2017-03-23 18:29] #191 closed, assigned to jasongin

[2017-03-23 19:14] #182 closed, assigned to gabrielschulhof

[2017-03-23 19:14] #183 closed, assigned to gabrielschulhof

[2017-03-24 19:20] jasongin opened #198 "Last exception should be per-isolate"
Currently in the N-API V8 implementation, the last exception is stored as a global. But that won't be correct when Node supports multiple isolates in the process. Then the last exception should be per-isolate.

[2017-03-24 20:25] addaleax commented on #198
Fwiw, the question of whether Node will eventually support multiple isolates out of the box hasn’t really been settled yet, but I suspect this would be cool to have for embedders like Electron.

[2017-03-26 22:06] jasongin opened #200 "Consider "new.target" for constructor callbacks"
Reference https://github.com/nodejs/node/pull/11975#discussion_r108027972, https://github.com/nodejs/node/pull/9293, https://github.com/nodejs/node/issues/10915

In mixed JS/native inheritance scenarios, it can be necessary to get the "new target" for the constructor, via `v8::FunctionCallbackInfo<T>::NewTarget()`. In N-API this would be exposed as `napi_get_cb_new_target()` or something similar.

[2017-03-27 05:21] boingoing commented on #200
Should this be added as an optional out parameter to ```napi_get_cb_info```? If we remove the other methods in this family since one method could handle all of their use cases, it seems to make sense. Would make sense to do that together with #196.

[2017-03-27 16:11] jasongin commented on #200
@boingoing I don't think it should be added to `napi_get_cb_info()` because it would be very rarely needed, only by _some_ constructors. Maybe it could be combined with `napi_is_construct_call()` into a `napi_get_cb_construct_info()` or something like that.

[2017-03-27 22:32] jasongin opened #202 "APIs for ES6 DataView"
N-API currently has APIs for `ArrayBuffer` and `TypedArray` classes, but not the `DataView` class. [The `DataView` class](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DataView) is specified by ES6 as another kind of view over an `ArrayBuffer`.

While it could be possible to extend (and rename?) `napi_create_typedarray()` and `napi_get_typedarray_info()` to also

[2017-03-27 22:33] jasongin commented on #202
Related to https://github.com/nodejs/node/pull/11975#discussion_r108029186

[2017-03-28 00:16] boingoing commented on #200
This sounds like a good plan to me. Only constructors would be interested in this flag or new.target generally.

[2017-03-28 17:13] gabrielschulhof commented on #198
I think if the last exception is per-isolate then so should `napi_get_last_error_info()` be - that is, it should accept the `napi_env` as its first argument. Thus, we need to store the last error in the `napi_env`. In turn, we should probably tack a structure onto the Isolate using [Isolate::SetData](https://v8docs.nodesource.com/node-7.4/d5/dda/classv8_1_1_isolate.html#a7acadfe7965997e9c386a05f09

[2017-03-28 19:51] mhdawson commented on #198
Yes, every napi call should take a napi_env so that we always have that flexibility.  Looks like napi_get_last_error_info is the only one where we missed that.

[2017-03-28 19:52] mhdawson commented on #198
@gabrielschulhof is submitting a PR to add napi_env as a paratmeter to nap_get_last_error_info() something you can add to your list ?  That is something I think we want in before the PR lands in the core repo.

[2017-03-28 19:56] mhdawson commented on #177
The other though I had while writing up the documentation is if we should remove the "Handle" from the scope names.  This is something else that cam from V8.    In terms of whether we keep 1 method with a flag or 2 methods, I don't have a strong feeling.  Either way as @kkoopa mentions there is a difference so we want the caller to indicate which of the 2 they need.  If I had to chose right now I'

[2017-03-28 20:00] jasongin commented on #177
Yes, removing "handle" from the scope names is something we had also discussed.

@mhdawson I think the bigger question is whether the escapable scope is a separate type: is there just one `napi_scope` type, or both `napi_scope` and `napi_escapable_scope`?

[2017-03-28 20:01] gabrielschulhof opened #205 "Observation: Unnecessarily calling napi_set_last_error()"
If we want to avoid function call overhead maybe we should put a macro around `napi_set_last_error()` which avoids calling it if `static_last_error.error_code` is already set to the code which it is instructed to set. I'm not sure if it's worth the overhead savings.

[2017-03-28 20:02] gabrielschulhof commented on #205
I realize that once we have engine-specific codes, two different `napi_generic_failure`s may not be equal, but even then we need only elaborate on the if-condition guarding the function call.

[2017-03-28 20:08] gabrielschulhof commented on #205
[code]

[2017-03-28 20:17] jasongin commented on #205
Wouldn't the call to `napi_set_last_error()` be inlined? (Note it's not a public API.) We could throw an `inline` tag on it to give the compiler a suggestion, but I don't know if that would actually make a difference. So, I'm not sure the macro suggested here would make a significant difference.

[2017-03-28 20:21] gabrielschulhof commented on #205
Well, if we can be fairly certain that there won't be a function call, then we can certainly leave things as they are.

[2017-03-28 20:50] mhdawson commented on #205
My preference is to have it be inlined versus making and additional check. Since its internal to the implementation we can always change our mind if we find that it stands out as a problem in future performance measurements.

[2017-03-28 21:42] gabrielschulhof commented on #205
Once https://github.com/nodejs/abi-stable-node/issues/198 is fixed, `napi_set_last_error()` will receive a `napi_env` from which it will dereference the `napi_extended_error_info` structure. Will it still be inlined then?

[2017-03-28 21:43] gabrielschulhof commented on #205
/me is not too familiar with the conditions that make it impossible to inline things.

[2017-03-28 23:31] boingoing commented on #205
I'm pretty sure ```napi_set_last_error()``` will almost always be inlined even if it dereferences the env argument. The cost of checking the existing status code may not be able to be optimized-out, though. My vote is to leave the function as-is and let the compiler inline it.

[2017-03-29 01:37] digitalinfinity commented on #198
@gabrielschulhof I think this is a great PR- however, my suggestion is to break it up into 2 PRs. The first one would change the signature of napi_get_last_error_info, but otherwise leave things as is. The second one would contain the rest of the implementation from this PR. My vote is to land the first one in the PR opened against nodejs/master currently, and land the second one after that PR lan

[2017-03-29 01:39] addaleax commented on #198
Fwiw so far it looks like I’m the only one actively reviewing the nodejs/master PR, and I don’t mind reviewing #206 as a single chunk (I’ll try to keep on top of the discussions here, too)

[2017-03-29 01:40] digitalinfinity commented on #198
@addaleax ok! Was trying to not make your life harder 😄

[2017-03-29 11:25] gabrielschulhof commented on #205
Alrighty then.

[2017-03-29 11:25] #205 closed, assigned to nobody

[2017-03-29 16:52] jasongin opened #209 "Cache the Symbol.hasInstance value"
For the V8 implementation of `napi_instanceof`, we look up the value of [`Symbol.hasInstance`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/hasInstance), so that we can check if a particular constructor has customized the `instanceof` behavior.

As an optimization, the `Symbol.hasInstance` value could be cached (for each `napi_env`), which will save some

[2017-03-29 16:55] jasongin commented on #209
This was suggested in the node/master PR comment: https://github.com/nodejs/node/pull/11975#discussion_r108028981

[2017-03-29 17:03] gabrielschulhof commented on #209
I can take this once #208 lands.

[2017-03-31 06:20] ianwjhalliday commented on #177
Handle scopes are a critical to understand concept for achieving good performance with v8.  This is a concept I felt should be well understood by the API users, hence exposing it rather transparently.

With a GC like ChakraCore's this concept is moot, and in SpiderMonkey my hand waving conclusion was it was adaptable.  I don't recall what I thought about this concept with respect to an engine like

[2017-03-31 06:22] ianwjhalliday commented on #177
Which is to say, `napi_scope` to me seems to no longer express its purpose clearly.  Maybe `napi_gc_scope`?

My opinion is to not change it.

[2017-04-03 06:15] digitalinfinity commented on #153
I had a bunch of these docs sitting on my machine for a couple weeks- dusted them off, updated with the API changes since then and opened PRs #215, #216, #217, #218 and #219

[2017-04-03 15:37] mhdawson opened #220 "Adjust CI jobs now that PR has landed"
We now need to be able to run CI jobs with n-api enabled, adjust our existing jobs to allow this and look at what we can integrate into the core regression jobs.

[2017-04-03 15:49] mhdawson commented on #220
Actually we probably just don't need them anymore, as the tests are running as part of the standard regressions runs.

[2017-04-03 15:53] #220 closed, assigned to mhdawson

[2017-04-03 20:48] mhdawson commented on #153
Will try to add my 2 cents tomorrow

[2017-04-03 23:50] TimothyGu opened #221 "Modernize napi_property_attributes enum names"
[code]

([source](https://github.com/nodejs/node/blob/53828e8bff277e138447d118c1b0167edd671c52/src/node_api_types.h#L26-L35))

The ReadOnly, DontEnum, and DontDelete flag names are a legacy from [ES3 §8.6.1](https://www.ecma-international.org/publications/files/ECMA-ST-ARCH/ECMA-262,%203rd%20edition,%20December%201999.pdf), and were replaced in [ES5](https://es5.github.io/#x8.6.1) by the modern [[

[2017-04-04 01:05] digitalinfinity commented on #221
Thanks @TimothyGu- I tend to agree. @jasongin @mhdawson @gabrielschulhof @boingoing @sampsongao do any of you recall why we chose this instead of the new nomenclature? Was it because it was based on `v8::PropertyAttribute`?

Side-note: Now that the N-API PR has landed in nodejs/node, @mhdawson- should N-API issues be opened in that repo or should we continue to use this one?

[2017-04-04 04:30] jasongin commented on #221
I deliberately chose to design those attributes this way (and I assume `v8::PropertyAttribute` did also) because writable/configurable/enumerable should default to true. In a C flags-enum, a value of 0 should be the default value for an enum, to make it convenient to zero-initialize a structure, so that you get default attributes unless some other attributes are specified explicitly. So that means

[2017-04-04 16:55] digitalinfinity commented on #221
While I buy the default value argument, I think you could have achieved the same differently too- namely, something like the following:
[code]
and in APIs where `napi_property_attributes` is needed, we check for `napi_default` and treat it as `napi_writable | napi_enumerable | napi_configurable`.

In any case, irrespective of the default attributes argument, I still lean towards the names being co

[2017-04-04 17:00] jasongin commented on #221
The first suggestion doesn't work because there is no way to specify a property that is not writable, not configurable, and not enumerable. Also, it's very strange for a value (`napi_default`) to be a combination of other flags, but not actually have the numerically combined value.

I don't feel strongly about the names, but given that the meanings were the same as `v8::PropertyAttribute` I though

[2017-04-04 18:02] jasongin commented on #124
I verified using an updated `node_sass` that this issue was fixed by https://github.com/nodejs/abi-stable-node/pull/199.

[2017-04-04 18:02] #124 closed, assigned to nobody

[2017-04-04 19:14] jasongin commented on #30
Closing since the `data` parameter was added a while ago.

There is no direct support for finalization of the `data` pointer, but it can be accomplished by creating an external value (`napi_create_external()`) with the same `data` pointer, then attaching that as a property on the function.

[2017-04-04 19:14] #30 closed, assigned to jasongin

[2017-04-04 20:45] mhdawson commented on #221
There is some argument for consistency with V8 in terms of a transition for existing code, however, I think I'd lean towards consistency with the ECMA spec being better in the long run.

[2017-04-04 20:47] mhdawson commented on #221
In terms of the questions on which repo to use, I think we should be moving towards using the core repo when possible (like this issue).  We may want to finish out a few things in this repo like an initial cut at the docs, but once a component has made it into master lets discus in issues on master it should be more visible there.

[2017-04-04 20:48] mhdawson commented on #138
Closing as this is done.

[2017-04-04 20:48] #138 closed, assigned to nobody

[2017-04-04 20:49] mhdawson commented on #103
Closing since we've not moved over to the main repo.

[2017-04-04 20:49] #103 closed, assigned to nobody

[2017-04-05 00:27] TimothyGu commented on #221
This runs counter to `Object.defineProperty`'s behavior:

[code]

[2017-04-05 06:29] jasongin commented on #221
@TimothyGu You're absolutely right. I was mistakenly assuming the V8 API default behavior followed the spec, but actually the writable/enumerable/configurable flags do default to false. In that case, it certainly makes sense to change the attribute enum value names to match the spec.

I'll prepare a PR with this change tomorrow.

[2017-04-05 21:49] #198 closed, assigned to gabrielschulhof

[2017-04-06 17:56] mhdawson opened #223 "npm name for wrapper"
have not been able to contact the owner of node-api.  Lets brainstorm some other ideas.

[2017-04-06 17:59] gabrielschulhof commented on #223
[node-addon-api](https://www.npmjs.com/search?q=node-addon-api&page=1&ranking=optimal)

[2017-04-06 20:04] jasongin commented on #122
@mhdawson @gabrielschulhof So did we decide on exactly what we're going to do here? Are we just going to remove the `NAPI_PREAMBLE` from selected functions where we know they need to work while there is a pending exception?

[2017-04-06 20:33] gabrielschulhof commented on #122
The fact is that in V8 we are clearing any exception that has occurred because we are catching it and storing it in the last exception. Thus, we will not benefit from whatever internal logic V8 has for dealing with a pending exception. In turn, we must thus reproduce any failures it would have :/ This is the price we pay for imposing the ChakraCore exception handling approach onto V8.

To reproduc

[2017-04-06 20:37] boingoing opened #224 "Napi APIs should handle out of memory better"
If a Napi API call hits an OOM, we often don't catch this condition and just return an opaque pointer wrapping `nullptr`. This is the case in `napi_create_reference`, for example, if `v8impl::Reference::New` fails with out of memory and returns `nullptr`.

Should we instead return `napi_out_of_memory`?

[2017-04-06 20:55] jasongin commented on #224
That would seem more correct to me.

[2017-04-06 21:20] addaleax commented on #224
Fwiw Node’s general strategy for OOM situations is “crash”. Using `node::Malloc()` & co has the advantage of telling V8 to do a GC if a first attempt at allocating fails, but right now that’s the best we do.

So, for now you should be good reserving special OOM handling for situations that try to allocate user-specified amounts of memory, e.g. typed array creation.

[2017-04-06 21:23] jasongin commented on #122
The obvious ones that need to be unchecked are for closing handle scopes (`napi_close_handle_scope`, `napi_close_escapable_handle_scope`), to ensure scopes are not left unclosed when bailing out due to an exception.

I'm not sure about others. Some candidates might be:
 - Reference counting APIs (`napi_reference_ref`, `napi_reference_unref`) because you may need to unreference an object (or refere

[2017-04-06 21:35] jasongin commented on #224
I don't think there is anywhere we directly allocate a user-specified amount of memory. For `Buffer` and `ArrayBuffer` creation, can we assume that an empty maybe result is due to OOM? Or does V8 throw an exception in that case? It's probably worth adding some tests around that.

(I see there's currently a bug in `napi_create_arraybuffer()`: it doesn't check whether the result of `v8::ArrayBuffer:

[2017-04-06 23:01] jasongin commented on #223
`node-addon-api` sounds good to me.

[2017-04-07 13:44] #221 closed, assigned to nobody

[2017-04-07 18:06] jasongin commented on #224
I see pervasive use of `new` throughout node core codebase, without any checking for a null result. That makes sense because `new` should throw `std::badalloc` if allocation fails, according to the C++ standard.

[2017-04-09 11:39] addaleax commented on #224
Yes, that seems like a safe assumption to me.

There is no MaybeLocal version of `ArrayBuffer::New` yet, right now it just crashes on OOM. V8 source quote:

[code]

[2017-04-10 15:41] Fishrock123 commented on #223
We could just ask npm support about `node-api`. I've done this before, getting an abandoned name isn't that big of a deal.

[2017-04-10 18:25] sampsongao opened #225 "napi: Length result vary in napi_get_value_string_utf8"
[code]
Maybe we should pass in the option v8::String::NO_NULL_TERMINATION or substract one from the copied? @mhdawson @aruneshchandra @jasongin

[2017-04-10 18:55] sampsongao commented on #225
In the comment, we have "If bufsize is insufficient, the string will be truncated, including a null terminator." I think v8 does not null terminate when buffer size is insufficient unless we pass in option PRESERVE_ONE_BYTE_NULL.

[2017-04-10 19:00] jasongin commented on #225
I don't understand. `napi_get_value_string_utf8()` is documented to return the number of bytes copied, which includes the null terminating byte. I'd consider it unsafe to skip copying the null terminator.

We have some tests that check the result value, but probably not coverage of all the cases. We should add a test case for null terminator when bufsize is insufficient; I don't think there is a t

[2017-04-10 19:00] sampsongao commented on #225
For WriteOneByte and WriteTwoByte, v8 is not including null character in the copied count. So I think we should keep our api consistent.
I think we can do
[code]
This should behave the same as other two format

[2017-04-10 19:55] mhdawson commented on #225
I think it should be consistent with:

1) If a null character is expected and written it should be included in the count
2) null termination does not make sense for the encoding then it should be written or included in the count

[2017-04-10 20:02] jasongin commented on #225
Null termination makes sense for _any_ encoding, doesn't it?

[2017-04-10 20:03] sampsongao commented on #225
In the following code, result of length is different:
[code]

But for the latin1 and utf16, this problem doesn't exist. So I propose to exclude null character in the copied count.

[2017-04-10 20:03] mhdawson commented on #225
Reading here https://en.wikipedia.org/wiki/Null-terminated_string would suggest otherwise. If the encoding includes 0 (null) as one of its acceptable values, then you can't use it as a terminator

[2017-04-10 20:06] jasongin commented on #225
@mhdawson Based on my reading of that, it doesn't mean that you can't terminate a string in those encodings with null, just that you cannot measure the length of the string by searching for the first null.

[2017-04-10 20:07] mhdawson commented on #225
@jasongin, yes you can always have whatever you want following the string if you can get the length otherwise

[2017-04-10 20:07] addaleax commented on #225
I would agree with @sampsongao, the 0 terminator should either always or never be counted (and I’m leaning towards not counting it, too).

[2017-04-10 20:12] mhdawson commented on #225
@addaleax the only disadvantage would be that for encodings were null termination can be used to measure the the length, the developer would have to manage that themselves.  I don't think it should be counted for any encoding that cannot use it to know when the string terminates.  So if we choose always or never I would want it to be never as well.

[2017-04-10 20:16] addaleax commented on #225
Maybe I’m missing on something, but… UTF-8, Latin-1 and UTF-16 all can reasonably use null termination (just that in the case of UTF-16 it’s a uint16 0 value), so it’s the same situation for all supported encodings here?

[2017-04-10 20:22] mhdawson commented on #225
I think that assumes that its Modified UTF-8,

[2017-04-10 20:24] addaleax commented on #225
It you look at it that way, yes, but my point is rather that it’s the same situation for all encodings, so I wasn’t sure why you were talking about differences between encodings? (Maybe I’m completely misunderstanding you and should just stop commenting. :smile:)

[2017-04-10 20:27] mhdawson commented on #225
I think you are on point if v8 uses modified UTF-8 versus UTF-8, just have not been able to find something that confirms that yet. If that is the case then I agree that we could chose to go either way.  I do think that we want to be consistent in either including the null termination when it makes sense or not including it.

[2017-04-10 20:30] addaleax commented on #225
Just checked, V8 uses plain UTF-8 and always encodes U+0000 as a plain 0 value.

[2017-04-10 20:37] mhdawson commented on #225
So I think that means that null termination does not makes sense for utf-8, but does for Latin-1 and UTF-16.

After the whole discussion around termination, it may just be safer to omit the termination in all cases and be consistent for all encodings.

[2017-04-10 20:52] sampsongao commented on #225
Since we are removing napi_get_string_length, so the length argument in the napi_get_value_string_XXX is replacing that function. I think at least this result should be consistent in the case of full copy regardless if we null terminate or not. The problem is that in napi_get_value_string_utf8, it is not consistent in the if clause I included above.

[2017-04-10 21:31] jasongin commented on #225
I don't follow that reasoning. Even if U+0000 is a valid character value, it is still _safer_ to ensure UTF-8 strings end with 0 anyway because careless use of many C++ APIs is likely to assume the strings are null-terminated. If the proper string length is known separately, having the null-terminator doesn't cause any harm.

[2017-04-10 21:33] addaleax commented on #225
But V8 also encodes U+0000 as 0x00 in Latin-1 and as 0x0000 in UTF-16? I still don’t get the distinction, sorry…

[2017-04-11 01:18] mhdawson commented on #225
I was trying to say (obviously not very clearly since I don't remember the specifics of the encodings) that if an encoding can have a 0x00 in the middle of the string then unless you use the length you can't tell if the one at the end is part of the string or an extra terminator.  The potential downside to including the terminator in this case is that people can write code that appears to work ok

[2017-04-11 01:19] mhdawson commented on #223
@Fishrock123 does it take very long ?

[2017-04-11 01:20] mhdawson commented on #209
Closing as this has landed in master.

[2017-04-11 01:20] #209 closed, assigned to gabrielschulhof

[2017-04-11 01:21] mhdawson commented on #102
You can now look at the code coverage here:  https://coverage.nodejs.org, just drill down to the specific files for n-api.

[2017-04-12 01:23] jasongin commented on #225
Sure, that could result in truncated strings if people are not careful about using the length properly, but that's not so bad. In the rare case when a dev even cares about supporting embedded nulls, they can take care to get the proper length.

I think the alternative is _far_ worse: if strings are not always null-terminated, then people can write code that seems to work sometimes (when memory is

[2017-04-12 02:56] sampsongao commented on #225
I am not saying having null termination is a bad thing, but we should consider excluding null character in the copied characters count for WriteUtf8 case. This is because WriteOneByte and WriteTwoByte exclude null character in the copied characters count and this causes an inconsistency in our string api. The question that I was originally asking here is whether we should always include null chara

[2017-04-12 07:30] kkoopa commented on #225
IIRC, NAN always null terminates, for the reasons @jasongin  mentioned. If you give out a `char *` or similar, the buffer _should_ be null-terminated. If you do not store a null-terminated buffer in memory you now need to make a copy, null-terminate that and return the pointer to it. To avoid this hassle, always null-terminate.

Reported length should exclude the null terminator, as it is not part

[2017-04-12 20:44] jasongin opened #226 "Consider removing napi_get_value_string_length"
I regret adding this API now, because it doesn't serve much purpose, and is only likely to cause confusion and bugs. The intention was that this would return the number of "characters" in a string independent of encoding, but that's not generally useful. In almost all cases, one of the encoding-specific `napi_get_value_string_*` APIs is more correct. (Pass a null buffer if only the encoded length

[2017-04-12 21:03] kkoopa commented on #226
You are probably right. It is better to err on the side of caution. Character encoding should be added to the list of 2 hard problems in CS, which would now be the 3 hard problems:
1. Cache invalidation
2. Naming
3. Character encoding
4. Off-by-one errors

[2017-04-12 21:38] jasongin commented on #226
And in case anyone is wondering, the JavaScript `String.prototype.length` property returns the number of UTF-16 code units, which may be different from the number of characters. So, getting the true character count is not common with JavaScript, and is probably best left to specialized internationalization libraries.

[2017-04-13 17:20] gabrielschulhof opened #227 "napi_call_function (and maybe others) - we assume napi_value passed in is not NULL"
[code]
What if `recv` is `NULL`? I am tempted to allow NULL here, because we forego an additional N-API call just to retrieve a JS `undefined` as a `napi_value`. Still, we should not assume that it's not `NULL`.

[2017-04-13 17:28] gabrielschulhof opened #228 "Test for interaction between scope and exception"
Enhance `test/addons-napi` with a test where we pass such a callback from JS into the addon that, when called, will throw. In the addon we call the JS callback from between a scope open/close. The scope close must return `napi_ok`. We should induce a fatal error, like an abort otherwise.

[2017-04-13 17:54] gabrielschulhof opened #229 "Investigate using @n-api npm tag"
What is the maintainers' workflow for publishing?

What is the workflow for depending on vs. depending on the mainstream V8 version? (package.json)

[2017-04-13 21:15] jasongin commented on #227
It looks like we're missing calls to both `CHECK_ARG(recv)` and `CHECK_ARG(func)` here.

I do agree that it might make sense to allow `recv` to be null, though in that case I think it should substitute the `global` object rather than `undefined`.

`napi_make_callback()` has the same issues.

[2017-04-13 21:19] addaleax commented on #227
@jasongin Why? I’ve noticed that `node-api` does it that way too, and it looks very deliberate, but I’m still confused by that. I would say it’s an antipattern in JavaScript to let `this` default to `global`, and I wouldn’t be surprised if this tripped up users that are used to JS strict mode.

[2017-04-13 21:25] jasongin commented on #227
OK, that would be my mistake then. I didn't realize strict mode changed that behavior. (I don't normally write JavaScript code that relies on the default value of `this` either way.)

[2017-04-14 02:14] trevnorris commented on #226
@jasongin Personally I think the byte length would be the most useful b/c that's what's needed if you want to copy out the string. For that you could just copy the method used by `Buffer.byteLength()`, and in the same way could extend the API to accept an encoding.

[2017-04-14 16:40] aruneshchandra opened #230 "Migration Tool: NAN => N-API C++ Wrapper"

[2017-04-14 16:41] addaleax commented on #230
See also https://github.com/nodejs/node-api/pull/21

[2017-04-14 16:42] aruneshchandra opened #231 "Need to address N-API versioning scheme"

[2017-04-14 16:43] aruneshchandra commented on #229
It will be also useful to understand what might be the workflow of older Node.js versions which will get N-API later on.

[2017-04-14 17:38] jasongin commented on #226
@trevnorris There are other APIs to get byte length, that is why this API should just be removed.

`napi_get_value_string_utf8()` gets the length of the UTF-8 encoding of a string, in bytes.
`napi_get_value_string_utf16()` gets the length of the UTF-16 encoding of a string, in 2-byte code units.
In both of those, if you just want the length without copying the string, you can pass in a null string

[2017-04-14 18:05] jasongin commented on #229
[npm tags documentation](https://docs.npmjs.com/getting-started/using-tags)

And don't confuse tags with [npm scopes](https://docs.npmjs.com/misc/scope), which also use a `@` prefix but are something entirely different.

[2017-04-14 18:30] gabrielschulhof commented on #229
@jasongin I tried to build iotivity-node against node-api and I found that the headers are a bit behind - for example, `napi_get_last_error_info()` doesn't have the `env` parameter. I kinda need that before I can publish. Is that coming soon?

[2017-04-14 18:35] jasongin commented on #229
@gabrielschulhof The `node-api` repo was [updated for that change last week](https://github.com/nodejs/node-api/pull/10). Make sure you have the latest. If there are any remaining issues, please open issues under that repo.

[2017-04-14 19:27] gabrielschulhof commented on #229
@jasongin I think you may have grabbed an older version of the header/source code when you added support for pre-N-API Node.js: https://github.com/nodejs/node-api/blob/master/src/node_api.h#L97

[2017-04-14 19:27] gabrielschulhof commented on #229
I'm trying to build on Node.js version 4.0.0 BTW.

[2017-04-14 19:30] jasongin commented on #229
Oh, yes that copy of the code hasn't been updated in a while. I was waiting for things to settle before I updated it again. You can manually copy the `node_api*` source files from the nodejs/node master branch; there aren't supposed to be any differences.

[2017-04-14 19:51] gabrielschulhof commented on #229
I know, but I want to eventually publish to npm.

[2017-04-14 19:52] gabrielschulhof commented on #229
But OK, I'll make a fork and depend on that for now.

On Fri, Apr 14, 2017 at 10:51 PM, Schulhof, Gabriel
<gabriel.schulhof@intel.com> wrote:

[2017-04-17 20:01] gabrielschulhof opened #232 "Can't use node::FatalError()"
... because node_internals.h is not available outside of node. So, if we want node-api to contain unaltered versions of the implementation, we must not rely on any node internals.

I guess we could simply throw a JS exception. Since `Isolate::GetCurrent()` is going away, and since we don't have an env from which to extract an isolate, is there some other way we can signal that we wish to throw an

[2017-04-17 20:10] bnoordhuis commented on #232
FatalError() is a noreturn function.  Its n-api equivalent shouldn't throw an exception, it should exit.

[2017-04-17 20:10] addaleax commented on #232
Just copying Node’s `FatalError`, i.e. fprintf() + fflush() + abort(), sounds good to me too.

Just curious, is that publicly announced anywhere?

[2017-04-17 20:12] bnoordhuis commented on #232
Not really, but V8 people have repeatedly indicated over the years they want to get rid of it.

[2017-04-17 20:12] gabrielschulhof commented on #232
@addaleax well, it's actually more than that, because in Windows it's `raise(SIGABRT)`, and not fprintf() but `WriteConsoleW()`, etc. So, there's quite a bit of code in `node.cc` dealing with this.

[2017-04-17 20:15] gabrielschulhof commented on #232
@bnoordhuis we were originally debating whether we should consider the absence of an `env` a fatal error or not. There was a good argument for "not" in that this is just a module, so perhaps the whole app shouldn't be shot down because of a buggy module. The reason we went with the "aye" in the end was that it's very much a corner case anyway.

[2017-04-17 20:16] gabrielschulhof commented on #232
But without an `env`, and hence without an isolate, we can't even throw an exception.

[2017-04-17 20:20] gabrielschulhof commented on #232
We can wrap the call to `node::FatalError()` in `#if defined(NODE_WANT_INTERNALS) && NODE_WANT_INTERNALS` to avoid failure to compile outside of node, but we should really have something in the `#else` case.

[2017-04-17 23:02] jasongin commented on #232
I'm still not convinced we need `FatalError()` functionality. The one place where it is used now could return a `napi_status` error instead.

[2017-04-17 23:24] jasongin commented on #232
Related: https://github.com/nodejs/node-api/pull/25

[2017-04-18 19:52] mhdawson commented on #226
I'm +1 for removing.  Its safer to start with a smaller API and add back than to be stuck with methods that cause confusion and are not really needed.

[2017-04-18 19:57] mhdawson commented on #223
I think at this point maybe we should just start using node-addon-api and if we can move to node-api later do that.

[2017-04-18 22:06] jasongin commented on #225
Closing since this was fixed by https://github.com/nodejs/node/pull/12368

[2017-04-18 22:06] #225 closed, assigned to nobody

[2017-04-18 23:00] jasongin commented on #122
@gabrielschulhof Are you working on this, or should I?

I think we should try to fix this before the v8.0 release if possible, since it is the only known blocking issue in the APIs.

[2017-04-19 07:06] gabrielschulhof commented on #122
@jasongin I think you better take it, if you have the bandwidth, because I almost certainly don't have enough to do it before v8.0.

[2017-04-19 08:22] gabrielschulhof commented on #229
I have just published iotivity-node version 1.2.0-3 to the "n-api" tag. When you type `npm install iotivity-node`, you get 1.2.0-2, which is the latest published version. However, if you type `npm install iotivity-node@n-api`, you get 1.2.0-3.

So, I think the way tags work is like this:

|latest|n-api|
|---        |---|
|...|...|
|1.2.1-1?| |
| |1.2.1-0?|
|↓past|↑future|
| |1.2.0-3|
|1.2.0-2| |
|

[2017-04-19 16:51] gabrielschulhof commented on #229
I guess in terms of developers' workflow, *how* they maintain their bindings (branch/prepublish script/etc.) is up to them, but basically, to publish is as simple as
[code]
for V8, and
[code]
for N-API.

[2017-04-20 17:29] #226 closed, assigned to nobody

[2017-04-20 17:34] jasongin commented on #179
Closing since this was done and merged into node.

[2017-04-20 17:35] #179 closed, assigned to sampsongao

[2017-04-20 17:37] jasongin commented on #228
This PR includes such a test: https://github.com/nodejs/node/pull/12524

[2017-04-21 16:18] jasongin opened #234 "Cache commonly-used JSRT property keys (JsPropertyIdRefs)"
From https://github.com/nodejs/abi-stable-node/pull/233#discussion_r112586511

Consider caching commonly-used property keys, instead of allocating them whenever they are used.

 - In `napi_define_class()`: `"prototype"`, `"constructor"`
 - In `napi_define_properties()`: `"get"`, `"set"`, `"value"`, `"configurable"`, `"enumerable"`, `"writable"`
 - In `napi_get_array_length()`: `"length"`

[2017-04-24 21:26] jasongin opened #235 "Latin1 encoding for JSRT N-API"
After [updating the Node-ChakraCore JSRT implementation](https://github.com/nodejs/abi-stable-node/pull/233), `addons_napi/test_string` fails because there are no JSRT string APIs for Latin1 encoding, so the JSRT `napi_create_string_latin1()` and `napi_get_value_string_latin1()` incorrectly use UTF-8 encoding instead.

[2017-04-24 21:28] jasongin opened #236 "Symbol.hasInstance support in JSRT"
After [updating the Node-ChakraCore JSRT implementation](https://github.com/nodejs/abi-stable-node/pull/233), `addons_napi/test_instanceof` fails because `Symbol.hasInstance` is not handled by either `JsInstanceOf()` or the JSRT `napi_instanceof()` implementation.

[2017-04-24 21:31] jasongin opened #237 "Failure in buffer test with Node-ChakraCore - finalizer not invoked after GC"
After [updating the Node-ChakraCore JSRT implementation](https://github.com/nodejs/abi-stable-node/pull/233), `addons_napi/test_buffer` fails due to a finalizer callback not being invoked after an explicit call to `gc()`.

This could be a bug in the ChakraShim implementation of `gc()`, or it could be just due to different GC behavior. We'll need to investigate and fix either the shim or the test a

[2017-04-25 07:05] gabrielschulhof commented on #228
@jasongin I think you got this one with that PR.

[2017-04-25 17:33] #227 closed, assigned to gabrielschulhof

[2017-04-25 20:06] #122 closed, assigned to boingoing

[2017-04-25 20:06] #228 closed, assigned to nobody

[2017-04-26 18:59] jasongin commented on #235
ChakraCore doesn't have any support for Latin1 encoding, even internally. So the most straightforward way to implement this would be to depend on the character conversion APIs in Node's ICU. Unfortunately, Node-ChakraCore currently doesn't build with the ICU. But there is an effort in progress to improve the intl support of Node-ChakraCore, which will involve building in the ICU. Once that is done

[2017-04-26 19:07] addaleax commented on #235
@jasongin Luckily, that’s already pretty easy because Unicode was designed to extend the Latin1 character set. :smile: Latin1 → UTF-16 is just zero-extending the bytes, UTF-16 → Latin1 is just truncating them to an uint8_t, I don’t think we need ICU for that.

[2017-04-26 20:24] jasongin commented on #235
OK maybe it wouldn't be too bad, but I'd be concerned about edge cases when converting UTF-16 -> Latin1, for example handling characters that are encoded as more than one UTF-16 code point, and filling in placeholder chars. Sure we could code and test all that, but I think it would be cleaner just to depend on the existing implementation in the ICU.

[2017-04-26 20:27] addaleax commented on #235
If you’re talking about non-BMP characters that are encoded as 2 UTF-16 surrogates, the behaviour I described is what V8 does … I don’t care, maybe replacement characters make more sense, but if we want compatibility, the naïve approach should actually be the right one. :)

[2017-04-27 05:40] gabrielschulhof opened #238 "More (unnecessary?) NAPI_PREAMBLE() calls"
We have
- [x] `napi_is_array` (`val->IsArray()`)
- [x] `napi_is_buffer` (`node::Buffer::HasInstance()`)
- [x] `napi_is_arraybuffer` (`val->IsArrayBuffer()`)
- [x] `napi_is_typedarray` (`val->IsTypedArray()`)

that have `NAPI_PREAMBLE()`, whereas
- [ ] `napi_is_error` (`val->IsNativeError()`)

does not have it.

I don't believe the ones above that have `NAPI_PREAMBLE()` need it, for the same reason

[2017-04-27 14:36] mhdawson commented on #238
If you have checked and don't believe we need them there, I'm happy to have them be removed.

[2017-04-27 15:42] gabrielschulhof commented on #238
The only thing I'm not sure about is whether the engine would ever throw an exception in response to `IsArrayBuffer()`, or `IsArray()` or functions of this nature. I think I'll remove the `NAPI_PREAMBLE()`s, because it doesn't make sense to me that it should ever throw an exception in such cases.

[2017-04-27 17:08] jasongin commented on #238
+1

The four listed above seem the most obvious, though we may also consider several other APIs that don't have any possibility of invoking JavaScript code. Does V8 ever throw exceptions when not invoking JS code? I assume not.

[2017-04-27 17:28] mhdawson commented on #231
Will take this on once the doc lands.

[2017-04-27 18:14] aruneshchandra opened #239 "Readiness of C++ Wrapper"
Readme
Doc in headers

[2017-04-27 18:18] aruneshchandra opened #240 "Validate ported modules and the demo"

[2017-04-27 18:49] gabrielschulhof commented on #238
OK, so while we're on the topic, what about these:
- `napi_get_value_string_latin1`
- `napi_get_value_string_utf8`
- `napi_get_value_string_utf16`
- `napi_get_value_external`
- `napi_get_buffer_info`
- `napi_get_arraybuffer_info`
- `napi_get_typedarray_info`
We should test how these functions behave if we pass in the wrong type, or, better yet `CHECK_TO_<type>` at the top.

[2017-04-27 18:53] jasongin commented on #238
Generally we have avoided automatic type coercions, because they can have a significant perf cost. (I think there may even be a few places currently doing type coercions that shouldn't.) If the wrong type is passed into an API, it should just return an appropriate error code.

[2017-04-27 18:54] jasongin commented on #238
And yes, I agree with adding all those getters to the list.

[2017-04-27 19:06] gabrielschulhof commented on #238
They all have checks, so that's good.

[2017-04-27 19:07] gabrielschulhof commented on #238
Yeah, sorry, I meant type checks, not coercions.

[2017-04-27 20:06] gabrielschulhof commented on #229
It looks like only one version can be tagged in a certain way. This means that when a later version is tagged as either `@latest` or `@n-api` the versions before it are all folded into a single sequence of versions. So, npm tags are not like git branches. There is only one branch with tags along the way which each tag moving forward as a new version is published under that tag. Below is the `npm v

[2017-04-27 20:24] gabrielschulhof commented on #229
Dependents can write
[code]
and they will receive the latest version published under the tag `sometag`, however, they can specify no version ranges such that only those that were once tagged `sometag` will be examined.

[2017-04-27 20:26] gabrielschulhof commented on #229
We should ask ourselves: are we going to be experimental for so long that dependents of modules will want to refer to a range of N-API-enabled versions? Being able to tag a single version as N-API-enabled and then moving that forward should be enough to get us through the experimental period.

[2017-04-27 20:28] jasongin commented on #229
Even if N-API is not experimental for more than a few months, package authors may consider their N-API port to be experimental for far longer, if they feel they need more time to stabilize after a port that touched a lot of code in a complex package.

[2017-04-27 20:32] gabrielschulhof commented on #229
That's fair. Still, would those depending on such a module ever need to refer to a range of past tagged versions, given that all such versions are experimental? And let's remember that all we're losing is the (in?)convenience of receiving the latest package that matches your specified range. Your choice is instead limited to either the latest (if you put "n-api" as your desired version) or a speci

[2017-04-27 20:34] gabrielschulhof commented on #229
I say (in?) because receiving a newer version is sometimes undesirable because it introduces churn. That's what shrinkwrap is all about. However, when you're in experimental territory anyway, I would argue that the more tools you have to keep the parts from moving, the better. So, perhaps the inability to specify carets or tildes is actually quite desirable.

[2017-05-01 19:28] jasongin opened #241 "Error APIs should make it easy to supply an error code property"
From https://github.com/nodejs/node/pull/12729#discussion_r114182570

Node.js errors by convention may have a `code` property with a value that can be tested programmatically, as a more reliable alternative to comparing error message strings. To encourage N-API add-ons to conform to that convention, we could add APIs like `napi_create_error_with_code()` and `napi_throw_error_with_code()` that take

[2017-05-01 21:07] mhdawson commented on #241
I agree encouraging the use of the code is good, would it make any sense to only offer versions that take a code ? Maybe we'd need a code to indicate no code.  I'm just thinking it would be better to not have a whole bunch of functions doing the same thing.

[2017-05-01 21:13] jasongin commented on #241
Right, I had been thinking we could add the new APIs in a non-breaking way, but since we're still able to make breaking changes I agree it would probably be better to change the existing APIs now. I'm not sure the code should be _required_, but at least it would be more clear that something is missing if `nullptr` is passed as the code parameter.

[2017-05-02 19:51] jasongin commented on #241
Node core also sets some other `Error` object properties: `errno`, `path`, `syscall`, `address`, `port`. These are all documented at https://nodejs.org/api/errors.html#errors_system_errors

Does it make sense to add support for a `code` property without also supporting all those other properties?

[2017-05-03 13:13] #238 closed, assigned to gabrielschulhof

[2017-05-04 07:10] martijnthe opened #242 "Promise?"
Hi, I just glanced over the [current API draft] and noticed there is no ES6 Promise API, for example `napi_create_promise()` etc. Is this just not done yet? Or is there another reason why it is not there?

I was hoping to find a NAPI interface for it so we can make sure we are not creating an impedance mismatch with our design of the [JerryScript C Promise API] (feedback appreciated ;)).

[current

[2017-05-04 07:32] gabrielschulhof commented on #242
@martijnthe there are some conceptual differences between N-API design and JerryScript API design:
- in N-API we pass the context as an explicit parameter to each API rather than having it implicit inside the implementation
- All N-API APIs return a status to indicate whether the call was successful or not.
- JS exceptions are implemented as a check-last-error concept, rather than an error flag on

[2017-05-04 17:54] aruneshchandra commented on #153
This is done and live
https://nodejs.org/dist/latest-v7.x/docs/api/n-api.html

[2017-05-04 17:54] #153 closed, assigned to aruneshchandra

[2017-05-04 17:56] aruneshchandra commented on #239
Work in progress https://nodejs.github.io/node-api/index.html

Needs to link from https://nodejs.org/dist/latest-v7.x/docs/api/n-api.html

[2017-05-04 18:02] aruneshchandra commented on #229
Command line experience
`npm install npm-test-p4ck4g3@sometag`

[2017-05-04 18:32] gabrielschulhof commented on #229
## To publish an N-API version of your package alongside your non-N-API version
The following steps are illustrated using the package `iotivity-node`:
  - First, publish the non-N-API version:
    - Update the version in your `package.json`. For `iotivity-node`, the version becomes `1.2.0-2`.
    - Go through your release checklist (make sure tests, demos, and docs are OK)
    - `npm publish`
  -

[2017-05-04 22:40] jasongin commented on #232
We might want to actually expose `node::FatalError()` (or similar) as a `napi_fatal_error()` API. See https://github.com/nodejs/node-api/pull/32#discussion_r114903602 for a scenario where it is needed.

[2017-05-04 23:52] jasongin commented on #223
Published at https://www.npmjs.com/package/node-addon-api
I also added [nodejs-foundation](https://www.npmjs.com/~nodejs-foundation) as a package owner.

[2017-05-05 19:44] jasongin commented on #240
I updated leveldown to work with the latest N-API:

https://github.com/jasongin/leveldown/tree/napi/

https://github.com/jasongin/leveldown/commit/12320e85e165a9eb9e7c87dade8dd7e40e454f27

[2017-05-05 23:56] jasongin commented on #237
The test passes after [merging N-API into the Node-ChakraCore branch](https://github.com/jasongin/node-chakracore/commit/54cd4b441ccf9e6a501d6e27a9cb5e3e3aa28a9d). Maybe it was a GC bug that was fixed in a newer ChakraCore version.

[2017-05-05 23:56] #237 closed, assigned to nobody

[2017-05-08 17:07] sampsongao commented on #240
Updated nanomsg to latest N-API
https://github.com/sampsongao/node-nanomsg/tree/napi-port-3.2.4

[2017-05-11 17:50] mhdawson commented on #223
believe we can close this.

[2017-05-11 17:50] #223 closed, assigned to jasongin

[2017-05-16 07:23] legenddcr opened #243 "Title inconsistent with actual function signature in the doc"
Two URL:
- https://github.com/nodejs/abi-stable-node/search?utf8=%E2%9C%93&q=napi_get_value_string_utf16_length&type=
- https://nodejs.org/api/n-api.html#n_api_napi_get_value_string_utf16_length

"napi_get_value_string_utf16_length" in title should be "napi_get_value_string_utf16".

[2017-05-16 11:23] gabrielschulhof commented on #240
iotivity-node also [works](https://travis-ci.org/gabrielschulhof/iotivity-node/builds/232766786) with the latest N-API, although I'm copying the implementation verbatim out of Node.js, rather than depending on the node-addon-api package.

[2017-05-16 16:43] jasongin commented on #240
Why? Is it just because the `node-addon-api` package is a little out of date? I do need to publish an update to the NPM package soon.

[2017-05-16 17:02] gabrielschulhof commented on #240
Last time I tried I couldn't get it to work. I can give it another shot. I also forgot to mention that iotivity-node also [works](https://ci.appveyor.com/project/gabrielschulhof/iotivity-node-roxkw/build/1.0.457) on Windows with Node 6 and 7.

[2017-05-16 17:04] jasongin commented on #240
If you have issues using that package, we should fix them. :) I remember you had some problems a while ago, but I thought we addressed them.

[2017-05-16 18:50] sampsongao commented on #240
I have just updated the addon examples.
https://github.com/nodejs/abi-stable-node-addon-examples/commit/2f8495dd287c3e04bf92b971c0ebe918b8ea9311

[2017-05-18 17:34] mhdawson commented on #243
Thanks will fix that up

[2017-05-19 22:50] jasongin commented on #240
I updated the canvas port: https://github.com/jasongin/node-canvas/commit/d5b95768f3d2c11f0eaa791d9a1c8b07f3e89fcc

[2017-05-23 19:06] #243 closed, assigned to nobody

[2017-05-24 01:25] jasongin commented on #240
I updated node-sass: https://github.com/boingoing/node-sass/commit/71132a2049a113f6eadb8ab304534e44c0df17f3

For this package, I temporarily changed the `npm test` script to only run the tests in `test/api.js`, since those are the tests that have good coverage of N-API. The tests in `test/cli.js` have problems because they spawn other node processes, so the `--napi-modules` requirement gets in the

[2017-05-24 15:46] mhdawson commented on #240
With current master you can use
[code]
 so you should not need to modify the tests and it should still test with N-API for child processes.

[2017-05-24 16:18] jasongin commented on #240
Setting `NODE_OPTIONS=--napi-modules` mostly works, with two caveats:

1. If that option is set during the install/build, the N-API warning causes the `"<!(node -p \"require('node-addon-api').gyp\")"` to fail.
2. The N-API warning breaks several node-sass CLI test cases that are expecting specific stderr output.

Also, some of the `node-sass` CLI tests seem to have other problems on Windows. That'

[2017-05-24 16:23] jasongin commented on #240
I'm working on [a fork of CITGM](https://github.com/jasongin/citgm/tree/napi) that will run [tests on the N-API ported modules](https://github.com/jasongin/citgm/blob/napi/lib/lookup.json). It's not quite ready yet. I'm working through some issues with nanomsg, and I need to verify it works on all platforms and all targeted node versions (4.x, 6.x, 8.x, Node-ChakraCore).

[2017-05-24 16:44] digitalinfinity commented on #240
cc @MylesBorins just as a heads up, in case he has thoughts 😄

[2017-05-24 17:54] mhdawson commented on #240
@jasongin that sounds good, I know that @sampsongao was working on a build job to test nanomsg, but the longer term goal was to get it using CITGM.  Maybe you can touch base with him to co-ordinate.

[2017-05-24 20:57] mhdawson commented on #231
Looking at this today.  I think we have enough flexibility in how we load the N-API modules that we can introduce any module version checking later on without affecting exsting modules, if this ever needed. Hopefully not.

The only thing missing seems to be a method for an addon to be able to check the level of N-API being supported.

[2017-05-25 17:37] #240 closed, assigned to nobody

[2017-05-25 17:42] aruneshchandra commented on #239
We have sufficient documentation for now - will address gaps as needed.

[2017-05-25 17:42] #239 closed, assigned to jasongin

[2017-05-25 17:42] #230 closed, assigned to sampsongao

[2017-05-25 17:43] #229 closed, assigned to gabrielschulhof

[2017-05-26 21:08] #231 closed, assigned to mhdawson

[2017-06-01 17:44] mhdawson opened #244 "Generate list of next APIs to implement"
Put together list to surface the "next" on the todo list.
Invite people to help out.

[2017-06-01 17:45] mhdawson opened #245 "Reach out to top 30 modules owners"
| Module  | owner    |
|---------- |----------|
| serialport | Michael |
| bycrypt | Arunesh |
| hiredis | Arunesh |
| websocket | Sampson |
| fibers | Hitesh |
| nodegit | Hitesh |

[2017-06-01 17:46] mhdawson opened #246 "Reach out to owners of ported modules"
Reach out to the owners of the modules we ported and see if they will accept the ports into their repos and help maintain.

| module    | owners                        |
| -----------|-------------------------|
| leveldown | boingoing / jasongin |
| nanomsg | sampsongao |
| canvas | jasongin |
| node-sass | boingoing / jasongin |
| node-sqlite3 | sampsongao / mhdawson |

[2017-06-01 17:46] aruneshchandra commented on #245
Here's the list
https://github.com/nodejs/abi-stable-node/blob/doc/data/TopNativeImports.csv

[2017-06-01 17:48] mhdawson commented on #246
leveldown |boingoing / jasongin
nanomsg	| sampsongao
canvas | jasongin
node-sass | boingoing / jasongin
node-sqlite3 | sampsongao / mhdawson

[2017-06-01 17:48] jasongin commented on #245
This list will be easier to use:
https://github.com/nodejs/abi-stable-node/blob/doc/data/TopPackagesWithNativeModules.csv

[2017-06-01 17:53] jasongin commented on #164
Closing because this can be worked around now using [`NODE_OPTIONS`](https://nodejs.org/dist/latest-v8.x/docs/api/cli.html#cli_node_options_options).

[2017-06-01 17:53] #164 closed, assigned to nobody

[2017-06-01 17:55] mhdawson opened #247 "Document electron issues with different v8 versions."
Talk James/Myles to see what information we have on the problem and if N-API helps.

[2017-06-01 18:01] jasongin commented on #244
Some candidates:
 - Promises https://github.com/nodejs/abi-stable-node/issues/242
 - Fatal error https://github.com/nodejs/abi-stable-node/issues/232 (also https://github.com/nodejs/node-addon-api/issues/48)
 - Deleting properties https://github.com/nodejs/abi-stable-node/issues/94
 - Eval https://github.com/nodejs/abi-stable-node/issues/51
 - Own properties https://github.com/nodejs/abi-stable-no

[2017-06-01 18:09] mhdawson opened #248 "Create template for reaching out to module owners."

[2017-06-01 18:12] #7 closed

[2017-06-01 18:13] jasongin commented on #4
Closing because this is obsolete.

[2017-06-01 18:13] #4 closed

[2017-06-01 23:28] jasongin commented on #244
For async hooks, we might need new APIs, or maybe just updates to existing implementation. See discussion at https://github.com/nodejs/node/issues/13254

[2017-06-01 23:29] nschonni commented on #246
node-sass tracking issue https://github.com/sass/node-sass/issues/1988

[2017-06-04 14:37] klaus82 commented on #244
I think Promises is the best issue to work on.

[2017-06-04 22:05] RReverser opened #250 "napi_is_exception_pending could just use a return status"
It looks like this API could be simplified and, instead of requiring a separate output pointer for boolean, just return either `napi_ok` or `napi_pending_exception` which already clearly communicate current state.

[2017-06-04 22:21] RReverser commented on #122
@jasongin Could this be reflected in documentation at https://nodejs.org/api/n-api.html? What I mean is, it would be useful both for users and implementors to have explicitly stated which methods would be still executed and which would immediately return if exception is already pending.

[2017-06-05 12:47] RReverser commented on #18
Sorry for commenting on a probably inappropriate issue, but the Hangout link in the README seems dead. Are you still doing meetings? I'm trying to implement N-API on a somewhat unusual target and got quite a few questions/suggestions that would love to discuss. cc @nodejs/n-api

[2017-06-05 14:49] aruneshchandra commented on #18
@RReverser - the link is not dead. The meetings are on Thursdays 10.30 Pacific / 1:30 Eastern US time.  We would love to hear about your project and your feedback. Please join us this Thursday on June 8th.

[2017-06-05 15:36] RReverser commented on #18
@aruneshchandra

Well it returns 404 to me :/
<img width="677" alt="screen shot 2017-06-05 at 16 35 29" src="https://cloud.githubusercontent.com/assets/557590/26790815/07c183aa-4a0d-11e7-9dca-a51d69f02c7b.png">

Thanks!

[2017-06-05 16:33] aruneshchandra commented on #18
How about this URL ?
https://plus.google.com/events/c0eevtrlajniu7h8cjrdk0f56c8?authkey=COH04YCalJS8Ug

[2017-06-05 16:35] RReverser commented on #18
Same. Perhaps one needs to be invited to be able to access it?

[2017-06-05 16:37] RReverser commented on #18
Ha, it opens when I open in incognito mode. So certainly something to do with permissions. Let me try from another Google account.

[2017-06-05 16:38] aruneshchandra commented on #18
I don't think this is an invite only link - coz we had someone join without invitation last week. @sampsongao - can you please check ?

[2017-06-05 16:47] RReverser commented on #18
Apparently, it has something to do with Google Apps (I have Google account on custom domain) + Google Plus Events links. https://www.reddit.com/r/google/comments/5b11gw/google_events_gone_for_good/

Direct hangout link should work. Could someone please send me an invite for hangout itself to me@rreverser.com? Thanks!

[2017-06-05 18:16] mhdawson commented on #248
When do you think you'll have the first cut for discussion ?

[2017-06-05 18:19] mhdawson commented on #247
Send email to James/Myles as first point of contact.

[2017-06-05 18:43] mhdawson commented on #18
@sampsongao can you send @RReverser a direct invitation.

[2017-06-05 18:48] aruneshchandra commented on #248
Just sent it over via email

[2017-06-05 23:51] jasongin commented on #250
Yes, it could work that way. But I think that would be inconsistent with all the other `napi_is_` APIs that have a boolean out parameter. And it would be mis-using the intent of `napi_ok`, which is just supposed to indicate that the _called_ API (not any previous call) executed successfully.

[2017-06-06 00:17] RReverser commented on #250
Yeah but this API doesn't execute any real code to potentially fail. And `napi_pending_exception` in return status already indicates that any pending exception exists, not necessarily created by didn't method, so seems consistent to use that way.

As for the prefix - true, but could as well be renamed or something...

[2017-06-06 14:50] mhdawson commented on #250
We did choose to make all of the APIs consistent in how they return the result and status.  I think we'd need a compelling reason to make an exception.

[2017-06-06 19:36] RReverser commented on #250
@mhdawson There is already precedent for reasonable exceptions such as `napi_throw_*` which return `napi_ok` and not `napi_pending_exception` after they throw an error (unlike every other method that calls out to JavaScript).

This function has another reason - duplication of same information - but seems valid too. Or is it currently designed to return `napi_ok` and not `napi_pending_exception` wh

[2017-06-06 20:18] mhdawson commented on #250
It is currently designed to return napi_ok regardless of whether an exception is pending or not, provided it could make the determination.

The pattern is that napi_status tells us if the function succeeded in what you were requesting or not.
Code should be checking napi_status and can assume the request was successful if the returned status is napi_ok.  If not, it needs to take appropriate action

[2017-06-06 21:08] mhdawson commented on #248
Agreed template:

The recently announced Node 8 has a new experimental feature called [N-API]( https://nodejs.org/dist/latest-v8.x/docs/api/n-api.html) which is aimed at reducing maintenance cost for node native addons. Checkout this [blog]( https://medium.com/@nodejs/n-api-next-generation-node-js-apis-for-native-modules-169af5235b06) for more details on its benefits.

Module X(fill in for specifi

[2017-06-06 21:15] mhdawson commented on #245
Issue for node-serialport - https://github.com/EmergingTechnologyAdvisors/node-serialport/issues/1186

[2017-06-06 22:01] digitalinfinity commented on #245
Issue for nodegit - https://github.com/nodegit/nodegit/issues/1298

[2017-06-06 22:36] RReverser commented on #250
@mhdawson Ok, makes more sense now, thanks. Still having some questions around using this "pending exception" status, but they're unrelated to this suggestion and guess I'll save them for the weekly meeting.

[2017-06-06 22:36] #250 closed, assigned to nobody

[2017-06-07 05:36] MylesBorins commented on #247
which email? I didn't see it

[2017-06-07 11:19] RReverser commented on #18
@sampsongao Friendly ping (and sorry for the hassle).

[2017-06-07 16:16] aruneshchandra commented on #245
Issue for hiredis - https://github.com/redis/hiredis-node/issues/134

[2017-06-07 16:23] aruneshchandra commented on #245
Issue for bcrypt - https://github.com/kelektiv/node.bcrypt.js/issues/513

[2017-06-07 17:34] mhdawson commented on #250
Good to hear.  Looking forward to talking to you in the meeting this week.

[2017-06-07 18:00] sampsongao commented on #18
@RReverser Invitation sent. Have you receive it?

[2017-06-07 18:12] sampsongao commented on #245
Issue for node-sqlite3 - https://github.com/mapbox/node-sqlite3/issues/830

[2017-06-07 18:21] sampsongao commented on #245
Issue for websocket - https://github.com/theturtle32/WebSocket-Node/issues/284

[2017-06-07 20:25] RReverser commented on #18
<s>@sampsongao Received it, but it contains the same link to the event itself and not to hangout, so still 404. This becomes weirdly complicated...

Sorry for bothering again, but is there a way to extract `https://hangouts.google.com/hangouts/_/{id}` link from the event page? I wonder if that `id` is same as the event id and I will be able to just substitute or I should register a separate `gmail

[2017-06-07 23:32] #248 closed, assigned to aruneshchandra

[2017-06-08 18:10] mhdawson commented on #247
Will refind/re-send

[2017-06-08 23:11] jasongin commented on #246
`node-canvas` tracking issue: https://github.com/Automattic/node-canvas/issues/923

[2017-06-11 12:33] RReverser opened #251 "Document lifetime of napi_get_last_error_info"
Unlike napi_get_cb_info, napi_get_last_error_info doesn’t accept a pointer from callee, but instead is expected to return its own.

For such case it's useful both for implementors and consumers to know the minimal runtime they should keep pointer to the structure and included message around and be able to use it.

As we discussed in the meeting, it likely will be "until the next N-API call".

[2017-06-11 12:35] RReverser opened #252 "Specify when input pointers can be NULL"
For example, apparently (according to examples) it’s ok to pass `NULL` as `thisArg` and `data` to `napi_get_cb_info` if you don’t want to retrieve it, but this is not mentioned in the docs.

Some other places like napi_wrap mention “optional” explicitly for out params, might be a good idea to go through other functions too and explicitly specify when pointer is "optional" or when it must be non-NU

[2017-06-14 03:31] nschonni opened #253 "SpiderNode support?"
Came across https://github.com/mozilla/spidernode/issues/388 and didn't see much besides a reference in the meeting minutes as a bullet point in this repo.

[2017-06-14 05:55] digitalinfinity commented on #253
I don't believe SpiderNode supports N-API modules yet- cc @mykmelez in case I'm mistaken.

[2017-06-14 14:34] mykmelez commented on #253
You're not mistaken! Unfortunately, SpiderNode doesn't yet support N-API modules.

[2017-06-14 15:55] RReverser opened #254 "Add optional length to functions accepting const char *"
As discussed in the last meeting, zero-terminated `const char*`, while popular in C land, might be problematic for consumers in other languages having different string representation (for example, Rust with non-zero-terminated string slices represented as `data` + `length`).

Some N-API functions already accept optional `length` that, when set to `-1`, would mean a length calculated from zero-term

[2017-06-14 16:09] RReverser opened #255 "Explicitly restrict escapable scope to escape just one value"
Allowing an arbitrary number of escaped handles makes scope management more complicated in implementations as scopes are otherwise easily stored directly on a stack or in a vector-based stack implementation. In either case, it's problematic to reserve space for an unknown number of values being inserted into the outer scope.

Even V8 allows to call `EscapableHandleScope::Escape` only once accordin

[2017-06-14 16:38] jasongin commented on #255
This was just implemented at https://github.com/nodejs/node/pull/13651

[2017-06-14 16:39] RReverser opened #256 "ES6 module loader compatibility"
Current `napi_addon_register_func` callback is quite obviously designed around CommonJS (for understandable reasons), but given that N-API is a new API, it might be easy enough to provide something that will be module-system-agnostic and work well with CommonJS while also being aligned better with ES6 `import` statements that are upcoming in Node.js.

One of the main incompatibilities from alignin

[2017-06-14 16:41] RReverser commented on #255
@jasongin That PR adds a check to Node.js-on-V8 implementation, while this issue is a continuation of discussion about better visibility of such restriction.

[2017-06-14 16:42] jasongin commented on #255
It also updated the documentation.

[2017-06-14 16:43] RReverser commented on #255
Ah cool, that's great. Still, I'm somewhat keen on exploring the `napi_close_escapable_handle_scope` suggestion if it turns out to be feasible.

[2017-06-14 16:44] RReverser commented on #255
Updated the issue description.

[2017-06-14 16:44] jasongin commented on #255
That PR added a test; the same tests are used to verify the behavior of N-API implementations for any JS engine.

The documentation was actually updated in a different PR... I'll find it.

[2017-06-14 16:45] jasongin commented on #255
Doc update: https://github.com/nodejs/node/pull/13650

[2017-06-14 16:46] RReverser commented on #255
Yeah, I believe that documentation update by @mhdawson was related to the meeting discussion, I'm just slow to raise issues I promised to :)

[2017-06-14 16:47] jasongin commented on #253
To further clarify, it should be up to the SpiderNode team, not the N-API working group, to add SpiderNode support for N-API. We would be thrilled to work with them on that though!

(The reason why Node-ChakraCore has N-API support already is because the ChakraCore team was directly involved in the N-API effort.)

[2017-06-14 16:55] RReverser opened #257 "Document list of functions that are safe to call in "pending exception" state"
https://github.com/nodejs/abi-stable-node/issues/122 introduced a bunch of functions that can be in fact called when an exception is pending - this is important for cleanups on the consumer side in case of a failure.

As discussed, it's useful to make at least a conservative list of functions that consumers could rely on to be safe to call in a pending exception state across all the engines for pu

[2017-06-14 21:50] nschonni commented on #253
Should I close this issue, or do you want to keep it open for tracking?

[2017-06-15 07:46] mhdawson commented on #255
Yes I just wanted to start by documenting the current limitation.  Having the discussion on whether going further and tying it into the close is the next step.

One thought I had is that with the current approach its easy to relax the limitation (if for example all JS engines can escape more than one object at some point in the future) through a doc update, were as limiting the escape to the close

[2017-06-20 22:16] mhdawson commented on #253
I think we can close as it should still be discover-able.  As mentioned by @jasongin we would be happy to work with the SpiderNode team but don't have plans to do that on own own right now.

[2017-06-21 04:55] #253 closed, assigned to nobody

[2017-06-22 12:21] magiclen opened #258 "N-API Question: convert a C native array to a JavaScript array"
Currently, N-API can create a number (`napi_create_number`) and a string(`napi_create_string_utf16`, `napi_create_string_utf8`).

If I want to create a JS array whose elements are all numbers or strings, is there any api to do that? Or I need to create an JS array by `napi_create_array`, and then, use `napi_create_number`, `napi_create_string_utf16`, `napi_create_string_utf8` and `napi_set_element

[2017-06-22 12:29] gabrielschulhof commented on #258
You can use an array buffer and a typed array (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Typed_arrays) and back it with your C array - at least for numbers. I think for strings you need to do the loop.

https://nodejs.org/api/n-api.html#n_api_napi_create_arraybuffer
https://nodejs.org/api/n-api.html#n_api_napi_create_typedarray

[2017-06-22 13:44] mhdawson commented on #247
Myles got me invited to the electron slack channel.  I've started to engage there.  My initial intro:

[code]

[2017-06-22 17:38] mhdawson opened #259 "Define N-API experimental criteria"
Define the criteria we want to propose at the VM Summit

[2017-06-22 17:43] mhdawson opened #260 "Define N-API presentation outline for vm-summit"
First cut

1) Update on progress
2) Discussion of Experimental exit criteria
3) Experiments using N-API using internal Node.js APIs ?

[2017-06-22 18:45] magiclen commented on #258
Thanks, it's very useful!

[2017-06-22 18:45] #258 closed, assigned to nobody

[2017-06-25 06:29] magiclen opened #261 "napi_get_cb_info has a lot of overhead"
Currently, I implement each of my functions/methods by writing the code which starts with the `napi_get_cb_info` function. For example,

[code]

Then, let's do some tests.

Given a JS partial code,

[code]

Write the test code below,

[code]
The result is,

    26 428

You can find out the method implemented by N-API is much slower than the one implemented by JS.

Other `napi_get_*` APIs  have the

[2017-06-26 00:46] jasongin commented on #261
There is some overhead from crossing the JS <-> native code boundary. Also, the JavaScript compiler/JIT might be _inlining_ that simple function call when it is pure JS, while inlining is not possible when the function is implemented as a native call. I suspect either or both of those factors contribute most of the difference you observed in the experiment above.

A fairer test of N-API performanc

[2017-06-26 03:22] digitalinfinity commented on #261
Adding on to what @jasongin said, even in your current benchmark, it's unclear whether you're measuring the cost of napi_get_cb_info, or simply the cost of calling into a N-API method.
In general, the optimal use case for N-API methods is when you have something non-trivial to do in the method itself- if your methods are fairly trivial, then the overhead of calling out of JS into native code will

[2017-06-26 05:34] magiclen commented on #261
@jasongin @digitalinfinity
My apologies, the article I wrote above is unclear. I'm going to make it clear in this comment.

To run the test, we need these files.

**test.c**

[code]

**binding.gyp**

[code]

**index.js**

[code]
To compile `test.c`, execute this command,

    node-gyp rebuild

Finally, to run the test, execute this command,

    node --napi-modules index.js

And here is my result,

[2017-06-26 15:07] mhdawson commented on #51
Have we seen any modules need to do it ?  Thinking we should keep the api surface small, so unless we have examples where modules are using eval we might want to leave it out for now.

[2017-06-26 15:11] mhdawson commented on #67
https://github.com/nodejs/node/issues/13925

[2017-06-26 15:11] mhdawson commented on #94
https://github.com/nodejs/node/issues/13924

[2017-06-26 15:14] mhdawson commented on #202
https://github.com/nodejs/node/issues/13926

[2017-06-26 15:18] mhdawson commented on #232
https://github.com/nodejs/node/issues/13927

[2017-06-26 15:24] mhdawson commented on #52
https://github.com/nodejs/node/issues/13928

[2017-06-26 16:33] mhdawson commented on #261
It would be interesting to see a comparison to the case where the native functions are written using Nan. @magiclen is that something you can try ?

[2017-06-26 16:44] mhdawson commented on #261
The other thing to note is that it is accepted that for "chatty" applications where there are lots of transitions back and form with almost no work done in the native, we do expect it to be slower.   We believe that for most modules that won't be the case.

If I do the math I think what you show is that its <0.1289 usec per call (1289ms/10000000).  This includes the transition from JS to C and the

[2017-06-26 17:12] jasongin commented on #261
If you are passionate about this issue, you are welcome to get involved and help make N-API faster!

In the experiment above, `testNAPI` does 10 million iterations (each with 4 `napi_` calls) in 1289 ms, and `testNAPI2` does 10 million iterations (each with 1 `napi_` call) in 650 ms. The difference between them consists of 30 million `napi_` calls and 1289 - 650 = 639 ms, or about **21 nanoseconds

[2017-06-26 18:20] mhdawson commented on #241
The main motivation is around this https://github.com/nodejs/node/issues/11273./ We want to decouple error checking from the error string.  While errors generated by N-API don't necessarily fall into the same category as those generated by the Node.js itself it is probably good to encourage the use of an error code in addition to the string for the same reason.  If errors require other specific va

[2017-06-26 18:20] mhdawson commented on #241
So my recommendation is that we add support for an error code in order to encourage good practice and leave it at that.

[2017-06-26 18:27] mhdawson commented on #241
https://github.com/nodejs/node/issues/13933

[2017-06-26 18:28] mhdawson commented on #244
Create this list of issues:

* https://github.com/nodejs/node/issues/13924 (Deleting properties)
* https://github.com/nodejs/node/issues/13925 (Own properties)
* https://github.com/nodejs/node/issues/13926 (Data View)
* https://github.com/nodejs/node/issues/13927 (Fata Error)
* https://github.com/nodejs/node/issues/13928 (AdjustExternalMemory)
* https://github.com/nodejs/node/issues/13933 (error c

[2017-06-27 03:18] magiclen commented on #261
Thanks you both. I will try v8/nan APIs.

And [this](https://www.npmjs.com/package/node-stringbuilder) is my public module written using N-API. It's a StringBuilder module like the StringBuilder class in Java. The module was implemented by JS before. But recently I rewrote it using N-API. I expected the performance of the new version would be better than the performance of the old version. After a

[2017-06-28 14:56] mhdawson commented on #245
Talked to Francis today about Node Serial port.  He is happy to have a branch in the repo and help maintain once there is a port.

He sees definite benefits in that today he needs to support downloading because there has to be a different binary for every version of Node.js and the sum of those are too big to bundle into an npm.  With a single binary bundling would be possible.

The plan is for me

[2017-06-28 18:33] #251 closed, assigned to nobody

[2017-06-29 13:19] shivanth commented on #202
I'm taking this up :-)

[2017-06-29 17:46] mhdawson opened #262 "Define 2nd list of next api to ask for help on."

[2017-06-29 18:11] mhdawson commented on #71
Sampson has been working on this so re-assigned.

[2017-06-29 18:38] digitalinfinity commented on #202
@shivanth thanks- might want to comment on nodejs/node#13926 so that people there know 😄

[2017-07-06 17:47] mhdawson opened #263 "Investigate integration/awareness of N-API with node pre-gyp"
One of the wins for using N-API is not needing a binary for every version of Node.  pre-gyp current assumes there is a different one so some investigation/change are needed to optimize for an N-API world.

[2017-07-07 14:32] mhdawson commented on #247
This is the summary from my conversation last night with

Jacob Groundwater
Kevin Sawicki
Zeke

The problems they have are not necessarily related to the API for native modules but N-API will help to simplify some of their use cases.

1) Since  electron does not necessarily have a version of v8 with a matching level to that in a Node.js release, modules used with electron, native modules have to b

[2017-07-07 14:58] sampsongao commented on #246
node-nanomsg tracking issue: https://github.com/nickdesaulniers/node-nanomsg/issues/177

[2017-07-13 17:39] aruneshchandra commented on #71
woking on adding nanomsg, sqllite and node-sass while waiting to figure out issues with other modules

[2017-07-13 18:00] #247 closed, assigned to mhdawson

[2017-07-21 14:57] RReverser opened #265 "Storing custom module data per-env"
Current `napi_env` documentation says:

But is there a way to store custom values associated with that environment from the module itself?

In particular, this can be useful for creating permanent constants (e.g. strings) using `napi_ref` and then returning them from module callbacks instead of converting same constants over and over from native side to JS on each invocation (what even string shor

[2017-07-21 15:00] addaleax commented on #265
Fwiw, the upside of the “Node doesn’t really know how to unload native modules/load them twice/etc.” problem is that right now, just using static data works pretty well for this…

[2017-07-21 15:09] RReverser commented on #265
Actually, nevermind, it looks like this should be achievable through `void *data` associated with exposed functions. I guess I can just put a bunch of `napi_value` there as part of module's initialization...

[2017-07-21 15:09] #265 closed, assigned to nobody

[2017-07-21 15:09] RReverser commented on #265
@addaleax Yeah but it's scary to use with potential multithreading or `vm` module reusing same shared library but with different `napi_env`.

[2017-07-21 15:11] RReverser commented on #265
As a side point: it's still worrying to me that `napi_set_named_property` seem to implicitly create new `napi_value` every time for the given string, and this is not mentioned anywhere, so using it in a loop can easily exhaust tons of memory... or is there some optimization (string interning) that is common for all VMs that it implicitly relies on?

[2017-07-21 15:17] addaleax commented on #265
@RReverser It’s creating internalized strings, i.e. identical strings will occupy the same memory and the garbage collector expects them to be long-lasting objects.

If you’re worried about the extra handles that are being created, I guess we could make that a bit less bad by using `HandleScope`s (but then again, the created objects will occupy memory *anyway*, and each one more than a single hand

[2017-07-21 15:25] RReverser commented on #265
~~@addaleax Oh, that sounds reassuring, thanks (I wonder if it's guaranteed to be true for every engine implementing N-API). On the other hand, IIUC, this means that a dynamically allocated string must not be used with these APIs, as its pointer can contain a different sequence of bytes over time - should this be explicitly documented?~~ Nevermind, I thought it's just using a pointer for detecting

[2017-07-21 15:29] addaleax commented on #265
@RReverser I only know that the V8 version. The JSRT version uses `JsCreatePropertyId`, which *sounds* good. ;)

V8 still creates a copy, but a single copy, not multiple ones, so that should be okay. :)

[2017-07-24 14:43] sampsongao opened #266 "napi_wrap only allow one wrapper to one object"
I was updating the node-sass code to the current napi and I found an issue with napi_wrap check. So in napi_wrap, if we see the object is a wrapper, we return napi_invalid_arg. However, in node-sass, we do something like this:
[code]

[2017-07-24 17:03] mhdawson commented on #266
My first thought is that we should add a

napi_remove_wrap(napi_env env, napi_value wrapper);

This would cover the case where you want to associate new object to a wrapper (which we know is needed by node-sass) and the case where you just want to remove the wrapping from an object.

The other option is simply to remove the existing check and allow the second wrap to just succeed.  I'm thinking it

[2017-07-24 19:40] jasongin commented on #256
@nodejs/n-api I think this is an interesting suggestion, and worthy of further consideration soon, before it's too late to make breaking changes.

I think a combination of the two described options above could provide the best of both. The object returned from the registration callback would be the default export for ES6, but modules could additionally call `napi_export()` from the registration ca

[2017-07-24 19:47] jasongin commented on #262
Some candidates:
 - [Add optional length to functions accepting const char *](https://github.com/nodejs/abi-stable-node/issues/254)
 - [new target for constructors](https://github.com/nodejs/abi-stable-node/issues/200)
 - [named exports for ES6 modules](https://github.com/nodejs/abi-stable-node/issues/256) - this one probably requires some design discussion first

[2017-07-24 19:48] jasongin commented on #260
I have 4 slides to present for the third item above. Is there going to be a combined slide deck, or should I just keep mine separate?

[2017-07-24 20:08] jasongin commented on #261
See notes from a performance investigation I did here: https://github.com/nodejs/node/issues/14379. I found that the 5th optimization suggested there does speed up all native callback invocations a little bit.

I don't think that would work very well. The challenge is argument values can be any type: integers, strings, objects, arrays, functions, etc. So what kind of pointers would you return? Fur

[2017-07-25 19:46] gabrielschulhof opened #267 "Add support for private stuff"
We should expose the engine's ability of assigning any number of private properties to an object.

When an engine doesn't support this directly, we can implement it by assigning a plain object using `napi_wrap()` and casting string-valued `napi_value` items as `napi_private` and setting properties on the wrapped object and implementing `napi_wrap()` as the (if necessary) creation of this object an

[2017-07-25 19:46] gabrielschulhof commented on #267
Re https://github.com/nodejs/node/issues/14367

[2017-07-25 20:55] jasongin commented on #267
Do we have evidence that this functionality is actually needed by any native modules? None of the ones we have looked at so far have needed it.

Especially since it is somewhat V8-specific, I think we need a good justification before exposing this as part of N-API.

[2017-07-25 21:55] gabrielschulhof commented on #267
@jasongin when adding a native pointer required that the object be special (i.e. created from an object template that had room for native pointers) then there was perhaps less of a chance that there would be a collision. Though even then it was possible to simply have one field pointer kicked out with extreme prejudice, to be replaced by another. Now, we claim that such a pointer can be added to a

[2017-07-25 21:57] gabrielschulhof commented on #267
TBH we could get rid of `napi_wrap()` entirely.

[2017-07-25 23:56] gabrielschulhof commented on #267
OTOH, and after talking to @mhdawson, perhaps we should restrict ourselves to providing a `napi_remove_wrap()` so that @sampsongao can use that for node-sass.

[2017-07-26 10:26] RReverser commented on #256
@jasongin Combination of both is problematic since it doesn't map very clearly to CommonJS even in JS land (that's the interop issue I was talking above).

On one hand, ES6 exports default as implicit property "default" on the module object, and then CommonJS consumers must do things like `require("...").default`, on another usual expectation is just `require("...")` for convenience, which means t

[2017-07-26 19:40] sampsongao opened #268 "Performance Comparison between NAPI and node-addon-api"
Just for a data point, I take a simple measurement of performance on NAPI and node-addon-api with nanomsg perf test. The result are similar.

napi

Items | 1 | 2 | 3 | 4 | 5 | Average
------|---|---|---|---|---|--------
average latency [us] | 117.087 | 117.364 | 116.603 | 116.891| 117.058| 117.006
throughput [msg/s] | 1591 | 1511 | 1576 | 1537 | 1562 | 1555.4
throughput [Mb/s] | 0.013 | 0.012 | 0.

[2017-07-26 22:23] jasongin commented on #268
This is what I expected, but it is great to have data proving it. Thanks!

[2017-07-26 22:29] gabrielschulhof opened #269 "napi_remove_wrap()"
We need to be able to remove a wrap previously applied with `napi_wrap()`.

Observations:

For this to work we need to store the `Reference` in the `External`, not the `void*` because the `Reference` may be self-destroying or it may not be. Either way, we need to have the `Reference` for when somebody calls `napi_remove_wrap()`.

We need to document that, if the reference was explicitly requested

[2017-07-28 20:40] Silur commented on #18
any plans about when this will grow out the experimental status?
how can we help to accelerate it?

[2017-07-28 20:41] addaleax commented on #18
@Silur actually, yes: https://github.com/nodejs/node/issues/14532

[2017-07-28 22:49] refack opened #270 "node-gyp story for smooth migration"
Do you need `node-gyp` to define any symbols for easier IFDEFing?
Or even move to use a separate `binding-napi.gyp`?
Also anything `node-gyp` should autodetect?

[2017-08-01 19:13] jasongin commented on #200
Actually a callback is a constructor call if and only if a new target is defined. So I think we can just change `napi_is_construct_call()` to `napi_get_new_target()`.

[2017-08-01 20:32] jasongin opened #271 "List of potential N-API breaking changes"
After N-API exits experimental status, we can no longer make breaking changes. So we should track any issues that might force breaking changes, to ensure they are resolved before then. Here are the ones that I am aware of:

 - ~~Change `napi_add_register_func` callback for better ES6 module compatibility https://github.com/nodejs/abi-stable-node/issues/256 (Taylor)~~
 - ~~Replace `napi_create_numb

[2017-08-03 18:22] mhdawson commented on #200
That makes sense to me.

[2017-08-03 18:26] #260 closed, assigned to mhdawson, aruneshchandra

[2017-08-04 13:43] nonninz opened #272 "napi_get_last_error_info second parameter should not be const"
Hello,
while trying to debug an unrelated error I found what I think is a conceptual error in the function `napi_get_last_error_info`, or maybe I just don't understand it.

From the documentation:
[code]

Why is the second parameter a `const`? If it's an **out** parameter it shouldn't be const, because the value it points to will be changed.

Example of usage (as I understood):

[code]
This genera

[2017-08-07 05:58] gabrielschulhof commented on #269
Closing in favour of #266

[2017-08-07 05:58] #269 closed, assigned to nobody

[2017-08-07 21:21] kfarnung commented on #272
In this case it's a non-const pointer to a const struct.  That means that the data in the struct cannot be modified, but the pointer itself can be changed to point to another struct.

Take a look at https://github.com/nodejs/node/blob/master/test/addons-napi/test_general/test_general.c#L71 where the API is used.  Simply adding `const` to your declaration should be enough to get it building without

[2017-08-08 13:00] nonninz commented on #272
Thank you for your explanation. I didn't know about that.

Sorry for the noise, closing this issue. 🙇

[2017-08-08 13:00] #272 closed, assigned to nobody

[2017-08-08 15:27] kfarnung commented on #272
No problem!

[2017-08-08 19:27] boingoing commented on #256
I'm not sure why we couldn't have a combination approach like Jason is proposing. Instead of the result object of `napi_addon_register_func` being the default export, we could return the module namespace object instead. That object has all the named exports as own properties. The import syntax is a little clumsier `import * as fs from 'fs'` but named imports could also work if we suck those out of

[2017-08-08 20:29] sampsongao commented on #200
https://github.com/nodejs/node/pull/14698

[2017-08-08 21:25] RReverser commented on #256
Yes, that's the second approach I suggested.

As long as we return only one object instead of mixing various export types, it can be mapped just fine to either module loader.